
<h1 class="sectionedit1" id="proftpd_permissions_set_webmin">ProFTPD permissions set (Webmin)</h1>
<div class="level1">

<p>
1) Login to webmin.
</p>

<p>
2) Goto Webmin &gt; Servers &gt; ProFTPD Server.
</p>

<p>
3) Select Per-Directory Options Files.
</p>

<p>
4) Create a “.ftpaccess” file in the required directory and put the LIMIT rules in that file.
</p>

<p>
5) Restart ProFTPD.
</p>

</div>
