
<h1 class="sectionedit1" id="vesta_for_mail_relay">Vesta for Mail Relay</h1>
<div class="level1">

<p>
Delete content of below file and restart exim to use vesta as smtp relay.
</p>

<p>
/etc/exim/dnsbl.conf
</p>

</div>
