
<h1 class="sectionedit1" id="find_files_containing_particular_text_string_linux_command">Find files containing particular text string (Linux Command)</h1>
<div class="level1">

<p>
grep -r -H “&lt;Text to search&gt;” /path/to/search
</p>

</div>
