
<h1 class="sectionedit1" id="rdiff-backup_script_using_sshfs_for_larger_backups">rdiff-backup script using sshfs for larger backups</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Install sshfs and rdiff-backup ( see below for install instructions)</div>
</li>
<li class="level1"><div class="li"> Check you have /dev/fuse - otherwise mknod /dev/fuse -m 0666 c 10 229</div>
</li>
<li class="level1"><div class="li"> Download this script <a href="http://b.ri.mu/files/rdiff-backup-sshfs.sh" class="urlextern" title="http://b.ri.mu/files/rdiff-backup-sshfs.sh" rel="nofollow">http://b.ri.mu/files/rdiff-backup-sshfs.sh</a></div>
</li>
<li class="level1"><div class="li"> Add your ssh key to backupspace. Commands to do this are in the script comments. This automates login without password. You need to make sure your backupspace.rimuhosting.com account is sftp enabled, this is done by emailing support and asking.</div>
</li>
<li class="level1"><div class="li"> Edit the script, it has several variables.</div>
</li>
<li class="level1"><div class="li"> Set the USERNAME variable at the top - this is your backupspace username</div>
</li>
<li class="level1"><div class="li"> Set the INCLUDES variable , configs and directories you want to backup using spaces between them. Escape all spaces and odd characters.</div>
</li>
<li class="level1"><div class="li"> Set the EXCLUDES for larger files you dont want backup. This uses standard regex.</div>
</li>
<li class="level1"><div class="li"> Create yourself a mysql user that can SELECT and LOCK TABLES if you want to backup databases. ( Details in the comments of script)</div>
</li>
<li class="level1"><div class="li"> Insert the user/pass variables into the script and set MYSQLBACKUP=1</div>
</li>
<li class="level1"><div class="li"> Set the OLDERTHAN variable - The time interval is an integer followed by the character s, m, h, D, W, M, or Y, indicating seconds, minutes, hours, days, weeks, months, or years respectively. ie 4W is 4 weeks</div>
</li>
<li class="level1"><div class="li"> If you have any special arguments you want to pass add them in ARGS variable</div>
</li>
<li class="level1"><div class="li"> chmod +x backup.sh (or whatever you named it)</div>
</li>
<li class="level1"><div class="li"> Do a test run manually ./backup.sh check for errors.</div>
</li>
<li class="level1"><div class="li"> If all goes well copy the backup file into /etc/cron.daily/backup or some similar name and you&#039;re done.</div>
</li>
<li class="level1"><div class="li"> Things to note: First time will take a while to sync things. Pays to test with a smaller dir of files. If you have any errors at all, have a look at the code and uncomment some of the debugging to check what its doing. If you get really stuck just drop an email into support and let us know.</div>
</li>
</ol>

<p>
To restore or list what backups you have, mount backup space
</p>
<pre class="code">   sshmnt username@backupspace.rimuhosting.com /mnt/</pre>

<p>
List the backups
</p>
<pre class="code">   rdiff-backup -l /mnt/vpsname</pre>

<p>
Restore from the backups
</p>
<pre class="code">   rdiff-backup -r now /mnt/file /local/file #you can set up a new vps using current backups</pre>
<pre class="code">   rdiff-backup -r 10D /mnt /tmp/file # 10 day old backups etc</pre>
<pre class="code">   rdiff-backup -r /mnt/hostname/rdiff-backup-data/increments/file.2003-03-05T12:21:41-07:00.diff.gz /local/file</pre>

</div>
<!-- EDIT1 SECTION "rdiff-backup script using sshfs for larger backups" [1-2369] -->
<h3 class="sectionedit2" id="installing_sshfs_and_rdiff-backup">Installing sshfs and rdiff-backup</h3>
<div class="level3">

<p>
debian/ubuntu:
</p>
<pre class="code">   apt-get install sshfs rdiff-backup</pre>

<p>
Centos:
</p>

<p>
You will need to enable the DAG/rpmforge  repos
</p>
<pre class="code">   rpm -Uhv http://apt.sw.be/redhat/el5/en/i386/rpmforge/RPMS/rpmforge-release-0.3.6-1.el5.rf.i386.rpm</pre>
<pre class="code">   yum update</pre>
<pre class="code">   yum install sshfs rdiff-backup</pre>

<p>
OR download the rpms manually from <a href="http://dag.wieers.com/rpm/packages/rdiff-backup/" class="urlextern" title="http://dag.wieers.com/rpm/packages/rdiff-backup/" rel="nofollow">http://dag.wieers.com/rpm/packages/rdiff-backup/</a> &amp; <a href="http://dag.wieers.com/rpm/packages/fuse-sshfs/" class="urlextern" title="http://dag.wieers.com/rpm/packages/fuse-sshfs/" rel="nofollow">http://dag.wieers.com/rpm/packages/fuse-sshfs/</a>
</p>

</div>
<!-- EDIT2 SECTION "Installing sshfs and rdiff-backup" [2370-] -->