
<h1 class="sectionedit1" id="manually_update_user_quota_in_directadmin">Manually update user quota in Directadmin</h1>
<div class="level1">

<p>
command:
</p>

<p>
action=quotatally&amp;value=&lt;username&gt;&amp;type=user
</p>

</div>
