
<h1 class="sectionedit1" id="copy_passwords_from_shadow_file_zimbra_migration">Copy passwords from shadow file (Zimbra migration)</h1>
<div class="level1">

<p>
<a href="http://wiki.zimbra.com/wiki/Password_Migration" class="urlextern" title="http://wiki.zimbra.com/wiki/Password_Migration" rel="nofollow">http://wiki.zimbra.com/wiki/Password_Migration</a>
</p>

</div>
