
<h1 class="sectionedit1" id="setup_hetzner_node_with_kvm">Setup Hetzner Node with KVM</h1>
<div class="level1">

<p>
* While setting up bridge mode, make sure if route-eth0 file exists, then it is renamed to route-br0.
</p>

<p>
1) Add the following lines to /etc/sysctl.conf:
<pre class="code">net.ipv4.ip_forward = 1
net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.default.send_redirects = 0
net.ipv4.conf.lo.send_redirects = 0
net.ipv4.conf.eth0.send_redirects = 0</pre>

</p>

<p>
2) Create the file /etc/sysconfig/static-routes and add this:
<pre class="code">any net &lt;178.63.169.72/29&gt; dev br0
any net &lt;x.x.x.x/y&gt; dev br0</pre>

</p>

<p>
3) Create the VM. If it&#039;s Windows it will work Out of the box! But if it&#039;s linux then do following: <br/>

For CentOS: <br/>

Add this to ifcfg-eth0 file:
</p>

<p>
SCOPE=“peer &lt;IP Address of Host&gt;”
</p>

<p>
And create a new file “route-eth0” in /etc/sysconfig/network-scripts/ with following:
</p>

<p>
ADDRESS0=0.0.0.0 <br/>

NETMASK0=0.0.0.0 <br/>

GATEWAY0=&lt;IP Address of Host&gt;
</p>

<p>
<br/>

For Ubuntu: <br/>

Add this to /etc/network/interfaces:
</p>

<p>
pointopoint &lt;IP Address of host&gt;
</p>

<p>
NOTE: When you add IP&#039;s in SolusVM, make sure you use Gateway as the host node IP and Netmask as 255.255.255.255. 
</p>

<p>
NOTE: Run following command after making changes on guest VM to make the files write protected.
</p>

<p>
CentOS: 
</p>
<pre class="code"> chattr +aui /etc/sysconfig/network-scripts/ifcfg-eth0</pre>

<p>
Ubuntu:
</p>
<pre class="code">chattr +aui /etc/network/interfaces</pre>

</div>
