
<h2 class="sectionedit1" id="soft_ether_vpn_client_setup_on_ubuntu">Soft ether VPN client setup on Ubuntu</h2>
<div class="level2">
<hr />

<p>
Soft ether VPN client setup on Ubuntu
</p>

<p>
Follow the undermentioned procedure to setup VPN client on ubuntu :
</p>

<p>
1. Download the soft ether VPN client. (Run the commands as root user)
</p>

<p>
Download <abbr title="Uniform Resource Locator">URL</abbr> : <a href="http://www.softether-download.com/files/softether/v4.20-9608-rtm-2016.04.17-tree/Linux/SoftEther_VPN_Client/64bit_-_Intel_x64_or_AMD64/softether-vpnclient-v4.20-9608-rtm-2016.04.17-linux-x64-64bit.tar.gz" class="urlextern" title="http://www.softether-download.com/files/softether/v4.20-9608-rtm-2016.04.17-tree/Linux/SoftEther_VPN_Client/64bit_-_Intel_x64_or_AMD64/softether-vpnclient-v4.20-9608-rtm-2016.04.17-linux-x64-64bit.tar.gz" rel="nofollow">http://www.softether-download.com/files/softether/v4.20-9608-rtm-2016.04.17-tree/Linux/SoftEther_VPN_Client/64bit_-_Intel_x64_or_AMD64/softether-vpnclient-v4.20-9608-rtm-2016.04.17-linux-x64-64bit.tar.gz</a>
</p>

<p>
2. Move the downloaded file to /root : mv softether-vpnclient-v4.20-9608-rtm-2016.04.17-linux-x64-64bit.tar.gz /root
</p>

<p>
3. Follow the below procedure :
</p>

<p>
tar -xf softether-vpnclient-v4.20-9608-rtm-2016.04.17-linux-x64-64bit.tar.gz
</p>

<p>
cd vpnclient
</p>

<p>
make (press 1 ; “Agree”, every time it prompts for user input )
</p>

<p>
cd &amp;&amp; mv vpnclient /usr/local
</p>

<p>
cd /usr/local/vpnclient
</p>

<p>
chmod 644 * &amp;&amp; find . -type d -exec chmod 755 {} \; &amp;&amp; chmod +x vpnc*
</p>

<p>
4. Create a init script file /etc/init.d/vpnclient and paste below content in it.
</p>

<p>
<em>#!/bin/sh</em>
</p>

<p>
<em>### BEGIN INIT INFO<br/>

# Provides: vpnclient<br/>

# Required-Start: $network $remote_fs $syslog<br/>

# Required-Stop: $network $remote_fs $syslog<br/>

# Default-Start: 2 3 4 5<br/>

# Default-Stop: 0 1 6<br/>

# Short-Description: Soft Ether VPN client<br/>

# Description: Soft Ether VPN client daemon<br/>

### END INIT INFO</em>
</p>

<p>
<em>DAEMON=/usr/local/vpnclient/vpnclient<br/>

LOCK=/var/lock/subsys/vpnclient</em>
</p>

<p>
<em>test -x $DAEMON || exit 0<br/>

case “$1” in</em>
</p>

<p>
<em>start)<br/>

$DAEMON start<br/>

if [ “$?” -eq “0” ]; then touch $LOCK ; fi<br/>

;;<br/>

stop)<br/>

$DAEMON stop<br/>

rm $LOCK<br/>

;;<br/>

restart)<br/>

$DAEMON stop<br/>

if [ “$?” -eq “0” ]; then rm “$LOCK” ; fi<br/>

sleep 1<br/>

$DAEMON start<br/>

if [ “$?” -eq “0” ]; then touch “$LOCK” ; fi<br/>

;;<br/>

status)<br/>

if [ -f “$LOCK” ]; then<br/>

echo “vpnclient [ running ]”;<br/>

else<br/>

echo “vpnclient [ stopped ]”;<br/>

fi<br/>

;;<br/>

*)<br/>

echo “Usage: $0 {start|stop|restart|status}“<br/>

exit 1<br/>

esac<br/>

exit 0</em>
</p>

<p>
5. Set execution permission on the init script and start the vpnclient process.
</p>

<p>
chmod +x /etc/init.d/vpnclient
</p>

<p>
service vpnclient start
</p>

<p>
update-rc.d vpnclient defaults
</p>

<p>
6. To configure the vpn client follow below procedure :
</p>

<p>
cd /usr/lcoal/vpnclient
</p>

<p>
./vpncmd
</p>

<p>
VPN Client&gt; Select/Press 2 &amp; then press enter (to enter into Management of VPN Client)
</p>

<p>
VPN Client&gt; Press enter as input to Hostname of IP Address of Destination: (connection will be made to localhost to operate VPN client from your computer.)
</p>

<p>
VPN Client&gt; NicCreate ethervpn
</p>

<p>
VPN Client&gt; exit
</p>

<p>
7. Install wine and winetricks.
</p>

<p>
IMAGE <a href="http://wiki.mantraventures.com/_media/softether/selection_052.png" class="urlextern" title="http://wiki.mantraventures.com/_media/softether/selection_052.png" rel="nofollow">http://wiki.mantraventures.com/_media/softether/selection_052.png</a>
</p>

<p>
8. Download the windows vpn client manager and install it using wine.
</p>

<p>
Download link : <a href="http://www.softether-download.com/files/softether/v4.20-9608-rtm-2016.04.17-tree/Windows/SoftEther_VPN_Client/softether-vpnclient-v4.20-9608-rtm-2016.04.17-windows-x86_x64-intel.exe" class="urlextern" title="http://www.softether-download.com/files/softether/v4.20-9608-rtm-2016.04.17-tree/Windows/SoftEther_VPN_Client/softether-vpnclient-v4.20-9608-rtm-2016.04.17-windows-x86_x64-intel.exe" rel="nofollow">http://www.softether-download.com/files/softether/v4.20-9608-rtm-2016.04.17-tree/Windows/SoftEther_VPN_Client/softether-vpnclient-v4.20-9608-rtm-2016.04.17-windows-x86_x64-intel.exe</a>
</p>

<p>
(Install wine with the default installtion option only, simply press NEXT only.)
</p>

<p>
9. Run the vpn client via the icon on your desktop using wine. Then click on to create Virtual Adapter &amp; enter “ethervpn” in popup window.
</p>

<p>
Note : First time this aplication will give you the error, then close the application and restart it. Next time a virtual adapter is already detected by application which we have create in step 6.
</p>

<p>
10. Then Click on Add VPN connection. Then fill the required details in the blanks highlighted in the image below :
</p>

<p>
IMAGE <a href="http://wiki.mantraventures.com/_media/softether/selection_054.png" class="urlextern" title="http://wiki.mantraventures.com/_media/softether/selection_054.png" rel="nofollow">http://wiki.mantraventures.com/_media/softether/selection_054.png</a>
</p>

<p>
11. After adding a vpn connection, right click on the connection name and click on connect.
</p>

<p>
IMAGE
</p>

<p>
12. After it gets connected, return to shell and run the below commands as root :
</p>

<p>
dhclient vpn_ethervpn
</p>

<p>
ip route add 146.88.26.95 via &lt;YOUR IP&gt; dev &lt;Wireless NIC name&gt; proto static
</p>

<p>
ip route del default
</p>

<p>
ip route add default via 192.168.30.1 dev vpn_ethervpn
</p>

<p>
13. Add nameservers in your /etc/resolve.conf
</p>

<p>
nameserver 8.8.8.8
</p>

<p>
nameserver 8.8.4.4
</p>

</div>
