
<h1 class="sectionedit1" id="install_interspire_in_vesta_panel">Install Interspire in Vesta Panel</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

</p>

<p>
<pre class="code">ansible-playbook -l &lt;IP&gt; /scripts/interspire_install_centos_vestacp.yml --extra-vars &quot;domain=&lt;domain&gt;&quot; --ask-pass</pre>

</p>

<p>
3. Example 
<pre class="code">ansible-playbook -l 43.252.89.164 /scripts/interspire_install_centos_vestacp.yml --extra-vars &quot;domain=email.mantragrid.com&quot;</pre>

</p>

<p>
This will do the following: 
</p>
<ul>
<li class="level1"><div class="li"> Install Interspire</div>
</li>
</ul>

</div>
