
<h1 class="sectionedit1" id="send_grd_case_study">Send Grd Case Study</h1>
<div class="level1">

<p>
Hello,
Did you know that 20% of legitimate email routinely goes undelivered? Often, ISPs reject your email at the gateway or route them to the junk folder because the email you’re sending looks like spam. The result is lower customer satisfaction, lost customers and reduced revenue. 
</p>

<p>
SendGrid offers world class deliverability expertise to make sure your emails get delivered. Take a look at how &lt;SendGrid&gt; helped Scoutmob dramatically improve their email results and related revenue by simply getting more messages to the inbox. Read the Scoutmob case study.
</p>

<p>
Regards,
</p>

</div>
