
<h1 class="sectionedit1" id="add_remote_windows_server_for_monitoring">Add remote Windows Server for monitoring</h1>
<div class="level1">

<p>
1) Login to the remote Windows Server and enable SNMP:
</p>

<p>
Go to Server Manager &gt; Features &gt; Add Features and add SNMP.
</p>

<p>
2) Goto Administrative Tools &gt; Services
</p>

<p>
3) Right click on the SNMP Service and click on Properties. Go to “Agent” tab and enter some details in “Contact” and “Location” fields. Then go to “Security” tab. Add a community named “public”. Click on “Accept SNMP packets from these hosts” and add the zenoss server IP.
</p>

<p>
4) Restart the SNMP service.
</p>

<p>
5) Create a new user “zenoss” and add it to the group “Distributed COM Users”
</p>

<p>
6) Go to Administrative Tools &gt; Computer Management &gt; Service and Applications &gt; WMI Control
</p>

<p>
7) Right click on WMI Control and go to Properties. Click on “Security” tab and select the “CIMV2” under root and then click on Security. Add the user zenoss and click (to enable) “Enable Account” and “Remote Enable”.
</p>

<p>
8) Login to Zenoss UI. Click on “Infrastructure” tab.
</p>

<p>
9) Add a new server with the Device Class /Server/Windows.
</p>

<p>
10) On the “Configuration Properties” page, add the “zenoss” user and password to the fields “zWinUser” and “zWinPassword”.
</p>

<p>
NOTE: 1) To check if WMi is working fine, from the zenoss server shell, type the following command:
</p>

<p>
./wmic -U &lt;wmi_user&gt;%&lt;wmi_pass&gt; <em>&lt;IP_remote&gt; “Select * from Win32_ComputerSystem”

 

2) If you get the error, that log files cannot be accessed, do the following:

Go to “Configuration Properties” page, change the “zWinEventlog” to “False”

 
</p>

</div>
