
<h1 class="sectionedit1" id="zimbra_logo_branding">Zimbra Logo Branding</h1>
<div class="level1">

<p>
1. Scale image as follow.
</p>

<p>
For Login Page.
</p>
<pre class="code">Width 250px and Height 36px</pre>

<p>
Rename this logo as <strong>LoginBanner.png</strong>
</p>

<p>
For panel&#039;s top left corner
</p>
<pre class="code">Width 120px and Height 28px</pre>

<p>
Rename this logo as <strong>AppBanner.png</strong>
</p>

<p>
2. Copy logos to following location by replacing existing
</p>
<pre class="code"> /opt/zimbra/jetty-distribution-7.6.12.v20130726/webapps/zimbra/skins/_base/logos</pre>

<p>
(jetty-distribution version might change as per zimbra version)
</p>

<p>
Replace LoginBanner_white.png and LoginBanner_black.png with modified LoginBanner.png by renaming it.
</p>

<p>
same for AppBanner_white.png and AppBanner_black.png by AppBanner.png.
</p>

<p>
Also, replace images in folder ZimbraInside 
</p>

<p>
3. Change ownership of these as zimbra
</p>

<p>
4. Now logos will be available on following urls.
</p>
<pre class="code">Login Banner: http://&lt;domain/ip&gt;/skins/_base/logos/LoginBanner.png</pre>
<pre class="code">App Banner: http://&lt;domain/ip&gt;/skins/_base/logos/AppBanner.png</pre>

<p>
<strong>(Note: Make sure http is enabled in zimbra )</strong>
</p>

<p>
5. For zimbra admin panel replace logos at below location with modified one.
</p>
<pre class="code">/opt/zimbra/jetty-distribution-7.6.12.v20130726/webapps/zimbraAdmin/skins/serenity/logos</pre>

<p>
6. Run following command 
</p>
<pre class="code">zmprov modifyDomain &lt;Domain name&gt; zimbraSkinLogoURL &lt;Site Url&gt;

zmprov modifyDomain &lt;Domain name&gt; zimbraSkinLogoLoginBanner http://&lt;domain/ip&gt;/skins/_base/logos/LoginBanner.png

zmprov modifyDomain &lt;Domain name&gt; zimbraSkinLogoAppBanner http://&lt;domain/ip&gt;/skins/_base/logos/AppBanner.png</pre>

<p>
Example:
</p>
<pre class="code">zmprov modifyDomain maimon.in zimbraSkinLogoURL http://maimon.in

zmprov modifyDomain maimon.in zimbraSkinLogoLoginBanner http://mail.maimon.in/skins/_base/logos/maimon_panel.png

zmprov modifyDomain maimon.in zimbraSkinLogoAppBanner http://mail.maimon.in/skins/_base/logos/maimon_panel.png</pre>

<p>
Now restart the zimbra
</p>
<pre class="code">zmcontrol restart</pre>

<p>
<strong>There might need for ctrl+f5 to load fresh images forcefully in browser.
</strong>
</p>

</div>
