
<h1 class="sectionedit1" id="mysql_root_user_login_details_directadmin">MySQL root user login details (DirectAdmin)</h1>
<div class="level1">

<p>
Type following command to get username and password:
</p>

<p>
cat /usr/local/directadmin/conf/mysql.conf
</p>

<p>
Use this info to login.
</p>

</div>
