
<p>
After installing PATCH-SUPEE-6788 magento stores theme has been break. <br/>

</p>

<p>
<strong>Solution</strong>:<br/>

1. Login to Magento Backend <br/>

2. Go to : System &gt; Permissions &gt; Blocks <br/>

3. Add New Block <br/>

<code>Block Name: cms/block <br/>

Is Allowed : Yes</code>
</p>
