
<h1 class="sectionedit1" id="thunderbird_migration_on_windows">Thunderbird Migration On Windows</h1>
<div class="level1">

<p>
We can migrate Thunderbird in two ways without re-importing mails from mailing server.
</p>

<p>
Before proceeding to migration install the Thunderbird on the server where is to be migrated and close/stop Thunderbird on both servers.
</p>

</div>

<h4 id="using_backup_tool_mozbackup">1. Using Backup Tool (MozBackup)</h4>
<div class="level4">

<p>
Download MozBackup (backup tool) for Thunderbird from here on both server.
</p>

<p>
Do following on the server where Thunderbird currently running.         
</p>

<p>
i. Extract and run the MozBackup.
</p>

<p>
ii. Select for backup and choose the Thunderbird profile ( by default its “default”).
</p>

<p>
After finishing the backup its create a backup file in .pcv format.
</p>

<p>
iii. Transfer the backup file ( .pcv ) on the server where Thunderbird is to be migrated.
</p>

<p>
Do following on the server where Thunderbird is to be migrated.         
</p>

<p>
iv. Extract and run the MozBackup and select the restore.
</p>

<p>
v. Now select that .pcv file (transfered from current running server) as a backup file and proceed.
</p>

<p>
vii. Run the Thunderbird there would be old settings and mail accounts with their mails.
</p>

</div>

<h4 id="copying_thunderbird_profile">2. Copying Thunderbird Profile.</h4>
<div class="level4">

<p>
Do following on the server where Thunderbird currently running.         
</p>

<p>
i. Go to the  “C:\Users\Administrator\AppData\Roaming\Thunderbird\Profiles\”
</p>

<p>
ii. Compress the xxxx.default directory ( xxxx would be alphanumeric ).
</p>

<p>
iii. Transfer the compressed xxxx.default file on the server where Thunderbird is to be migrated.
</p>

<p>
Do following on the server where Thunderbird is to be migrated.         
</p>

<p>
iv. Extract xxxx.default file.
</p>

<p>
v. Go to the  “C:\Users\Administrator\AppData\Roaming\Thunderbird\Profiles\” and replace
</p>

<p>
the yyyy.default directory ( yyyy would be alphanumeric ) with extracted xxxx.default directory
</p>

<p>
vi. Edit the configuration file “C:\Users\Administrator\AppData\Roaming\Thunderbird\profiles” and replace
</p>

<p>
the yyyy.default with xxxx.default in line “ Path=Profiles/yyyy.default ” and save. 
</p>

<p>
vii. Run the Thunderbird there would be old settings and mail accounts with their mails.
</p>

</div>
