
<h2 class="sectionedit1" id="create_a_cdn_resource">Create a CDN Resource</h2>
<div class="level2">
<hr />

<p>
To create a cdn recource follow below instructions :
</p>

<p>
1. <a href="https://client.cdn77.com/auth/login" class="urlextern" title="https://client.cdn77.com/auth/login"  rel="nofollow">Login to CDN 77</a> .
</p>

<p>
2. Click on “<strong>CDN</strong>” tab and click on “<strong>ADD NEW CDN RESOURCE</strong>”.
</p>

<p>
3. Fill http or https url and set label accordingly. Click on “<strong>CREATE CDN RESOURCE</strong>”  See image below for reference :
</p>

<p>
<img src="/lib/exe/fetch.php?w=1024&amp;h=449&amp;tok=ac150c&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fadd-cdn.png" class="media" alt="" width="1024" height="449" />
</p>

<p>
4. Copy CDN Resource url and paste in <a href="https://drive.google.com" class="urlextern" title="https://drive.google.com"  rel="nofollow">google drive</a> client sheet. See image below for reference :
</p>

<p>
<a href="/lib/exe/fetch.php?tok=267c5f&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fcdn-url.png" class="media" title="http://wiki.mantraventures.com/_media/media/cdn-url.png"><img src="/lib/exe/fetch.php?tok=267c5f&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fcdn-url.png" class="media" alt="" /></a>
</p>

<p>
5. Next task is to create <a href="http://wiki.mantraventures.com/magento/stack/cdn-url-masking" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/cdn-url-masking"  rel="nofollow">CDN url masking</a>.
</p>

<p>
Note : CDN will take 10-15 mins to fetch website contents.
</p>

</div>
