
<p>
<abbr title="File Transfer Protocol">FTP</abbr> works in either of the following two modes:
</p>

<p>
<strong>1) Active</strong>
</p>

<p>
<strong>2) Passive</strong>
</p>
<hr />

<p>
A typical <abbr title="File Transfer Protocol">FTP</abbr> connection utilizes two seperate ports, one for sending/receieving control information such as login credentials and commands, and other for transferring data. Default port for sending control information is 21 in both active and passive modes, but depending on the mode you or your <abbr title="File Transfer Protocol">FTP</abbr> client has chosen <abbr title="File Transfer Protocol">FTP</abbr> will either use port 20 for data transfer in active mode or a random unprivileged port in passive mode.
</p>

<p>
<strong>Active Mode:</strong>
In active mode the client connects from a random port &gt; 1024 to the <abbr title="File Transfer Protocol">FTP</abbr> server&#039;s 21 port, after the client&#039;s identity has been verified by the <abbr title="File Transfer Protocol">FTP</abbr> server the client starts listening to port N+1 and sends the <abbr title="File Transfer Protocol">FTP</abbr> command <code>PORT N+1</code> to the <abbr title="File Transfer Protocol">FTP</abbr> server. The server will then connect back to the client&#039;s specified data port from its local data port, which is port 20.
</p>

<p>
From the server-side firewall&#039;s standpoint, to support active mode <abbr title="File Transfer Protocol">FTP</abbr> the following communication channels need to be opened:
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s port 21 from anywhere (Client initiates connection)
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s port 21 to ports &gt; 1023 (Server responds to client&#039;s control port)
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s port 20 to ports &gt; 1023 (Server initiates data connection to client&#039;s data port)
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s port 20 from ports &gt; 1023 (Client sends ACKs to server&#039;s data port)
</p>
<hr />

<p>
<strong>Passive Mode:</strong>
In order to resolve the issue of the server initiating the connection to the client a different method for <abbr title="File Transfer Protocol">FTP</abbr> connections was developed. This was known as passive mode, or <code>PASV</code>, after the command used by the client to tell the server it is in passive mode.
</p>

<p>
In passive mode <abbr title="File Transfer Protocol">FTP</abbr> the client initiates both connections to the server, solving the problem of firewalls filtering the incoming data port connection to the client from the server. When opening an <abbr title="File Transfer Protocol">FTP</abbr> connection, the client opens two random unprivileged ports locally (N &gt; 1023 and N+1). The first port contacts the server on port 21, but instead of then issuing a <code>PORT</code> command and allowing the server to connect back to its data port, the client will issue the <code>PASV</code> command. The result of this is that the server then opens a random unprivileged port (P &gt; 1023) and sends P back to the client in response to the <code>PASV</code> command. The client then initiates the connection from port N+1 to port P on the server to transfer data.
</p>

<p>
From the server-side firewall&#039;s standpoint, to support passive mode <abbr title="File Transfer Protocol">FTP</abbr> the following communication channels need to be opened:
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s port 21 from anywhere (Client initiates connection)
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s port 21 to ports &gt; 1023 (Server responds to client&#039;s control port)
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s ports &gt; 1023 from anywhere (Client initiates data connection to random port specified by server)
</p>

<p>
<abbr title="File Transfer Protocol">FTP</abbr> server&#039;s ports &gt; 1023 to remote ports &gt; 1023 (Server sends ACKs (and data) to client&#039;s data port)
</p>
