
<p>
1. Formatting the node.
</p>
<pre class="code">i.  Go to the OVH manager https://www.ovh.com/managerv3/ , Login into that and choose the node to be formatted.
ii.  Go to the Services-&gt; Reinstall/Change OS and Select the Operating System is to be installed.
iii. If Selected Linux OS (Cent os) then choose the manual partition option and make partition as follow
     /boot       1024 MB
     /             102400 MB
     swap        Same or more than RAM alloted.
iv. Now begin the formatting (Reinstalling). When it finish out password  will be sent by ovh through email.</pre>

<p>
2. Making Partition
</p>
<pre class="code"> i.  Run following commands
     parted
     print                              // To see the current partition                        
     mkpartprimary ext4       // This will make a partition of type primary having  ext4 filesystem. It will ask for the START POINT and END POINT.
                                                        //Just enter the END POINT of last partition as the START POINT here and for END POINT enter the total size of node.
                                                        // ( Example of start and end point is 126GB and 2000GB corresponding) 
     quit</pre>

<p>
3. Creating Logical Volume.
</p>
<pre class="code">Run following the commands</pre>
<pre class="code">   pvcreate /dev/sda&lt;no&gt;
   pvscan
   vgcreate VolGroup00 /dev/sda&lt;no&gt;
   vgdisplay
   lvcreate -L +1GB -n LVM1 VolGroup00
   lvdisplay
   mkfs.ext3 /dev/VolGroup00/LVM1</pre>

<p>
4. Comment the line “ exclude=kernel* ” in the file /etc/yum.conf 
</p>

<p>
5. For Installing SolusVM slave on it follow the <a href="http://wiki.solusvm.com/index.php?title=Install#Installing_a_Slave" class="urlextern" title="http://wiki.solusvm.com/index.php?title=Install#Installing_a_Slave" rel="nofollow">http://wiki.solusvm.com/index.php?title=Install#Installing_a_Slave</a>
</p>
