
<h1 class="sectionedit1" id="install_zabbix_in_windows">Install Zabbix in Windows</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Download setup file (x64.msi) from <a href="http://www.suiviperf.com/zabbix/index.php" class="urlextern" title="http://www.suiviperf.com/zabbix/index.php" rel="nofollow">http://www.suiviperf.com/zabbix/index.php</a></div>
</li>
<li class="level1"><div class="li"> Install the setup and enter noc.mantragrid.com as server while installation.</div>
</li>
<li class="level1"><div class="li"> After installation open inbound port 10050 in firewall.</div>
</li>
</ol>
<hr />

<p>
For <a href="http://www.suiviperf.com/zabbix/zabbix_agent-3.0.1_x86.msi" class="urlextern" title="http://www.suiviperf.com/zabbix/zabbix_agent-3.0.1_x86.msi" rel="nofollow">zabbix_agent-3.0.1_x86.msi</a> download agent soft from below link
</p>

<p>
<a href="http://www.suiviperf.com/zabbix/zabbix_agent-3.0.1_x86.msi" class="urlextern" title="http://www.suiviperf.com/zabbix/zabbix_agent-3.0.1_x86.msi" rel="nofollow">http://www.suiviperf.com/zabbix/zabbix_agent-3.0.1_x86.msi</a>
</p>
<hr />

<p>
For <a href="http://www.suiviperf.com/zabbix/zabbix_agent-3.0.4_x64.msi" class="urlextern" title="http://www.suiviperf.com/zabbix/zabbix_agent-3.0.4_x64.msi" rel="nofollow">zabbix_agent-3.0.1_x64.msi</a> download agent soft from below link
</p>

<p>
<a href="http://www.suiviperf.com/zabbix/zabbix_agent-3.2.0_x64.msi" class="urlextern" title="http://www.suiviperf.com/zabbix/zabbix_agent-3.2.0_x64.msi" rel="nofollow">http://www.suiviperf.com/zabbix/zabbix_agent-3.0.4_x64.msi</a>
</p>
<hr />

</div>
