
<h1 class="sectionedit1" id="bounce_message_to_sender_if_user_quota_is_full">Bounce Message To Sender If User Quota Is Full</h1>
<div class="level1">

<p>
1. Login to zimbra
</p>
<pre class="code"> su - zimbra</pre>

<p>
2. Run following to check.
</p>
<pre class="code"> zmprov gacf zimbraLmtpPermanentFailureWhenOverQuota</pre>

<p>
3. Run following to make it TRUE (enable)
</p>
<pre class="code"> zmprov mcf zimbraLmtpPermanentFailureWhenOverQuota TRUE</pre>

<p>
4. Now restart the zimbra
</p>
<pre class="code"> zmcontrol restart   </pre>

</div>
