
<p>
<em>Magento Profiler</em> – the built in magento tool that lets you see what magento is doing and on what it spends most of the page load time.
</p>

<p>
In order to enable Magento Profiler do the following:
</p>

<p>
1. Login to Admin Backend.
</p>

<p>
2. <em>System </em> &gt;<em> Configuration </em> &gt;<em> Developer (Advanced) </em> &gt;<em> Debug </em> &gt;<em> Profiler</em> set to <strong>Yes</strong>.
</p>

<p>
3. In <em>index.php</em> file in your magento root, uncomment <code>Varien_Profiler::enable()</code>
</p>

<p>
Sometimes the profiler output is still not seen on the frontend. In that case you have to do a little hack:
</p>

<p>
open <em>app/code/core/Mage/Core/Block/Profiler.php</em> and comment out the following block:
</p>

<p>
<code>if (!$this→_beforeToHtml()<br/>

|| !Mage::getStoreConfig(&#039;dev/debug/profiler&#039;)<br/>

|| !Mage::helper(&#039;core&#039;)→isDevAllowed()) {<br/>

return ;<br/>

}</code>
</p>

<p>
Clear your magento cache – you should see the magento profiler output at the bottom of your website pages afterwards.
</p>
