
<p>
Step 1: RDP to Windows Server.
Step 2: Press Win+R , and type “compmgmt.msc” and then OK.
Step 3: Computer Management (Local) –&gt; System Tools –&gt; Local Users and Groups –&gt; Right click on “Users”, then click “New User…”.
Step 4: Username: Lccintljctscom
Full name: Lccintljctscom
Description: hosting user for Lccintl.justclicktravels.com
Password: here
Confirm Password: here
</p>

<p>
Uncheck “User must change password at next logon”
Mark check on “User cannot change password” and “Password never expires”
</p>

<p>
Step 5: Click on “Create” and then “Close”
Step 6: Create a folder in C:\inetpub i.e C:\inetpub\Lccintl.justclicktravels.com 
Step 7: Now set permission for user create just above.
Right click on folder (C:\inetpub\Lccintl.justclicktravels.com) then click on “Properties”, then go to “Security” tab –&gt; Edit –&gt; Add –&gt; Advanced –&gt; Find Now –&gt; select user (i.e. Lccintljctscom) –&gt; OK –&gt; OK –&gt; select your user and then mark check on “Full control” box for “Allow” column –&gt; Apply –&gt; OK –&gt; OK.
</p>

<p>
Step 8: Now go to IIS.
Step 9: Right click on “Sites” and then “Add Website…”.
Step 10: Fill up the details. 
Site name: Lccintl.justclicktravels.com
Physical path: C:\inetpub\Lccintl.justclicktravels.com
Change IP address from “All Unassigned” to “43.252.88.56”
Host name: <a href="http://www.Lccintl.justclicktravels.com" class="urlextern" title="http://www.Lccintl.justclicktravels.com" rel="nofollow">www.Lccintl.justclicktravels.com</a>
</p>

<p>
Now, click on “Connect as…” , then select “Specific user:”, then click on “Set…” and then set username and password create in above steps via compmgmt.msc.
</p>

<p>
Step 11: Click on “Test Settings…”, Authorization should be marked with green tick.
Step 12: Close the test window on success and then click “OK” on “Add Website” window.
Step 13: Right click on the sub-domain (i.e. Lccintl.justclicktravels.com ), then click on “Bindings…”
Step 14: Click on “Add…”
Change IP to 43.252.88.56 and
Hostname to Lccintl.justclicktravels.com
</p>

<p>
then click “OK” and then “Close”
</p>

<p>
Step 15: Right click on your sub-domain (i.e. Lccintl.justclicktravels.com) and then click on “Add <abbr title="File Transfer Protocol">FTP</abbr> Publishing…”
Change IP address from “All Unassigned” to “43.252.88.56”.
Mark Check on “Enable Virtual Host Names:” and fill up “Lccintl.justclicktravels.com” in “Virtual Host (example: <a href="ftp://ftp.contoso.com" class="urlextern" title="ftp://ftp.contoso.com" rel="nofollow">ftp.contoso.com</a>):” box
</p>

<p>
Step 16: After that, mark check on “Start <abbr title="File Transfer Protocol">FTP</abbr> site automatically” and select “No SSL” radio button on SSL section. then click “Next”
</p>

<p>
Step 17: Select “Basic” in “Authentication”.
Step 18: In “Authorization” section, select “Specified users” from drop down of “Allow access to:” portion and fill up username (i.e. Lccintljctscom )
Step 19: In permissions portion, mark check on “Read” and “Write”, then click on “Finish”
Step 20: Set full permission for Lccintljctscom on “C:\Windows\Microsoft.NET\Framework64\VERSION_OF_DOTNET_BEING_USED_BY_SITE” (for example C:\Windows\Microsoft.NET\Framework64\v4.0.30319)
</p>

<p>
Step 21: Now, test the <abbr title="File Transfer Protocol">FTP</abbr> settings via filezilla
</p>

<p>
Host: 43.252.88.56
Username: Lccintl.justclicktravels.com|Lccintljctscom
Password: PASSWORD_HERE
</p>

<p>
NOTE: Username is different is windows hosting. Pay attention for pipe (|) symbol.
</p>

<p>
Step 22: Also test web hosting by creating a test file on the server and access it via local pointing if <abbr title="Domain Name System">DNS</abbr> is not pointed.
</p>

<p>
Step 23: Provide credentials to client. Hosting has been done.
</p>

<p>
Step 24: Finally, enter details in “Ajay Jain <abbr title="File Transfer Protocol">FTP</abbr>” sheet too.
</p>
