
<h1 class="sectionedit1" id="measure_hard_disk_data_transfer_speed">Measure Hard Disk Data Transfer Speed</h1>
<div class="level1">

<p>
Login as the root and enter the following command:
</p>
<pre class="code">  $ sudo hdparm -tT /dev/sda</pre>

<p>
OR
</p>
<pre class="code">  $ sudo hdparm -tT /dev/hda</pre>

<p>
Sample outputs:
</p>

<p>
/dev/sda:
</p>

<p>
 Timing cached reads:   7864 <abbr title="Megabyte">MB</abbr> in  2.00 seconds = 3935.41 <abbr title="Megabyte">MB</abbr>/sec
</p>

<p>
 Timing buffered disk reads:  204 <abbr title="Megabyte">MB</abbr> in  3.00 seconds =  67.98 <abbr title="Megabyte">MB</abbr>/sec
</p>

<p>
For meaningful results, this operation should be repeated 2-3 times. This displays the speed of reading directly from the Linux buffer cache without disk access. This measurement is essentially an indication of the throughput of the processor, cache, and memory of the system under test. Here is a for loop example, to run test 3 time in a row:
</p>
<pre class="code">  for i in 1 2 3; do hdparm -tT /dev/hda; done</pre>

<p>
Where,
</p>

<p>
-t :perform device read timings
</p>

<p>
-T : perform cache read timings
</p>

<p>
/dev/sda : Hard disk device file
</p>

<p>
To find out SATA hard disk speed, enter:
</p>
<pre class="code">      sudo hdparm -I /dev/sda | grep -i speed</pre>

<p>
Output:
</p>
<pre class="code">   *	Gen1 signaling speed (1.5Gb/s)
   *	Gen2 signaling speed (3.0Gb/s)</pre>

<p>
Above output indicate that my hard disk can use both 1.5Gb/s or 3.0Gb/s speed. Please note that your BIOS / Motherboard must have support for SATA-II.
</p>

<p>
dd Command
</p>

<p>
You can use the dd command as follows to get speed info too:
</p>
<pre class="code"> dd if=/dev/zero of=/tmp/output.img bs=8k count=256k</pre>
<pre class="code"> rm /tmp/output.img</pre>

<p>
Sample outputs:
</p>

<p>
262144+0 records in
</p>

<p>
262144+0 records out
</p>

<p>
2147483648 bytes (2.1 <abbr title="Gigabyte">GB</abbr>) copied, 23.6472 seconds, 90.8 <abbr title="Megabyte">MB</abbr>/s
</p>

</div>
