
<h1 class="sectionedit1" id="how_to_add_a_domain_in_webmin">How to add a domain in Webmin</h1>
<div class="level1">

<p>
1. Login to your webmin panel.
</p>

<p>
2. Click on BIND <abbr title="Domain Name System">DNS</abbr> Server under Servers.
</p>

<p>
3. In the BIND <abbr title="Domain Name System">DNS</abbr> Server, click on “Create Master Zone”:
</p>

<p>
» Domain name / Network (this is the domain name you want to host)
</p>

<p>
» Email address (this is the webmaster&#039;s email address)
</p>

<p>
» IP address for template records (enter your server&#039;s ip address)
</p>

<p>
4. Click on the “Address” icon:
</p>

<p>
» Name (Enter www)
» Address (Enter your server&#039;s IP)
» CLICK “Create”
</p>

<p>
5. At the top menu you will find a link that says &#039;Apply Configuration&#039; click on it to apply the changes you have made.
</p>

<p>
6. Click on “Apache Webserver” link.
</p>

<p>
7. Click “Create virtual host”:
</p>

<p>
» Handle connections to address: (select: Specific Address… enter the server&#039;s ip address)
</p>

<p>
» Port: (here you can select Default or port 80)
</p>

<p>
» Document Root: (specify in which directory domain&#039;s files will be saved.Eg: /var/www/html/mydomain)
</p>

<p>
» Server Name (enter domain name like this: <a href="http://www.mydomain.com:80" class="urlextern" title="http://www.mydomain.com:80" rel="nofollow">www.mydomain.com:80</a> include the :80 part also)
</p>

<p>
» Add virtual server to file (leave default as Standard httpd.conf file)
</p>

<p>
» Copy directives from (leave default: Nowhere)
</p>

<p>
8. After you have created the virtual host, you need to save the changes. there is a link “Apply Changes” click on it.
</p>

<p>
NOTE: Normally, all virtual hosts point to the same main default page.
Now, to point different virtual hosts to their respective directories i.e you are serving the domain <a href="http://www.domain.tld" class="urlextern" title="http://www.domain.tld" rel="nofollow">www.domain.tld</a> and you wish to add the virtual host <a href="http://www.otherdomain.tld" class="urlextern" title="http://www.otherdomain.tld" rel="nofollow">www.otherdomain.tld</a>, which points at the same IP address. Then you simply add the following to httpd.conf(/etc/httpd/conf/httpd.conf):
</p>

<p>
NameVirtualHost *:80
</p>

<p>
&lt;VirtualHost *:80&gt;
ServerName <a href="http://www.domain.tld" class="urlextern" title="http://www.domain.tld" rel="nofollow">www.domain.tld</a>
ServerAlias domain.tld *.domain.tld
DocumentRoot /www/domain
&lt;/VirtualHost&gt;
</p>

<p>
&lt;VirtualHost *:80&gt;
ServerName <a href="http://www.otherdomain.tld" class="urlextern" title="http://www.otherdomain.tld" rel="nofollow">www.otherdomain.tld</a>
DocumentRoot /www/otherdomain
&lt;/VirtualHost&gt;
</p>

<p>
Then, restart httpd service.
</p>

<p>
That&#039;s it!
</p>

</div>
