<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
After PoC setup tell client to check following set of functionality mentioned below, before providing us confirmation to proceed for final migration:
</p>

<p>
<strong><span style='font-family: Arial; font-size:40pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Magento Functionality Checklist</span> <span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '></span> </strong>
</p>
<hr />

<h1 class="sectionedit1" id="font_30666666666666664pxfont-familyarialcolor000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wraparialinherit000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wrapfrontendfont">** &lt;font 30.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;&gt;Frontend&lt;/font&gt;  **</h1>
<div class="level1">

<p>
<strong><span style='font-family: Arial; font-size:22.666666666666664pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>General</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Test newsletter subscription block</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>For new subscriber</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>For existing subscriber</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>User signup (account creation.)</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>User password change/recovery</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>For new user</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>For existing user</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Test magento multi-store fronts (if exists.)</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check theme &amp; its components on website are working (looking) fine.</span> </strong>
</p>

</div>
<!-- EDIT1 SECTION "** <font 30.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;>Frontend</font>  **" [974-5678] -->
<h2 class="sectionedit2" id="font_22666666666666664pxfont-familyarialcolor000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wraparialinherit000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wrapproduct_catalogfont">** &lt;font 22.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;&gt;Product Catalog&lt;/font&gt;  **</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Click through category pages and check for;</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Layered navigation showing and working correctly</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Sorting/Filters working correctly</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Open at least 5-10 product pages and check for;</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Correct price</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Add to cart button</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Configurable options, if applicable</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Images</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check working of search and Advance search</span> </strong>
</p>

</div>
<!-- EDIT2 SECTION "** <font 22.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;>Product Catalog</font>  **" [5679-10005] -->
<h2 class="sectionedit3" id="font_22666666666666664pxfont-familyarialcolor000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wraparialinherit000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wrapcheckoutfont">** &lt;font 22.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;&gt;Checkout&lt;/font&gt;  **</h2>
<div class="level2">

</div>
<!-- EDIT3 SECTION "** <font 22.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;>Checkout</font>  **" [10006-10424] -->
<h3 class="sectionedit4" id="font_17333333333333332pxfont-familyarialcolor000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wraparialinherit000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wrapcartfont">** &lt;font 17.333333333333332pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;&gt;Cart&lt;/font&gt;  **</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Add item to cart</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Add multiple items to cart</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Test Remove item button</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Test Update shopping cart button</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Test Clear shopping cart button</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check correct price</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check correct totals (discount/tax/etc)</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Place a some orders;</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Multiple products</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>With discounts</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Let the transaction fail to see how Magento handles canceled orders</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Try all combinations of payment methods &amp; shipping methods</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Try guest checkouts as well as logged-in checkouts</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>All shipping methods available?</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>All payment methods available?</span> </strong>
</p>

</div>
<!-- EDIT4 SECTION "** <font 17.333333333333332pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;>Cart</font>  **" [10425-17316] -->
<h2 class="sectionedit5" id="font_22666666666666664pxfont-familyarialcolor000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wraparialinherit000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wrapmyuser_accountfont">** &lt;font 22.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;&gt;My/User Account&lt;/font&gt;  **</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Login &amp; logout</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Are the correct My Accounts options showing?</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Reorder an order</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Add/edit address</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Subscribe / unsubscribe for newsletter</span> </strong>
</p>

</div>
<!-- EDIT5 SECTION "** <font 22.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;>My/User Account</font>  **" [17317-19866] -->
<h1 class="sectionedit6" id="font_30666666666666664pxfont-familyarialcolor000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wraparialinherit000000background-colortransparentfont-weight700font-stylenormalfont-variantnormaltext-decorationnonevertical-alignbaselinewhite-spacepre-wrapcms_backendfont">** &lt;font 30.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;&gt;CMS Backend&lt;/font&gt;  **</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Create a customer through the backend</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Open all pages to see whether exceptions occur</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check all configuration options for all extensions in the backend</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check tax setting</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check transactional emails</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check attributes and attribute sets</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check adding and deleting products</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check creating and applying new discount coupons</span> </strong>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<strong><span style='font-family: Arial; font-size:14.666666666666666pxfont-family; font-weight:Arial;color;  color: inherit;  background-color: #000000background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap; '>Check adding &amp; removing new users in admin panel</span> </strong>
</p>

</div>
<!-- EDIT6 SECTION "** <font 30.666666666666664pxfont-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;/Arial;;inherit;;#000000background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;>CMS Backend</font>  **" [19867-] -->