
<h1 class="sectionedit1" id="generating_ssh_keypairs">Generating SSH Keypairs</h1>
<div class="level1">

<p>
Using cryptographic keypairs for authentication makes authentication much easier for you and allows you to completely disable password authentication on your server (if you wish) which is a much more secure way of handling authentication since password guessing is rendered useless in that case.
<pre class="code">#generate public/private keypair
root@server ~# ssh-keygen -b 1024 -C user@domain.com

#copy contents of public key to your list of authorized keys
root@server ~# cat /root/.ssh/id_rsa.pub &gt;&gt; /root/.ssh/authorized_keys
The above command will also generate a private keyfile (id_rsa by default) and you&#039;ll want to make sure to protect that key.  Do not leave it on your server if it is also used to authenticate to your server.

If your home system is running Linux, you can use that keyfile directly to authenticate via ssh.  If you are connecting through Putty, you&#039;ll want to download a copy of Puttygen and use that to convert your private key into a format which is compatible with Putty. </pre>

</p>

</div>
