
<p>
<a href="http://community.office365.com/en-us/w/exchange/786.simple-domain-sharing-for-smtp-email-addresses.aspx" class="urlextern" title="http://community.office365.com/en-us/w/exchange/786.simple-domain-sharing-for-smtp-email-addresses.aspx" rel="nofollow">http://community.office365.com/en-us/w/exchange/786.simple-domain-sharing-for-smtp-email-addresses.aspx</a> <br/>

</p>

<p>
<a href="http://wiki.zimbra.com/wiki/Split_Domain" class="urlextern" title="http://wiki.zimbra.com/wiki/Split_Domain" rel="nofollow">http://wiki.zimbra.com/wiki/Split_Domain</a>
</p>
