
<h1 class="sectionedit1" id="install_cdp_agent_in_centos">Install CDP Agent in Centos</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

</p>

<p>
<pre class="code">ansible-playbook -l 43.252.89.164 /scripts/cdp_agent_centos.yml --extra-vars &quot;ip=&lt;IP&gt; key=&lt;key&gt;&quot; --ask-pass</pre>

</p>

<p>
3. Example 
<pre class="code">ansible-playbook -l 43.252.89.164 /scripts/cdp_agent_centos.yml --extra-vars &quot;ip=43.252.89.164 key=http://176.9.52.137:8080&quot; --ask-pass</pre>

</p>

<p>
This will do the following: 
</p>
<ul>
<li class="level1"><div class="li"> Install CDP Agent</div>
</li>
<li class="level1"><div class="li"> Install Kernel-devel kernel-headers</div>
</li>
<li class="level1"><div class="li"> Compile the kernel module</div>
</li>
<li class="level1"><div class="li"> Add CDP server key to the agent</div>
</li>
</ul>

<p>
Note: This will install new kernel version in the system and reboot the system before install
</p>

</div>
