
<h1 class="sectionedit1" id="setup_ovh_node_with_xen_solusvm">Setup OVH node with Xen (SolusVM)</h1>
<div class="level1">

<p>
1) Partition the node with following config:
<pre class="code">/ - 50GB

/boot - 20GB

swap - 16GB

Rest space is to be left unpartitioned.</pre>

</p>

<p>
2) Login to node and edit the file /etc/yum.conf. Comment the line “exclude kernel*”.
</p>

<p>
3) Install SolusVM:
<pre class="code">wget http://soluslabs.com/installers/solusvm/install
chmod 755 install
./install
Select Options accordingly.</pre>

</p>

<p>
4) Edit the file /etc/grub.conf and select the Xen kernel. Also, add the following to the kernel line:
</p>

<p>
“dom0_mem=512M”
</p>

<p>
5) Reboot the server.
</p>

<p>
6) Run the command: php /usr/local/solusvm/includes/xenkernel.php
</p>

<p>
7) Check the kernel: uname -r (It should be Xen kernel)
</p>

<p>
8) Create a new partition with remaining space:
</p>

<p>
fdisk /dev/&lt;sda/sdb&gt;
</p>

<p>
(Select options accordingly)
</p>

<p>
9) Create Physical Volume: pvcreate /dev/&lt;sda#/sdb#&gt;
</p>

<p>
10) Create Volume Group: vgcreate VolGroup00 /dev/&lt;sda#/sdb#&gt;
</p>

<p>
11) lvcreate -L +1GB -n LVM1 VolGroup00
</p>

<p>
12) mkfs.ext3 /dev/VolGroup00/LVM1
</p>

<p>
13) Login to SOlusVM Master, add the node, add IPs and do template+ISO sync.
</p>

</div>
