<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<h2 class="sectionedit1" id="how_to_use_the_script_for_preparing_hosting_stack">How to use the script for preparing hosting stack ?</h2>
<div class="level2">
<hr />

<p>
1. <a href="http://wiki.mantraventures.com/magento/stack/clone-script-from-bitbucket" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/clone-script-from-bitbucket" rel="nofollow">Clone the script</a> bundle from bitbucket.
</p>

<p>
2. Move into the directory &#039;stack&#039;. “ <code>cd stack</code> ”.
</p>

<p>
(Make sure to run screen command)
</p>

<p>
3. Run SERVER-SETUP file using bash. “ <code>bash SERVER-SETUP</code> ”. This will show you various options available for use.
</p>

<p>
4. Script do store all the logs in stacksetup.log file and brief logging stores in STACK.log file. In case you face any problem then you can trace error occurred using these 2 log files.
</p>

<p>
5. Some important scripts are moved in <code>/root/mantra</code> directory.
</p>

</div>
<!-- EDIT1 SECTION "How to use the script for preparing hosting stack ?" [18-] -->