
<p>
Run below command, no need to run “r1soft-setup –get-module” after below command. Just start backup
</p>

<p>
cd /lib/modules/r1soft/ &amp;&amp; wget -c <a href="http://repo.r1soft.com/modules/Ubuntu_1410_x64/hcpdriver-cki-3.16.0-31-generic.x86_64.ko" class="urlextern" title="http://repo.r1soft.com/modules/Ubuntu_1410_x64/hcpdriver-cki-3.16.0-31-generic.x86_64.ko" rel="nofollow">http://repo.r1soft.com/modules/Ubuntu_1410_x64/hcpdriver-cki-3.16.0-31-generic.x86_64.ko</a> &amp;&amp; /etc/init.d/cdp-agent restart
</p>
