
<h1 class="sectionedit1" id="configure_an_application_pool_to_recycle_at_a_scheduled_time">Configure an application pool to recycle at a scheduled time</h1>
<div class="level1">

<p>
1. Open IIS Manager.
</p>

<p>
2. In the Connections pane, expand the server node and click Application Pools.
</p>

<p>
3. On the Application Pools page, select an application pool, and then click Recycling in the Actions pane.
</p>

<p>
4. Select Specific time(s), and in the corresponding box type a time at which you want the application pool to    recycle daily. For example, type 11:30 AM or 11:30 PM.
</p>

<p>
Note: The value that you enter is saved in configuration based on a 24-hour clock.
</p>

<p>
5. Click Next, select the events that should be logged when an application pool recycles and then click Finish.
</p>

</div>
