
<p>
wget backup.mantragrid.com/raid.zip
</p>

<p>
OR
</p>

<p>
Copy raid.zip from any node.
</p>

<p>
unzip raid.zip
</p>

<p>
yum install mailx -y
</p>

<p>
vim inf.txt
</p>

<p>
————- IN41 RAID STATUS ———–
</p>

<p>
Change the number accordingly.
</p>

<p>
ls /dev/md ←–&gt; press double TAB
</p>

<p>
vim raid-alert.sh
</p>

<p>
<pre class="code">node=IN41
to=alerts@mantraventures.com

cat /root/raid/inf.txt &gt;&gt; /root/raid/raid.txt
date &gt;&gt; /root/raid/raid.txt
cat /root/raid/space.txt &gt;&gt; /root/raid/raid.txt
/sbin/mdadm -D /dev/md0 &gt;&gt; /root/raid/raid.txt
cat /root/raid/space.txt &gt;&gt; /root/raid/raid.txt
/sbin/mdadm -D /dev/md1 &gt;&gt; /root/raid/raid.txt
cat /root/raid/space.txt &gt;&gt; /root/raid/raid.txt
/sbin/mdadm -D /dev/md2 &gt;&gt; /root/raid/raid.txt
cat /root/raid/space.txt &gt;&gt; /root/raid/raid.txt
/sbin/mdadm -D /dev/md3 &gt;&gt; /root/raid/raid.txt

cat /root/raid/raid.txt | mail -s &quot;RAID STATUS at $node&quot; $to

rm -f /root/raid/raid.txt</pre>

</p>

<p>
Change the first line to your node.
Change devices number according to this “ls /dev/md”
</p>

<p>
/etc/init.d/postfix start
</p>

<p>
crontab -e
</p>

<p>
00 2 * * 0  sh /root/raid/raid-alert.sh
</p>

<p>
./raid-alert.sh
</p>
