
<h1 class="sectionedit1" id="xen-hvm_iso">Xen-HVM ISO</h1>
<div class="level1">

<p>
Upload your iso&#039;s to the <strong>Master server</strong> and place them in <strong>/home/solusvm/xen/iso</strong>.
</p>

</div>
