<div class="tags"><span>
	<a href="/tag/monitoring?do=showtag&amp;tag=monitoring" class="wikilink1" title="tag:monitoring" rel="tag">monitoring</a>
</span></div>

<h2 class="sectionedit1" id="setup_newrelic_monitoring_for_server_app">Setup Newrelic monitoring for server &amp; app</h2>
<div class="level2">
<hr />

<p>
For setting <a href="https://blog.newrelic.com/" class="urlextern" title="https://blog.newrelic.com/" rel="nofollow">Newrelic</a> monitoring you have 2 methods:
</p>
<ul>
<li class="level1"><div class="li"> Using Script (easy &amp; fast.)</div>
</li>
<li class="level1"><div class="li"> Manual</div>
</li>
</ul>

<p>
<span style='font-family: inherit; font-size:16px; color: inherit;  background-color: inherit '><strong> Using Script : </strong></span>
</p>

<p>
<span style='font-family: inherit; font-size:14px; color: inherit;  background-color: inherit '>1. Go to  <em>  <strong> /root/mantra </strong>  </em> directory &amp; run  <strong>  <em> newrelic.sh </em>  </strong> script file on bash.</span>
</p>

<p>
<code><span style='font-family: inherit; font-size:14px; color: inherit;  background-color: inherit '>bash newrelic.sh</span> </code>
</p>

<p>
<em><span style='font-family: inherit; font-size:14px; color: inherit;  background-color: inherit '>Note :</span> </em>
</p>

<p>
<em><span style='font-family: inherit; font-size:14px; color: inherit;  background-color: inherit '>a. This script will guide you for further options, use them and setup as per your requirements.</span> </em>
</p>

<p>
<em>b. For App monitoring : it only supports php apps, for other use manual method. </em>
</p>

<p>
<em>c.  If you don&#039;t find this script then copy it from another magento server. Don&#039;t worry this script is generic.</em>
</p>

<p>
<strong><span style='font-family: inherit; font-size:16px; color: inherit;  background-color: inherit '>Manual :</span> </strong>
</p>

<p>
<span style='font-family: inherit; font-size:14px; color: inherit;  background-color: inherit '>Login to Mantragrid&#039;s newrelic account.</span>
</p>

<p>
1. Setup newrelic <a href="https://rpm.newrelic.com/accounts/369539/servers/get_started" class="urlextern" title="https://rpm.newrelic.com/accounts/369539/servers/get_started" rel="nofollow">server monitoring</a>.
</p>

<p>
2. Setup <a href="https://rpm.newrelic.com/accounts/369539/applications/setup" class="urlextern" title="https://rpm.newrelic.com/accounts/369539/applications/setup" rel="nofollow">app monitoring</a>.
</p>

</div>
<!-- EDIT1 SECTION "Setup Newrelic monitoring for server & app" [21-] -->