
<p>
PolicyD activation procedure on Zimbra 8, fully tested
</p>

<p>
<strong>ACTIVATING POLICYD ADDON</strong>
</p>

<p>
<pre class="code">su - zimbra
zmprov ms `zmhostname` +zimbraServiceInstalled cbpolicyd +zimbraServiceEnabled cbpolicyd

zmlocalconfig -e postfix_enable_smtpd_policyd=yes

zmprov mcf +zimbraMtaRestriction &quot;check_policy_service inet:127.0.0.1:10031&quot;

zmlocalconfig -e cbpolicyd_log_level=4; zmlocalconfig -e cbpolicyd_log_detail=modules,tracking,policies; zmlocalconfig -e cbpolicyd_module_accesscontrol=1 cbpolicyd_module_checkhelo=1 cbpolicyd_module_checkspf=1 cbpolicyd_module_greylisting=1 cbpolicyd_module_quotas=1

zmcontrol restart</pre>

</p>

<p>
<strong>WEB UI ACTIVATION FOR POLICYD MANAGEMENT</strong>
</p>

<p>
<pre class="code">cd /opt/zimbra/httpd/htdocs/ &amp;&amp; ln -s ../../cbpolicyd/share/webui</pre>

</p>

<p>
Modify file /opt/zimbra/cbpolicyd-2.1.0-beta/share/webui/includes/config.php
and mark a comment (#) to the line begining with: $DB_DSN and add the following code before line begining with : $DB_USER 
<pre class="code">vi /opt/zimbra/cbpolicyd-2.1.0-beta/share/webui/includes/config.php </pre>

</p>

<p>
<pre class="code">$DB_DSN=&quot;sqlite:/opt/zimbra/data/cbpolicyd/db/cbpolicyd.sqlitedb&quot;;</pre>

</p>

<p>
<strong>Get The Web UI Files</strong>
</p>

<p>
<pre class="code">cd /srv/
wget -c http://devlabs.linuxassist.net/attachments/download/230/cluebringer-snapshot-2.1.x-201205100639.tar.gz
tar -zxvf cluebringer-snapshot-2.1.x-201205100639.tar.gz
cd cluebringer-snapshot-2.1.x-201205100639/webui/
cp *.php *.css /opt/zimbra/cbpolicyd/share/webui/</pre>

</p>

<p>
<strong>Reload Web service</strong>
</p>

<p>
<pre class="code">su - zimbra -c &quot;zmapachectl restart&quot;</pre>

</p>

<p>
<strong>Open Webui Port For PolicyD Management Console</strong>
</p>

<p>
<pre class="code">iptables -I INPUT -p tcp --dport 7780 -m state --state NEW,ESTABLISHED -j ACCEPT</pre>

</p>

<p>
Try to open PolicyD web management by accessing the following <abbr title="Uniform Resource Locator">URL</abbr> : 
<a href="http://IpAddressOfZimbra:7780/webui/index.php" class="urlextern" title="http://IpAddressOfZimbra:7780/webui/index.php" rel="nofollow">http://IpAddressOfZimbra:7780/webui/index.php</a>
</p>

<p>
<strong>Note:</strong> Please close the Port again after Modifying the Policy on Production Server
<pre class="code">iptables -A INPUT -p tcp --destination-port 7780 -j DROP</pre>

</p>

<p>
References: 
<a href="http://wiki.zimbra.com/wiki/Postfix_Policyd#Postfix_Cluebringer_Policyd_in_Zimbra" class="urlextern" title="http://wiki.zimbra.com/wiki/Postfix_Policyd#Postfix_Cluebringer_Policyd_in_Zimbra" rel="nofollow">http://wiki.zimbra.com/wiki/Postfix_Policyd#Postfix_Cluebringer_Policyd_in_Zimbra</a>
<a href="http://wiki.policyd.org/installing" class="urlextern" title="http://wiki.policyd.org/installing" rel="nofollow">http://wiki.policyd.org/installing</a>
</p>
