
<p>
Installing Vesta control panel
</p>

<p>
1) Download the install script from vestacp.com
<pre class="code">wget http://vestacp.com/pub/vst-install.sh</pre>

2) Give exectue permission on the script and execute it.
<pre class="code"> chmod +x vst-install.sh
 ./vst-install.sh</pre>

</p>

<p>
3) Open Dashboard in browser.
<pre class="code">http://domain:8083</pre>

</p>
