
<h1 class="sectionedit1" id="reset_a2billing_root_password">Reset A2billing root password</h1>
<div class="level1">

<p>
If you lose or forget your a2billing 1.4 root password then there is a simple procedure for resetting it by editing the MySQL database.
</p>

<p>
To do this you’ll need to get SSH access to your server. If you use Windows then Putty is a good, free application for this.
</p>

<p>
1. Log in to your server as root
</p>

<p>
2. Determine the database name, user and password for your A2Billing database
</p>

<p>
head -n 15 /etc/a2billing.conf
The settings are normally at the top of the file so we just need the first 15 lines. Here’s mine -
</p>

<p>
user = a2billing-user <br/>

password = a2billing-password<br/>

dbname = mya2billing
</p>

<p>
3. Log in to MySQL using the details we just got for the A2Billing database -
</p>

<p>
mysql -u a2billing-user -p mya2billing
</p>

<p>
Enter password:
</p>

<p>
4. Change the password for root to ‘changepassword’. This is the default password and is now stored encoded as opposed to plain text as in A2Billing 1.3
</p>

<p>
mysql&gt; update cc_ui_authen set pwd_encoded = &#039;410fc6268dd3332226de95e42d9efa4046c5463769d7493b85e65cfa5c26362dc2455cc23c0bc5831deb008def4ab11a9eaa9b76ba3f377da134f39ec60dd758&#039; where login=&#039;root&#039;;
</p>

<p>
5. You should now be able to login to A2Billing using the username/password of root/changepassword.
</p>

</div>
