
<p>
<strong>Note: Before all make sure mailx is installed on the server, if not install it by “yum install mailx”.</strong>
</p>

<p>
1. Open the file /etc/munin/munin.conf and add following lines. (Take a backup of same before any changes).
</p>
<pre class="code">  contact.me.command mail -s &quot;Munin notification ${var:host}&quot; alerts@mantraventures.com
  contact.me.always_send critical
   
  [server.hostname.com]
   address 127.0.0.1
   use_node_name yes
   exim_mailqueue.mails.critical &lt;limit of mails&gt;
   </pre>

<p>
2. Restart the munin node.
</p>
<pre class="code">  
  service munin-node restart</pre>

<p>
(For More Notification options <a href="http://blog.secaserver.com/2012/03/cpanel-trigger-alert-munin/" class="urlextern" title="http://blog.secaserver.com/2012/03/cpanel-trigger-alert-munin/" rel="nofollow">http://blog.secaserver.com/2012/03/cpanel-trigger-alert-munin/</a> )
</p>

<p>
NOTE:- If receiving MySQL InnoDB free tablespace WARNING do following.
</p>

<p>
1. Create the following file:
</p>
<pre class="code">  nano /etc/munin/plugin-conf.d/mysql_innodb</pre>

<p>
2. paste the following code:
</p>
<pre class="code">  [mysql_innodb]
   env.warning 0
   env.critical 0
   </pre>

<p>
3. Restart the munin node.
</p>
<pre class="code">  
  service munin-node restart     </pre>

<p>
4. If mails limit is showing default ( 100 and 200) then make the changes in following file and set the limit.
</p>
<pre class="code">  /usr/share/munin/plugins/exim_mailqueue
  
  or
  
  /etc/munin/plugins/exim_mailqueue
  
  service munin-node restart
  </pre>
