
<h1 class="sectionedit1" id="reset_root_password_of_linux_vmguest_in_kvm">Reset Root Password of linux VM/Guest in KVM</h1>
<div class="level1">

<p>
1. Reboot the VPS and quickly open the VNC.
</p>

<p>
2. Keep Pressing &#039;Esc&#039; key until boot menu not come. ( If boot menu already gone then again reboot the VPS)
</p>

<p>
3. Select existing linux kernel and press &#039;e&#039;.
</p>

<p>
4. Now select line that correspond to the “kernel” and press &#039;e&#039;.
</p>

<p>
5. Add following at the end of the line.
</p>
<pre class="code">    init=/bin/bash </pre>

<p>
6. Press &#039;Enter&#039; to save and then press &#039;b&#039; to boot the system.
</p>

<p>
7. After booting you will get the root shell. In this type following.
</p>
<pre class="code">    passwd
    </pre>

<p>
8. Now enter your new root password. 
</p>

</div>
