
<p>
To rebuild a RAID array when a drive fails.
</p>

<p>
1) Replacing the drive in the same slot:
</p>
<ul>
<li class="level1"><div class="li"> Check drive status:</div>
</li>
</ul>

<p>
   /opt/MegaRAID/CmdTool2/CmdTool2 -PDList -a0 (Assuming RAID array is 0)
</p>
<ul>
<li class="level1"><div class="li"> Check missing drive in RAID array:</div>
</li>
</ul>

<p>
   /opt/MegaRAID/CmdTool2/CmdTool2 -PDGetMissing -a0
</p>
<ul>
<li class="level1"><div class="li"> Change drive status to Unconfigured good</div>
</li>
</ul>

<p>
   /opt/MegaRAID/CmdTool2/CmdTool2 -PDMakeGood -PhysDrv[252:0] -a0  (Assuming failed drive was [252:0])
</p>
<ul>
<li class="level1"><div class="li"> Replace drive in the array:</div>
</li>
</ul>

<p>
   /opt/MegaRAID/CmdTool2/CmdTool2 -PDReplaceMissing -PhysDrv[252:0] -Array0 -Row0 -a0
</p>
<ul>
<li class="level1"><div class="li"> Rebuild Array:</div>
</li>
</ul>

<p>
   /opt/MegaRAID/CmdTool2/CmdTool2 -PDRbld -Start -PhysDrv[252:0] -a0
</p>
