
<h1 class="sectionedit1" id="random_ip_script_for_mailing_server">Random IP script for Mailing server</h1>
<div class="level1">

<p>
<a href="/_media/multipleip.txt" class="media mediafile mf_txt" title="multipleip.txt">multipleip.txt</a>
</p>

<p>
1. Login to the server for which Multiple IP script is to be used.
</p>

<p>
2. Goto /etc
</p>

<p>
3. Copy exim.conf and exim.pl files as exim.conf.bak and exim.pl.bak
</p>

<p>
4. Now, open exim.conf file and make the changes given in attached file MultipleIP.txt.
</p>

<p>
5. Open exim.pl file and make the changes given in attached file MultipleIP.txt.
</p>

<p>
6. After all this, type the following commands:
<pre class="code">chattr +aui /etc/exim.conf 
chattr +aui /etc/exim.pl</pre>

(This prevents any changes to file exim.conf when cPanel/WHM is automatically upgraded)
</p>

<p>
7. Restart exim: /etc/init.d/exim restart
</p>

<p>
DONE
</p>

</div>
