
<p>
1. <a href="http://wiki.zimbra.com/wiki/ZmSetServerName#Steps_to_change_the_Zimbra_server.27s_hostname_using_zmsetservername" class="urlextern" title="http://wiki.zimbra.com/wiki/ZmSetServerName#Steps_to_change_the_Zimbra_server.27s_hostname_using_zmsetservername" rel="nofollow">http://wiki.zimbra.com/wiki/ZmSetServerName#Steps_to_change_the_Zimbra_server.27s_hostname_using_zmsetservername</a>
</p>

<p>
2. <a href="http://www.zimbra.com/forums/migration/35975-solved-logger-mismatch-after-change-servername.html" class="urlextern" title="http://www.zimbra.com/forums/migration/35975-solved-logger-mismatch-after-change-servername.html" rel="nofollow">http://www.zimbra.com/forums/migration/35975-solved-logger-mismatch-after-change-servername.html</a>
</p>
