
<h1 class="sectionedit1" id="install_crond_on_centos_5x">Install crond on CentOS 5.x</h1>
<div class="level1">

<p>
yum -y install cron* vixie-cron
</p>

<p>
/etc/init.d/crond start
</p>

<p>
chkconfig crond on
</p>

</div>
