
<h1 class="sectionedit1" id="install_ssl_certificate_on_whmcs">Install SSL certificate on WHMCS</h1>
<div class="level1">

<p>
Follow the instructions below to set up SSL on your domain.
</p>

<p>
1)  Install the SSL certificate issued by the respective certificate authority in the cpanel.
</p>
<ul>
<li class="level1"><div class="li">  Go to cPanel account → SSL/TLS Manager → Activate SSL on your website:</div>
</li>
<li class="level2"><div class="li">    Select the domain for which you wish you have requested the SSL certificate for and then either fetch the certificate automatically or manually paste it in the section provided.</div>
</li>
<li class="level2"><div class="li">    This will activate the SSL host.</div>
</li>
</ul>

<p>
2)  Create or modify existing .htaccess file in the cPanel as follows:
</p>
<ul>
<li class="level1"><div class="li"> The follow code (which you should place inside your .htaccess file), will force all requests to the WHMCS folder to be done via https, unless it is the whmcs/dl.php file.    </div>
</li>
<li class="level3"><div class="li">     The code after, will force the whmcs/dl.php to redirect from https to http.</div>
</li>
</ul>

<p>
  RewriteEngine on
</p>
<pre class="code">Options +FollowSymlinks</pre>

<p>
<pre class="code">  #Rewrite the URL for WHMCS to always use https except for the whmcs/dl.php file
  RewriteCond %{REQUEST_URI} !^/dl.php [NC]
  RewriteCond %{REQUEST_URI} ^/ [NC]
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule ^(.*)$ https://www.domain.com/$1 [R=301,L]

  #Rewrite the URL for WHMCS dl area to always use http
  RewriteCond %{REQUEST_URI} ^/dl.php [NC]
  RewriteCond %{SERVER_PORT} !^80$
  RewriteRule ^(.*)$ http://www.domain.com/$1 [R=301,L]</pre>

2)  Login to the WHMCS admin account :
</p>
<ul>
<li class="level1"><div class="li"> Open &#039;Configuration&#039; → &#039;General Configuration</div>
</li>
<li class="level1"><div class="li"> Set WHMCS System <abbr title="Uniform Resource Locator">URL</abbr> to https:<em>&lt;<a href="http://www.yourdomain.com/whmcs" class="urlextern" title="http://www.yourdomain.com/whmcs" rel="nofollow">www.yourdomain.com/whmcs</a>&gt;/ (note the s within https)
  * Set WHMCS SSL System <abbr title="Uniform Resource Locator">URL</abbr> to empty
</div>
</li>
</ul>

</div>
