
<p>
[mysql]<br/>

</p>

<p>
# CLIENT #<br/>

#port                          = 3306 <code># only if mysql needs to access from outside server</code> <br/>

socket                         = /var/lib/mysql/mysql.sock <br/>

</p>

<p>
[mysqld] <br/>

symbolic-links=0 <br/>

</p>

<p>
# GENERAL # <br/>

user                           = mysql <br/>

default-storage-engine         = InnoDB <br/>

socket                         = /var/lib/mysql/mysql.sock <br/>

pid-file                       = /var/lib/mysql/mysql.pid <br/>

</p>

<p>
# MyISAM # <br/>

key-buffer-size                = 16M <code># permanent buffer</code> <br/>

myisam-recover                 = FORCE,BACKUP <br/>

</p>

<p>
# SAFETY # <br/>

max-allowed-packet             = 4M <br/>

max-connect-errors             = 1000000 <br/>

</p>

<p>
# DATA STORAGE #
datadir                        = /var/lib/mysql/ <br/>

</p>

<p>
# CACHES AND LIMITS # <br/>

tmp-table-size                 = 16M <code># temporary buffer</code> <br/>

max-heap-table-size            = 16M <code># temporary buffer</code> <br/>

query-cache-type               = 0   <br/>

query-cache-size               = 0   <br/>

max-connections                = 500 <br/>

thread-cache-size              = 30  <br/>

read_buffer_size               = 1M  <br/>

sort_buffer_size               = 1M  <br/>

open-files-limit               = 65535  <br/>

table-definition-cache         = 1024  <code># temporary buffer</code><br/>

table-open-cache               = 16M  <code># temporary buffer</code><br/>

</p>

<p>
# INNODB #<br/>

innodb-flush-method            = O_DIRECT <br/>

innodb-log-files-in-group      = 2 <br/>

innodb-log-file-size           = 128M <br/>

innodb-flush-log-at-trx-commit = 1 <br/>

innodb-file-per-table          = 1 <br/>

innodb-buffer-pool-size        = 1024M <code>#must be 1/3 of total RAM</code> <br/>

</p>

<p>
# LOGGING # <br/>

log-error                      = /var/log/mysql/mysql-error.log <code>#/var/log/mysql dir. must exists</code><br/>

<code># Slow query logging</code> <br/>

#log-queries-not-using-indexes  = 1 <br/>

#slow-query-log                 = 2 <code># slow query logging time in seconds</code> <br/>

#slow-query-log-file            = /var/log/mysql/mysql-slow.log <br/>

</p>

<p>
[mysqldump] <br/>

quick <br/>

max_allowed_packet = 4M <br/>

</p>
