
<p>
Step 1. First, you need to enable EPEL repository on your system and start by ensuring your system is up-to-date.
</p>

<p>
yum -y install git python-tools python-pip
</p>

<p>
Step 2 . Installing LetsEncrypt SSL.
</p>

<p>
git clone <a href="https://github.com/letsencrypt/letsencrypt" class="urlextern" title="https://github.com/letsencrypt/letsencrypt" rel="nofollow">https://github.com/letsencrypt/letsencrypt</a>.<br/>

cd letsencrypt<br/>

./letsencrypt-auto certonly -a standalone -d yourdomain.com -d <a href="http://www.yourdomain.com" class="urlextern" title="http://www.yourdomain.com" rel="nofollow">www.yourdomain.com</a><br/>

LetsEncrypt puts its keys in this directory /etc/letsencrypt<br/>

First create SSL directory to host your SSL certificates.<br/>

mkdir /etc/nginx/ssl<br/>

cd /etc/nginx/ssl
</p>

<p>
Step 3. Generating Your SSL Key and CSR.<br/>

1 mkdir /etc/nginx/ssl<br/>

2 cd /etc/nginx/ssl<br/>

openssl genrsa -des3 -out server.key 2048<br/>

openssl req -new -key server.key -out server.csr
</p>

<p>
Step 4. Configure the Certificate for Nginx. Add following entries in your .conf file :-
</p>

<p>
# SSL configuration<br/>

listen 443 ssl default_server;<br/>

ssl_certificate /etc/letsencrypt/live/your_domain.tld/fullchain.pem;<br/>

ssl_certificate_key /etc/letsencrypt/live/your_domain.tld/privkey.pem;<br/>

ssl_protocols TLSv1 TLSv1.1 TLSv1.2;<br/>

ssl_prefer_server_ciphers on;<br/>

ssl_ciphers &#039;EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH&#039;;
</p>

<p>
nginx -t<br/>

service nginx restart
</p>

<p>
<a href="https://yourdomain.com" class="urlextern" title="https://yourdomain.com" rel="nofollow">https://yourdomain.com</a>.
</p>
