<pre class="code">http://&lt;IP_of_AWS_instance&gt;/accelstattable</pre>
<pre class="code">http://&lt;IP_of_AWS_instance&gt;/accelstattext?all</pre>

<p>
Parameters:
</p>
<ul>
<li class="level1"><div class="li"> R/Sec: requests per second</div>
</li>
<li class="level1"><div class="li"> RTime: average response time</div>
</li>
<li class="level1"><div class="li"> OrigS: configured, heathy and admin_disabled origin servers, separated by ”:” (colon)</div>
</li>
<li class="level1"><div class="li"> CConn: number of open client connections</div>
</li>
<li class="level1"><div class="li"> OConn: number of open origin server connections</div>
</li>
<li class="level1"><div class="li"> OCR %: overall caching ratio (cacheable request, served fresh to all requests)</div>
</li>
<li class="level1"><div class="li"> SCR %: specific caching ratio (cacheable request, served fresh to cacheable requests)</div>
</li>
<li class="level1"><div class="li"> CEntr: number of cached responses</div>
</li>
<li class="level1"><div class="li"> OutBW: output bandwidth in KB/sec</div>
</li>
<li class="level1"><div class="li"> BRR: bad request per second and responses per second, separated by ”:” (colon) </div>
</li>
</ul>
