
<h1 class="sectionedit1" id="change_sip_port_in_elastix">Change SIP port in elastix</h1>
<div class="level1">

<p>
Login to server as root.
</p>

<p>
cd /etc/asterisk
</p>

<p>
vi sip.conf
</p>

<p>
Add following lines under general:
</p>

<p>
port=10001 <br/>

bindport=10001
</p>

<p>
Save the file and restart:
</p>

<p>
/etc/init.d/asterisk restart
</p>

</div>
