
<h1 class="sectionedit1" id="add_remote_linux_server_for_monitoring">Add remote linux server for monitoring</h1>
<div class="level1">

<p>
1) Login to remote server shell:
</p>

<p>
yum -y install net-snmp net-snmp-utils
</p>

<p>
2) Move the main file snmpd.conf file:
</p>

<p>
mv /etc/snmp/snmpd.conf /etc/snmp/snmp.bak.conf
</p>

<p>
Create a new file:
</p>

<p>
vi /etc/snmp/snmpd.conf
</p>

<p>
And add:
</p>

<p>
rocommunity  public  127.0.0.1  .1
</p>

<p>
rocommunity  public  &lt;IP address of zenoss server&gt;  .1
</p>

<p>
3) Start SNMP:
</p>

<p>
/etc/init.d/snmpd start
</p>

<p>
chkconfig snmpd on
</p>

<p>
4) Login to Zenoss UI and clik on “Infrastructure” tab.
</p>

<p>
5) Add a new server with the Device Class as /Server/Remote.
</p>

<p>
NOTE: Make sure UDP port 161 is unblocked on the remote server!
</p>

</div>
