
<p>
Run Following command to see the number of connection per IP.
</p>

<p>
<pre class="code">netstat -anp | grep &#039;tcp\|udp&#039; | awk &#039;{print $5}&#039; | cut -d: -f1 | sort | uniq -c | sort -n</pre>

</p>
