
<p>
1. Download the application from <a href="http://download.hetzner.de/tools/LSI/" class="urlextern" title="http://download.hetzner.de/tools/LSI/" rel="nofollow">http://download.hetzner.de/tools/LSI/</a> and then upload it to the server <br/>

2. Unzip the file. <br/>

3. Goto the folder /linux and run:
<pre class="code">rpm -i MegaCli-x.x.x.x.x.rpm</pre>

</p>

<p>
Now, the application is installed in /opt/MegaRAID/MegaCli/MegaCli64 .
</p>

<p>
For checking whether drive is online or not: <br/>

/opt/MegaRAID/MegaCli/MegaCli64 -PDList -a0 | grep Firmware
</p>

<p>
For checking other details of drive also: <br/>

/opt/MegaRAID/MegaCli/MegaCli64 -PDList -Aall
</p>

<p>
For relevant info about drives: <br/>

/opt/MegaRAID/MegaCli/MegaCli64 -PDList -aAll | egrep “Enclosure Device ID:|Slot Number:|Inquiry Data:|Error Count:|state”
</p>
