
<h1 class="sectionedit1" id="mail_queue_alert_in_zimbra">Mail Queue Alert in Zimbra</h1>
<div class="level1">

<p>
1. Create a file queue.sh
</p>

<p>
2. Change it&#039;s permission
</p>
<pre class="code"> chmod +x queue.sh</pre>

<p>
3. Copy following to the this file. (Change the entries as per server)
</p>
<pre class="code">#!/bin/bash

hostname=&lt;hostname of server&gt;
to=alerts@mantraventures.com
limit=250

mail=&quot;&lt;absolute path of postqueue(e.g. /opt/zimbra/postfix-2.10.0.2z/sbin/postqueue)&gt; -p | tail -n 1 |    cut -d&#039; &#039; -f5&quot;

queue=$(bash -c &quot;$mail&quot;)

if [ $queue -gt $limit ];then

echo &quot;Queued mails on $hostname is $queue&quot; | mail -s &quot;Mail Queue Alert at $hostname&quot; $to

fi</pre>

<p>
4. Add following to the cron to run the script hourly.
</p>
<pre class="code">   0 * * * *  sh /root/queue.sh
   </pre>

<p>
<strong>NOTE: Make sure mailx is installed on the server, if not install it.</strong>
</p>

</div>
