
<h1 class="sectionedit1" id="multiple_domains_signing_mails_dkim">Multiple domains signing mails(DKIM)</h1>
<div class="level1">

<p>
domain=DOMAIN
</p>

<p>
This argument serves two purposes. First, it selects which messages (of all those DKIMproxy sees) that should be signed. Second, it specifies what d= value to put in the generated signatures.<br/>

</p>

<p>
You can specify multiple domains by separating them with commas. If only one domain is specified, DKIMproxy will sign ALL messages, and it will use the specified domain as the d= value of all generated signatures.<br/>

</p>

<p>
If two or more domains are specified, DKIMproxy will only sign messages which have a sender matching one of these domains. It will use the matched domain as the d= value of the generated signature.<br/>

</p>

<p>
Please note that the d= value of the generated signature can also be specified using signature options (see /“SIGNATURE OPTIONS”). The signature options will override the value specified here.<br/>

</p>

<p>
Therefore, if you want to sign all messages, and you are specifying a d= value as part of the “signature” argument, or within a sender map file or list-id map file, you can omit the “domain” argument.<br/>

</p>

<p>
SENDER MAP FILE
</p>

<p>
If you want to use different signature properties depending on the sender of the message being signed, use a “sender map file”. This is a lookup file containing sender email addresses on the left and signature properties on the right. E.g.<br/>

</p>

<p>
# sign my mail with a EXAMPLE.COM dkim signature<br/>

jason@long.name dkim(d=example.com)<br/>

</p>

<p>
# sign WIDGET.EXAMPLE mail with a default domainkeys signature<br/>

widget.example domainkeys<br/>

</p>

<p>
# sign EXAMPLE.ORG mail with both a domainkeys and dkim signature<br/>

example.org dkim(c=relaxed,a=rsa-sha256), domainkeys(c=nofws)
</p>

</div>
