
<p>
<strong>Target <abbr title="Operating System">OS</abbr>–&gt; CentOS/RHEL/Fedora
</strong>
</p>

<p>
Ansible is an open-source software platform for configuring and managing computers. It combines multi-node software deployment, ad hoc task execution, and configuration management. It manages nodes over SSH and does not require any additional remote software to be installed on them. Modules work over JSON and standard output and can be written in any programming language. The system uses YAML to express reusable descriptions of systems
</p>

<p>
For Installing Ansible we&#039;ll setup 11.11.11.11 as server and 22.22.22.22 and 33.33.33.33 as clients
</p>

<p>
Install Ansible by running the following on 11.11.11.11
</p>

<p>
<code> rpm -Uvh <a href="http://download.fedoraproject.org/pub/epel/6/i386/epel-release-6-8.noarch.rpm" class="urlextern" title="http://download.fedoraproject.org/pub/epel/6/i386/epel-release-6-8.noarch.rpm" rel="nofollow">http://download.fedoraproject.org/pub/epel/6/i386/epel-release-6-8.noarch.rpm</a></code>
</p>

<p>
<code>yum install -y ansible</code>
</p>

<p>
Since Ansible utilizes SSH for connectivity there is no client package needed, simply install OpenSSH on client machines.
</p>

<p>
Setting up SSH keys for password less login :
Generate the ssh key on the Ansible server
</p>

<p>
<code>ssh-keygen -t rsa -C root@11.11.11.11</code>
</p>

<p>
You will be asked to specify the file location of the created key pair, a passphrase, and the passphrase confirmation. Press ENTER through all of these to accept the default values. Your new keys are available in your root&#039;s ~/.ssh directory. The public key (the one you can share) is called id_rsa.pub. The private key (the one that you keep secure) is called id_rsa.
</p>

<p>
Now copy the public key generated in the previous step on the client machines
</p>

<p>
<code>ssh-copy-id root@22.22.22.22</code>
</p>

<p>
<code>ssh-copy-id root@33.33.33.33</code>
</p>

<p>
To verify that we&#039;ve correctly copied keys on the client server, just ssh as root to the client server, you should be able to login without any password
</p>

<p>
Adding host/clients:
Open /etc/ansible/hosts and comment ever line with #, Ansible supports adding hosts both as ungrouped and grouped. Here we add two hosts under the group [hosts],
</p>

<p>
<code>[hosts]</code>  #groupname
</p>

<p>
<code> host1 ansible_ssh_host=22.22.22.22</code>
</p>

<p>
<code> host2 ansible_ssh_host=33.33.33.33</code> #host1, host1 are aliases
</p>

<p>
The group_name is an organizational tag that lets you refer to any servers listed under it with one word. The alias is just a name to refer to that server. Now that we have our hosts/clients set up we&#039;ll try to ping them
</p>

<p>
Ping all of the hosts you configured by: 
</p>

<p>
<code>ansible -m ping all</code>
</p>

<p>
Here “all” means all hosts. We could also specify a group:
</p>

<p>
<code>ansible -m ping hosts</code>
</p>

<p>
For an individual host:
</p>

<p>
<code>ansible -m ping host1</code>
</p>

<p>
Ansible has a number of built-in modules suitable for different functions, here we use “shell” module that lets us send a terminal command to the remote host and retrieve the results.
</p>

<p>
<code> ansible -m shell -a &#039;fdisk -l&#039; hosts</code>
</p>

<p>
To check, restart, stop a service on remote host we&#039;ll use the “service” module
In the example below we&#039;ll restart nginx on client server1
</p>

<p>
<code> ansible server1 -m service -a &#039;name=nginx state=restarted</code>&#039;
</p>

<p>
To run a script on a host.
</p>

<p>
<code>ansible server1 -m newrelic.sh</code>
</p>

<p>
Scripts should be placed in /usr/share/ansible/utilities/ or their absolute path should be specified as an argument.
</p>
