
<p>
The Zimbra configuration suite MTA can be configured to accept mail traffic on additional SMTP service ports. This means more than one TCP port can be used to bind to the SMTP daemon.
</p>

<p>
By default MTAs run on port 25.
Open <code>/opt/zimbra/postfix/conf/master.cf.in</code> and find the line mentioned below:
</p>

<p>
<code>  smtp      inet  n       -       n       -       -       smtpd</code>
</p>

<p>
To add an additional listener port of 2525, insert the the following after the above:
</p>

<p>
<code>2525      inet  n       -       n       -       -       smtpd</code>
</p>

<p>
One thing to remember is, only unprivileged ports should be used when configuring mailer daemon to run on multiple ports, here we have used port 2525. Privileged ports range from 1 to 1024, for more information about services and their default port numbers refer to
 <code>/etc/services</code>
</p>

<p>
Now restart your MTA:
</p>

<p>
<code>su - zimbra</code>
</p>

<p>
<code>zmmtactl stop</code>
</p>

<p>
<code>zmmtactl start</code>
</p>

<p>
Find status of services
</p>

<p>
<code>zmcontrol status</code>
</p>

<p>
Enabling SMTP SSL support on seperate port
</p>

<p>
As of ZCS v4.0.x, the default Zimbra postfix config does not have TLS enabled on separate port. If you want postfix to listen on different port for TLS (ie. SMTPS, as defined in /etc/services – port #465), you&#039;ll need the comment out the following line beginning with “smtps ….” in <code>/opt/zimbra/postfix/conf/master.cf</code>
</p>

<p>
<code>smtps    inet  n       -       n       -       -       smtpd
   -o smtpd_tls_wrappermode=yes -o smtpd_sasl_auth_enable=yes</code>
</p>

<p>
<strong>NOTE - that&#039;s TWO lines, and the second line MUST begin with whitespace</strong>
</p>

<p>
<strong>Caveats</strong>
</p>

<p>
Do not attempt to bind to ports in use by other applications. This will cause the MTA or other application to fail.
Backup /opt/zimbra/postfix/master.cf before an upgrade. Changes made to master.cf should only be applied to the current distribution after upgrading.
Any changes to Postfix &#039;master.cf&#039; will require restart steps detailed above.
There was a recent change that included master.cf.in. Any permanent changes should be made to the master.cf.in file.
</p>
