
<p>
Edit /etc/my.cnf file and add the following lines:
</p>
<pre class="code">long_query_time         = 1
log-slow-queries        = /var/log/mysql/mysql-slow.log</pre>

<p>
Restart mysql:
/etc/init.d/mysql restart
</p>
