
<h1 class="sectionedit1" id="restrict_access_to_certain_ip_s_in_apache_using_htaccess">Restrict access to certain IP&#039;s in Apache using .htaccess</h1>
<div class="level1">

<p>
Create a .htaccess file in the directory for which you want to disable public access and add following lines:
<pre class="code">&lt;Limit GET&gt;
order allow,deny
allow from &lt;IP1 to be allowed&gt;
allow from &lt;IP2 to be allowed&gt;
&lt;/Limit&gt;</pre>

</p>

</div>
