
<p>
Install CSF Firewall on CentOS
</p>

<p>
yum install -y perl-libwww-perl
</p>

<p>
cd /usr/local/src
</p>

<p>
wget <a href="https://download.configserver.com/csf.tgz" class="urlextern" title="https://download.configserver.com/csf.tgz" rel="nofollow">https://download.configserver.com/csf.tgz</a>
</p>

<p>
tar -zxvf csf.tgz
</p>

<p>
cd csf
</p>

<p>
./install.sh
</p>

<p>
rm -Rf /usr/local/src/csf* &amp;&amp; cd &amp;&amp; cp /etc/csf/csf.conf /etc/csf/csf.conf.bak
</p>
