
<p>
How to create SolusVM KVM G2 Template?
</p>

<p>
The first step when creating a G2 template is to work out what the partition number is that you wan&#039;t to resize on creation of a virtual server. You can run the following for the specified kvmID:
</p>
<blockquote><div class="no">
 /scripts/kvmtemplate –mode=prescan –vmid=kvm101 –generation=2</div></blockquote>

<p>
Example Output:
</p>
<blockquote><div class="no">
 Name Type VFS Label MBR Size Parent UUID /dev/sda1 filesystem ext4 - - 20G - 23261380-2181-4fee-bf1a-b7235d2b9ad9 /dev/sda2 filesystem swap - - 99M - d0bc2596-74ae-45b2-b2d4-d59f06b54d07 /dev/sda1 partition - - 83 20G /dev/sda - /dev/sda2 partition - - 82 99M /dev/sda - /dev/sda device - - - 20G - -</div></blockquote>

<p>
Now we can run a prepare on the source virtual server to remove any ssh keys, mac addresses and udev rules. Please note this is not fool proof. You should prepare the virtual server manually to make sure all history is removed and configuration files are clean. You may also need to make sure /etc/fstab is correct and any uuids are removed if this is a linux virtual server. Use vda for virtio and sda for ide.
</p>

<p>
Prepare the server. Run below command.
</p>
<blockquote><div class="no">
 /scripts/kvmtemplate –mode=prepare –vmid=kvm101 –generation=2</div></blockquote>

<p>
Once the source virtual server is ready to be packaged you simply run the package scripts. Example:
</p>
<blockquote><div class="no">
 /scripts/kvmtemplate –mode=package –vmid=kvm101 –generation=2</div></blockquote>

<p>
It may take a while for it to complete. Once it&#039;s done you will be given a location and filename for the template. Example:
</p>

<p>
Template: /home/solusvm/kvm/template/template-149fee41d5801f96368c959a00dd6092a56ba031.gz
</p>

<p>
The next step is to rename the template. Example:
</p>
<blockquote><div class="no">
 cd /home/solusvm/kvm/template/ mv template-149fee41d5801f96368c959a00dd6092a56ba031.gz linux-centos-6.8-x86_64-custom-gen2-v1.gz</div></blockquote>

<p>
Just make sure when adding the template to SolusVM you specify the correct generation and partition to resize.
</p>

<p>
<a href="http://wiki.mantraventures.com/solusvm/how-to-add-template-in-solusvm-for-kvm" class="urlextern" title="http://wiki.mantraventures.com/solusvm/how-to-add-template-in-solusvm-for-kvm" rel="nofollow">How to add KVM template in solusVM ?</a>
</p>
