
<h1 class="sectionedit1" id="monitoring_bandwidth_usage_using_vnstat">Monitoring Bandwidth Usage Using vnstat</h1>
<div class="level1">
<pre class="code">wget http://mirror-fpt-telecom.fpt.net/fedora/epel/6/i386/epel-release-6-8.noarch.rpm

rpm -ivh epel-release-6-8.noarch.rpm

yum install vnstat</pre>

<p>
Edit configuration
</p>
<pre class="code">vi /etc/sysconfig/vnstat</pre>

<p>
More reference:
</p>

<p>
<a href="http://www.cyberciti.biz/faq/centos-redhat-fedora-linux-install-vnstat-bandwidth-monitor/" class="urlextern" title="http://www.cyberciti.biz/faq/centos-redhat-fedora-linux-install-vnstat-bandwidth-monitor/" rel="nofollow">http://www.cyberciti.biz/faq/centos-redhat-fedora-linux-install-vnstat-bandwidth-monitor/</a>
</p>

</div>
