
<h1 class="sectionedit1" id="export_user_mailbox_to_tgz_file_zimbra">Export user mailbox to .tgz file (Zimbra)</h1>
<div class="level1">

<p>
1) Login as root user.
</p>

<p>
2) Run the following command:
</p>

<p>
/opt/zimbra/bin/zmmailbox -z -m <a href="mailto:&#x75;&#x73;&#x65;&#x72;&#x40;&#x64;&#x6f;&#x6d;&#x61;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;" class="mail" title="&#x75;&#x73;&#x65;&#x72;&#x40;&#x64;&#x6f;&#x6d;&#x61;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;">&#x75;&#x73;&#x65;&#x72;&#x40;&#x64;&#x6f;&#x6d;&#x61;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;</a> gru “<em>?fmt=tgz” &gt; &lt;path_to_tgz_file&gt;
</p>

</div>
