
<h1 class="sectionedit1" id="resizing_a_kvm_disk_image_on_lvm">Resizing a KVM disk image on LVM</h1>
<div class="level1">

<p>
1. Rename the /dev/VolGroup00/guest-vm volume and create a new one with the size we want to have it finally.
</p>
<pre class="code">  lvrename VolGroup00 guest-vm guest-vm-OLD</pre>

<p>
2. Now create the new LVM volume with the size of your choice:
</p>
<pre class="code">  lvcreate -L 20G -n guest-vm VolGroup00</pre>

<p>
3. Now execute the command below:
</p>

<p>
    <pre class="code"> virt-resize /dev/VolGroup00/guest-vm-OLD /dev/VolGroup00/guest-vm --expand /dev/vda1 </pre>

</p>

<p>
The above command will resize the VM&#039;s disk using the new /dev/VolGroup00/guest-vm LVM volume and afterwards it will resize the guest&#039;s disk image, which is /dev/vda1. Wait for the command to complete. Here&#039;s the output when we run the above command:
</p>

<p>
Output will be as follow
</p>

<p>
Examining /dev/VolGroup00/guest-vm-old …
</p>

<p>
 100% ⟦▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓⟧ –:–
</p>

<p>
<strong></strong><strong></strong><strong>
 
Summary of changes:
 
/dev/vda1: This partition will be resized from 10.0G to 20.0G.

 
</strong><strong></strong><strong></strong>
</p>

<p>
Setting up initial partition table on /dev/VolGroup00/guest-vm …
</p>

<p>
Copying /dev/vda1 …
</p>

<p>
 100% ⟦▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓⟧ 00:00
</p>

<p>
 100% ⟦▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓⟧ –:–
</p>

<p>
Expanding /dev/vda1 using the &#039;pvresize&#039; method …
</p>

<p>
Resize operation completed with no errors.  Before deleting the old 
disk, carefully check that the resized disk boots and works correctly.
Then remove the old disk after testing.
</p>

</div>
