
<h1 class="sectionedit1" id="copy_incoming_or_outgoing_mails_to_another_id">Copy Incoming or Outgoing mails to another ID</h1>
<div class="level1">

<p>
For cPanel 11, you need to edit the file /etc/cpanel_exim_system_filter.
</p>

<p>
 For older versions, the file is /etc/antivirus.exim.
</p>

<p>
Add the following to send a BCC to another email-ID:
</p>

</div>
<!-- EDIT1 SECTION "Copy Incoming or Outgoing mails to another ID" [1-245] -->
<h3 class="sectionedit2" id="for_incoming_mails">For Incoming mails:</h3>
<div class="level3">

<p>
<pre class="code">if first_delivery
and ( (&quot;$h_from:&quot; contains &quot;test1@test.com&quot;)
or (&quot;$h_from:&quot; contains &quot;test2@test.com&quot;)
or (&quot;$h_from:&quot; contains &quot;test3@test.com&quot;)
)
then
unseen deliver &quot;tracker@test.com&quot;
endif  </pre>

</p>

</div>
<!-- EDIT2 SECTION "For Incoming mails:" [246-487] -->
<h3 class="sectionedit3" id="for_outgoing_mails">For Outgoing mails:</h3>
<div class="level3">

<p>
<pre class="code">if first_delivery
and ( (&quot;$h_to:&quot; contains &quot;test1@test.com&quot;)
or (&quot;$h_to:&quot; contains &quot;test2@test.com&quot;)
or (&quot;$h_to:&quot; contains &quot;test3@test.com&quot;)
)
then
unseen deliver &quot;tracker@test.com&quot;
endif </pre>

</p>

</div>
<!-- EDIT3 SECTION "For Outgoing mails:" [488-] -->