
<p>
The traditional way of running PHP is with Apache HTTP Server using mod_php. In fact, mod_php was the most popular Apache module. But as the Internet grew and the technologies that power it evolved, other ways of serving PHP sites and applications became available. nginx, a server written to solve the <a href="http://www.kegel.com/c10k.html" class="urlextern" title="http://www.kegel.com/c10k.html" rel="nofollow">C10K problem</a>.
</p>

<p>
FastCGI in a Nutshell 
</p>
