
<p>
<pre class="code">
For CentOS Use this.

tail -n 100000 /var/log/maillog | grep &quot;sasl_username=&quot; &gt; /tmp/smtpauthlogins.txt


For Ubuntu OS use below command.


tail -n 100000 /var/log/mail.log | grep &quot;sasl_username=&quot; &gt; /tmp/smtpauthlogins.txt

then
cat /tmp/smtpauthlogins.txt  | grep -i sasl_username | awk {&#039;print $9&#039;} | sort | uniq -c | sort -n
</pre>

</p>
