
<h1 class="sectionedit1" id="got_a_packet_bigger_than_max_allowed_packet_bytes">Got a packet bigger than ‘max_allowed_packet’ bytes</h1>
<div class="level1">

<p>
Login as root.
</p>

<p>
Edit /etc/my.cnf
</p>

<p>
Add the following line:
</p>

<p>
set-variable = max_allowed_packet = 16MB
</p>

<p>
Save the file and restart mysql: /etc/init.d/mysqld restart
</p>

</div>
