
<h1 class="sectionedit1" id="setup_dkim_using_directadmin">Setup DKIM using DirectAdmin</h1>
<div class="level1">

<p>
Step 1 - update DirectAdmin
</p>

<p>
Before you can setup DKIM records for your domains you need to update your DirectAdmin to the latest version. This can be done by logging in to your DirectAdmin as an admin user and entering “Licensing / Updates” section, 
</p>

<p>
After that click “Update DirectAdmin” button at the bottom of the page.
</p>

<p>
Step 2 - configure DirectAdmin to support DKIM
</p>
<pre class="code">   nano /usr/local/directadmin/conf/directadmin.conf - opens the file &quot;directadmin.conf&quot;</pre>

<p>
- adds the line “dkim=1” at the bottom of the file “directadmin.conf”
</p>

<p>
{Optional}: You can add also add the line at the bottom of the “directadmin.conf” file by using following command:
</p>
<pre class="code">   echo &quot;dkim=1&quot; &gt;&gt; /usr/local/directadmin/conf/directadmin.conf </pre>

<p>
Note: if your “directadmin.conf” file is located somewhere else use the following command to locate it:
</p>
<pre class="code">      locate directadmin.conf</pre>

<p>
Step 3 - enable DKIM record set for domains
</p>

<p>
In order to set automatic DKIM record set for each new domain you will first have to enable it for the one of the currently active domains. This can be done by using DirectAdmin script called “dkim_create”. To run the script use following chain of commands:
</p>
<pre class="code">       cd /usr/local/directadmin/scripts
       ./dkim_create.sh &lt;domainame.com&gt;
       </pre>

<p>
After running the script DirectAdmin will automatically add DKIM records for all new domains. DKIM records can be found in your DirectAdmins users <abbr title="Domain Name System">DNS</abbr> Management section.
</p>

<p>
Step 4 - edit your exim configurations
</p>

<p>
First open “exim.conf” file using your favorite text editor:
</p>
<pre class="code">     nano /etc/exim.conf</pre>

<p>
After that find the line that contains text “remote_smtp” and add following information:
</p>
<pre class="code">   remote_smtp:
     driver = smtp
     dkim_domain = $sender_address_domain
     dkim_selector = x
     dkim_private_key = ${if exists{/etc/virtual/$sender_address_domain/dkim.private.key}   {/etc/virtual/$sender_address_domain/dkim.private.key}{0}}
     dkim_canon = relaxed
     dkim_strict = 0</pre>

<p>
Save the file and restart exim using following command:
</p>
<pre class="code">     service exim restart
     </pre>

</div>
