
<p>
1. Create new RAID-1 array
<pre class="code">mdadm --create --verbose /dev/md0 --level=1 --raid-devices=2 /dev/sda1 /dev/sdb1</pre>

</p>

<p>
Create RAID-10 array
<pre class="code">mdadm --create --verbose /dev/md0 --level=10 --raid-devices=4 /dev/sda1 /dev/sdb1 /dev/sdc1 /dev/sdd1</pre>

</p>

<p>
2. Fail disk from RAID array:
<pre class="code">mdadm --fail /dev/md1 /dev/sda1</pre>

</p>

<p>
3. Remove disk from RAID array:
<pre class="code">mdadm --remove /dev/md1 /dev/sda1</pre>

</p>

<p>
4. Add disk to existing array:
<pre class="code">mdadm --add /dev/md1 /dev/sdb1</pre>

</p>

<p>
5. Check status of RAID arrays:
<pre class="code">cat /proc/mdstat </pre>

OR
<pre class="code">mdadm -D /dev/md1</pre>

</p>

<p>
6. Stop a RAID array:
<pre class="code">mdadm --stop /dev/md1</pre>

</p>

<p>
7. Remove a RAID array:
<pre class="code">mdadm --remove /dev/md1</pre>

</p>

<p>
8. Create same partition on /dev/sdb as on /dev/sda:
<pre class="code">sfdisk -d /dev/sda | sfdisk /dev/sdb</pre>

</p>

<p>
9. Copy bootloader from /dev/sda to /dev/sdb:
<pre class="code"># grub
grub&gt; find /grub/stage1
grub&gt; device (hd0) /dev/sdb (or /dev/hdb for IDE drives)
grub&gt; root (hd0,0)
grub&gt; setup (hd0)
grub&gt;quit</pre>

</p>

<p>
References:
1. <a href="http://blog.ioflood.com/?p=26" class="urlextern" title="http://blog.ioflood.com/?p=26" rel="nofollow">http://blog.ioflood.com/?p=26</a>
2.<a href="http://www.adaptec.com/nr/rdonlyres/14b2fd84-f7a0-4ac5-a07a-214123ea3dd6/0/4423_sw_hwraid_10.pdf" class="urlextern" title="http://www.adaptec.com/nr/rdonlyres/14b2fd84-f7a0-4ac5-a07a-214123ea3dd6/0/4423_sw_hwraid_10.pdf" rel="nofollow">http://www.adaptec.com/nr/rdonlyres/14b2fd84-f7a0-4ac5-a07a-214123ea3dd6/0/4423_sw_hwraid_10.pdf</a>
3. <a href="http://tansi.info/hybrid/" class="urlextern" title="http://tansi.info/hybrid/" rel="nofollow">http://tansi.info/hybrid/</a>
</p>
