
<h1 class="sectionedit1" id="prevent_pop_email_download_zimbra">Prevent POP email download (Zimbra)</h1>
<div class="level1">

<p>
<a href="http://wiki.zimbra.com/wiki/Prevent_duplicates_messages_for_POP3_users_post_migration" class="urlextern" title="http://wiki.zimbra.com/wiki/Prevent_duplicates_messages_for_POP3_users_post_migration" rel="nofollow">http://wiki.zimbra.com/wiki/Prevent_duplicates_messages_for_POP3_users_post_migration</a>
</p>

</div>
