
<p>
Add this to Nginx config in particular virtual host section
</p>

<p>
<pre class="code">client_body_timeout  2860;
                client_header_timeout 2860;
                send_timeout 2860;
                client_max_body_size 30M;

                gzip on;
    gzip_disable &quot;msie6&quot;;
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 5;
    gzip_buffers 16 8k;
    gzip_http_version 1.0;

                # Set a variable to work around the lack of nested conditionals
    set $cache_uri $request_uri;

    # POST requests and urls with a query string should always go to PHP
    if ($request_method = POST) {
        set $cache_uri &#039;no cache&#039;;
    }
    if ($query_string != &quot;&quot;) {
        set $cache_uri &#039;no cache&#039;;
    }


                #Don&#039;t cache uris containing the following segments
    if ($request_uri ~* &quot;(\/wp-admin\/|\/xmlrpc.php|\/wp-(app|cron|login|register|mail)\.php|wp-.*\.php|index\.php|wp\-comments\-popup\.php|wp\-links\-opml\.php|wp\-locations\.php)&quot;) {
        set $cache_uri &quot;no cache&quot;;
        }
# Don&#039;t use the cache for logged in users or recent commenters
    if ($http_cookie ~* &quot;comment_author|wordpress_[a-f0-9]+|wp\-postpass|wordpress_logged_in&quot;) {
        set $cache_uri &#039;no cache&#039;;
    }

                location / {
        try_files /wp-content/w3tc/pgcache/$cache_uri/_index.html $uri $uri/ /index.php?q=$uri&amp;$args;

        }

# Cache static files for as long as possible
    location ~* \.(xml|ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|css|rss|atom|js|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
        try_files $uri =404;
        expires max;
        #access_log off;
    }
# Deny access to hidden files
    location ~* /\. {
        deny all;
        #access_log off;
        log_not_found off;
        }
</pre>

</p>
