
<p>
This directory contains all the images used in docs in this wiki.
</p>

<p>
You can upload more images here by using media manager in your settings. You can access settings by clicking on settings symbol on top right corner of page.
</p>
