
<h2 class="sectionedit1" id="create_a_staging_for_magento_clients">Create a STAGING for magento clients</h2>
<div class="level2">
<hr />

</div>

<h4 id="notefor_lemp_nginx_virtual-min_setups_only_server_s_provisioned_using_stack_script">Note : For LEMP (Nginx) + Virtual-Min setups only. (Server&#039;s provisioned using stack script.)</h4>
<div class="level4">
<hr />

<p>
For creating staging setup use following steps:
</p>

<p>
1. After login to server, Go to <code>/root/mantra</code> directory.<code> </code>
</p>

<p>
2. Run STAGING.sh script on screen. <code>bash STAGING.sh</code>
</p>

<p>
3. Script will prompt for inputs, give accordingly. And after completion you will receive a mail containing details at <em>tech@mantraventures.com.</em>
</p>

<p>
Note : If you don&#039;t receive any mail then find details in <strong>/root</strong> directory in a <strong>hidden file</strong> containing <em>staging domain name</em>. Use <code>ls -a</code> command.
</p>

</div>
