
<h1 class="sectionedit1" id="installing_phpmyadmin_in_virtualmin">Installing phpmyadmin in virtualmin</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Click &#039;Virtualmin&#039; on top left corner.</div>
</li>
<li class="level1"><div class="li"> Select the virtual server from drop down in which you have to install phpmyadmin.</div>
</li>
<li class="level1"><div class="li"> Click on Install Scripts.</div>
</li>
<li class="level1"><div class="li"> In Available Scripts section Select the phpmyadmin in Database section.</div>
</li>
<li class="level1"><div class="li"> Click on Show Install Options.</div>
</li>
<li class="level1"><div class="li"> For option Database to manage select whether you want to install it for all databases or only selected databases.</div>
</li>
<li class="level1"><div class="li"> Now click “Install Now”.</div>
</li>
<li class="level1"><div class="li"> After installation it will show the installed script information.</div>
</li>
<li class="level1"><div class="li"> Access the phpmyadmin on http:<em>&lt;seleted domain&gt;/phpmyadmin/ 
  - 
</div>
</li>
</ol>

</div>
