
<h1 class="sectionedit1" id="pure-ftp_for_directadmin">Pure-FTP for directadmin</h1>
<div class="level1">

<p>
Added support for Pure-FTPD.
</p>

<p>
The unified_ftp_password_file option must be set to 1 and all passwords converted:<br/>

<a href="http://www.directadmin.com/features.php?id=1134" class="urlextern" title="http://www.directadmin.com/features.php?id=1134" rel="nofollow">http://www.directadmin.com/features.php?id=1134</a>
</p>

<p>
pureftp=1
</p>

<p>
should also be set to 1.
</p>

<p>
After any change to the /etc/proftpd.passwd file, DA will add a task.queue entry: <br/>

action=rewrite&amp;value=pureftp_db
</p>

<p>
and the dataskq will call: <br/>

/usr/bin/pure-pw mkdb /etc/pureftpd.pdb -f /etc/proftpd.passwd
</p>

<p>
Installation:<pre class="code">Use custombuild to install this for you:
cd /usr/local/directadmin/custombuild
./build set proftpd no
./build set pureftpd yes
./build pureftpd </pre>

</p>

</div>
