
<h1 class="sectionedit1" id="install_newrelic_monitor_in_ubuntu">Install Newrelic Monitor in Ubuntu</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

<pre class="code">ansible-playbook -l &lt;VM_IP&gt; /scripts/newrelic_install_ubuntu.yml --ask-pass</pre>

</p>

<p>
This will do the following:
</p>
<ul>
<li class="level1"><div class="li"> Install NewRelic System Monitor</div>
</li>
</ul>

</div>
