
<p>
<strong>1. Install Zabbix Agent on CentOS/RHEL</strong>
</p>

<p>
Step 1: Add Required Repository 
</p>

<p>
 <strong>CentOS/RHEL 6:</strong>
</p>

<p>
»  rpm -Uvh <a href="http://repo.zabbix.com/zabbix/2.2/rhel/6/x86_64/zabbix-release-2.2-1.el6.noarch.rpm" class="urlextern" title="http://repo.zabbix.com/zabbix/2.2/rhel/6/x86_64/zabbix-release-2.2-1.el6.noarch.rpm" rel="nofollow">http://repo.zabbix.com/zabbix/2.2/rhel/6/x86_64/zabbix-release-2.2-1.el6.noarch.rpm</a>
</p>

<p>
 <strong>CentOS/RHEL 5:</strong>
</p>

<p>
»  rpm -Uvh <a href="http://repo.zabbix.com/zabbix/2.2/rhel/5/x86_64/zabbix-release-2.2-1.el5.noarch.rpm" class="urlextern" title="http://repo.zabbix.com/zabbix/2.2/rhel/5/x86_64/zabbix-release-2.2-1.el5.noarch.rpm" rel="nofollow">http://repo.zabbix.com/zabbix/2.2/rhel/5/x86_64/zabbix-release-2.2-1.el5.noarch.rpm</a>
</p>

<p>
Step 2: Install Zabbix Agent
</p>

<p>
»  yum install zabbix zabbix-agent
</p>

<p>
Step 3: Update Zabbix Agent Configuration 
</p>

<p>
»  Server= noc.mantragrid.com
</p>
<pre class="code"> Hostname=[ Hostname of client system ]
 Server=192.168.1.11
 Hostname=Server1</pre>

<p>
Step 4: Start/Stop Zabbix Agent
</p>

<p>
» # /etc/init.d/zabbix-agent start
</p>

<p>
» # /etc/init.d/zabbix-agent stop
</p>
