
<h1 class="sectionedit1" id="add_mysql_monitoring_to_linux_remote_machine">Add MySQL monitoring to linux remote machine</h1>
<div class="level1">

<p>
1) Login to the remote linux machine.
</p>

<p>
2) Enter mysql console.
</p>

<p>
3) Enter the following command:
</p>

<p>
CREATE USER zenoss IDENTIFIED BY &#039;&lt;password&gt;&#039;;
</p>

<p>
4)Login to Zenoss UI.
</p>

<p>
5) Select the Agent from the Infrastructure tab.
</p>

<p>
6) Go to “Configuration Properties”
</p>

<p>
7) In “zDeviceTemplates”, add “MySQL”. And in “zMySqlPassword”, enter the &lt;password&gt;.
</p>

</div>
