
<p>
<strong><span style='font-family: inherit; font-size:16px; color: inherit;  background-color: inherit '>Enforcing a match between FROM address and sasl username</span> </strong>
</p>

<p>
<a href="https://wiki.zimbra.com/wiki/Enforcing_a_match_between_FROM_address_and_sasl_username_8.5" class="urlextern" title="https://wiki.zimbra.com/wiki/Enforcing_a_match_between_FROM_address_and_sasl_username_8.5" rel="nofollow">https://wiki.zimbra.com/wiki/Enforcing_a_match_between_FROM_address_and_sasl_username_8.5</a>
</p>

<p>
If it is ZCS 8.6 or 8.5, then simply follow this as zimbra user
</p>

<p>
<pre class="code">su - zimbra

zmprov mcf zimbraMtaSmtpdSenderLoginMaps  proxy:ldap:/opt/zimbra/conf/ldap-slm.cf +zimbraMtaSmtpdSenderRestrictions reject_authenticated_sender_login_mismatch</pre>

</p>

<p>
<strong>Edit the file smtpd_sender_restrictions</strong>
</p>

<p>
You need to edit the file opt/zimbra/conf/zmconfigd/smtpd_sender_restrictions.cf and add after the permit_mynetworks the line reject_sender_login_mismatch
</p>

<p>
<pre class="code">vim /opt/zimbra/conf/zmconfigd/smtpd_sender_restrictions.cf</pre>

</p>

<p>
Should look like this:
</p>

<p>
<pre class="code">permit_mynetworks, reject_sender_login_mismatch</pre>

</p>

<p>
After a minute, zmconfigd will update the postfix configuration automatically and apply the new rules. Now if an account is hacked, and this is in place, they will not be able to send out emails with different “from” addresses.
</p>
