
<h1 class="sectionedit1" id="interspire_setup">Interspire Setup</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Upload email610.zip file in public_html</div>
</li>
<li class="level1"><div class="li"> Extract email610.zip in public_html/email</div>
</li>
<li class="level1"><div class="li"> Create a database named user_email i.e. s1example_email</div>
</li>
<li class="level1"><div class="li"> Add users to your database</div>
</li>
<li class="level1"><div class="li"> Create index.html file in public_html</div>
</li>
<li class="level1"><div class="li"> Goto the site i.e. s1.example.com/email</div>
</li>
<li class="level1"><div class="li"> If there is some error due to file permissions then change permissions from file manager</div>
</li>
<li class="level1"><div class="li"> Now enter the details of database you created</div>
</li>
<li class="level1"><div class="li"> Now login with the “password” you created for admin</div>
</li>
<li class="level1"><div class="li"> Goto Settings and then Bounce settings</div>
</li>
<li class="level1"><div class="li"> Select default bounce details</div>
</li>
<li class="level1"><div class="li"> Add the default email address created for user i.e. s1example@s1.example.com</div>
</li>
<li class="level1"><div class="li"> Now run the “test bounce setting” to check whether it is working or not</div>
</li>
<li class="level1"><div class="li"> Now goto Settings and then Cron setting</div>
</li>
<li class="level1"><div class="li"> Select “I want to enable cron setting”</div>
</li>
<li class="level1"><div class="li"> Copy the cron command to run from interspire to Cron in cPanel/Webmin/DA and configure cron to run every 1 min</div>
</li>
<li class="level1"><div class="li"> Goto Settings and then Private Label</div>
</li>
<li class="level1"><div class="li"> Remove all the text from the boxes and upload the new logo and favicon</div>
</li>
<li class="level1"><div class="li"> Set Max hourly limit under Settings &gt; Email settings.</div>
</li>
<li class="level1"><div class="li"> Create a test contact list, test campaign and check delivery.</div>
</li>
<li class="level1"><div class="li"> make following changes in Cron setting Bounce Processing - Daily Schedule Sending - 1 min rest all disable<br/>
</div>
</li>
</ol>

<p>
    Extra
</p>
<ol>
<li class="level1"><div class="li"> Change A-entry for the sub-domain i.e. s1.example.com</div>
</li>
<li class="level1"><div class="li"> Put robots.txt file in main directory i.e. example.com/robots.txt</div>
</li>
<li class="level1"><div class="li"> Recompile Apache with MBSTRING (otherwise upload contact lists won&#039;t work)</div>
</li>
</ol>

<p>
Download interspire from <a href="http://sahilchugh.com/email610.zip" class="urlextern" title="http://sahilchugh.com/email610.zip"  rel="nofollow">http://sahilchugh.com/email610.zip</a>
</p>

</div>
