
<h1 class="sectionedit1" id="linux_monitoring_commands">Linux Monitoring commands</h1>
<div class="level1">

<p>
<strong>#1: top - Process Activity Command</strong>
</p>

<p>
The top command provides several useful hot keys:
</p>

<p>
t Displays summary information off and on.<br/>

m Displays memory information off and on.<br/>

A Sorts the display by top consumers of various system resources. Useful for quick identification of performance-hungry tasks on a system.<br/>

f Enters an interactive configuration screen for top. Helpful for setting up top for a specific task.<br/>

o Enables you to interactively select the ordering within top.<br/>

r Issues renice command.<br/>

k Issues kill command.<br/>

z Turn on or off color/mono<br/>

</p>

<p>
<strong>#2: ps - Displays The Processes</strong>
</p>

<p>
Find Out The Top 10 Memory Consuming Process:<br/>

ps -auxf | sort -nr -k 4 | head -10<br/>

</p>

<p>
Find Out top 10 CPU Consuming Process:<br/>

ps -auxf | sort -nr -k 3 | head -10<br/>

</p>

<p>
<strong>#3: free - Memory Usage</strong>
</p>

<p>
free
</p>

<p>
<strong>#4: uptime</strong>
</p>

<p>
uptime
</p>

<p>
<strong>#5: Nagios</strong>
</p>

<p>
<strong>#6: Cacti</strong>
</p>

</div>
