
<h1 class="sectionedit1" id="update_proftpd_to_newer_version_direct_admin">Update proftpd to newer version direct admin</h1>
<div class="level1">

<p>
Login as root in server and type following commands:
<pre class="code">cd /usr/local/directadmin/custombuild
./build update
./build set proftpd yes
./build proftpd</pre>

</p>

</div>
