
<h1 class="sectionedit1" id="suspend_on_limit_-_directadmin_activate">Suspend on limit - DirectAdmin ACTIVATE</h1>
<div class="level1">

<p>
The option you will place in your directadmin.conf is:
</p>

<p>
disk_usage_suspend=1
</p>

<p>
The default will not be in the file, but will be set to 0 internally.
</p>

</div>
