
<h1 class="sectionedit1" id="change_administrator_password_in_windows_server">Change Administrator password in Windows Server</h1>
<div class="level1">

<p>
1. Log on to the computer using the Administrator account.
</p>

<p>
2. Click Start, right-click Control Panel, and then click Open. Control Panel opens.
</p>

<p>
3. Double-click Computer Management, click Local Users and Groups, and in the details pane, double-click Users. The Users folder opens.
</p>

<p>
4. In the details pane, right-click the account that you want to change, and click “Set Password”. A warning dialog box opens. Read the information to determine whether you want to proceed with the step to change the password.
</p>

<p>
5. In New Password, type a password. In Confirm password, retype the password, and then click OK.
</p>

</div>
