
<p>
If all Mails are showing Unchecked
</p>

<p>
This means that your ClamAV anti-virus service in Zimbra has stopped working. You will need to start it:
</p>

<p>
Log into your Unix shell as user Zimbra and type the following commands:
</p>

<p>
cd \opt\zimbra\bin\./zmclamdctl start (press enter)
</p>

<p>
./zmantivirusctl start (press enter)
</p>

<p>
Check to make sure it is running:
</p>

<p>
./zmcontrol status
</p>
