
<h1 class="sectionedit1" id="create_automatic_backups_on_remote_server_using_rsync_command">Create automatic backups on remote server using Rsync command</h1>
<div class="level1">

<p>
The server whose backup is to be configured is called &#039;client&#039; and the remote server on which backup is to be taken is called &#039;server&#039;
</p>

<p>
1. Create a SSH keypair on &#039;client&#039;:
</p>

<p>
ssh-keygen -N &#039;&#039; -C backup1 -t rsa -f ~/.ssh/backup
</p>

<p>
2. Then type the following command on &#039;client&#039;:
</p>

<p>
scp ~/.ssh/backup.pub &lt;user@serverIP&gt;:.ssh
</p>

<p>
3. Then on &#039;server&#039;, type the following:
</p>

<p>
cd ~/.ssh
</p>

<p>
cat backup.pub » authorized_keys
</p>

<p>
rm backup.pub
</p>

<p>
4. Type the following on &#039;client&#039; server:
</p>

<p>
crontab -e
</p>

<p>
Add this line to crontab:
</p>

<p>
30 2 * * * rsync -avhe &#039;ssh -i /root/.ssh/backup -ax -o ClearAllForwardings=yes&#039; &lt;/backup-path-on-client/&gt; user@serverIP:&lt;/backup-path-on-server/&gt;
</p>

<p>
Save crontab file. (For nano editor, use control+x to exit)
</p>

<p>
FOR SENDING MAIL EVERY TIME CRON RUNS:
</p>

<p>
30 2 * * * rsync -avhe &#039;ssh -i /root/.ssh/backup -ax -o ClearAllForwardings=yes&#039; &lt;/backup-path-on-client/&gt; user@serverIP:&lt;/backup-path-on-server/&gt; | mail -s “Cronjob Output” abc@example.com
</p>

</div>
