
<p>
Account Status explain<br/>

</p>

<p>
Active: Active is the normal status for a mailbox account. Mail is delivered and users can log into the client interface.<br/>

<br/>

</p>

<p>
Maintenance: When a mailbox status is maintenance, login is disabled and mail addressed to the account is queued at the MTA.<br/>

</p>

<p>
Locked: When a mailbox status is locked, the login is disabled until you unlock the account, but mail is still delivered to the account. Locked can be set if you suspect that a mail account has been hacked or is being used in an unauthorized manner.<br/>

<br/>

</p>

<p>
Closed: When a mailbox status is closed, the login is disabled. This status is used to soft-delete an account. The account exists until you delete it.<br/>

<br/>

Lockout:  Users who try to log in and have forgotten their password are temporarily locked out after a specified number of consecutive failed login attempts. An account’s status is automatically changed to lockout. How long the account is locked out is set by COS or Account configuration, but you can change the lockout status at anytime.<br/>

</p>

<p>
Perform the practical with few example<br/>

</p>

<p>
$ zmprov ma account@domain.com  zimbraAccountStatus lockout<br/>

$ zmprov ma account@domain.com  zimbraAccountStatus active<br/>

$ zmprov ma account@domain.com  zimbraAccountStatus closed<br/>

</p>
