
<p>
Download the agent
</p>
<pre class="code">  http://sourceforge.net/projects/zabbix/files/ZABBIX%20Latest%20Stable/2.2.2/zabbix-2.2.2.tar.gz</pre>

<p>
Extract the package.
</p>
<pre class="code">      tar -zxvf zabbix-2.2.2.tar.gz</pre>

<p>
Adding the user and group.
</p>
<pre class="code">      groupadd zabbix
      useradd -g zabbix zabbix</pre>

<p>
Change the directory.
</p>
<pre class="code">      cd zabbix-2.2.2</pre>

<p>
Install the dependencies.
</p>
<pre class="code">      yum install -y zlib-devel glibc-devel curl-devel gcc automake libidn-devel openssl-devel net-snmp-devel rpm-devel OpenIPMI-devel make</pre>

<p>
Compile the package and install.
</p>
<pre class="code">      ./configure --enable-agent --enable-static
      
      (Note :- If it showing any library missing try to run above command without &quot;--enable-static&quot;)</pre>
<pre class="code">       make install</pre>

<p>
 Eedit the Zabbix agent configuration file /usr/local/etc/zabbix_agentd.conf and set following.              
</p>
<pre class="code">     server=noc.mantragrid.com</pre>

<p>
Copy the files and change the permission.
</p>
<pre class="code">       cp misc/init.d/fedora/core5/zabbix_agentd /etc/init.d/</pre>
<pre class="code">       chmod 755 /etc/init.d/zabbix_agentd</pre>

<p>
Start the agent.
</p>
<pre class="code">        chkconfig zabbix_agentd on</pre>
<pre class="code">       /etc/init.d/zabbix_agentd start</pre>

<p>
To check whether agent is running or not.
</p>
<pre class="code">       ps -eaf | grep zabbix
       
       
       Note: Kindly allow IP 66.232.121.116 (noc.mantragrid.com)in iptabales OR CSF
       # csf -g | grep 66.232.121.116
       # csf -a 66.232.121.116
       # csf -g | grep 66.232.121.116
       # /etc/init.d/zabbix_agentd restart
       
       OR
       
       # iptables-save &gt; iptables.14042016.bak.fw
       # iptables -I INPUT -p tcp -s 66.232.121.116 --dport 10050 -j ACCEPT
       # /etc/init.d/iptables save
       # /etc/init.d/iptables restart
       # /etc/init.d/zabbix_agentd restart</pre>
