
<h1 class="sectionedit1" id="directadmin_backups_via_command_line">DirectAdmin backups via command line</h1>
<div class="level1">

<p>
If your server is on it&#039;s way to being fully dead, or your license has expired, you can still create backups via the command line. To do so, run the following command:
</p>

<p>
<strong>echo “action=backup&amp;local%5Fpath=%2Fhome%2Fadmin%2Fadmin%5Fbackups%32&amp;owner=admin&amp;type=admin&amp;value=multiple&amp;when=now&amp;where=local&amp;who=all” » /usr/local/directadmin/data/task.queue </strong>
</p>

<p>
And make sure that the dataskq is running by checking /var/log/cron. If it isn&#039;t you can run the dataskq manually to create the backups:
</p>

<p>
<strong>/usr/local/directadmin/dataskq d200</strong>
</p>

<p>
The command to create a backup for just a single User is:
</p>

<p>
<strong>echo “action=backup&amp;local%5Fpath=%2Fhome%2Fadmin%2Fadmin%5Fbackups&amp;owner=admin&amp;select%30=testuser&amp;type=admin&amp;value=multiple&amp;when=now&amp;where=local” » /usr/local/directadmin/data/task.queue</strong>
where <strong>testuser</strong> is the account you&#039;re backing up, by admin.
</p>

<p>
Along the same lines, to restore a single User, the command is:
</p>

<p>
<strong>echo “action=restore&amp;ip%5Fchoice=file&amp;local%5Fpath=%2Fhome%2Fadmin%2Fadmin%5Fbackups&amp;owner=admin&amp;select%30=user%2Eadmin%2Etestuser%2Etar%2Egz&amp;type=admin&amp;value=multiple&amp;when=now&amp;where=local” » /usr/local/directadmin/data/task.queue</strong>
</p>

<p>
where <strong>user%2Eadmin%2Etestuser%2Etar%2Egz</strong> is the name of the file being restored.
</p>

</div>
