
<p>
Re-Activating Windows Licence
</p>
<ol>
<li class="level1"><div class="li"> Open the command prompt(cmd) and run <em><strong>slmgr.vbs -rearm</strong></em> after completion of command restart the server.</div>
</li>
<li class="level1"><div class="li"> Go to the Computer properties(Right click on Computer and hit Properties) and click on “Activate Windows Now”.</div>
</li>
<li class="level1"><div class="li"> Windows will be activated for 180 days trial licence.</div>
</li>
</ol>

<p>
For more details follow the following link.
</p>

<p>
 <a href="http://technet.microsoft.com/en-us/library/ff793433.aspx" class="urlextern" title="http://technet.microsoft.com/en-us/library/ff793433.aspx"  rel="nofollow">http://technet.microsoft.com/en-us/library/ff793433.aspx</a>
</p>
