
<h1 class="sectionedit1" id="increasing_the_size_of_tmpdsk_tmp">Increasing the Size of tmpDSK tmp</h1>
<div class="level1">

<p>
You may have noticed that cPanel’s default partition size for /tmp is 512 <abbr title="Megabyte">MB</abbr>, which in some cases can be way too small.  The /tmp partition on cPanel servers, assuming it was the one cPanel created and not one you did yourself, is a file-based partition that can easily be resized.
</p>

<p>
By default on most servers, /tmp is the temporary dumping place for a lot of things, for example:
</p>
<ul>
<li class="level1"><div class="li"> PHP session files</div>
</li>
<li class="level1"><div class="li"> PHP temporary file uploads</div>
</li>
<li class="level1"><div class="li"> MySQL temporary files</div>
</li>
<li class="level1"><div class="li"> Cache files for certain Apache modules</div>
</li>
<li class="level1"><div class="li"> Most software that uses temporary files or sessions will automatically prefer to use /tmp – this folder is usually set to 777  permissions and therefore writeable by every user on the server.</div>
</li>
</ul>

<p>
When your /tmp partition fills up, it can cause noticeable problems for your users. If you run a larger server, the /tmp folder can fill up quickly and be very annoying as far as maintenance is concerned. Fortunately there is a very easy way to increase the size of this partition on a standalone server.
</p>
<ol>
<li class="level1"><div class="li"> Stop MySQL, Apache, and cPanel to prevent writing to the /tmp partition</div>
</li>
<li class="level1"><div class="li"> Copy the contents of /tmp to another location, such as /home (cp -rfp /tmp /home)</div>
</li>
<li class="level1"><div class="li"> Unmount /tmp. If you’re unable to, you can do an lsof (lsof |grep /tmp) to see what processes are still writing to it, and kill them off. Or do a lazy unmount (umount -l /tmp) .</div>
</li>
<li class="level1"><div class="li"> Delete /usr/tmpDSK (rm -rf /usr/tmpDSK)</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ol>

<p>
Now open /scripts/securetmp and look for this line:
</p>

<p>
my $tmpdsksize     = 512000;    # Must be larger than 250000
</p>

<p>
And change the “512000? value to your desired size in <abbr title="Megabyte">MB</abbr>, and save the file. Now run the following script to recreate /tmp:/scripts/securetmp
This will recreate your /tmp (tmpDSK) partition using the size you specified. While the securetmp script may be overwritten in a cPanel update, the size of /tmp will not be affected one you alter its size.
</p>

</div>
