
<p>
 <strong>ssh_with_keys_in_a_console</strong>
</p>

<p>
1.Creating A Key
</p>
<pre class="code">When you want to use ssh with keys, the first thing that you will need is a key.</pre>

<p>
2.To create the most simple key, with the default encryption, open up a console, and enter the following command
</p>
<pre class="code">  ssh-keygen
  </pre>

<p>
3.When asked for a “passphrase”,Just press enter twice.
</p>

<p>
  The ssh-keygen program will now generate both your public and your private key. 
</p>
<pre class="code">Your keys are stored in the .ssh/ directory in your home directory,</pre>
<ul>
<li class="level1"><div class="li">*Protocol version 2 key generation**</div>
</li>
</ul>

<p>
1. terminal type ssh-keygen -t dsa
</p>

<p>
Your keys are stored in the .ssh/ directory in your home directory
check with ls -l
</p>

<p>
2. Placing the public key on the remote server
</p>
<pre class="code"> cd .ssh/
 scp identity.pub dave@192.168.1.3:./identity.pub
 scp id_dsa.pub dave@192.168.1.3:./id_dsa.pub</pre>

<p>
This will place your keys in your home directory on the remote server. After that we will login on the remote server using ssh or telnet the conventional way… with a password. 
</p>

<p>
When you are logged in you should create a .ssh directory, and inside the .ssh/ directory create an authorized_keys and an authorized_keys2 file and add the keys to the files. Make sure the files are not readable for other users/groups. chmod 600 authorized_keys* does the trick.    
</p>

<p>
<em>Adding the public key for version 1 works like this: </em>
</p>
<pre class="code">ssh 192.168.1.3 -v
mkdir .ssh
chmod 700 .ssh
cd .ssh
touch authorized_keys
chmod 600 authorized_keys
cat ../identity.pub &gt;&gt; authorized_keys
rm ../identity.pub</pre>

<p>
<em>Placing the key for version 2 works about the same</em>
  cd .ssh
</p>
<pre class="code">touch authorized_keys2
chmod 600 authorized_keys2
cat ../id_dsa.pub &gt;&gt; authorized_keys2
rm ../id_dsa.pub</pre>

<p>
<em class="u">Log in using your key</em>
</p>

<p>
ssh -1 -v root@IP
</p>

<p>
ssh -2 -v root@IP
</p>
