
<p>
Check if blocked in Iptables
<strong>iptables -Vnl | grep [IP]</strong>
</p>

<p>
check in CS Firewall
<strong>csf -g [IP]
</strong>
Remove from CSF, If exist.
<strong>csf -dr [IP]</strong>
</p>

<p>
Make it white list
<strong>csf -a [IP]</strong>
</p>

<p>
restart CSF.
<strong>csf -r</strong>
</p>

<p>
DONE….
</p>
