
<h1 class="sectionedit1" id="access_spambox_using_hordeoutlook">Access SpamBox using Horde/Outlook</h1>
<div class="level1">

<p>
For Horde:
</p>
<ol>
<li class="level1"><div class="li"> Login to horde (webmail)</div>
</li>
<li class="level1"><div class="li"> Click on the inbox.</div>
</li>
<li class="level1"><div class="li"> Then click on the folders menu at the top. Now you will see a SPAM folder below.</div>
</li>
</ol>

<p>
For Outlook:
</p>
<ol>
<li class="level1"><div class="li"> Login to Outlook using the following username:</div>
</li>
<li class="level1"><div class="li"> &lt;username&gt;@&lt;domainname.com&gt;/spam</div>
</li>
<li class="level1"><div class="li"> So, for example email address is abc@efg.com, then username should be abc@efg.com/spam</div>
</li>
<li class="level1"><div class="li"> This will show the SPAM emails.</div>
</li>
</ol>

</div>
