
<h1 class="sectionedit1" id="mysql_table_crashed_solution">Mysql table crashed solution</h1>
<div class="level1">

<p>
If any Mysql table is crashed, then you can try doing the following from commandline:
</p>

<p>
1. Login as root.
</p>

<p>
2. Goto the folder where mysql database is there(/var/lib/mysql/)
</p>

<p>
3. Then goto the directory of the database whose table has crashed.
</p>

<p>
4. Type the following:
</p>

<p>
myisamchk -r &lt;table_name&gt;
</p>

<p>
That&#039;s it. The table is now back to normal!
</p>

</div>
