
<h2 class="sectionedit1" id="creating_a_cdn_purge_url">Creating a CDN purge URL</h2>
<div class="level2">
<hr />

<p>
To create a <a href="http://searchaws.techtarget.com/definition/content-delivery-network-CDN" class="urlextern" title="http://searchaws.techtarget.com/definition/content-delivery-network-CDN" rel="nofollow">CDN</a> purge url follow below instructions:
</p>

<p>
1. Move to <code>/root/mantra</code> directory.
</p>

<p>
2. Run createCdnPurge.sh script. “ <code>bash createCdnPurge.sh</code> ”
</p>

<p>
3. Enter inputs as scripts prompts for it. Finally after completion you get cdn-purge url.
</p>

<p>
<em><strong>Note</strong></em> : If you dont have purge script then you can manually creates using below procedure :
</p>

<p>
1. Login to mantragrid.com or magehost.com server &amp; Move to their <code>public_html/cdn-purge</code> directory.
</p>

<p>
2. Copy content of any file within this directory and create a new file.
</p>

<p>
3. Edit <code>$cdn_resource_id</code> parameter value in file.
</p>

<p>
4. You can get cdn_resource_id from CDN77 panel. Refer below image:
</p>

<p>
<img src="/lib/exe/fetch.php?w=1024&amp;h=356&amp;tok=3791bb&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fcdn-purge.png" class="media" alt="" width="1024" height="356" />
</p>

<p>
5. Your cdn purge url will be like either of below mentioned type:
</p>

<p>
<code><a href="http://mantragrid.com/cdn-purge/" class="urlextern" title="http://mantragrid.com/cdn-purge/" rel="nofollow">http://mantragrid.com/cdn-purge/</a>{file-name}.php</code>
</p>

<p>
<code><a href="http://magehost.com/cdn-purge/" class="urlextern" title="http://magehost.com/cdn-purge/" rel="nofollow">http://magehost.com/cdn-purge/</a>{file-name}.php</code>
</p>

</div>
