
<h1 class="sectionedit1" id="zimbra_migration">Zimbra Migration</h1>
<div class="level1">

<p>
1. Create destination server with same <abbr title="Operating System">OS</abbr> as source and install exact same version of zimbra.
</p>

<p>
2. Make the same hostname on destination and change /etc/hosts file accordingly.
</p>

<p>
3. Stop zimbra on destination and rename directory /opt/zimbra to /opt/zimbra-old
</p>

<p>
4. Run following command on source server to reduce DB spare size while copy (keep zimbra running)
</p>
<pre class="code">      zmlocalconfig -e ldap_db_maxsize=134217728</pre>

<p>
5. Now stop zimbra on source and change directory to /opt
</p>

<p>
6. Now run following command to sync zimbra folder onto destination excluding DB directory.
</p>
<pre class="code">       rsync -avh zimbra root@&lt;destination IP&gt;:/opt/        </pre>

<p>
7. after rsync completion, start zimbra on destination.
</p>

<p>
NOTE: IF you get error while starting the zimbra services then kindly check the hostname zimbra trying to start and add a /etc/hosts entry for the same.
</p>
<pre class="code">      
      
      If mail sending now working on new server ( in case hostname and IP changed) then follow below
      link to take care of the issue.
      https://wiki.zimbra.com/wiki/ZimbraMtaMyNetworks</pre>

</div>
