
<p>
Categories
</p>
<table class="columns-plugin" style="width:100%">
<tr><td class="first" style="width:33%;">

<p>
DokuWiki
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/wiki:dokuwiki" class="wikilink1" title="wiki:dokuwiki">DokuWiki</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/wiki:syntax" class="wikilink1" title="wiki:syntax">Formatting Syntax</a></div>
</li>
</ol>

<p>
Operating Systems
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/windows" class="wikilink2" title="windows" rel="nofollow">Windows</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/linux" class="wikilink2" title="linux" rel="nofollow">Linux</a></div>
</li>
</ol>

<p>
Server Management
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/backups" class="wikilink2" title="backups" rel="nofollow">Backups</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/security" class="wikilink2" title="security" rel="nofollow">Security</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/benchmarking" class="wikilink2" title="benchmarking" rel="nofollow">Benchmarking</a></div>
</li>
</ol>

<p>
General Concepts
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/internet_networking" class="wikilink1" title="internet_networking">Internet &amp; Networking</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/hardware" class="wikilink1" title="hardware">Hardware</a></div>
</li>
</ol>

<p>
Datacenters
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/singlehop" class="wikilink2" title="singlehop" rel="nofollow">SingleHop</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/ovh" class="wikilink2" title="ovh" rel="nofollow">OVH</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/hetzner" class="wikilink2" title="hetzner" rel="nofollow">Hetzner</a></div>
</li>
</ol>
</td><td style="width:34%;">

<p>
 Control Panels
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/cpanel" class="wikilink2" title="cpanel" rel="nofollow">CPanel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/directadmin" class="wikilink2" title="directadmin" rel="nofollow">DirectAdmin</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/websitepanel" class="wikilink2" title="websitepanel" rel="nofollow">WebsitePanel</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/virtualmin_webmin" class="wikilink2" title="virtualmin_webmin" rel="nofollow">VirtualMin &amp; Webmin</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/plesk" class="wikilink2" title="plesk" rel="nofollow">Plesk</a></div>
</li>
</ol>

<p>
Virtualization
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/kvm" class="wikilink2" title="kvm" rel="nofollow">KVM</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/xen" class="wikilink2" title="xen" rel="nofollow">XEN</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/openvz" class="wikilink2" title="openvz" rel="nofollow">OpenVZ</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/hyper-v" class="wikilink2" title="hyper-v" rel="nofollow">Hyper-V</a></div>
</li>
</ol>

<p>
Cloud Platforms
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/openstack" class="wikilink2" title="openstack" rel="nofollow">OpenStack</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/solusvm" class="wikilink2" title="solusvm" rel="nofollow">SolusVM</a></div>
</li>
</ol>

<p>
Backup
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/r1soft" class="wikilink2" title="r1soft" rel="nofollow">R1Soft</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/cloudcopy" class="wikilink2" title="cloudcopy" rel="nofollow">CloudCopy</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/rsync" class="wikilink2" title="rsync" rel="nofollow">RSync</a></div>
</li>
</ol>

<p>
Database
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/mssql" class="wikilink2" title="mssql" rel="nofollow">MSSQL</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/mysql" class="wikilink2" title="mysql" rel="nofollow">MySQL</a></div>
</li>
</ol>
</td><td class="last">

<p>
Applications
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/interspire" class="wikilink2" title="interspire" rel="nofollow">Interspire</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/wordpress" class="wikilink2" title="wordpress" rel="nofollow">Wordpress</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/phplist" class="wikilink2" title="phplist" rel="nofollow">PHPList</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/magento" class="wikilink2" title="magento" rel="nofollow">Magento</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/mailman" class="wikilink2" title="mailman" rel="nofollow">MailMan</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/moodle" class="wikilink2" title="moodle" rel="nofollow">Moodle</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/wowza" class="wikilink2" title="wowza" rel="nofollow">Wowza</a></div>
</li>
</ol>

<p>
Email Servers
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/zimbra" class="wikilink2" title="zimbra" rel="nofollow">Zimbra</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/smartermail" class="wikilink2" title="smartermail" rel="nofollow">SmarterMail</a></div>
</li>
</ol>

<p>
VOIP
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/general_concepts" class="wikilink2" title="general_concepts" rel="nofollow">General Concepts</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/elastix" class="wikilink2" title="elastix" rel="nofollow">Elastix</a></div>
</li>
</ol>

<p>
Misc
</p>
<ol>
<li class="level1"><div class="li"> <a href="/doku.php/ssl_certificates" class="wikilink2" title="ssl_certificates" rel="nofollow">SSL Certificates</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/tomcat" class="wikilink2" title="tomcat" rel="nofollow">TomCat</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/seo" class="wikilink2" title="seo" rel="nofollow">SEO</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/domain_names" class="wikilink2" title="domain_names" rel="nofollow">Domain Names</a></div>
</li>
<li class="level1"><div class="li"> <a href="/doku.php/php_mysql" class="wikilink2" title="php_mysql" rel="nofollow">PHP &amp; MySQL</a></div>
</li>
</ol>
</td></tr></table>
