
<h1 class="sectionedit1" id="kayako_mails_not_fetching">Kayako mails not fetching</h1>
<div class="level1">

<p>
One reason could be that the port 993 (imapd) blocked.
</p>

<p>
See the output of:
</p>

<p>
<a href="http:///desk/cron/index.php?_t=parser" class="urlextern" title="http:///desk/cron/index.php?_t=parser" rel="nofollow">http:///desk/cron/index.php?_t=parser</a> (<a href="http://%3cdomain%3e/desk/cron/index.php?_t=parser" class="urlextern" title="http://%3cdomain%3e/desk/cron/index.php?_t=parser" rel="nofollow">http://%3cdomain%3e/desk/cron/index.php?_t=parser</a>)
</p>

<p>
If it shows anything related to 993 port, get the port unblocked.
</p>

</div>
