
<h1 class="sectionedit1" id="install_zimbra">Install Zimbra</h1>
<div class="level1">

<p>
1. Install Ubuntu 14.04 64 bit as <abbr title="Operating System">OS</abbr> on VM.<br/>

</p>

<p>
2. The hostname of the VM must be set to whatever is required as Zimbra server hostname.<br/>

</p>

<p>
3. Login to ansible master, add the VM IP to ansible hosts and run screen command.<br/>

</p>

<p>
4. If the VM hostname points correctly to VM IP i.e. <abbr title="Domain Name System">DNS</abbr> resolves correctly for VM hostname, THEN run this command on ansible master:
<pre class="code">ansible-playbook -l &lt;VM_IP&gt; /scripts/zimbra_8.05_install_DNS_set.yml --ask-pass</pre>

ELSE, if the VM hostname DOES NOT point correctly to VM IP, then run this command:
<pre class="code">ansible-playbook -l &lt;VM_IP&gt; /scripts/zimbra_8.05_install.yml --ask-pass</pre>

This will do the following:
</p>
<ul>
<li class="level1"><div class="li"> Install Zimbra 8.05</div>
</li>
<li class="level2"><div class="li"> Install Zabbix Agent (Configuration of agent is pending)</div>
</li>
</ul>

<p>
5. Change the default admin password from “DefaultZimbra12@34” to a random strong password. (<a href="http://wiki.zimbra.com/wiki/Admin_Password_Reset" class="urlextern" title="http://wiki.zimbra.com/wiki/Admin_Password_Reset" rel="nofollow">http://wiki.zimbra.com/wiki/Admin_Password_Reset</a>)<br/>

</p>

<p>
<strong>THINGS to do after installation</strong>
</p>

<p>
1. Set the bounce setting for <a href="/zimbra/bouce_message_to_sender_when_over_quota" class="wikilink1" title="zimbra:bouce_message_to_sender_when_over_quota">Bounce Message To Sender If User Quota Is Full</a>
</p>

<p>
2. IMAP and POP3 Port settings.
</p>

<p>
i)  Login into web panel as admin.
ii) Go to Home-Configure-Global settings-Proxy and set the port as follow and hit on save.
</p>
<pre class="code">   Proxy IMAP Port: 8143
   Proxy IMAPS Port: 8993
   Proxy POP3 Port: 8110
   Proxy POP3S Port: 8995
   </pre>

<p>
iii) Now go to the Home-Configure-Servers-&lt;server hostname&gt;-Proxy and click on “Reset to Global Value” for following.
</p>
<pre class="code">   Proxy IMAP Port
   Proxy IMAPS Port
   Proxy POP3 Port
   Proxy POP3S Port
   
This will set the port value as mentioned in step (ii).</pre>

<p>
iV) Go to the Home-Configure-Servers-&lt;server hostname&gt;-IMAP and set following.
</p>
<pre class="code">  IMAP port number: 143
  IMAP SSL port number: 993
  </pre>

<p>
v) Go to the Home-Configure-Servers-&lt;server hostname&gt;-POP and set following.
</p>
<pre class="code">  POP3 port number: 110
  POP3 SSL port number: 995</pre>

<p>
<strong>NOTE: Don&#039;t forget to hit save after making changes in each steps </strong>
</p>

<p>
3. <a href="/zimbra/mail_queue_alert" class="wikilink1" title="zimbra:mail_queue_alert">Mail Queue Alert in Zimbra</a>Add for queue notification:
</p>

<p>
4. From Global Settings &gt; AS/AV, uncheck “Block Encrypted archives” and save.
</p>

</div>
