
<h1 class="sectionedit1" id="ssh_security">SSH Security</h1>
<div class="level1">

<p>
<pre class="code">By default ssh is pretty secure, however there are a few measure you can take to step up the security a bit.  You can find various settings located in /etc/ssh/sshd_config.
#disable protocol 1
Protocol 2
#reduce maximum login attempts
MaxAuthTries 4
#move ssh from default port (22)
Port 2022
#decrease time user has to authenticate
LoginGraceTime 30s
#deny root user to authenticate without ssh keypair
PermitRootLogin without-password
#throttle concurrent login attempts
#allow 3 concurrent connections and randomly reject connetions (75% probability)
#until 10 connections are running concurrently. anything beyond 10 is rejected
MaxStartups 3:75:10 </pre>

</p>

</div>
