<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

<h2 class="sectionedit1" id="magento_website_migration">Magento Website Migration</h2>
<div class="level2">
<hr />

<p>
10 Things that must be taken care while migrating a magento website to a new server.
</p>

<p>
1. Webserver rewrite rules if nginx is used. ( <a href="http://wiki.mantraventures.com/magento/configuration/nginx-php-rewrite-rules" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/nginx-php-rewrite-rules" rel="nofollow">http://wiki.mantraventures.com/magento/configuration/nginx-php-rewrite-rules</a>  )
</p>

<p>
2. Php-fpm config if used.
</p>

<p>
3. Migrate files. Manage permissions and ownership. (Update .htaccess if apache is used.) &amp; clear file logs.
</p>

<p>
4. Migrate database, Clear database logs &amp; Change magento URLs from db table. ( <code><a href="http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database" rel="nofollow">http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database</a> </code>)
</p>

<p>
5. Update local.xml extries.
</p>

<p>
6. Migrate magento cronjobs.
</p>

<p>
7. Add or update <abbr title="Domain Name System">DNS</abbr> records.
</p>

<p>
8. Do &amp; cross-check magento optimization.
</p>

<p>
9. Check complete magento website functionality ( <code><a href="http://wiki.mantraventures.com/magento/provisioning/poc-testing" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-testing" rel="nofollow">http://wiki.mantraventures.com/magento/provisioning/poc-testing</a></code>)
</p>

<p>
10. Check Notes sheet if any thing extra needs to done &amp; Update Sheet on <code><a href="https://drive.google.com" class="urlextern" title="https://drive.google.com" rel="nofollow">https://drive.google.com</a></code>
</p>

</div>
<!-- EDIT1 SECTION "Magento Website Migration" [26-] -->