
<h1 class="sectionedit1" id="multiple_ip_script_webmin_postfix">Multiple IP script (Webmin+Postfix)</h1>
<div class="level1">

<p>
1) Install Webmin on a VPS with CentOS installed!
</p>

<p>
2) Install required components:
</p>

<p>
yum install rpm-build gcc db4-devel openldap-devel pcre-devel postgresql-devel cyrus-sasl-devel ed make
</p>

<p>
<strong>Download the package</strong>
</p>

<p>
wget <a href="http://ftp.wl0.org/official/2.9/SRPMS/postfix-2.9.1-1.src.rpm" class="urlextern" title="http://ftp.wl0.org/official/2.9/SRPMS/postfix-2.9.1-1.src.rpm" rel="nofollow">http://ftp.wl0.org/official/2.9/SRPMS/postfix-2.9.1-1.src.rpm</a>
</p>

<p>
<strong>Execute the following commands</strong>
</p>

<p>
<pre class="code">rpm -Uvh postfix-2.9.1-1.src.rpm
cd `rpm --eval &#039;%{_sourcedir}&#039;`
export POSTFIX_LDAP=1
export POSTFIX_MYSQL_REDHAT=1
export POSTFIX_PCRE=1
export POSTFIX_PGSQL=1
export POSTFIX_RBL_MAPS=1
export POSTFIX_SASL=2
export POSTFIX_TLS=1
export POSTFIX_VDA=1
export POSTFIX_DB=4</pre>

</p>

<p>
<pre class="code">$ sh `rpm --eval &#039;%{_sourcedir}&#039;`/make-postfix.spec
$ cd `rpm --eval &#039;%{_specdir}&#039;`
$ vi postfix.spec</pre>

</p>

<p>
Search for CCARGS variable (line 376)
</p>

<p>
Default value is empty.
</p>

<p>
modify to this:
</p>

<p>
<pre class="code">CCARGS=&quot;-DSNAPSHOT&quot; </pre>

</p>

<p>
Also Make following changes in postfix.<abbr title="specification">spec</abbr>
Replace all rhel5 to rhel6
Comment out lines with greeting.patch
#Patch99: <a href="ftp://ftp.wl0.org/SOURCES/postfix-2.8.3-multiline-greeting.patch" class="urlextern" title="ftp://ftp.wl0.org/SOURCES/postfix-2.8.3-multiline-greeting.patch" rel="nofollow">ftp://ftp.wl0.org/SOURCES/postfix-2.8.3-multiline-greeting.patch</a>
#%patch99  -p1 -b .multiline
Comment out lines with patch5 OR Patch5
#%patch5 -p1 -b .notls
#Patch5: postfix-makedefs.patch
Comment out lines for Patch4
#Patch4:  <a href="http://vda.sourceforge.net/VDA/postfix-%" class="urlextern" title="http://vda.sourceforge.net/VDA/postfix-%" rel="nofollow">http://vda.sourceforge.net/VDA/postfix-%</a>{V_vda}-vda-ng.patch.gz
#%if %{with_vda}
</p>

<p>
#  test -e  %{_sourcedir}/postfix-%{V_vda}-vda-ng.patch.gz &amp;&amp; \
</p>

<p>
#  gzip -dc %{_sourcedir}/postfix-%{V_vda}-vda-ng.patch.gz | patch -p1 -b –suffix .vda -s || \
</p>

<p>
#    die “POSTFIX RPM: %{_sourcedir}/postfix-%{V_vda}-vda.patch.gz not found or patch failed”
</p>

<p>
#%endif
</p>

<p>
<strong>After Changes Execute Following</strong>
</p>

<p>
<pre class="code">$ rpmbuild -ba postfix.spec
$ rpm -Uvh `rpm --eval&#039;%{_rpmdir}&#039;`../x86_64/postfix-...rpm</pre>

</p>

<p>
Now test if tcp is compiled with postconf -m
</p>

<p>
If successfully installed there will be tcp in the output of command
</p>

<p>
<pre class="code">$ postconf -m
btree
cdb
cidr
environ
hash
ldap
mysql
nis
pcre
pgsql
proxy
regexp
static
tcp
unix</pre>

</p>

<p>
<strong>Now Implement this script:</strong>
</p>

<p>
<pre class="code"># cd /etc/postfix
# vi random.pl </pre>

</p>

<p>
<pre class="code">#!/usr/bin/perl -w
# author: Hari Hendaryanto &lt;hari.h -at- csmcom.com&gt;
 
use strict;
use warnings;
use Sys::Syslog qw(:DEFAULT setlogsock);
 
#
# our transports array, we will define this in master.cf as transport services
#
 
our @array = (
&#039;rotate1:&#039;,
&#039;rotate2:&#039;,
&#039;rotate3:&#039;,
&#039;rotate4:&#039;,
&#039;rotate5:&#039;
);
 
#
# Initalize and open syslog.
#
openlog(&#039;postfix/randomizer&#039;,&#039;pid&#039;,&#039;mail&#039;);
 
#
# Autoflush standard output.
#
select STDOUT; $|++;
 
while (&lt;&gt;) {
        chomp;
        # randomizing transports array
        my $random_smtp = int(rand(scalar(@array)));
        if (/^get\s(.+)$/i) {
                print &quot;200 $array[$random_smtp]\n&quot;;
                syslog(&quot;info&quot;,&quot;Using: %s Transport Service&quot;, $random_smtp);
                next;
        }
 
    print &quot;200 smtp:&quot;;
}</pre>

</p>

<p>
Make it executable
</p>

<p>
<pre class="code"># chmod 755 random.pl </pre>

</p>

<p>
master.cf parts
</p>

<p>
Run the scripts via postfix spawn daemon service.
</p>

<p>
<pre class="code">127.0.0.1:2527 inet  n       n       n       -       0      spawn
          user=nobody argv=/etc/postfix/random.pl </pre>

</p>

<p>
add 5 smtp client services called rotate1, rotate2, rotate3, rotate4, rotate5, that bind to its own ip
address and has uniq syslog/helo name.
</p>

<p>
<pre class="code"># random smtp
rotate1  unix -       -       n       -       -       smtp
          -o syslog_name=postfix-rotate1
          -o smtp_helo_name=smtp1.example.com
          -o smtp_bind_address=1.2.3.1
 
rotate2  unix -       -       n       -       -       smtp
          -o syslog_name=postfix-rotate2
          -o smtp_helo_name=smtp2.example.com
          -o smtp_bind_address=1.2.3.2
 
rotate3  unix -       -       n       -       -       smtp
          -o syslog_name=postfix-rotate3
          -o smtp_helo_name=smtp3.example.com
          -o smtp_bind_address=1.2.3.3
 
rotate4  unix -       -       n       -       -       smtp
          -o syslog_name=postfix-rotate4
          -o smtp_helo_name=smtp4.example.com
          -o smtp_bind_address=1.2.3.4
 
rotate5  unix -       -       n       -       -       smtp
          -o syslog_name=postfix-rotate5
          -o smtp_helo_name=smtp5.example.com
          -o smtp_bind_address=1.2.3.5 </pre>

</p>

<p>
Reload postfix
<pre class="code"># postfix reload </pre>
 <br/>

Run this query fiew times, and you’ll see the perl script will return “random answer” transport
</p>

<p>
<pre class="code"># postmap -q &quot;whatever&quot; tcp:127.0.0.1:2527
rotate1: </pre>

</p>

<p>
<pre class="code"># postmap -q &quot;whatever&quot; tcp:127.0.0.1:2527
rotate5: </pre>

</p>

<p>
In <strong>main.cf</strong> parts add these lines
</p>

<p>
<pre class="code">transport_maps = tcp:[127.0.0.1]:2527
127.0.0.1:2527_time_limit = 3600s
 </pre>

</p>

<p>
Reload postfix
</p>

<p>
Original Scripts are following
</p>

<p>
<a href="http://www.kutukupret.com/2009/11/17/centos-5-compile-postfix-with-tcp-table-support/" class="urlextern" title="http://www.kutukupret.com/2009/11/17/centos-5-compile-postfix-with-tcp-table-support/" rel="nofollow">http://www.kutukupret.com/2009/11/17/centos-5-compile-postfix-with-tcp-table-support/</a>
</p>

<p>
Then
</p>

<p>
<a href="http://www.kutukupret.com/2010/12/06/postfix-randomizing-outgoing-ip-using-tcp_table-and-perl/" class="urlextern" title="http://www.kutukupret.com/2010/12/06/postfix-randomizing-outgoing-ip-using-tcp_table-and-perl/" rel="nofollow">http://www.kutukupret.com/2010/12/06/postfix-randomizing-outgoing-ip-using-tcp_table-and-perl/</a>
</p>

</div>
