
<h1 class="sectionedit1" id="shoutcast_server_setup">ShoutCast Server Setup</h1>
<div class="level1">

<p>
To setup complete Shoutcast there is need to be configuration on two levels
</p>

<p>
1. On Server ( where shoutcast server is to be installed)
2. On system (From where streaming is to be done)
</p>

<p>
On Server
1. Login into the server and make a directory for shoutcast.
</p>
<pre class="code">          mkdir shoutcast</pre>

<p>
2. Change the directory and download the latest Linux SHOUTcast server files.
</p>
<pre class="code">           cd shoutcast
           wget http://download.nullsoft.com/shoutcast/tools/sc_serv2_linux_x64_07_31_2011.tar.gz</pre>

<p>
3. Extract the files.
</p>
<pre class="code">           tar -zxvf sc_serv2_linux_x64_07_31_2011.tar.gz</pre>

<p>
4.There are several .conf files which are used to run the server for different need. Here need just basic server so, just edit sc_serv_basic.conf .
</p>

<p>
5. Do the following changes in the sc_serv_basic.conf files.
<pre class="code">              portbase=8000                                                         ;The port would be any according to desire or need. Here we used 8000
              password=&lt;your password&gt;                                    ; This  password  is used by sc_trans or the Winamp dsp plug-in
              adminpassword=&lt;your password&gt;                          ; This password is used for accessing the administation pages
              streamid=1                                                              ; This specify the details of the stream we&#039;re going to serve
              streampath=/test.mp3 </pre>

</p>

<p>
6. Now save the changes and run the following command to run the server with above configurations.
</p>
<pre class="code">             ./sc_serv sc_serv_basic.conf
             </pre>

<p>
7. Now open http:&lt;server ip&gt;:8000  . Admin can login by
<pre class="code">              username: admin
              password: &lt;adminpassword set in step 5 of server section&gt; </pre>

</p>

<p>
On System
<pre class="code">1. Download and install the Winamp and DSP Winamp Plugin.
              You can download winamp fron http://www.winamp.com/media-player/all  and DSP Winamp Plugin from http://shoutcast.softpedia.com/      
       2. Open the Winamp and Go to the Options-&gt;Preferences-&gt;Plugins-&gt;DSP/Effect   select shoutcast dsp plug-in and hit &quot;Configure active plug-in&quot; (you can simply use Ctrl+p )      
       3. In Output section.
                i. select &quot;output 1&quot; 
                ii. In Connection fill following
                      Address: &lt;IP Address of the Shoutcast server&gt;
                      Port: 8000  
                      Stream ID: &lt;streamid set in step 5 of server section&gt;
                      Username: &lt;left blank&gt;
                      Password: &lt;Password set for Winamp dsp plug-in in step 5 of server section&gt;
                iii. In Yellowpages select &quot;make this server public&quot; and fill rest of your choice
                iv.  In Encoder select &quot;mp3 encoder&quot;      
       4. In Input section select input device of your choice. 
               Winamp ( If you want to broadcast the winamp playing list)
               Soundcard input ( You want to broadcast through system&#039;s internal mic)
       5.  Now hit connect and see the status if bits transferring to server.
       6.  If connected successfully, Play any song in your winamp (If selected winamp in input) and goto the site http://&lt;server ip&gt;:8000/
            there would appear a available stream just click that and hit the listen. A .pls file will downloaded, open it with any media player and listen the broadcasting.
  
       7. You can monitor the streaming through admin panel. </pre>

</p>

</div>
