
<p>
Two ways to go about it.
</p>

<p>
<strong>ONE</strong><br/>

Go to AdminCP<br/>

Click on settings<br/>

Edit the product <abbr title="Uniform Resource Locator">URL</abbr><br/>

Move the files to new location<br/>

Delete Cache and Logs from “/<em class="u">swift/cache” and “/</em>swift/logs” <br/>

In a new browser, open new admin path and go to Diagnostics and click on Rebuild Cache.
</p>

<p>
<strong>TWO</strong><br/>

Open the database<br/>

Under “swsettings”, run the following command<br/>

Select * from swsettings WHERE vkey = &#039;general_producturl&#039;; → to see present <abbr title="Uniform Resource Locator">URL</abbr><br/>

UPDATE swsettings SET data = &#039;new <abbr title="Uniform Resource Locator">URL</abbr>&#039; WHERE vkey = &#039;general_producturl&#039;; → to update <abbr title="Uniform Resource Locator">URL</abbr><br/>

Repeat last two steps from ONE.
</p>
