
<p>
To list the account associated with groups
</p>

<p>
su - zimbra
</p>

<p>
/opt/zimbra/bin/zmprov gdl ba@globalinfonet.in | grep zimbraMailForwardingAddress: | awk {&#039;print $2&#039;} &gt; /home/ba@globalinfonet.txt
</p>

<p>
/opt/zimbra/bin/zmprov gdl bm@globalinfonet.in | grep zimbraMailForwardingAddress: | awk {&#039;print $2&#039;} &gt; /home/bm@globalinfonet.txt
</p>

<p>
Where [ba@globalinfonet.in] is group name 
</p>
