
<p>
Follow the link below :-
</p>

<p>
<a href="https://www.digitalocean.com/community/tutorials/how-to-install-a-fresh-percona-server-or-replace-mysql" class="urlextern" title="https://www.digitalocean.com/community/tutorials/how-to-install-a-fresh-percona-server-or-replace-mysql" rel="nofollow">https://www.digitalocean.com/community/tutorials/how-to-install-a-fresh-percona-server-or-replace-mysql</a>
</p>
