
<h1 class="sectionedit1" id="setup_xen_hvm_with_solusvm">Setup Xen HVM with SolusVM</h1>
<div class="level1">

<p>
1. Install a master SolusVM on another node:
<pre class="code">wget http://soluslabs.com/installers/solusvm/install
chmod 755 install
./install

--&gt; Select Install SolusVM Master.
--&gt; Then, select No Virtualization. </pre>

</p>

<p>
2. Install Slave SolusVM on the main node where you want your VPS&#039;s.
<pre class="code">wget http://soluslabs.com/installers/solusvm/install
chmod 755 install
./install

--&gt; Select Install SolusVM Slave.
--&gt; Then, select Start Slave Install(XEN) </pre>

</p>

<p>
Then do the steps below in the master:
</p>

<p>
1. Goto admincp and add a IP block. Then add Ip&#039;s in it.
</p>

<p>
2. Add client(s).
</p>

<p>
3. Add ISO&#039;s and templates. Then perform sync.
</p>

<p>
4. Then create VM&#039;s.
</p>

<p>
NOTE: If there is problem booting a new VM, type the following after ssh to slave machine:
</p>

<p>
xm create /home/xen/vmXXX/vmXXX.cfg
</p>

<p>
(where XXX is the VM number)
</p>

</div>
