
<p>
<em class="u"><strong>For whitelisting</strong></em> <br/>

Whitelist Edit /opt/zimbra/conf/postfix_rbl_override. Add IP address(es) SPACE OK to the file, one IP address per line:
</p>

<p>
<pre class="code">1.2.3.4 OK</pre>

Run the postmap to save and apply the changes in Postfix:
</p>

<p>
<pre class="code">postmap /opt/zimbra/conf/postfix_rbl_override</pre>

Run the zmprov to apply the changes to the Zimbra Collaboration Server:
</p>

<p>
<pre class="code">zmprov mcf +zimbraMtaRestriction &#039;check_client_access lmdb:/opt/zimbra/conf/postfix_rbl_override&#039;</pre>

postmap will need to be rerun on the file any time an IP address is added or removed.
</p>
<hr />

<p>
<em class="u"><strong>For blacklisting</strong></em>
</p>

<p>
Blacklist Edit /opt/zimbra/conf/postfix_blacklist. 
Add IP address SPACE REJECT to the file, one IP address per line:
</p>

<p>
<pre class="code">1.2.3.4 REJECT</pre>

Run the postmap to save and apply the changes in Postfix:
</p>

<p>
<pre class="code">postmap /opt/zimbra/conf/postfix_blacklist</pre>

Run the zmprov to apply the changes to the Zimbra Collaboration Server:
</p>

<p>
<pre class="code">zmprov mcf +zimbraMtaRestriction &#039;check_client_access lmdb:/opt/zimbra/conf/postfix_blacklist&#039;</pre>

postmap will need to be rerun on the file anytime an IP address is added or removed.
</p>
