
<h1 class="sectionedit1" id="allow_php_scripts_to_write_files_on_windows_server_using_scheduled_tasks_in_plesk">Allow PHP scripts to write files on Windows server using scheduled tasks in Plesk</h1>
<div class="level1">

<p>
Just change php.exe to php-cgi.exe
</p>

</div>
