
<p>
<pre class="code">cd /opt/zimbra/cbpolicyd/share/webui/
vi .htaccess</pre>

</p>

<p>
Add the following content to .htaccess
<pre class="code">AuthUserFile /opt/zimbra/cbpolicyd/share/webui/.htpasswd
AuthGroupFile /dev/null
AuthName &quot;User and Password&quot;
AuthType Basic

&lt;LIMIT GET&gt;
require valid-user
&lt;/LIMIT&gt;</pre>

</p>

<p>
Create .htpasswd.
<pre class="code">touch .htpasswd
/opt/zimbra/httpd/bin/htpasswd -cb .htpasswd USERNAME PASSWORD</pre>

</p>

<p>
#Use your username and password in place of USERNAME and PASSWORD.
</p>

<p>
<pre class="code">vi /opt/zimbra/conf/httpd.conf</pre>

</p>

<p>
Add below lines in the end of httpd.conf file .
<pre class="code">Alias /webui /opt/zimbra/cbpolicyd/share/webui/
&lt;Directory /opt/zimbra/cbpolicyd/share/webui/&gt;
# Comment out the following 3 lines to make web ui accessible from anywhere
AllowOverride AuthConfig
Order Deny,Allow
Allow from all
&lt;/Directory&gt;</pre>

</p>

<p>
Restart zimbra apache.
<pre class="code">su - zimbra -c &quot;zmapachectl restart&quot;</pre>

</p>

<p>
Reference Links: <a href="https://imanudin.net/2014/09/12/zimbra-tips-how-to-protect-policyd-webui/" class="urlextern" title="https://imanudin.net/2014/09/12/zimbra-tips-how-to-protect-policyd-webui/" rel="nofollow">https://imanudin.net/2014/09/12/zimbra-tips-how-to-protect-policyd-webui/</a>
</p>

<p>
<pre class="code">

##########################################################################
&lt;Directory /var/www/html&gt;
                Options -Indexes +IncludesNOEXEC +SymLinksIfOwnerMatch +ExecCGI
                allow from all
                AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
&lt;/Directory&gt;
##########################################################################</pre>

</p>
