
<p>
<strong>1. Set Kill and Tag Percent.</strong>
</p>

<p>
i. Login to zimbra admin panel.
</p>

<p>
ii. Navigate to Home→Configure→Global Settings→AS/AV
</p>

<p>
iii. Set Kill Percent: 50 and Tag Percent: 25
</p>

<p>
(These values can be reduced intend to strict SPAM filter)
</p>

<p>
<strong>2. Rejecting false “mail from” addresses (mail spoofing), follow below article</strong>
</p>

<p>
<a href="https://wiki.zimbra.com/wiki/Rejecting_false_%22mail_from%22_addresses" class="urlextern" title="https://wiki.zimbra.com/wiki/Rejecting_false_%22mail_from%22_addresses" rel="nofollow">https://wiki.zimbra.com/wiki/Rejecting_false_%22mail_from%22_addresses</a>
</p>

<p>
<strong>Note: For versions 8.5 and above if method not worked said in above article then follow instructions for 8.0.x but add below line in /opt/zimbra/conf/zmconfigd/smtpd_sender_restrictions.cf instead of given one </strong>
<pre class="code"> check_sender_access lmdb:/opt/zimbra/conf/domainrestrict</pre>

</p>

<p>
<strong>3. Enable SpamAssassin rule updates via sa-update. </strong>
</p>

<p>
Check that these are set to true, and if not, set them to true and restart amavisd and the MTA:
</p>

<p>
<pre class="code">  zmlocalconfig antispam_enable_rule_updates
  zmlocalconfig antispam_enable_restarts</pre>

</p>

<p>
If above two are showing “false” then run below commands to enable.
</p>

<p>
<pre class="code">  zmlocalconfig -e antispam_enable_rule_updates=true
  zmlocalconfig -e antispam_enable_restarts=true
  zmamavisdctl restart
  zmmtactl restart</pre>

</p>

<p>
<strong>4. Enable RBL and <abbr title="Domain Name System">DNS</abbr> checks. </strong> Run below commands to enable RBL and required <abbr title="Domain Name System">DNS</abbr> checks.
<pre class="code">   zmprov mcf +zimbraMtaRestriction &quot;reject_invalid_hostname&quot;
   zmprov mcf +zimbraMtaRestriction &quot;reject_non_fqdn_hostname&quot;
   zmprov mcf +zimbraMtaRestriction &quot;reject_non_fqdn_sender&quot;
   zmprov mcf +zimbraMtaRestriction &quot;reject_unknown_sender_domain&quot;
   zmprov mcf +zimbraMtaRestriction &quot;reject_rbl_client bl.spamcop.net&quot;
   zmprov mcf +zimbraMtaRestriction &quot;reject_rbl_client sbl.spamhaus.org&quot;</pre>

</p>

<p>
Then restart zimbra services. To check configured restrictions run below commands.
</p>

<p>
<pre class="code">   zmprov gcf zimbraMtaRestriction</pre>

</p>

<p>
You can add below RBL&#039;s also if required.
</p>

<p>
<pre class="code"> dnsbl.sorbs.net
 b.barracudacentral.org</pre>

</p>

<p>
<strong>NOTE: After enabling RBLs do following.</strong>
</p>

<p>
i. Open /opt/zimbra/postfix-2.10.1.2z/conf/main.cf (postfix version could be different).
</p>

<p>
ii. For “smtpd_recipient_restrictions” make “permit_sasl_authenticated” prior to RBLs check. e.g.
</p>

<p>
<pre class="code">  smtpd_recipient_restrictions = reject_non_fqdn_recipient, check_sender_access hash:/opt/zimbra/postfix/conf/restricted_senders, permit_sasl_authenticated, permit_mynetworks, reject_unlisted_recipient, reject_non_fqdn_sender, reject_unknown_sender_domain, reject_rbl_client bl.spamcop.net, reject_rbl_client sbl.spamhaus.org, permit</pre>

</p>

<p>
iii. restart zimbra service.
</p>

<p>
<strong>5. Increase SPAM Fail score.</strong>
</p>

<p>
i. Open /opt/zimbra/conf/spamassassin/50_scores.cf (location would be change for this file).
</p>

<p>
<pre class="code">  For Zimbra 8.6 file location is&gt;&gt; /opt/zimbra/data/spamassassin/rules/50_scores.cf</pre>

</p>

<p>
ii. Change it&#039;s permission to 644 and search for “SPF_FAIL”, now change values as below (increase value by 2 for SPF fail).
</p>

<p>
<pre class="code">  ifplugin Mail::SpamAssassin::Plugin::SPF
  score SPF_NONE 2
  score SPF_HELO_NONE 0
  score SPF_PASS -0.001
  score SPF_HELO_PASS -0.001
  # &lt;gen:mutable&gt;
  score SPF_FAIL 2 2.919 2 2.001 # n=0 n=2
  score SPF_HELO_FAIL 2 2.001 2 2.001 # n=0 n=2
  score SPF_HELO_NEUTRAL 2 2.001 2 2.112 # n=0 n=2
  score SPF_HELO_SOFTFAIL 2 2.896 2 2.732 # n=0 n=2
  score SPF_NEUTRAL 2 2.652 2 2.779 # n=0 n=2
  score SPF_SOFTFAIL 2 2.972 2 2.665 # n=0 n=2
  # &lt;/gen:mutable&gt;
  endif # Mail::SpamAssassin::Plugin::SPF</pre>

</p>

<p>
iii. Few more changes required to be done in 50_scores.cf file.
</p>

<p>
<pre class="code">score BAYES_00  0  0 -0.001 -0.001
score URIBL_BLOCKED 0 2.001 0 2.001
score FSL_HELO_NON_FQDN_1 2.361 2.001 1.783 2.001</pre>

</p>

<p>
iv. Now revert the file permission to back 444 and restart zimbra services.
</p>

<p>
<strong>6. Check if auto spam training running or not using below command as zimbra user.</strong>
<pre class="code">   zmtrainsa --cleanup</pre>

</p>

<p>
Useful links.
</p>

<p>
<a href="https://wiki.zimbra.com/wiki/Anti-spam_Strategies" class="urlextern" title="https://wiki.zimbra.com/wiki/Anti-spam_Strategies" rel="nofollow">https://wiki.zimbra.com/wiki/Anti-spam_Strategies</a>
</p>

<p>
<a href="https://wiki.zimbra.com/wiki/Improving_Anti-spam_system" class="urlextern" title="https://wiki.zimbra.com/wiki/Improving_Anti-spam_system" rel="nofollow">https://wiki.zimbra.com/wiki/Improving_Anti-spam_system</a>
</p>
