
<p>
This will create an additional admin account with the password of &#039;test123&#039;:
</p>

<p>
 <strong>zmprov ca testadmin@domain.com test123 zimbraIsAdminAccount TRUE</strong>
</p>

<p>
This will transform a normal existed user account into an admin account (in this example futur-admin will become an admin) :
</p>

<p>
 <strong>zmprov ma futur-admin@domain.com zimbraIsAdminAccount TRUE</strong>
</p>

<p>
To change the password run:
</p>

<p>
 <strong>zmprov sp testadmin@domain.com NEW_PASSWORD</strong>
</p>
