<div class="level3">
<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

</div>

<h3 class="sectionedit1" id="unknown_cipher_in_listtlsv1">Unknown Cipher in list: TLSv1</h3>
<div class="level3">
<hr />

<p>
If you have encounter this error when using the downloader for installing any extension then you can try below solution. The problem is due to older ciphers and remains an uncorrected bug. But this is fixed by adjusting one line of code.
</p>

<p>
To correct this, in <em>downloader/lib/Mage/HTTP/Client/Curl.php</em>, change :
</p>

<p>
<code>$this→curlOption(CURLOPT_SSL_CIPHER_LIST, &#039;TLSv1&#039;);</code>
</p>

<p>
to
</p>

<p>
<code>$this→curlOption(CURLOPT_SSLVERSION, CURL_SSLVERSION_TLSv1);</code>
</p>

</div>
<!-- EDIT1 SECTION "Unknown Cipher in list: TLSv1" [38-] -->