
<h1 class="sectionedit1" id="regenerate_ssl_cert">Regenerate SSL Cert</h1>
<div class="level1">
<pre class="code">su - zimbra -c &#039;zmcontrol stop&#039;

rm -rf /opt/zimbra/ssl/*

rm -rf /opt/zimbra/ssl/.rnd

/opt/zimbra/java/bin/keytool -delete -alias my_ca -keystore /opt/zimbra/java/jre/lib/security/cacerts -   storepass changeit

/opt/zimbra/java/bin/keytool -delete -alias jetty -keystore /opt/zimbra/mailboxd/etc/keystore -storepass `su - zimbra -c &#039;zmlocalconfig -s -m nokey mailboxd_keystore_password&#039;`

vi /opt/zimbra/bin/zmcertmgr</pre>

<p>
# Find line 
# SUBJECT=“/C=US/ST=N\/A/L=N\/A/O=Zimbra Collaboration Suite/OU=Zimbra Collaboration Suite/CN=${zimbra_server_hostname}”
# and change to your company name
</p>

<p>
# then find and change you want value days expire cert validation_days=365 to validation_days=3650
# save /opt/zimbra/bin/zmcertmgr
</p>
<pre class="code">/opt/zimbra/bin/zmcertmgr createca -new

/opt/zimbra/bin/zmcertmgr deployca -localonly

/opt/zimbra/bin/zmcertmgr createcrt self -new

/opt/zimbra/bin/zmcertmgr deploycrt self</pre>
<pre class="code">su - zimbra -c &#039;zmcontrol start&#039;</pre>
<pre class="code">/opt/zimbra/bin/zmcertmgr deploycrt self

/opt/zimbra/bin/zmcertmgr deployca</pre>
<pre class="code">su - zimbra -c &#039;zmupdateauthkeys&#039;

/opt/zimbra/bin/zmcertmgr viewdeployedcrt</pre>

<p>
################################################## ###############################################
</p>

</div>
