<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
While provisioning a PoC setup your <a href="https://trello.com/b/sou036Cn/04-tech-support" class="urlextern" title="https://trello.com/b/sou036Cn/04-tech-support" rel="nofollow">trello</a> checklist must have all the required points mentioned below:
</p>

<p>
1. <a href="http://wiki.mantraventures.com/magento/provisioning/audit-clients-server" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/audit-clients-server" rel="nofollow">Audit the clients server</a>.
</p>

<p>
2. Ensure you must have all the required details &amp; access before starting PoC setup.
</p>
<ul>
<li class="level1"><div class="li"> file &amp; database access from clients end.</div>
</li>
<li class="level1"><div class="li"> Admin panel details (if not then reset password after setup.)</div>
</li>
</ul>

<p>
3. Prepare a server for PoC. Details of server configuration is mentioned in provisioning sheet shared by sales team. Update all the packages and <em>reboot </em>  server.
</p>

<p>
On CentOS for updating packages use command :
</p>

<p>
<code>yum update -y</code>
</p>

<p>
4. Install web <a href="http://wiki.mantraventures.com/magento/stack/server-setup" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/server-setup" rel="nofollow">hosting stack</a> on server.
</p>

<p>
5. <a href="http://wiki.mantraventures.com/magento/stack/create-a-virtualhost" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/create-a-virtualhost" rel="nofollow">Create a VirtualHost</a> for PoC setup. (While creating a virtual host take that client is from MageHost or Mantragrid). Also create a <abbr title="Domain Name System">DNS</abbr> record for PoC domain.
</p>

<p>
6. From client server, migrate files and <a href="http://wiki.mantraventures.com/magento/configuration/magento-how-to-mysqldump" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-how-to-mysqldump" rel="nofollow">database dump</a> on PoC server. (mysql)
</p>

<p>
For file transfer you can take reference from command below :
</p>

<p>
<code>rsync -avhzsr -e &#039;ssh -p 3822&#039; {source-directory}/ {PoC-IP}:{destination-directory}/</code>
</p>

<p>
7. Update Database details in <strong>app/etc/local.xml</strong>  file. Set file and directory <a href="http://wiki.mantraventures.com/magento/configuration/magento-file-permissions" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-file-permissions" rel="nofollow">permissions</a> &amp; <a href="http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database" rel="nofollow">change website url</a> from database.
</p>

<p>
8. Check &amp; test <a href="http://wiki.mantraventures.com/magento/provisioning/poc-testing" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-testing" rel="nofollow">Website Functionality</a>.
</p>

<p>
9. <a href="http://wiki.mantraventures.com/magento/stack/magento-clear-database-logs" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/magento-clear-database-logs" rel="nofollow">Clear database logs</a> &amp; <a href="http://wiki.mantraventures.com/magento/configuration/magento-clear-file-cache" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-clear-file-cache" rel="nofollow">Clear Old cache</a> from <strong><em>var</em></strong> directory.
</p>

<p>
10. Implement &amp; test <a href="http://wiki.mantraventures.com/magento/configuration/magento-optimizations" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-optimizations" rel="nofollow">optimizations</a> on magento website.
</p>

<p>
11. Check &amp; test <a href="http://wiki.mantraventures.com/magento/provisioning/poc-testing" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-testing" rel="nofollow">Website Functionality Again</a>.
</p>

<p>
12. Forward details to client &amp; details must include only website &amp; admin details. (Do not give <abbr title="File Transfer Protocol">FTP</abbr>, Shell &amp; Phpmyadmin access. These are shared at the time of Final Migration.).
</p>

<p>
13. Tell client to check some set of functionality at their end as per <a href="https://supportmantra.com/index.php?/Knowledgebase/Article/View/8/0/checking-functionality-of-a-magento-store" class="urlextern" title="https://supportmantra.com/index.php?/Knowledgebase/Article/View/8/0/checking-functionality-of-a-magento-store" rel="nofollow">checklist</a>.
</p>
