
<h1 class="sectionedit1" id="configuring_clamav_unofficial_signatures">Configuring ClamAV Unofficial Signatures</h1>
<div class="level1">

<p>
Copy default config files to the config dir we&#039;ve just created, as <strong>zimbra</strong> user: &gt;$ cp clamav-unofficial-sigs/config/{master.conf,user.conf} conf/clamav-unofficial-sigs/
</p>

<p>
Create zimbra specific config on <strong>conf/clamav-unofficial-sigs/os.conf</strong>: &gt;vi conf/clamav-unofficial-sigs/os.conf clam_user=“zimbra” clam_group=“zimbra” clam_dbs=“/opt/zimbra/data/clamav/db” clamd_pid=“/opt/zimbra/log/clamd.pid” work_dir=“/opt/zimbra/data/clamav-unofficial-sigs” log_file_path=“/opt/zimbra/log” clamd_reload_opt=“/opt/zimbra/clamav/bin/clamdscan –config-file=/opt/zimbra/conf/clamd.conf –reload” clamscan_bin=“/opt/zimbra/clamav/bin/clamscan” user_configuration_complete=“yes”
</p>

</div>
<!-- EDIT1 SECTION "Configuring ClamAV Unofficial Signatures" [2-728] -->
<h1 class="sectionedit2" id="running_clamav_unofficial_signatures_for_the_first_time">Running ClamAV Unofficial Signatures for the first time</h1>
<div class="level1">

<p>
Try to run clamav-unofficial-sigs and check to output for possible errors, as <strong>zimbra</strong> user
</p>

<p>
<code>$ /bin/bash /opt/zimbra/clamav-unofficial-sigs/clamav-unofficial-sigs.sh -c /opt/zimbra/conf/clamav-unofficial-sigs   </code>
</p>

</div>
<!-- EDIT2 SECTION "Running ClamAV Unofficial Signatures for the first time" [729-1018] -->
<h1 class="sectionedit3" id="adding_to_crontab_the_clamav_unofficial_signatures_update">Adding to Crontab the ClamAV Unofficial Signatures update</h1>
<div class="level1">

<p>
<code>If all went well, configure a cron job using <strong>crontab -e</strong> as <strong>zimbra</strong> user &gt;$ crontab -e 45 * * * * /bin/bash /opt/zimbra/clamav-unofficial-sigs/clamav-unofficial-sigs.sh -c /opt/zimbra/conf/clamav-unofficial-sigs &gt; /dev/null   </code>
</p>

</div>
<!-- EDIT3 SECTION "Adding to Crontab the ClamAV Unofficial Signatures update" [1019-1333] -->
<h1 class="sectionedit4" id="configure_log_rotation_for_clamav_unofficial_signatures">Configure log rotation for ClamAV Unofficial Signatures</h1>
<div class="level1">

<p>
<code>Log rotation can be configured in e.g. /etc/logrotate.d/clamav-unofficial-sigs: </code>
</p>

<p>
<code>&gt;/opt/zimbra/log/clamav-unofficial-sigs.log { weekly rotate 4 missingok notifempty compress create 0644 zimbra zimbra }   </code>
</p>

<p>
<code>Change configuration files as follows: </code>
</p>

<p>
<code>&gt; vim /opt/zimbra/conf/amavisd.conf.in and change as following </code>
</p>

<p>
<code>&gt; $final_virus_destiny = D_REJECT; $final_banned_destiny = D_BOUNCE; $final_spam_destiny = D_REJECT;   </code>
</p>

<p>
<code>Recheck configuration files errors by running following command </code>
</p>

<p>
<code>&gt; /bin/bash /opt/zimbra/clamav-unofficial-sigs/clamav-unofficial-sigs.sh -c /opt/zimbra/conf/clamav-unofficial-sigs ​​​​   </code>
</p>

<p>
<code>Reference: <a href="https://wiki.zimbra.com/wiki/Clamav_unofficial_sigs" class="urlextern" title="https://wiki.zimbra.com/wiki/Clamav_unofficial_sigs" rel="nofollow">https://wiki.zimbra.com/wiki/Clamav_unofficial_sigs</a> </code>
</p>

</div>
<!-- EDIT4 SECTION "Configure log rotation for ClamAV Unofficial Signatures" [1334-] -->