
<p>
<strong><em class="u">PerconaDB</em></strong> : “PerconaDB” aka “Percona Server” is a fork of the MySQL relational database management system created by Percona. It aims to retain close compatibility to the official MySQL releases, while focusing on performance and increased visibility into server operations.  Is a free, fully compatible, enhanced, open source &amp; provides superior performance, scalability and instrumentation.
</p>
