
<h1 class="sectionedit1" id="setup_csf">Setup CSF</h1>
<div class="level1">

<p>
1. In whm got config server security &amp; firewall
</p>

<p>
2. Click on firewall configuration and change the following:
<pre class="code">    TESTING =0 

     TCP_IN add 3306, 21000:65000

     TCP_OUT add 3306

     ICMP_IN_RATE= 30/s </pre>

</p>

<p>
3. Disable email alerts from LFD
</p>

<p>
# vim /etc/csf/csf.conf
</p>

<p>
LF_EMAIL_ALERT = “0”
</p>

<p>
LF_SSH_EMAIL_ALERT = “0”
</p>

<p>
LF_SU_EMAIL_ALERT = “0”
</p>

<p>
PT_LIMIT = “0”
</p>

<p>
LF_WEBMIN_EMAIL_ALERT = “0”
</p>

<p>
LF_CONSOLE_EMAIL_ALERT = “0”
</p>

<p>
CT_EMAIL_ALERT = “0”
</p>

<p>
PS_EMAIL_ALERT = “0”
</p>

<p>
LT_EMAIL_ALERT = “0”
</p>

<p>
PT_USERPROC = “0”
</p>

<p>
PT_USERMEM = “0”
</p>

<p>
PT_USERTIME = “0”
</p>

<p>
PT_USERKILL = “0”
</p>

<p>
PT_USERKILL_ALERT = “0”
</p>

<p>
RT_LOCALRELAY_ALERT = “0”
</p>

<p>
4. Restart LFD &amp; CSF
</p>

<p>
# /etc/init.d/lfd restart
</p>

<p>
# csf -r
</p>

</div>
