<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
ReIndexing Plugin can be installed using below steps:
</p>

<p>
1. Go to <a href="https://www.magentocommerce.com/magento-connect/" class="urlextern" title="https://www.magentocommerce.com/magento-connect/" rel="nofollow">magento connect</a> and search for <a href="https://www.magentocommerce.com/magento-connect/dn-d-patch-index-url-1.html" class="urlextern" title="https://www.magentocommerce.com/magento-connect/dn-d-patch-index-url-1.html" rel="nofollow">Dnd Index Patch Url</a> plugin and Get extension installation key.
</p>

<p>
<em>Note </em>: You can try to use below key directly for installing this extension:
</p>

<p>
<code><a href="http://connect20.magentocommerce.com/community/Dnd_Patchindexurl" class="urlextern" title="http://connect20.magentocommerce.com/community/Dnd_Patchindexurl" rel="nofollow">http://connect20.magentocommerce.com/community/Dnd_Patchindexurl</a></code>
</p>

<p>
2. Open Magento Downloader ( Magento Connect Manager ). To access downloader directly open <abbr title="Uniform Resource Locator">URL</abbr> “{your-domain-name}/downloader” in browser OR Open admin panel &amp; Go to <em>System </em> »<em> Magento Connect </em> »<em> Magento Connect Manager</em>.
</p>

<p>
3. Login into Magento Downloader &amp; Paste installation key. For more have a look at below image :
</p>

<p>
<img src="/lib/exe/fetch.php?w=560&amp;h=300&amp;tok=71eb09&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Finstall-extension-using-mcm.jpg" class="media" title="install-extension-using-mcm.jpg" alt="install-extension-using-mcm.jpg" width="560" height="300" />
</p>

<p>
4. Finally you get success message at bottom of page in a black terminal like screen.
</p>

<p>
5. After it Login to magento backend &amp; Go to System » Configuration » (Advanced) Developer.
</p>

<p>
6. In <strong><em>Index Url Optimization </em></strong>drop down turn all options to <strong><em>yes</em></strong>. Look at below image.
</p>

<p>
<img src="/lib/exe/fetch.php?w=800&amp;h=168&amp;tok=248698&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Findexpathurl.png" class="media" alt="" width="800" height="168" />
</p>

<p>
7. Click on <em><strong>Save Config</strong></em> button.
</p>

<p>
Done.
</p>
