
<h1 class="sectionedit1" id="install_googleapps_on_domain">Install GoogleApps on domain</h1>
<div class="level1">

<p>
Following are the steps:
</p>

<p>
1. Go to  <a href="http://www.google.com/a/cpanel/domain/new" class="urlextern" title="http://www.google.com/a/cpanel/domain/new" rel="nofollow">www.google.com/a/cpanel/domain/new</a> and choose the appropriate option. There are two options either you use your existing domain, or buy a new domain.
</p>

<p>
2. Now fill up the forms Carefully. After you complete the forms you will get an administrative account.
</p>

<p>
3. After this process you need to verify your domain name. Google verifies this to check the ownership of domain. To verify click “Setup” on the Google Apps dashboard.
</p>

<p>
4. Follow the steps carefully. Google Apps wizard will first ask you to confirm the domain you are going to use and ask you to verify it&#039;s ownership.
</p>

<p>
5. For verifying Apps we recommend you to use the file upload an  html file. click on this and save the Html file. Now, open your cpanel account and upload the same file under public/html. Check your nameservers at resellerclub and change it to “mt1.abhedya.net” and “mt2.abhedya.net”.
</p>

<p>
6. Once you are done click on the continue setup wizard. Read the steps provided and choose the appropriate option.
</p>

<p>
7. When you reach the “ Setup Gmail ” i.e Switch MX records domain option(Here you need to specify the priority of the google servers as it is specified in the list given by google on your cPanel). For this add the records specified in google Apps in your “MX Entry” of cPanel. for ex: ASPMX.L.GOOGLE.COM has priority &#039;1&#039;. check that any other point does not have priority lower than &#039;1&#039; because ASPMX.L.GOOGLE.COM is the first server where your mail is received.
</p>

<p>
Note:  Delete any previous entries in the MX entry and then add new records.
</p>

<p>
8. After you make changes to your MX record go to your Google Apps wizard on its dashboard locate the Email service and click on activate mail.
</p>

<p>
9.If the MX record is ready and done. Now you are ready to roll and customize your google apps setup.
</p>

<p>
10. Click on “Support” on the google apps dashboard and check the requirements you need to specify, whether you want to modify the setup of  an email, calendar, document.
</p>

<p>
11. To create a Cname i.e( a canonical name) for your features such as email for ex: by default the login of your email account is  <a href="https://mail.google.com/a/domain" class="urlextern" title="https://mail.google.com/a/domain" rel="nofollow">https://mail.google.com/a/domain</a> name to create <strong>mail.domain name</strong> you need to follow the steps.
</p>

<p>
11.1 Click on the setup on the dashboard of google Apps. click on email
</p>

<p>
11.2  Click on the radio button where it mentions to create a Cname mail and then specify the desired name you want.
</p>

<p>
11.3 Now enter into your cpanel account click on simple <abbr title="Domain Name System">DNS</abbr> and specify the Name, TTL, Cname you specified on your google app and add the records.
</p>

<p>
11.4  If the above is done you are good to go with it. Check if the cname specified is working properly or not. click on your browser and type the cname you specified ex: mail.domain name
</p>

<p>
12. You are done with setup. Enjoy your Google Apps.
</p>

</div>
