
<p>
How to deactivate all plugins when not able to access the administrative menus
</p>

<p>
 How to deactivate all plugins when not able to access the administrative menus?
</p>

<p>
Sometimes it may be necessary to deactivate all plugins, but you can&#039;t access the administrative menus to do so. One of two methods are available to deactivate all plugins.
</p>

<p>
Use phpMyAdmin to deactivate all plugins.
</p>
<ol>
<li class="level1"><div class="li"> In the table wp_options, under the option_name column (field) find the active_plugins row</div>
</li>
<li class="level1"><div class="li">     Change the option_value field to: a:0:{} </div>
</li>
</ol>

<p>
Or reset your plugins folder via <abbr title="File Transfer Protocol">FTP</abbr> or the file manager provided in your host&#039;s control panel.
</p>
<ol>
<li class="level1"><div class="li">  Via <abbr title="File Transfer Protocol">FTP</abbr> or your host&#039;s file manager, navigate to the wp-contents folder (directory)</div>
</li>
<li class="level1"><div class="li">     Via <abbr title="File Transfer Protocol">FTP</abbr> or your host&#039;s file manager, rename the folder “plugins” to “plugins.hold”</div>
</li>
<li class="level1"><div class="li">     Login to your WordPress administration menus (/wp-admin)</div>
</li>
<li class="level1"><div class="li">     Via <abbr title="File Transfer Protocol">FTP</abbr> or your host&#039;s file manager, rename “plugins.hold” back to “plugins” </div>
</li>
</ol>
