
<p>
To implement a closed user group in Elastix:
</p>

<p>
Make a “custom context” (in /etc/asterisk/extensions_custom.conf)
</p>

<p>
That looks something like:
</p>

<p>
<pre class="code">
[internal-extension]
exten =&gt; _2XX,1,goto(from-internal,${EXTEN},1) 
; 2XX are the extensions it can dial

exten =&gt; _3XX,1,goto(from-internal,${EXTEN},1) 
; they can dial also 3XX extensions

exten =&gt; _011.,1,goto(from-internal,${EXTEN},1)
;same thing for the rest of the world

exten =&gt; _.,1,hangup() 
;reject any non matching calls
</pre>

</p>
