
<h1 class="sectionedit1" id="install_csf_on_webmin">Install CSF on Webmin</h1>
<div class="level1">

<p>
Login as root into shell and run following command.
</p>
<pre class="code">  wget http://www.configserver.com/free/csf.tgz
  
  tar -xzf csf.tgz
  
  cd csf
  
  sh install.sh
  
  
  Edit /etc/csf/csf.conf
  
  testing &#039;0&#039;
  
  Search for TCP_IN and TCP_OUT 
  and amend ports as below
  &quot;20,21,22,25,53,80,110,143,443,465,587,993,995,10000,3306,10050,1167,40000:50000&quot; 
  </pre>

<p>
Go to
</p>

<p>
Webmin &gt; Webmin Configuration &gt; Webmin Modules &gt; From local file &gt; /etc/csf/csfwebmin.tgz &gt; Install Module
</p>

<p>
To access CSF:
</p>

<p>
Webmin &gt; System &gt; ConfigServer Security &amp; Firewall
</p>

</div>
