
<p>
Create .htaccess file in application folder<br/>

</p>

<p>
RewriteEngine On<br/>

RewriteCond %{HTTPS} off<br/>

RewriteRule (.*) <a href="https://%" class="urlextern" title="https://%" rel="nofollow">https://%</a>{HTTP_HOST}%{REQUEST_<abbr title="Uniform Resource Identifier">URI</abbr>}<br/>

</p>
