
<h1 class="sectionedit1" id="install_cdp_agent_in_ubuntu">Install CDP Agent in Ubuntu</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

</p>

<p>
<pre class="code">ansible-playbook -l &lt;IP&gt; /scripts/cdp_agent_ubuntu.yml --extra-vars &quot;key=&lt;CDP Key&gt;&quot; --ask-pass</pre>

</p>

<p>
3. Example 
<pre class="code">ansible-playbook -l 43.252.89.164 /scripts/cdp_agent_ubuntu.yml --extra-vars &quot;key=http://176.9.52.137:8080&quot; --ask-pass</pre>

</p>

<p>
This will do the following: 
</p>
<ul>
<li class="level1"><div class="li"> Install CDP Agent</div>
</li>
<li class="level1"><div class="li"> Compile the kernel module</div>
</li>
<li class="level1"><div class="li"> Add CDP server key to the agent</div>
</li>
</ul>

</div>
