
<p>
Add this code in the particular Virtual host section in NginX config
</p>

<p>
<pre class="code">location / {

        index index.html index.php; ## Allow a static html file to be shown first
        try_files $uri $uri/ @handler; ## If missing pass the URI to Magento&#039;s front handler
        expires 30d; ## Assume all files are cachable

        }

        location /minify/ { ## Needed for Fooman Speedster
        rewrite ^/minify/([0-9]+)(/.*\.(js|css))$ /lib/minify/m.php?f=$2&amp;d=$1 last;
    }

                location ^~ /app/                { deny all; }
    location ^~ /includes/           { deny all; }
    location ^~ /lib/                { deny all; }
    location ^~ /media/downloadable/ { deny all; }
    location ^~ /pkginfo/            { deny all; }
    location ^~ /report/config.xml   { deny all; }
    location ^~ /var/                { deny all; }
                location /var/export/ { ## Allow admins only to view export folder
        auth_basic           &quot;Restricted&quot;; ## Message shown in login window
        auth_basic_user_file htpasswd; ## See /etc/nginx/htpassword
        autoindex            on;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires 144h;
log_not_found off;
}

    location  /. { ## Disable .htaccess and other hidden files
        return 404;
    }

    location @handler { ## Magento uses a common front handler
        rewrite / /index.php;
   }

    location ~ .php/ { ## Forward paths like /js/index.php/x.js to relevant handler
        rewrite ^(.*.php)/ $1 last;
    }

#Don&#039;t cache uris containing the following segments
    if ($request_uri ~* &quot;(\/wp-admin\/|\/xmlrpc.php|\/wp-(app|cron|login|register|mail)\.php|wp-.*\.php|index\.php|wp\-comments\-popup\.php|wp\-links\-opml\.php|wp\-locations\.php)&quot;) {
        set $cache_uri &quot;no cache&quot;;
        }

  #if (req.url ~ &quot;^/(media|js|skin)/.*\.(png|jpg|jpeg|gif|css|js|swf|ico)$&quot;) {
  #      unset req.http.Https;
  #      unset req.http.Cookie;
  #  }
# Don&#039;t use the cache for logged in users or recent commenters
    if ($http_cookie ~* &quot;comment_author|wordpress_[a-f0-9]+|wp\-postpass|wordpress_logged_in&quot;) {
        set $cache_uri &#039;no cache&#039;;
    }
        }
</pre>

</p>
