
<p>
It is recommended to use <strong>CentOS 6</strong> to install Zimbra collaboration Suite through this Script.
</p>

<p>
Login as root user. Install vim and screen if not already installed.
</p>

<p>
<pre class="code">cd /root

touch /root/alloutput.txt

chmod 777 /root/alloutput.txt</pre>

</p>

<p>
Create a file zimbra.sh and copy shell script code in this file.
</p>

<p>
<pre class="code">vim zimbra.sh</pre>

</p>

<p>
Go to insert mode.
</p>

<p>
Copy whole script from <a href="http://wiki.mantraventures.com/zimbra/auto_zimbra_install_script" class="urlextern" title="http://wiki.mantraventures.com/zimbra/auto_zimbra_install_script" rel="nofollow">http://wiki.mantraventures.com/zimbra/auto_zimbra_install_script</a> and paste it in the file (zimbra.sh) created.
</p>

<p>
Save and exit (:wq)
</p>

<p>
<pre class="code">chmod +x zimbra.sh

screen

sh zimbra.sh | tee -a /root/alloutput.txt</pre>

</p>

<p>
Enter domain name.
</p>

<p>
<pre class="code">Are above mentioned settings correct?[yes/no]: **yes**</pre>

Next it will ask some settings. Configure it as follows -
</p>

<p>
<pre class="code">Do you agree with the terms of the software license agreement? [N] **y**

Install zimbra-ldap [Y] **y**

Install zimbra-logger [Y] **y**

Install zimbra-mta [Y] **y**

Install zimbra-dnscache [Y] **y**

Install zimbra-snmp [Y] **y**

Install zimbra-store [Y] **y**

Install zimbra-apache [Y] **y**

Install zimbra-spell [Y] **y**

Install zimbra-memcached [Y] **y**

Install zimbra-proxy [Y] **y**

The system will be modified.  Continue? [N] **y**</pre>

</p>

<p>
Let it install packages. It will take few minutes depending on server configuration.
</p>

<p>
<pre class="code">
Change hostname [Yes] **no**

Change domain name? [Yes] **no**

Address unconfigured (**) items  (? - help) **7**

Select, or &#039;r&#039; for previous menu [r] **4**

Password for admin@server.zeeshantestvm.com (min 6 characters): [E0MFdxFu] **anypassword**

Select, or &#039;r&#039; for previous menu [r] **r**

Select from menu, or press &#039;a&#039; to apply config (? - help) **a**

Save configuration data to a file? [Yes] **yes**

Save config in file: [/opt/zimbra/config.12806] **(Press Enter)**

The system will be modified - continue? [No] **yes**

Notify Zimbra of your installation? [Yes] **no**

Configuration complete - press return to exit **(Press Enter)**</pre>

</p>

<p>
Let the installation complete. Details will be emailed.
</p>

<p>
If there is some problem in getting email, you can also check the details by following command -
</p>

<p>
<pre class="code">tail -6 /root/alloutput.txt</pre>

</p>
