<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
If you are on a magento server and want to take database dump of database currently used by magento website then follow below procedure :
</p>

<p>
1. Go to magento web root directory. (it is like <strong><em>/home/???/public_html</em> </strong>)<strong> </strong>
</p>

<p>
2. See<strong> </strong><em>app/etc/local.xml</em><strong> </strong> file to extract database<strong> </strong><strong><em>host, user, password, name</em> </strong><strong> </strong> from it.<strong> </strong>
</p>

<p>
3. Take database dump. Use below command: ( if database host is <em><strong>localhost</strong>, </em> then you can skip <strong><em>-h</em></strong> option below. )
</p>

<p>
<code>mysqldump -h {db-host} -u {db-user} -p {db-name}&gt; {db-dump-file}.sql </code>
</p>
