
<h1 class="sectionedit1" id="stop_open_relay_of_exim">Stop Open Relay of Exim</h1>
<div class="level1">

<p>
<strong>Telnet to yourmailserver at port 25 and issue all the following commands:</strong>
</p>

<p>
telnet hostname/ip 25
</p>

<p>
helo client.server.com
</p>

<p>
mail from: xxx@somedomain.com
</p>

<p>
rcpt to: yyy@somedomain.com
</p>

<p>
If you are getting the error “554 : Relay access denied” then the server is not an open Relay
</p>

<p>
If not Just pass the command “DATA” sfter the recipient and then enter the message ending with a period ie : “.”
</p>

<p>
If you get the reply “SUCCESS Relay Accepted – final response code 550″
</p>

<p>
Then your server is subjected to open relay and if not it is not.
</p>

<p>
<strong>If it is so, as it is a Cpanel Server you can stop it normally using the below scripts.</strong>
</p>

<p>
/scripts/fixrelayd
</p>

<p>
/etc/rc.d/init.d/antirelayd restart
</p>

<p>
service exim restart
</p>

</div>
