
<h1 class="sectionedit1" id="blocking_indexing_of_directories">Blocking indexing of directories</h1>
<div class="level1">

<p>
To block indexing of directories, this needs to be added in the .htaccess file to be placed inside /home of the server.
</p>
<pre class="code">  Options -Indexes</pre>

</div>
