<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

<p>
In Magento when website is mainly running on secure url (i.e. https) website customer is not able to login in chrome browser.
</p>

<p>
This issue is mainly related to cookie validation. To resolve this issue go to admin backend :
</p>

<p>
<code>System &gt; Configuration &gt; General &gt; Web &gt; Session Cookie Management</code>
</p>

<p>
and set the parameters as mentioned below :
</p>

<p>
<code>Cookie Lifetime : 86400</code>
</p>

<p>
<code>Cookie Path : /</code>
</p>

<p>
<code>Cookie Domain : .[Domain Name]</code>
</p>

<p>
Here [Domain Name] is a variable must be replaced with website domain.
</p>

<p>
sample example of same is given below :
</p>

<p>
<img src="/lib/exe/fetch.php?w=1024&amp;h=301&amp;tok=cd2844&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmagento%2Ftickets%2Fpeacock1.png" class="media" alt="" width="1024" height="301" />
</p>
