
<p>
Open PolicyD Web <abbr title="Graphical User Interface">GUI</abbr>. <abbr title="Uniform Resource Locator">URL</abbr>: <a href="http://43.252.89.206:7780/webui/index.php" class="urlextern" title="http://43.252.89.206:7780/webui/index.php" rel="nofollow">http://43.252.89.206:7780/webui/index.php</a> Navigate to Policies –&gt; group –&gt; select action –&gt; add &gt; Name: Disabled: peruser no
</p>

<p>
#Name can be anything.<br/>

#Disabled should be no.
</p>

<p>
Back to policies group.<br/>

Select policy group you have created by using above members –&gt; select action –&gt; members –&gt; add<br/>

</p>
<blockquote><div class="no">
 Member Disabled user1@mohit1.mantravault.com no</div></blockquote>

<p>
#Member name should be user1@domainname.<br/>

#Disabled should be no.
</p>

<p>
Navigate to policies –&gt; Main<br/>

</p>
<blockquote><div class="no">
 Name Priority Description Disabled peruser 0 peruser no</div></blockquote>

<p>
#Name can be anything.<br/>

#Priority: 0 is highest and 100 is lowest.<br/>

#Description should not be blanked.<br/>

#Disabled should be no.
</p>

<p>
Back to policies –&gt; main.<br/>

select your policy you have created in above step. –&gt; select action –&gt; Members<br/>

</p>
<blockquote><div class="no">
 Source Destination Disabled %domainwise any no</div></blockquote>

<p>
Navigate to Quotas –&gt; Configure –&gt; Select action –&gt; Add<br/>

</p>
<blockquote><div class="no">
 Policy Name Track Period Verdict Data Disabled peruser peruser Sender:@domain 3600 REJECT 0 no</div></blockquote>

<p>
Select quota you have added using above step –&gt; select action –&gt; limits<br/>

</p>
<blockquote><div class="no">
 Type Counter Limit Disabled MessageCount 5 no</div></blockquote>
<blockquote><div class="no">
 su zimbra zmcbpolicydctl restart</div></blockquote>
