
<p>
1. Go to Global settings or Server settings MTA tab and add the relay server hostname and port there.
</p>

<p>
2. Add relay server IP to MTA trusted network.
</p>

<p>
3. Then edit the file /opt/zimbra/conf/relay_password and add the following:
<pre class="code">&lt;Relay server hostname&gt;   &lt;username&gt;:&lt;password&gt;</pre>

</p>

<p>
4. The run:
<pre class="code">postconf -e smtp_sasl_password_maps=hash:/opt/zimbra/conf/relay_password
postmap /opt/zimbra/conf/relay_password
/etc/init.d/zimbra restart</pre>

</p>
