
<h1 class="sectionedit1" id="setting_up_mysql_replication">Setting Up MySQL replication</h1>
<div class="level1">

<p>
MySQL replication sets up master and slave databases.  The slave database keeps itself synchronized with the master database in near real time.
<pre class="code">In the master server [mysqld] section of /etc/my.cnf you should have something like:mysqld
server-id=1
log-bin
log-warnings
log-slave-updates
skip-bdb
On the master server run:GRANT REPLICATION SLAVE ON . TO
mysql_slave@slaveserverip identified by &#039;somepassword&#039;
In the slave MySQL server&#039;s /etc/my.cnf file you should have something like:server-id = 2
log-bin

so user changes do not replicate to the slaves
replicate-ignore-db=mysql
Note that the server IDs need to be unique for all the servers in your mysql replication cluster.
On the master server run: SHOW MASTER STATUS.

It should output something similar to:--------------------------------------------------------+

| File  | Position | Binlog_Do_DB |  Binlog_Ignore_DB |
--------------------------------------------------------+

| hostxx-bin.000376  | 105373861   |
 
 
--------------------------------------------------------+
On the slave server&#039;s MySQL client use some of the values from that command (specifically &#039;File&#039; and &#039;Position&#039;) to run the following:
CHANGE MASTER TO MASTER_HOST=&#039;masterserverip&#039;
, MASTER_USER=&#039;mysql_slave&#039;, MASTER_PASSWORD=&#039;somepassword&#039;
, MASTER_LOG_FILE=&#039;&lt;File&gt;&#039;
, MASTER_LOG_POS=&lt;Position&gt;;

SLAVE START;
Further documentation can be found on the official MySQL site here: 

http://dev.mysql.com/doc/refman/5.0/en/replication.html </pre>

</p>

</div>
