
<p>
Adding Emails/Domains to Suppression List
</p>

<p>
Email addresses, domains included in a suppression list will never be emailed even if they are still subscribed to a contact list.
</p>

<p>
1) Login as Admin, select Contacts and then click on suppress an email or domain.
</p>

<p>
2) In the next screen, You can add an email address/domain to global suppression list or suppress mail-ids in a pre-defined list.
</p>

<p>
3) Also you can add mail-ids/domains manually or upload a file that contains the mail-ids/domains as a csv.
</p>

<p>
4) When you&#039;re done just click on save and your list conatining mail-ids/domains to suppress will be saved.
</p>
