
<h1 class="sectionedit1" id="migrate_hypervm_vps_to_solusvm">Migrate HyperVM VPS to SolusVM</h1>
<div class="level1">

<p>
On the node that hosts the container you want to migrate, do:
<pre class="code">wget http://files.soluslabs.com/solusvm/scripts/keyput.sh
chmod a+x keyput.sh
./keyput.sh &lt;destination_node_ip&gt; &lt;destination_node_port&gt; </pre>

</p>

<p>
Now you need to know the container id you want to move, you can get this by doing the following on the node that contains the virtual server:
</p>
<pre class="code">vzlist -a</pre>

<p>
When you know the container id you can start the migration. Do the following on the node that contains the virtual server:
</p>
<pre class="code">vzmigrate -v --ssh=&quot;-p &lt;destination_node_port&gt;&quot; &lt;destination_node_ip&gt; &lt;container_id&gt;</pre>

<p>
Last but not least you need to update the information in SolusVM. On the master node do the following:
</p>

<p>
php /usr/local/solusvm/scripts/migrate.php mode=vs type=openvz ctid=&lt;container_id&gt; nodeid=&lt;new_node_id&gt;
</p>

<p>
&lt;new_node_id&gt; = the node id of the node the virtual server has been transfered to. You can find this by viewing the nodes in SolusVM.
</p>

</div>
