
<h1 class="sectionedit1" id="show_real_client_ip_with_nginx_varnish_setup">Show real client IP with NginX + Varnish Setup</h1>
<div class="level1">

<p>
Edit nginx.conf file and add following lines under http section:
</p>

<p>
set_real_ip_from &lt;Ip_of_server&gt;;
</p>

<p>
real_ip_header X-Forwarded-For; <br/>

</p>

<p>
<br/>

Edit varnish config file and add following lines:
</p>

<p>
sub vcl_recv {
</p>

<p>
# Set the X-Forwarded-For header so the backend can see the original
</p>

<p>
# IP address. If one is already set by an upstream proxy, we&#039;ll just re-use that.
</p>

<p>
remove req.http.X-Forwarded-For;
</p>

<p>
set req.http.X-Forwarded-For = req.http.rlnclientipaddr;
</p>

<p>
}
</p>

</div>
