
<h1 class="sectionedit1" id="upgrade_dokuwiki">Upgrade DokuWiki</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Make a backup of your DokuWiki, this is not necessarily needed but recommended.</div>
</li>
<li class="level1"><div class="li"> Download the newest release from the <a href="http://download.dokuwiki.org/" class="urlextern" title="http://download.dokuwiki.org/" rel="nofollow">download site</a>.</div>
</li>
<li class="level1"><div class="li"> Unpack the distribution tarball and upload/copy the files over your previous installation. Make sure to overwrite all files when prompted.</div>
</li>
<li class="level1"><div class="li"> Delete all unused files.</div>
</li>
<li class="level1"><div class="li"> Upgrade your template and plugins if necessary.</div>
</li>
</ol>

<p>
<strong>Note: Upgrade notification might not disappear simultaneously, it would take some time to reflect version.</strong>
<strong>Note: If there is any issue in searching article, rebuild the index via plugin.</strong>
</p>

</div>
