<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
PoC: Proof of Concept.
</p>

<p>
In POC setup we will demonstrate to client that how their website is going to perform on our server. While provision a PoC following steps need to perform :
</p>

<p>
1. Create a trello checklist/tasklist. In a checklist following <a href="http://wiki.mantraventures.com/magento/provisioning/poc-checklist" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-checklist" rel="nofollow">points</a> must be included.
</p>

<p>
2. Create a new ticket for PoC setup and send initial welcome mail to client.
</p>

<p>
3. Don&#039;t forget to Create a client sheet on <a href="https://drive.google.com" class="urlextern" title="https://drive.google.com" rel="nofollow">google drive</a>. in (“<a href="https://drive.google.com/drive/u/0/folders/0B0J9ZqiFW9V7TzBTX1k0eVk2QTQ" class="urlextern" title="https://drive.google.com/drive/u/0/folders/0B0J9ZqiFW9V7TzBTX1k0eVk2QTQ" rel="nofollow">Mantragrid client</a>” or “<a href="https://drive.google.com/drive/u/0/folders/0B0J9ZqiFW9V7cmxGRlljbl93TUk" class="urlextern" title="https://drive.google.com/drive/u/0/folders/0B0J9ZqiFW9V7cmxGRlljbl93TUk" rel="nofollow">Magehost client</a>” folders as per provisioning sheet).
</p>

<p>
4. Also Update the “features” subsheet on drive after testing optimization on PoC setup. These are going to used in final migration.
</p>

<p>
5. After <a href="http://wiki.mantraventures.com/magento/provisioning/poc-testing" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-testing" rel="nofollow">testing ?</a>, send details to client and tell him to check &amp; verify the PoC setup. (<strong>Note</strong>: Remember do not share_with / inform the client about the optimization we have made on this PoC setup.)
</p>

<p>
6. On next day take follow up from client on email and call &amp; ask him if he is ready for final migration or need some more time.
</p>
