
<p>
# For taking backup of Email account in zimbra:
</p>

<p>
<pre class="code">/opt/zimbra/bin/zmmailbox -z -m corre2@bsmtruck.com getRestURL &quot;//?fmt=tgz&quot; &gt; /backup/corre2@bsmtruck.com.tar.gz</pre>

</p>

<p>
# For restore the above backup in another Email-id:
</p>

<p>
<pre class="code">/opt/zimbra/bin/zmmailbox -z -m corre3@bsmtruck.com postRestURL &quot;//?fmt=tgz&quot; /backup/corre2@bsmtruck.com.tar.gz</pre>

</p>

<p>
Note: Change the Email-ID&#039;s accordingly.
</p>
