
<h1 class="sectionedit1" id="migrate_openvz_containers">Migrate OpenVZ containers</h1>
<div class="level1">

<p>
Here&#039;s a link to the original article:  <a href="https://github.com/helma/opentox-documentation/wiki/Clone-OpenVZ-containers" class="urlextern" title="https://github.com/helma/opentox-documentation/wiki/Clone-OpenVZ-containers" rel="nofollow">https://github.com/helma/opentox-documentation/wiki/Clone-OpenVZ-containers</a>.
</p>

</div>
