
<h1 class="sectionedit1" id="policyd_configuration">POLICYD Configuration</h1>
<div class="level1">

<p>
1. <strong>Run Following commands to activate policyd</strong>
</p>
<pre class="code">su - zimbra</pre>
<pre class="code">zmprov ms `zmhostname` +zimbraServiceInstalled cbpolicyd +zimbraServiceEnabled cbpolicyd</pre>
<pre class="code">zmlocalconfig -e postfix_enable_smtpd_policyd=yes</pre>
<pre class="code">zmprov mcf +zimbraMtaRestriction &quot;check_policy_service inet:127.0.0.1:10031&quot;</pre>
<pre class="code">zmlocalconfig -e cbpolicyd_log_level=4; zmlocalconfig -e cbpolicyd_log_detail=modules,tracking,policies; zmlocalconfig -e cbpolicyd_module_accesscontrol=1 cbpolicyd_module_checkhelo=1 cbpolicyd_module_checkspf=1 cbpolicyd_module_greylisting=1 cbpolicyd_module_quotas=1</pre>
<pre class="code">zmcontrol restart</pre>
<pre class="code">exit</pre>

<p>
2. <strong>WEB UI ACTIVATION FOR POLICYD MANAGEMENT</strong>
</p>

<p>
Run the following command by using root permission
</p>
<pre class="code">cd /opt/zimbra/httpd/htdocs/ &amp;&amp; ln -s ../../cbpolicyd/share/webui</pre>

<p>
Modify file /opt/zimbra/cbpolicyd-2.1.0-beta/share/webui/includes/config.php and mark a comment (#) to the line begining with: $DB_DSN and add the following code before line begining with : $DB_USER
</p>
<pre class="code">$DB_DSN=&quot;sqlite:/opt/zimbra/data/cbpolicyd/db/cbpolicyd.sqlitedb&quot;;</pre>

<p>
Reload Web UI (http) service with the following command :
</p>
<pre class="code">cd /srv/</pre>
<pre class="code">wget -c http://download.policyd.org/v2.1.x-201205100639/cluebringer-snapshot-2.1.x-201205100639.tar.gz</pre>
<pre class="code">tar -zxvf cluebringer-snapshot-2.1.x-201205100639.tar.gz</pre>
<pre class="code">cd cluebringer-snapshot-2.1.x-201205100639/webui/</pre>
<pre class="code">cp *.php *.css /opt/zimbra/cbpolicyd/share/webui/</pre>
<pre class="code">su - zimbra -c &quot;zmapachectl restart&quot;  </pre>

<p>
Try to open PolicyD web management by accessing the following <abbr title="Uniform Resource Locator">URL</abbr>
</p>

<p>
     http:<em>&lt;IpAddressOfZimbra&gt;:7780/webui/index.php
        

  <strong>Note: Make sure tcp port 7780 is opened in server firewall</strong>     


<a href="http://vavai.net/2014/02/zimbra-tips-rate-limit-sending-message-with-policyd/" class="urlextern" title="http://vavai.net/2014/02/zimbra-tips-rate-limit-sending-message-with-policyd/" rel="nofollow">http://vavai.net/2014/02/zimbra-tips-rate-limit-sending-message-with-policyd/</a>
</p>

</div>
