
<p>
<a href="/hyper-v_-_removing_diskio_scheduling" class="wikilink1" title="hyper-v_-_removing_diskio_scheduling">Hyper-V - removing DiskIO scheduling</a>
</p>

<p>
<a href="/hyper_v_new_vm_checklist" class="wikilink1" title="hyper_v_new_vm_checklist">Hyper V new VM Checklist</a>
</p>
