
<h1 class="sectionedit1" id="provision_cdp_server_in_ubuntu">Provision CDP Server in Ubuntu</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

</p>

<p>
<pre class="code">ansible-playbook -l &lt;IP&gt; /scripts/cdp_server_install.yml --extra-vars &quot;password=&lt;cdppanelpassword&gt;&quot; --ask-pass</pre>

</p>

<p>
3. Example 
<pre class="code">ansible-playbook -l 43.252.89.164 /scripts/cdp_server_install.yml --extra-vars &quot;password=ubuntu12svm&quot; --ask-pass</pre>

</p>

<p>
This will do the following: 
</p>
<ul>
<li class="level1"><div class="li"> Install CDP Server</div>
</li>
<li class="level1"><div class="li"> Setup CDP server username and password</div>
</li>
<li class="level1"><div class="li"> configure CDP server to run on port 8080</div>
</li>
</ul>

</div>
