
<p>
#Login to admin panel.<br/>

System → Magento Connect → Magento Connect Manager <br/>

<br/>

Login to Magento connect manager.<br/>

Search for modules via Magento Connect.<br/>

Select Key<br/>

Copy<br/>

<br/>

Paste extension key to install: <br/>

Install <br/>

</p>

<p>
Enable Fooman Speedster <br/>

Login to your admin panel. <br/>

<br/>

System → Configuration → Fooman Extensions<br/>

Fooman Speedster → Enable <br/>

</p>

<p>
<br/>

Edit your Nginx configuration file for particular host. <br/>

Append below rewrite rules: <br/>

<br/>

<pre class="code">location /skin/m/ {
    rewrite ^/skin/m/([^/]+)(/.*.(js|css))$ /lib/minify/m.php?f=$2&amp;d=$1;
}</pre>

<br/>

Restart Nginx<br/>

service nginx restart<br/>

</p>
