
<h1 class="sectionedit1" id="prepare_magento_server">Prepare Magento server</h1>
<div class="level1">

<p>
1. Login to VM and disable Selinux. Reboot VM after disabling.<br/>

</p>

<p>
2. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
3. Run screen on ansible master and then run the following command:<br/>

<pre class="code">ansible-playbook -l &lt;VM_IP&gt; /scripts/magento_server_prepare.yml --ask-pass</pre>

This will do the following:
</p>
<ul>
<li class="level1"><div class="li"> Install Virtualmin</div>
</li>
<li class="level1"><div class="li"> Install php-mcrypt</div>
</li>
<li class="level1"><div class="li"> Install and configure APC</div>
</li>
<li class="level1"><div class="li"> Install Zabbix agent</div>
</li>
<li class="level1"><div class="li"> Install and configure PageSpeed</div>
</li>
<li class="level1"><div class="li"> Increase default php execution time to 360 seconds (Both php.ini and fcgid.conf)</div>
</li>
</ul>

<p>
4. Create the Magento domain in Virtualmin: (By default Mail for domain is disabled)
<pre class="code">ansible-playbook -l &lt;VM_IP&gt; /scripts/magento_create_domain.yml --extra-vars &quot;domain=&lt;Virtualmin_domain&gt; user=&lt;Virtualmin_User&gt; pass=&lt;Set_password&gt;&quot; --ask-pass</pre>

</p>

<p>
5. Manually to be done:
</p>
<ul>
<li class="level1"><div class="li"> Login to Virtualmin panel and complete Post-Installation Steps.</div>
</li>
<li class="level1"><div class="li"> Configure Zabbix agent </div>
</li>
<li class="level1"><div class="li"> Install and configure R1Soft agent (Version will keep changing so not automated)</div>
</li>
<li class="level1"><div class="li"> Install Phpmyadmin</div>
</li>
<li class="level1"><div class="li"> Add database and username with permissions to database</div>
</li>
<li class="level1"><div class="li"> Share Virtualmin, <abbr title="File Transfer Protocol">FTP</abbr> and phpmyadmin login details with client</div>
</li>
</ul>

</div>
