
<p>
<strong>Note : only for centos 6 initd based systems.</strong> <br/>

<br/>

It is a good and life saving practice to take backup before you proceeding towards process. <br/>

Take database dump using below command :<br/>

<pre class="code">mysqldump -u [user] -p[user password] [--all-databases] [database] &gt; dumpfile.sql</pre>
<br/>

</p>

<p>
You can either take dump of specific <em>[database]</em> on priority by specifying their name or can use <em>[–all-databases]</em> option to take dump of all databases in one file. 
</p>

<p>
<pre class="code">stop mysql service
service mysqld stop
chkconfig mysqld off</pre>

</p>

<p>
2. Remove mysql packages without removing their dependencies.<br/>

<pre class="code">rpm -e --nodeps mysql mysql-server</pre>
<br/>

</p>

<p>
3. Install repo for Percona DB.<br/>

<pre class="code">yum install -y http://www.percona.com/downloads/percona-release/percona-release-0.0-1.x86_64.rpm</pre>
<br/>

</p>

<p>
You can list out all Percona-Server DB versions available.<br/>

<pre class="code">yum list | grep Percona-Server</pre>
<br/>

</p>

<p>
4. Install PerconaDB<br/>

<pre class="code">yum install Percona-Server-client-56 Percona-Server-server-56 Percona-Server-shared-56 -y \\
yum install Percona-Server-devel-56 -y (**only if required)</pre>
 <br/>

</p>

<p>
5. Start Percona DB daemon.<br/>

<pre class="code">service mysql start\\
chkconfig mysql on</pre>
<br/>

</p>
