
<p>
Python on cPanel
</p>

<p>
Find the cPanel&#039;s python on the server. Normally, cPanel&#039;s python is located at /usr/bin/python, but you can run whereis python to ensure it is /usr/bin/python rather than /usr/local/bin/python.
Create the file hello.py in public_html with the following content.
</p>

<p>
<div class='code'><p>hello.py</p><pre class="code php"><span class="co2">#!/usr/bin/python 
</span><span class="kw1">print</span> <span class="st0">&quot;Content-Type: text/plain<span class="es1">\n</span><span class="es1">\n</span>&quot;</span>
<span class="kw1">print</span> <span class="st0">&quot;Hello World&quot;</span> </pre>
</div>
</p>

<p>
Change the permission of script to 755 .
Place the following content into public_html/.htaccess file:
</p>

<p>
<div class='code'><p>Code:</p><pre class="code">
Options +ExecCGI
AddHandler cgi-script .py </pre>
</div>
Now check the script at <a href="http://domain.com/hello.py" class="urlextern" title="http://domain.com/hello.py" rel="nofollow">http://domain.com/hello.py</a>
</p>
