
<h1 class="sectionedit1" id="setup_ip_based_authentication_in_elastix">Setup IP based authentication in Elastix</h1>
<div class="level1">

<p>
1) Firstly, go to your VOIP provider and change the authentication method to IP instead of username &amp; password.
</p>

<p>
2) Login to elastix and edit the trunk for which you want to change authentication.
</p>

<p>
3) Change the PEER Details to following:
<pre class="code">canreinvite=nonat

context=from-trunk

host=&lt;Hostname/IP of your VOIP provider&gt;

type=peer

username=&lt;extension/username given by provider&gt;

disallow=all

allow=ulaw

; allow=g729 ; uncomment if you support g729

nat=yes</pre>

</p>

<p>
Save and its done!
</p>

</div>
