
<p>
Step 1: Back Up Your Website’s Files
</p>

<p>
Step 2: Export The WordPress Database
</p>

<p>
Step 3: Create Database And User On Your New Host Server
</p>

<p>
Add this user account to the new database and grant it All Privileges.
</p>

<p>
Step 4: Edit the wp-config.php File if you have changed Database and Db username.
</p>

<p>
Step 5: Import Your Database
</p>

<p>
Step 6: Upload The WordPress Files To Your New Host
</p>

<p>
Steps for change site <abbr title="Uniform Resource Locator">URL</abbr>:
</p>

<p>
Run follwing qurey on wordpress database:
</p>
<hr />

<p>
UPDATE wp_options SET option_value = replace(option_value, &#039;<a href="http://www.oldurl" class="urlextern" title="http://www.oldurl" rel="nofollow">http://www.oldurl</a>&#039;, &#039;<a href="http://www.newurl" class="urlextern" title="http://www.newurl" rel="nofollow">http://www.newurl</a>&#039;) WHERE option_name = &#039;home&#039; OR option_name = &#039;siteurl&#039;;
</p>

<p>
UPDATE wp_posts SET guid = replace(guid, &#039;<a href="http://www.oldurl" class="urlextern" title="http://www.oldurl" rel="nofollow">http://www.oldurl</a>&#039;,&#039;<a href="http://www.newurl" class="urlextern" title="http://www.newurl" rel="nofollow">http://www.newurl</a>&#039;);
</p>

<p>
UPDATE wp_posts SET post_content = replace(post_content, &#039;<a href="http://www.oldurl" class="urlextern" title="http://www.oldurl" rel="nofollow">http://www.oldurl</a>&#039;, &#039;<a href="http://www.newurl" class="urlextern" title="http://www.newurl" rel="nofollow">http://www.newurl</a>&#039;);
</p>

<p>
UPDATE wp_postmeta SET meta_value = replace(meta_value,&#039;<a href="http://www.oldurl" class="urlextern" title="http://www.oldurl" rel="nofollow">http://www.oldurl</a>&#039;,&#039;<a href="http://www.newurl" class="urlextern" title="http://www.newurl" rel="nofollow">http://www.newurl</a>&#039;);
</p>
<hr />
