
<p>
<a href="/check_ms-sql_edition_in_windows_server" class="wikilink1" title="check_ms-sql_edition_in_windows_server">Check MS-SQL edition in Windows Server</a>
</p>

<p>
<a href="/take_ms_sql_backup_from_commandline" class="wikilink1" title="take_ms_sql_backup_from_commandline">Take MS SQL backup from commandline</a>
</p>

<p>
<a href="/provide_the_read_and_write_access_for_a_table_on_particuler_db_via_cli" class="wikilink1" title="provide_the_read_and_write_access_for_a_table_on_particuler_db_via_cli">Provide the Read and Write access for a Table on particuler DB via CLI</a>
</p>

<p>
<a href="http://wiki.mantraventures.com/hiding_database_for_login_on_mssql" class="urlextern" title="http://wiki.mantraventures.com/hiding_database_for_login_on_mssql" rel="nofollow">Hiding databases for a login on Microsoft Sql Server 2008 R2 and Above</a>
</p>
