
<p>
<strong>Magento Pages to be investigate for slowness :</strong>
</p>

<p>
1. Home Page
</p>

<p>
2. Category Page
</p>

<p>
3. Product Page
</p>

<p>
4. Add to Cart &amp; Proceed to Checkout
</p>

<p>
5. Backend Operations
</p>

<p>
<strong>How to investigate the slowness :</strong>
</p>

<p>
<em class="u"><em><strong>Note : Before proceeding refer “Features” sub-sheet in clients sheet on google drive to know about problems related to features you are going to organize your investigation below.</strong> </em> </em>
</p>

<p>
1. Using tools.pingdom.com from various locations. (Repeat this operation 3-4 times on each 1 to 4 Page Types mentioned above.)
</p>

<p>
2. Check if Caching is enabled or not from magento backend.
</p>

<p>
3. Check if CDN is applied to Skin/JS (At website level only) at magento backend.
</p>

<p>
4. Check if JS &amp; <abbr title="Cascading Style Sheets">CSS</abbr> merge is working or not on various website levels in magento backend. (System &gt; Configuration &gt; Developer &gt; Merge JS / Merge <abbr title="Cascading Style Sheets">CSS</abbr>). Check websites frontend if all the things are working fine or not.
</p>

<p>
5. Use magento compiler. (CLI : php shell/compiler.php compile) (<abbr title="Graphical User Interface">GUI</abbr> Backend : System &gt; Tools &gt; Compilation &gt; Run compiler process). Check opening website throughly if Home → CheckOut is working fine.
</p>

<p>
6. Check RAM and CPU utilization on server (Zabbix is a good choice for this.)
</p>

<p>
7. Check if TIME TO FIRST BYTE is high then include it in your report and convey it to person whom you are going escalating this ticket. After this, further investigation has to be done by enabling Profiler on the stage setup OR with written confirmation about time window if done on live setup.
</p>

<p>
8. Ask client if they are facing slowness in any specific task if all above things seems already working. (Try to find out cause behind it.)
</p>
<ul>
<li class="level1"><div class="li"> Observe any webserver error logs in /var/log/virtualmin/website_error_log</div>
</li>
<li class="level1"><div class="li"> Observe any application level logs in public_html/var/log/system.log</div>
</li>
<li class="level1"><div class="li"> Check mysql slow query logs (CMD: mytop -u root -p )</div>
</li>
</ul>

<p>
9. Do not Alter server parameters until and unless you know what you are doing. ex- editing /etc/my.cnf and /etc/php-fpm.d/website.conf files. [Always take backup of such files before editing them.]
</p>

<p>
10. Record all your findings in above steps in “Notes &amp; Features” sub-sheet of client sheet on google drive.
</p>
