
<h1 class="sectionedit1" id="wordpress_cleanup">Wordpress Cleanup</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Scan the wordpress website at <a href="http://sitecheck.sucuri.net/scanner/" class="urlextern" title="http://sitecheck.sucuri.net/scanner/" rel="nofollow">http://sitecheck.sucuri.net/scanner/</a> for infected files.</div>
</li>
<li class="level1"><div class="li"> If found any infection while scanning do following.</div>
</li>
<li class="level1"><div class="li"> Upload the clean.php in the public_html directory of the website ( make sure clean.php has permission to write files).</div>
</li>
<li class="level1"><div class="li"> Run the script by opening it through browser. eg. <a href="http://hostname/clean.php" class="urlextern" title="http://hostname/clean.php" rel="nofollow">http://hostname/clean.php</a></div>
</li>
<li class="level1"><div class="li"> Now again scan the website at <a href="http://sitecheck.sucuri.net/scanner/" class="urlextern" title="http://sitecheck.sucuri.net/scanner/" rel="nofollow">http://sitecheck.sucuri.net/scanner/</a>. It is also suggested to check the each files manually that were infected earlier.</div>
</li>
<li class="level1"><div class="li"> Change all important passwords of the website e.g. cPanel,wordpress admin, database etc.</div>
</li>
</ol>

</div>
