
<p>
1. <a href="/interspire_setup" class="wikilink1" title="interspire_setup">Interspire Setup</a> <br/>

2. Multi-IP script <br/>

3. rDNS of the IPs <br/>

4. SPF / DKIM settings <br/>

5. For DirectAdmin, Make sure in “Show original” mails doesn&#039;t go from user@hostname, if so, add following lines in startup of exim.conf.
</p>
<pre class="code"> untrusted_set_sender = *
 no_local_from_check</pre>
