
<p>
<strong>IP Rotation in Zimbra</strong>
</p>

<p>
–&gt; Using 2 Additional IPs(Including Main Server IPs)<br/>

iptables -t nat -A POSTROUTING -o eth0 -p tcp -m state –state NEW -m tcp –
</p>

<p>
dport 25 -m statistic –mode nth –every 3 -j SNAT –to-source 43.252.89.48<br/>

iptables -t nat -A POSTROUTING -o eth0 -p tcp -m state –state NEW -m tcp –dport 25 -m statistic –mode nth –every 5 -j SNAT –to-source 43.252.89.42
</p>

<p>
For Ubuntu
</p>

<p>
iptables -t nat -A POSTROUTING -o eth0 -p tcp -m state –state NEW -m tcp –dport 25 -m statistic –mode nth –every 1 –packet 0 -j SNAT –to-source 43.252.88.109
</p>

<p>
–&gt; Using Only 2 Additional IP to send mails(Excluding Primary/Main Server IP).<br/>

iptables -A POSTROUTING -o eth0 -p tcp -m state –state NEW -m tcp –dport 25 -m statistic –mode nth –every 2 -j SNAT –to-source 43.252.89.48<br/>

iptables -A POSTROUTING -o eth0 -p tcp -m state –state NEW -m tcp –dport 25 -m statistic –mode nth –every 1 -j SNAT –to-source 43.252.89.42
</p>

<p>
[Note: Kindly change IP accordingly.]
</p>

<p>
-t nat (Table NAT)<br/>

-I POSTROUTING ( -I Chain Name - Packets enter this chain just before handing them off to the hardware.)<br/>

-m state ( Matching module name )<br/>

–state NEW ( –state allows access to the connection tracking state for this packet. NEW meaning that the packet has started a new connection )<br/>

-p tcp ( -p Protocol )<br/>

–dport 25 ( –dport Destination Port )<br/>

-o eth0 ( -o Out Interface - name of an interface via which a packet is going to be sent outside.) -m statistic –mode nth –every 5<br/>

( -m matching module, –mode nth –every value)<br/>

(This module matches packet based on same statistic conditions i.e. random, nth) (–every 5 Match one packet every nth packet. It work with the nth mode.) -j SNAT –to-source 43.252.89.42 (-j jump to the specific target rule, SNAT is used only with POSTROUTING &amp; –to-source IP. )
</p>

<p>
<pre class="code"> iptables -t nat -A POSTROUTING -o eth0 -p tcp -m state --state NEW -m tcp --dport 25 -m statistic --mode nth --every 1 --packet 0 -j SNAT --to-source 146.88.26.64</pre>

</p>

<p>
<strong>How to remove the rules?</strong> <br/>

Delete any rule defined in configuration file.<br/>

vim /etc/sysconfig/iptables<br/>

Or iptables -t nat -F iptables -F Save the file<br/>

Restart iptables<br/>

service iptables restart
</p>
