
<p>
Edit the Spamassassin config file “/opt/zimbra/conf/salocal.cf.in” add below lines to the end of the file to whitelist a complete domain or specific user.
</p>
<pre class="code">whitelist_from *@domain.com 
whitelist_from user@domain.com </pre>

<p>
After the above changes restart zmmtactl and zmamaviasdctl services and test the issue.
</p>
<pre class="code">zmmtactl restart &amp;&amp; zmamavisdctl restart</pre>

<p>
Also, edit the file /opt/zimbra/conf/amavisd.conf.in to blacklist and look for this section:
</p>
<pre class="code">{ # a hash-type lookup table (associative array)
  &#039;nobody@cert.org&#039;                        =&gt; -3.0,
  &#039;cert-advisory@us-cert.gov&#039;              =&gt; -3.0,
  &#039;owner-alert@iss.net&#039;                    =&gt; -3.0,</pre>

<p>
To whitelist enter values without  (-) minus sign.
</p>

<p>
<a href="https://wiki.zimbra.com/wiki/Improving_Anti-spam_system" class="urlextern" title="https://wiki.zimbra.com/wiki/Improving_Anti-spam_system" rel="nofollow">https://wiki.zimbra.com/wiki/Improving_Anti-spam_system</a>
</p>
