
<p>
<strong>IP/Domain Based Restriction for <abbr title="File Transfer Protocol">FTP</abbr> Access in proFTP</strong>
</p>
<ul>
<li class="level1"><div class="li"> Edit the proFTPD configuration file (/etc/proftpd.conf)</div>
</li>
</ul>

<p>
          NOTE:- Don&#039;t forget to make a backup file of same before editing.
</p>
<ul>
<li class="level1"><div class="li"> Find the section ”&lt;Global&gt;” in the file and add following as required.</div>
<ul>
<li class="level8"><div class="li"> For Allowing only from specific IP&#039;s add following.</div>
</li>
</ul>
</li>
</ul>

<p>
                    &lt;Limit LOGIN&gt;
</p>
<pre class="code">                        Order allow,deny
                        Allow from **&lt;IP to Allow&gt;**, **&lt;IP to Allow&gt;**
                        Deny from all
                  &lt;/Limit&gt;
                  
                  //Note:- You can add many IP&#039;s to allow separated by comma//
                  
                  
         
              * For Allowing only from specific reverse IP&#039;s domain name add following.
                    &lt;Limit LOGIN&gt;
                        Order allow,deny
                        Allow from &lt;.End Domain to allow (eg .your.isp.com)&gt;
                        Deny from all
                    &lt;/Limit&gt; 
                    
               * To Deny a specific IP to access add following. 
                    &lt;Limit LOGIN&gt;
                         Order deny,allow
                         Deny from **&lt;IP to Deny&gt;**
                         Allow from all
                    &lt;/Limit&gt;
                      
               * To Deny only from specific reverse IP&#039;s domain name add following.
                   &lt;Limit LOGIN&gt;
                        Order allow,deny
                        Deny from &lt;.End Domain to allow (eg .your.isp.com)&gt;
                        Allow from all
                   &lt;/Limit&gt;      
                    
                    
          **//Note:- You can add many IP&#039;s/Domain to allow/deny list separated by comma.//**
        
        &lt;/&gt;                      
* Now restart the proftpd by excuting &quot; /etc/init.d/proftpd restart &quot;.</pre>
