
<p>
1) <a href="/doku.php?id=installation_adding_hosts_and_basic_functionality" class="wikilink1" title="installation_adding_hosts_and_basic_functionality">Installation, adding hosts and basic functionality</a>
</p>

<p>
2) <a href="/doku.php?id=playbooks" class="wikilink1" title="playbooks">Playbooks</a>
</p>

<p>
3) <a href="/doku.php?id=scripts" class="wikilink1" title="scripts">Scripts</a>
</p>

<p>
4) <a href="/doku.php?id=play_books" class="wikilink1" title="play_books">Play Books</a>
</p>
