<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
In Magento you can clear database logs by using 2 methods :
</p>
<ul>
<li class="level1"><div class="li"> Using script</div>
</li>
<li class="level1"><div class="li"> Manually truncating database table</div>
</li>
</ul>

<p>
<strong>Using Script :</strong>
</p>

<p>
For clearing database logs you can use script which can be used in following manner :
</p>

<p>
1. Go to <code>/root/mantra</code>  directory.
</p>

<p>
2. Use <em>dbClean.sh</em>  script in following manner : <code>bash dbClean.sh /home/???/public_html/ </code>
</p>

<p>
<strong>Manual Method :</strong>
</p>

<p>
In case you won&#039;t found above script, then either copy it from another server to current server or can manually truncate below mentioned database tables (From <em>CLI</em>  or Using <em>phpMyAdmin</em>.)
</p>
<ul>
<li class="level1"><div class="li"> core_cache</div>
</li>
<li class="level1"><div class="li"> core_cache_tag</div>
</li>
<li class="level1"><div class="li"> core_session</div>
</li>
<li class="level1"><div class="li"> log_customer</div>
</li>
<li class="level1"><div class="li"> log_quote</div>
</li>
<li class="level1"><div class="li"> log_summary</div>
</li>
<li class="level1"><div class="li"> log_summary_type</div>
</li>
<li class="level1"><div class="li"> log_url</div>
</li>
<li class="level1"><div class="li"> log_url_info</div>
</li>
<li class="level1"><div class="li"> log_visitor</div>
</li>
<li class="level1"><div class="li"> log_visitor_info</div>
</li>
<li class="level1"><div class="li"> log_visitor_online</div>
</li>
<li class="level1"><div class="li"> index_event</div>
</li>
<li class="level1"><div class="li"> index_process_event</div>
</li>
<li class="level1"><div class="li"> report_event</div>
</li>
<li class="level1"><div class="li"> report_viewed_product_index</div>
</li>
</ul>
