<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<h2 class="sectionedit1" id="aoe_profilersimply_better_than_conventional_magento_profiler">Aoe_Profiler : Simply better than conventional Magento profiler</h2>
<div class="level2">
<hr />

<p>
Steps to Install :
</p>

<p>
1. Clone the repository from github <a href="https://github.com/AOEpeople/Aoe_Profiler" class="urlextern" title="https://github.com/AOEpeople/Aoe_Profiler" rel="nofollow">https://github.com/AOEpeople/Aoe_Profiler</a> using modman
</p>

<p>
Inshort :
</p>

<p>
a. Go to magento install directory.
</p>

<p>
b. <a href="http://webtise.com/an-introduction-to-modman-for-magento/" class="urlextern" title="http://webtise.com/an-introduction-to-modman-for-magento/" rel="nofollow">modman</a> init
</p>

<p>
c. modman clone <a href="https://github.com/AOEpeople/Aoe_Profiler.git" class="urlextern" title="https://github.com/AOEpeople/Aoe_Profiler.git" rel="nofollow">https://github.com/AOEpeople/Aoe_Profiler.git</a>
</p>

<p>
d. <a href="http://wiki.mantraventures.com/magento/theory/symlinks_in_magento" class="urlextern" title="http://wiki.mantraventures.com/magento/theory/symlinks_in_magento" rel="nofollow">Enable Symlinks</a> from admin backend.
</p>

<p>
e. chown -R {USERNAME}: `pwd`
</p>

<p>
2. copy the .modman/Aoe_Profiler/var/aoe_profiler.xml.sample to var/aoe_profiler.xml
</p>

<p>
3. Add the below entry in the app/etc/local.xml file above &lt;/global&gt; tag, to <strong>enable database profiling</strong>.
</p>

<p>
<code>&lt;resources&gt;<br/>

&lt;default_setup&gt;<br/>

&lt;connection&gt;<br/>

&lt;profiler&gt;1&lt;/profiler&gt;<br/>

&lt;/connection&gt;<br/>

&lt;/default_setup&gt;</code>
</p>

<p>
<code>&lt;/resources&gt;</code>
</p>

<p>
4. Clear the compiler data if any, cache and sessions. Login to the cms admin.
</p>

<p>
5. Go to System &gt; Configuration &gt; ADVANCED &gt; Developer &gt; Debug for setting the Profiler configurations.
</p>

<p>
6. Edit the {magento_install_directory}var/aoe_profiler.xml for additional configuration.
</p>

<p>
Profiler, Modes of Operations: <code>&lt;trigger&gt;{mode}&lt;/trigger&gt;</code>
</p>

<p>
<strong><em>always</em></strong> : Every request will be logged.
</p>

<p>
<strong><em>parameter</em></strong> : [recommended] controlled via get parameter &#039;?profile=1&#039; or cookie (profile). Simply add &#039;?profile=1&#039; to the end of the <abbr title="Uniform Resource Locator">URL</abbr> you want to log.
</p>

<p>
<em><strong>never</strong></em> : Every request will be logged
</p>

<p>
Reference Links :
</p>

<p>
<a href="https://github.com/AOEpeople/Aoe_Profiler" class="urlextern" title="https://github.com/AOEpeople/Aoe_Profiler" rel="nofollow">https://github.com/AOEpeople/Aoe_Profiler</a>
</p>

<p>
<a href="http://fbrnc.net/blog/2012/08/magento-profiler#hello" class="urlextern" title="http://fbrnc.net/blog/2012/08/magento-profiler#hello" rel="nofollow">http://fbrnc.net/blog/2012/08/magento-profiler#hello</a>
</p>

</div>
<!-- EDIT1 SECTION "Aoe_Profiler : Simply better than conventional Magento profiler" [18-] -->