
<h1 class="sectionedit1" id="migrate_hyper-v_image_to_kvm">Migrate Hyper-V image to KVM</h1>
<div class="level1">

<p>
1. Move the Hyper-V image file (.vhd) to destination KVM server.
</p>

<p>
2. Run following command to convert .vhd image to .img
</p>
<pre class="code">  qemu-img convert -f vpc -O raw locateion_of_file/filename.vhd disk.img
  </pre>

<p>
 ( Note: this will create a disk.img file equal to the VOLUME/Size defined in Hyper-V. So, Keep in mind the free space where disk.img will be created)
</p>

<p>
3. Create a VPS in KVM of size more or equal defined in Hyper-V.
</p>

<p>
4. Run following command to restore the image to new LV. 
</p>
<pre class="code">  dd if=/path_to_image/disk.img of=/dev/VolGroup00/KVM-ID_img
  </pre>

<p>
5. Start the new VPS.
</p>

</div>
