
<p>
<pre class="code">mysqlcheck --auto-repair --check --optimize --all-databases</pre>

</p>

<p>
It will repair and optimize your Mysql databases. Then restart MySQL after you&#039;ve done the above:
</p>

<p>
<pre class="code">/etc/init.d/mysql restart</pre>

</p>
