
<p>
1. Login to the zimbra server and retrieve the MySQL root password.               
</p>
<pre class="code"> open /opt/zimbra/conf/localconfig.xml and search for mysql_root_password
                </pre>

<p>
2. Use Following credentials to create MySQL backup in R1soft.              
</p>
<pre class="code">             Port: 7306
             Data Directory: /opt/zimbra/db/data
             Base Directory: /opt/zimbra/db
             Username: root
             Password: &lt;root_password&gt;
             </pre>
