
<p>
<strong>Wordpress Url Injection Issue / RRNU Vaccinne</strong>
</p>

<p>
&lt;?php
class rrnuVaccine {
</p>
<pre class="code">  private $directory;
  private $counter;
  private $log = &#039;&#039;;
  private $pattern = &#039;(\&lt;\?php \/\*\*\/ eval\(base64_decode\(&quot;aWYoZnVuY3Rpb25fZXhpc3RzKCdvYl9zdGFydCcpJiYhaXNzZXQoJF9TRVJWRVJbJ21yX25vJ10pKX.*&quot;\)\);\?\&gt;)&#039;;</pre>
<pre class="code">  private function __construct() {
      
  }</pre>
<pre class="code">  /**
   * @return rrnuVacine
   */
  public static function create() {
      return new self();
  }</pre>
<pre class="code">  /**
   * Define root directory to start the recursive search to Vacine all php files.
   * @param type $dir
   * @return rrnuVacine 
   */
  public function setDirectory($dir) {
      $this-&gt;directory = $dir;
      return $this;
  }</pre>
<pre class="code">  private function getDirectory() {
      return $this-&gt;directory;
  }</pre>
<pre class="code">  private function validate() {
      if (is_null($this-&gt;getDirectory())) {
          throw new exception(&#039;Define the root directory to Vacine!&#039;);
      }
  }</pre>
<pre class="code">  private function startup() {
      $this-&gt;counter = array(
          &#039;free&#039; =&gt; 0,
          &#039;infected&#039; =&gt; 0,
          &#039;disinfected&#039; =&gt; 0,
          &#039;total&#039; =&gt; 0,
      );
  }</pre>
<pre class="code">  private function vaccine($directory) {
      $currentDir = dir($directory);</pre>
<pre class="code">      while (false !== ($entry = $currentDir-&gt;read())) {
          $file = $directory . DIRECTORY_SEPARATOR . $entry;</pre>
<pre class="code">          if ($entry != &quot;.&quot; &amp;&amp; $entry != &quot;..&quot; &amp;&amp; is_dir($file)) {
              $this-&gt;vaccine($file);
          } else if (pathinfo($entry, PATHINFO_EXTENSION) == &#039;php&#039;) {
              $fileContent = preg_replace($this-&gt;pattern, &#039;&#039;, file_get_contents($file),-1,$detected);
              if($detected === 0){
                  $status = &#039;&lt;em style=&quot;color:darkblue&quot;&gt;free&lt;/em&gt;&#039;;
                  $this-&gt;counter[&#039;free&#039;]++;
              } else {
                  if (false === file_put_contents($file, $fileContent)) {
                      $status = &#039;&lt;em style=&quot;color:darkred&quot;&gt;infected!&lt;/em&gt;&#039;;
                      $this-&gt;counter[&#039;infected&#039;]++;
                  } else {
                      $status = &#039;&lt;em style=&quot;color:darkgreen&quot;&gt;disinfected!&lt;/em&gt;&#039;;
                      $this-&gt;counter[&#039;disinfected&#039;]++;
                  }
              }
              $this-&gt;counter[&#039;total&#039;]++;
              $this-&gt;log .= $file . &quot;[&quot; . $status . &quot;]&lt;br&gt;\n&quot;;
          }
      }
      $currentDir-&gt;close();
      
  }</pre>
<pre class="code">  public function execute() {
      $this-&gt;validate();
      $this-&gt;startup();
      $this-&gt;vaccine($this-&gt;getDirectory());
     
      $result = array();
      foreach($this-&gt;counter as $key =&gt; $value){
          $result[] = &quot;&lt;b&gt;{$key}&lt;/b&gt;({$value}) &quot;;
      }</pre>
<pre class="code">      return &quot;&lt;h2&gt;&quot;.implode(&#039; | &#039;,$result).&quot;&lt;/h2&gt;\n&quot;. $this-&gt;log;
  }</pre>

<p>
}
</p>

<p>
echo &#039;&lt;div style=“color:#333; font-family:Verdana; font-size:11px;”&gt;&#039;;
echo &#039;&lt;h1&gt;&lt;a href=“<a href="https://github.com/walkeralencar/rrnuVaccine" class="urlextern" title="https://github.com/walkeralencar/rrnuVaccine" rel="nofollow">https://github.com/walkeralencar/rrnuVaccine</a>”&gt;rr.nu Vaccine - v0.2 Beta&lt;/a&gt;&lt;/h1&gt;&#039;;
echo &#039;&lt;h3&gt;by &lt;a href=“mailto:walkeralencar@gmail.com”&gt;Walker de Alencar&lt;/a&gt;&lt;/h3&gt;&lt;hr/&gt;&#039;;
echo rrnuVaccine::create()
</p>
<ol>
<li class="level1"><div class="li">&gt;setDirectory(realpath(getcwd()))</div>
</li>
<li class="level4"><div class="li">&gt;execute();</div>
</li>
</ol>

<p>
echo &#039;&lt;/div&gt;&#039;;
</p>

<p>
this is a complete page is a php script needed to save in injection.php file
</p>
