
<p>
<strong>Setting up a VSFTP Server</strong>
</p>

<p>
VSFTP stands for Very Secure <abbr title="File Transfer Protocol">FTP</abbr>
</p>

<p>
To install vsftpd package
</p>

<p>
On RHEL/CentOS/Fedora the command will be
</p>

<p>
<code>yum install vsftpd</code>
</p>

<p>
On Debian and its derivatives
</p>

<p>
<code>apt-get install vsftpd</code>
</p>

<p>
On Arch Linux
</p>

<p>
<code>pacman -S vsftpd</code>
</p>

<p>
VSFTP by default runs as a standalone service, meaning it comes with its own daemon for managing incoming/outgoing connections, logs etc, but it can also be integrated with inted or xinetd.
</p>

<p>
Start the service
</p>

<p>
<code>service vsftpd start</code>
</p>

<p>
If your system uses systemd service manager instead of init from Unix system V, run
</p>

<p>
<code>systemctl restart vsftpd</code>
</p>

<p>
One thing should be noted that whenever any changes are made to the vsftp config file, the service should be restarted for the changes to take effect. 
</p>

<p>
To check vsftpd&#039;s status
</p>

<p>
<code>service vsftpd status</code>
</p>

<p>
<code>systemctl status vsftpd</code>
</p>

<p>
Alternatively you can also run 
</p>

<p>
<code>netstat -tnlp</code>
</p>

<p>
The format of <code>vsftpd.conf</code> is very simple. Each line is either a comment or a directive. Comment lines start with a # and are ignored. A directive line has the format:
</p>

<p>
<code>option=value</code>
</p>

<p>
It is important to note that it is an error to put any space between the <code>option, = and value</code>. 
Vsftpd config file usually resides in <code>/etc</code> directory.
</p>

<p>
Now we&#039;ll go through some frequently used options in the config file, you&#039;ll notice that most of these are properly explained in the config file. Options in <code>vsftpd.conf</code> can be grouped under three categories:
</p>

<p>
<strong>1) Boolean</strong>
</p>

<p>
<strong>2) Numeric</strong>
</p>

<p>
<strong>3) String</strong>
</p>

<p>
<strong>BOOLEAN OPTIONS:</strong>
</p>

<p>
The value for a boolean option may be set to YES or NO.
</p>

<p>
<code>anon_mkdir_write_enable</code>               <code>Default: NO</code>
</p>

<p>
If set to YES, anonymous users will be permitted to create new directories under certain conditions. For this to work, the option write_enable must be activated, and the anonymous ftp user must have write permission on the parent directory.
</p>
<hr />

<p>
<code>anon_other_write_enable</code> <code>Default: NO</code>
</p>

<p>
If set to YES, anonymous users will be permitted to perform write operations other than upload and create directory, such as deletion and renaming. This is generally not recommended but included for completeness.
</p>
<hr />

<p>
<code>anon_upload_enable</code> <code>Default: NO</code>
</p>

<p>
If set to YES, anonymous users will be permitted to upload files under certain conditions. For this to work, the option write_enable must be activated, and the anonymous ftp user must have write permission on desired upload locations. This setting is also required for virtual users to upload; by default, virtual users are treated with anonymous (i.e. maximally restricted) privilege.
</p>
<hr />

<p>
<code>anonymous_enable</code> <code>Default: YES</code>
</p>

<p>
Controls whether anonymous logins are permitted or not. If enabled, both the usernames ftp and anonymous are recognized as anonymous logins.
</p>
<hr />

<p>
<code>chown_uploads</code> <code>Default: NO</code>
</p>

<p>
If enabled, all anonymously uploaded files will have the ownership changed to the user specified in the setting chown_username. This is useful from an administrative, and perhaps security, standpoint.
</p>
<hr />

<p>
<code>chown_username</code>  <code>Default: root</code>
</p>

<p>
This is the name of the user who is given ownership of anonymously uploaded files. This option is only relevant if another option, chown_uploads, is set.
</p>
<hr />

<p>
<code>chroot_list_enable</code>  <code>Default: NO</code>
If activated, you may provide a list of local users who are placed in a chroot() jail in their home directory upon login. The meaning is slightly different if chroot_local_user is set to YES. In this case, the list becomes a list of users which are NOT to be placed in a chroot() jail. By default, the file containing this list is /etc/vsftpd.chroot_list, but you may override this with the chroot_list_file setting.
</p>
<hr />

<p>
<code>chroot_local_user</code>  <code>Default: NO</code>
If set to YES, local users will be (by default) placed in a chroot() jail in their home directory after login. Warning: This option has security implications, especially if the users have upload permission, or shell access. Only enable if you know what you are doing. Note that these security implications are not vsftpd specific. They apply to all <abbr title="File Transfer Protocol">FTP</abbr> daemons which offer to put local users in chroot() jails.
</p>
<hr />

<p>
<code>connect_from_port_20</code>  <code>Default: NO</code>
This controls whether PORT style data connections use port 20 (ftp-data) on the server machine. For security reasons, some clients may insist that this is the case. Conversely, disabling this option enables vsftpd to run with slightly less privilege.
</p>
<hr />

<p>
<code>delete_failed_uploads</code>  <code>Default: NO</code>
If true, any failed upload files are deleted.
</p>
<hr />

<p>
<code>download_enable</code>  <code>Default: YES</code>
If set to NO, all download requests will give permission denied.
</p>
<hr />

<p>
<code>local_enable</code> <code>Default: NO</code>
Controls whether local logins are permitted or not. If enabled, normal user accounts in /etc/passwd (or wherever your PAM config references) may be used to log in. This must be enable for any non-anonymous login to work, including virtual users.
</p>
<hr />

<p>
<code>log_ftp_protocol</code> <code>Default: NO</code>
When enabled, all <abbr title="File Transfer Protocol">FTP</abbr> requests and responses are logged, providing the option xferlog_std_format is not enabled. Useful for debugging.
</p>
<hr />

<p>
<code>dual_log_enable</code> <code>Default: NO</code>
If enabled, two log files are generated in parallel, going by default to /var/log/xferlog and /var/log/vsftpd.log. The former is a wu-ftpd style transfer log, parseable by standard tools. The latter is vsftpd&#039;s own style log.
</p>
<hr />

<p>
<code>xferlog_enable</code> <code>Default:YES</code>
Activate logging of uploads/downloads.
Logs are stored in /var/log/vsftpd.log.
</p>
<hr />

<p>
<code>no_anon_password</code> <code>Default: NO</code>
When enabled, this prevents vsftpd from asking for an anonymous password - the anonymous user will log straight in.
</p>
<hr />

<p>
<code>no_log_lock</code> <code>Default: NO</code>
When enabled, this prevents vsftpd from taking a file lock when writing to log files. This option should generally not be enabled. It exists to workaround operating system bugs such as the Solaris / Veritas filesystem combination which has been observed to sometimes exhibit hangs trying to lock log files.
</p>
<hr />

<p>
<code>connect_from_port_20</code> <code>Default: NO</code>
This controls whether PORT style data connections use port 20 (ftp-data) on the server machine. For security reasons, some clients may insist that this is the case. Conversely, disabling this option enables vsftpd to run with slightly less privilege.
</p>

<p>
<strong>———————————————————————————————————–</strong>
</p>

<p>
<strong>NUMERIC OPTIONS:</strong>
</p>

<p>
Below is a list of numeric options. A numeric option must be set to a non negative integer. Octal numbers are supported, for convenience of the umask options. To specify an octal number, use 0 as the first digit of the number.
</p>

<p>
<code>accept_timeout</code> <code>Default: 60</code>
The timeout, in seconds, for a remote client to establish connection with a PASV style data connection.
</p>
<hr />

<p>
<code>anon_max_rate</code> <code>Default: 0 (unlimited)</code>
The maximum data transfer rate permitted, in bytes per second, for anonymous clients.
</p>
<hr />

<p>
<code>connect_timeout</code> <code>Default: 60</code>
The timeout, in seconds, for a remote client to respond to our PORT style data connection.
</p>
<hr />

<p>
<code>data_connection_timeout</code> <code>Default: 300</code>
The timeout, in seconds, which is roughly the maximum time we permit data transfers to stall for with no progress. If the timeout triggers, the remote client is kicked off.
</p>
<hr />

<p>
<code>delay_failed_login</code> <code>Default: 1</code>
The number of seconds to pause prior to reporting a failed login.
</p>
<hr />

<p>
<code>ftp_data_port</code> <code>Default: 20</code>
The port from which PORT style connections originate (connect_from_port_20 is enabled should be enabled for this to work).
</p>
<hr />

<p>
<code>idle_session_timeout</code> <code>Default: 300</code>
The timeout, in seconds, which is the maximum time a remote client may spend between <abbr title="File Transfer Protocol">FTP</abbr> commands. If the timeout triggers, the remote client is kicked off.
</p>
<hr />

<p>
<code>listen_port</code> <code>Default: 21</code>
If vsftpd is in standalone mode, this is the port it will listen on for incoming <abbr title="File Transfer Protocol">FTP</abbr> connections.
</p>
<hr />

<p>
<code>local_max_rate Default:</code> <code>0 (unlimited)</code>
The maximum data transfer rate permitted, in bytes per second, for local authenticated users.
</p>
<hr />

<p>
<code>local_umask</code> <code>Default: 077</code>
The value that the umask for file creation is set to for local users. NOTE! If you want to specify octal values, remember the “0” prefix otherwise the value will be treated as a base 10 integer!
</p>
<hr />

<p>
<code>max_clients</code> <code>Default: 0 (unlimited)</code>
If vsftpd is in standalone mode, this is the maximum number of clients which may be connected. Any additional clients connecting will get an error message.
</p>
<hr />

<p>
<code>max_login_fails</code> <code>Default: 3</code>
After this many login failures, the session is killed.
</p>
<hr />

<p>
<code>max_per_ip</code> <code>Default: 0 (unlimited)</code>
If vsftpd is in standalone mode, this is the maximum number of clients which may be connected from the same source IP address. A client will get an error message if they go over this limit.
</p>

<p>
<strong>———————————————————————————————————–</strong>
</p>

<p>
<strong>STRING OPTIONS:</strong>
</p>

<p>
<code>ftpd_banner=</code>
Write here the message string that&#039;ll be displayed whenever any user logs in. You can also provide path to a file containing the message here.
</p>
<hr />

<p>
<code>chown_username</code> <code>Default: root</code>
This is the name of the user who is given ownership of anonymously uploaded files. This option is only relevant if another option, chown_uploads, is set.
</p>
<hr />

<p>
<code>chroot_list_file</code> <code>Default: /etc/vsftpd.chroot_list</code>
The option is the name of a file containing a list of local users which will be placed in a chroot() jail in their home directory. This option is only relevant if the option chroot_list_enable is enabled. If the option chroot_local_user is enabled, then the list file becomes a list of users to NOT place in a chroot() jail.
</p>
<hr />

<p>
<code>cmds_allowed</code> <code>Default: (none)</code>
This options specifies a comma separated list of allowed <abbr title="File Transfer Protocol">FTP</abbr> commands (post login. USER, PASS and QUIT and others are always allowed pre-login). Other commands are rejected. This is a powerful method of locking down an <abbr title="File Transfer Protocol">FTP</abbr> server. Example: cmds_allowed=PASV,RETR,QUIT
</p>
<hr />

<p>
<code>cmds_denied</code> <code>Default: (none)</code>
This options specifies a comma separated list of denied <abbr title="File Transfer Protocol">FTP</abbr> commands (post login. USER, PASS, QUIT and others are always allowed pre-login). If a command appears on both this and cmds_allowed then the denial takes precedence.
</p>
<hr />

<p>
<code>listen_address</code> <code>Default: (none)</code>
If vsftpd is in standalone mode, the default listen address (of all local interfaces) may be overridden by this setting. Provide a numeric IP address.
</p>
<hr />

<p>
You may override where the log file goes if you like. The default is shown below.
</p>

<p>
<code>xferlog_file=/var/log/vsftpd.log</code>
</p>
