<ul>
<li class="level1"><div class="li"> Create the fourth partition on all 4 drives (standard RAID-10 nodes have 4 drives)</div>
</li>
</ul>

<p>
<pre class="code">parted /dev/sda
(parted) p
(parted) mkpart primary
File system type?  [ext2]? ext3
Start? 72G (Depends on where the 3rd partition ends)                                                  
End? 1000G (Depends on drive size)</pre>

</p>

<p>
*For one step partition use below command
<pre class="code">mkpart primary ext3 58.3G 1000G </pre>

 Depends on where the 3rd partition ends
</p>

<p>
Repeat this for all 4 drives.
</p>
<ul>
<li class="level1"><div class="li"> Reboot the server</div>
</li>
<li class="level1"><div class="li"> Create RAID-10 array</div>
</li>
</ul>

<p>
<pre class="code">mdadm --create /dev/md3 --level=10 --raid-devices=4 /dev/sda4 /dev/sdb4 /dev/sdc4 /dev/sdd4</pre>

</p>
<ul>
<li class="level1"><div class="li"> Create Physical Volume</div>
</li>
</ul>

<p>
<pre class="code">pvcreate /dev/md3</pre>

</p>
<ul>
<li class="level1"><div class="li"> Create Volume Group</div>
</li>
</ul>

<p>
<pre class="code">vgcreate VolGroup00 /dev/md3</pre>

</p>
