
<h1 class="sectionedit1" id="reset_windows_vps_password_from_vmware_vsphere_client">Reset Windows VPS password from Vmware vsphere client</h1>
<div class="level1">

<p>
First get the image of the PasswordResetTool in the datastore or CD from: <br/>

<a href="http://pogostick.net/~pnh/ntpasswd/cd100627.zip" class="urlextern" title="http://pogostick.net/~pnh/ntpasswd/cd100627.zip" rel="nofollow">http://pogostick.net/~pnh/ntpasswd/cd100627.zip</a>
</p>

<p>
Then follow these steps:
</p>

<p>
1. Power Off the server.
</p>

<p>
2. Edit preferences of your VM to enable remote CD drive.
</p>

<p>
3. Change boot options to set boot delay.
</p>

<p>
4. Power on machine and set up boot order.
</p>

<p>
5. Connect iso image. Quickly, before system start booting.
</p>

<p>
6. See system booting from CD, use your the tool to reset Administrator password.
</p>

<p>
The options to be used are all default values, so you just have to press enter at every step(but carefully!). Use the “blank password” option at the end.
</p>

<p>
After that you can change the password to anything after logging in by the blank password.
</p>

<p>
NOTE: This is not a 100% safe method. May cause loss of data also.
</p>

</div>
