
<p>
<a href="https://wiki.zimbra.com/wiki/Obtain_all_the_forwards_per_each_account" class="urlextern" title="https://wiki.zimbra.com/wiki/Obtain_all_the_forwards_per_each_account" rel="nofollow">https://wiki.zimbra.com/wiki/Obtain_all_the_forwards_per_each_account</a>
</p>

<p>
<pre class="code">vim checkforward.sh</pre>

</p>
<ul>
<li class="level1"><div class="li"> Add the next simple script into the Script file:</div>
</li>
</ul>

<p>
<pre class="code">#!/bin/sh
# Script para visualizar redirecciones en Zimbra
for account in `zmprov -l gaa`; do
forwardingaddress=`zmprov ga $account |grep &#039;zimbraPrefMailForwardingAddress&#039; |sed &#039;s/zimbraPrefMailForwardingAddress: //&#039;`
if [ &quot;$forwardingaddress&quot; != &quot;&quot; ]; then
echo &quot;$account is forwarding to $forwardingaddress&quot;
else
forwardingaddress=&quot;&quot;
fi
done</pre>

<pre class="code">chown zimbra:zimbra checkforward.sh
chmod +x checkforward.sh</pre>

<pre class="code">cp checkforward.sh /opt/zimbra
chown zimbra:zimbra /opt/zimbra/checkforward.sh
touch /opt/zimbra/forward-email.txt
chown zimbra:zimbra /opt/zimbra/forward-email.txt
</pre>

<pre class="code">su - zimbra
ls -l checkforward.sh
./checkforward.sh &gt; forward-email.txt
</pre>

</p>
