
<p>
Login to shell
</p>

<p>
Find the spamming user.
</p>

<p>
Then edit the below command according to your need( Who&#039;s mail queue needs to be flushed).
</p>

<p>
/opt/zimbra/postfix/sbin/mailq | tail | awk &#039;BEGIN { RS = “” } / update@mail\.com$/ { print $1 }&#039; | tr -d &#039;*!&#039; | /opt/zimbra/postfix/sbin/postsuper -d -
</p>

<p>
In the above command update@mail.com is the user who&#039;s mail queue will be cleared. Mind the “-” in the end.
</p>
<div class="level1">

<p>
Ubuntu 14.04.4 LTS
</p>

<p>
<a href="https://wiki.zimbra.com/wiki/Managing-The-Postfix-Queues" class="urlextern" title="https://wiki.zimbra.com/wiki/Managing-The-Postfix-Queues" rel="nofollow">https://wiki.zimbra.com/wiki/Managing-The-Postfix-Queues</a>
</p>

<p>
<pre class="code">/opt/zimbra/postfix/sbin/postqueue -p | egrep -v &#039;^ *\(|-Queue ID-&#039; \
| awk &#039;BEGIN { RS = &quot;&quot; } { if ($7 == &quot;email@domain.com&quot;) print $1} &#039; \
| tr -d &#039;*!&#039; | /opt/zimbra/postfix/sbin/postsuper -d -</pre>

</p>

</div>
<div class="level1">

</div>
