
<h1 class="sectionedit1" id="ubuntu_server_1204_installation_in_xen-hvm_through_iso">Ubuntu Server 12.04 installation in XEN-HVM through ISO</h1>
<div class="level1">

<p>
NOTE:- Set <strong>VIF Type = netfront</strong> in solus, without this eth0 will not be up
</p>

</div>
