
<p>
The Alter Database command to make the database online is:
</p>

<p>
<pre class="code">USE [master]
GO

ALTER DATABASE [DB_123_database] SET ONLINE
GO</pre>

</p>

<p>
The Alter Database command to make the database offline is:
</p>

<p>
<pre class="code">USE [master]
GO

ALTER DATABASE [DB_123_database] SET OFFLINE
GO</pre>

</p>
