
<p>
Fastest solution to remove all emails in exim queue (less than 5sec) :
do these commands :
</p>

<p>
cd /var/spool
</p>

<p>
mv exim exim.old
</p>

<p>
mkdir -p exim/input
</p>

<p>
mkdir -p exim/msglog
</p>

<p>
mkdir -p exim/db
</p>

<p>
chown -R mail:mail exim
</p>

<p>
/sbin/service exim restart
</p>
