<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
Cronjobs recommend for magento server maintenance. In below statements adjust time as per your requirement :
</p>

<h3 class="sectionedit1" id="daily_cron_jobs"># Daily cron jobs</h3>
<div class="level3">

<p>
<em>[<strong>Note</strong> : replace ??? with user name. ]</em>
</p>

<p>
<strong>1. Magento Cron.php :</strong> [<em>every five minutes</em>]
</p>

<p>
<code>*/5 * * * * php /home/???/public_html/cron.php</code>
</p>

<p>
<strong>2. File permissions:</strong>
</p>

<p>
<code>0 4 * * * find /home/???/public_html/ -path &#039;/home/???/public_html/var&#039; -prune -o -path &#039;/home/???/public_html/media&#039; -prune -o -path &#039;/home/???/public_html/includes&#039; -prune -o -type d -exec chmod 750 {} \;</code>
</p>

<p>
<code>1 4 * * * find /home/???/public_html/ -path &#039;/home/???/public_html/var&#039; -prune -o -path &#039;/home/???/public_html/media&#039; -prune -o -path &#039;/home/???/public_html/includes&#039; -prune -o -type f -exec chmod 640 {} \;</code>
</p>

<p>
<code>2 4 * * * find /home/???/public_html/media -type f -exec chmod 660 {} \;</code>
</p>

<p>
<code>4 4 * * * find /home/???/public_html/media -type d -exec chmod 770 {} \;</code>
</p>

<p>
<code>5 4 * * * find /home/???/public_html/var -type f -exec chmod 660 {} \;</code>
</p>

<p>
<code>6 4 * * * find /home/???/public_html/var -type d -exec chmod 770 {} \;</code>
</p>

<p>
<strong>3. Reindexing cronjob:</strong>
</p>

<p>
<code>0 23 * * * php /home/???/public_html/shell/indexer.php reindexall</code>
</p>

</div>
<!-- EDIT1 SECTION "# Daily cron jobs" [128-1163] -->
<h3 class="sectionedit2" id="weekly_cron_jobs"># Weekly cron jobs</h3>
<div class="level3">

<p>
<strong>1. magento database log cleaning.</strong> ( In case you don&#039;t found this script in /root/mantra directory then import it from other magento server. )
</p>

<p>
<code>0 22 * * 6 bash /root/mantra/magentoMaintenance.sh /home/???/public_html</code>
</p>

</div>
<!-- EDIT2 SECTION "# Weekly cron jobs" [1164-] -->