
<h1 class="sectionedit1" id="to_rebuild_a_raid_array_when_a_drive_fails">To rebuild a RAID array when a drive fails.</h1>
<div class="level1">

<p>
1) Replacing the drive in the same slot:
</p>
<ul>
<li class="level1"><div class="li"> Check drive status: /opt/MegaRAID/CmdTool2/CmdTool2 -PDList -a0 (Assuming RAID array is 0)</div>
</li>
<li class="level1"><div class="li"> Check missing drive in RAID array: /opt/MegaRAID/CmdTool2/CmdTool2 -PDGetMissing -a0</div>
</li>
<li class="level1"><div class="li"> Change drive status to Unconfigured good: /opt/MegaRAID/CmdTool2/CmdTool2 -PDMakeGood -PhysDrv[252:0] -a0  (Assuming failed drive was [252:0])</div>
</li>
<li class="level1"><div class="li"> Replace drive in the array: /opt/MegaRAID/CmdTool2/CmdTool2 -PDReplaceMissing -PhysDrv[252:0] -Array0 -Row0 -a0</div>
</li>
<li class="level1"><div class="li"> Rebuild Array: /opt/MegaRAID/CmdTool2/CmdTool2 -PDRbld -Start -PhysDrv[252:0] -a0</div>
</li>
</ul>

</div>
