
<h1 class="sectionedit1" id="install_postgresql_on_centos">Install postgresql on CentOS</h1>
<div class="level1">

<p>
1) Using the command line interface, log into your server as root.
</p>

<p>
2) Use the following script: /scripts/installpostgres.
</p>

<p>
3) In your web browser, log into WHM.
</p>

<p>
4) Select Postgres Config in the SQL Services section of WHM.
</p>

<p>
5) If you are installing PostgreSQL for the first time, click the Install Config button.
</p>

<p>
6) Type a new PostgreSQL password in the text box and click Change Password.
</p>

<p>
Done! Access PostgreSQL from cPanel now!
</p>

</div>
