
<p>
Open PolicD Web <abbr title="Graphical User Interface">GUI</abbr>. <br/>

<pre class="code">http://IP:7780/webui/index.php </pre>

</p>

<p>
Go to Policies –&gt; Group –&gt; Select Action → Add <br/>

<br/>

Name: New_Group      
Disabled: No <br/>

#Name can be anything <br/>

<br/>

Policies –&gt; Group –&gt; Select group you have created with above step. –&gt; Select Action –&gt; Members <br/>

Add your members <br/>

<pre class="code">Member Name:                 
user2@mohit1.mantragrid.com 
user3@mohit1.mantragrid.com 
user4@mohit1.mantragrid.com </pre>

#Member Name: it can be anything according to the need.<br/>

#Disabled = no<br/>

</p>

<p>
Navigate to Policies –&gt; Main <br/>

<pre class="code">Name: new_grp	 
Priorities: 10 
Description: new group policy 
Disabled: no </pre>

#Name of the policy can be anything <br/>

#Description can be anything but should not be blank. <br/>

#Priority 0 Highest 100 Lowest. <br/>

#Disabled = No <br/>

</p>

<p>
Quotas –&gt; Configure –&gt; Select action –&gt; add  <br/>

<pre class="code">Name:     Policy Name:      Track           Time Period     Verdict   Data    Disabled 
new_grp	new_grp_policy	Sender:user@domain	3600	    REJECT	0	no </pre>

#Name of the policy can be anything <br/>

#Policy name should be same, you have created in above steps. <br/>

#Track should be where the mail check will counter. <br/>

</p>

<p>
Quotas –&gt; Configure –&gt; Select Action –&gt; Limits <br/>

<pre class="code">Type	      Counter Limit	Disabled 
MessageCount	   4	          no </pre>

</p>
