
<h2 class="sectionedit1" id="what_is_time_to_first_byte">What is Time To First Byte ?</h2>
<div class="level2">
<hr />

<p>
Time to first byte (TTFB) is a metric for determining the responsiveness of a web server. It measures the amount of time between creating a connection to the server and downloading the contents of a web page. In simple terms, TTFB measures the duration from the user or client making an HTTP request to the first byte of the page being received by the client&#039;s browser.
</p>

</div>

<h4 id="ttfb_is_impacted_by_three_key_actions">TTFB is impacted by three key actions :</h4>
<div class="level4">
<ol>
<li class="level1"><div class="li"> Sending a request from a client machine to the server.</div>
</li>
<li class="level1"><div class="li"> Processing that request on the server and generating a response, and</div>
</li>
<li class="level1"><div class="li"> Sending the response from the server to the client.</div>
</li>
</ol>

</div>
<!-- EDIT1 SECTION "What is Time To First Byte ?" [1-657] -->
<h3 class="sectionedit2" id="reducing_ttfb_speeding_up_magento">Reducing TTFB &amp; speeding up magento :</h3>
<div class="level3">

<p>
In many cases poor magento performance comes from poor coding. Your theme files might have php code blocks that run unneeded model calls or do something that could be done magento way. But first we need to identify those parts of magento code that are slow. For that we will need to enable <em><a href="http://wiki.mantraventures.com/magento/configuration/magento-profiler" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-profiler" rel="nofollow">Magento Profiler</a></em> – the built in magento tool that lets you see what magento is doing and on what it spends most of the page load time.
</p>

<p>
<strong>a. Reduce TTFB using Magento Profiler :</strong>
</p>

<p>
You will be able to reduce time to first byte with the help of Magento Profiler. Analyze profiler output at the bottom of your website page and see which code profiler string takes most time. Find the place in the code base where that code profiler string is used and analyze the php block inside it. You can use find command in terminal: <br/>
<code>find app lib -type f -exec grep -iHn –color=always &#039;code_profiler&#039; {} \;</code>
</p>

<p>
<strong>b. Disable unnecessarily magento extensions :</strong>
</p>

<p>
Magento has lots of core extensions that are enabled by default. Some of those modules have observers that are run on every page request slowing down your website. By examining the observers in the profiler output you could decide which ones could be disabled to speed up magento.
</p>

<p>
Check the profiler output carefully – you might as well find custom modules that were installed long ago but are not used at the moment. They might have observers you were not aware of that are run on every page load. Many times I lower my clients website TTFB by simply disabling unneeded custom extensions.
</p>

<p>
Here is the list of core extensions you might not need:
</p>

<p>
Mage_Log (<em>if you don’t need magento logging</em>) <br/>
Mage_Downloadable (<em>if you don’t have downloadable products in your catalog</em>) <br/>
Mage_Paypal (<em>if you don’t use paypal as the payment option</em>) <br/>
Mage_Bundle (<em>if you don’t have bundled products in your catalog</em>) <br/>
Mage_Reviews (<em>if you don’t need review functionality on your website</em>)
</p>

<p>
<strong>c. Review .phtml theme files :</strong>
</p>

<p>
Poor code leads to poor performance. If in magento profiler output you see .phtml file that takes more than 0.5s to run – it is time to review that file carefully. Always pay attention to loops – if written badly it might slow your website drastically. It is important to keep your .phtml theme files code healthy and optimized in order to get low TTFB.
</p>

</div>
<!-- EDIT2 SECTION "Reducing TTFB & speeding up magento :" [658-3135] -->
<h3 class="sectionedit3" id="benefits_of_optimizing_time_to_first_byte">Benefits of Optimizing Time to First Byte</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> Users see an improved browsing experience, since they have to spend less time waiting for a web service to generate a response.</div>
</li>
<li class="level1"><div class="li"> Enterprises see higher customer engagement and retention, as users are less likely to leave due to delays or slow loading times.</div>
</li>
</ul>

<p>
<em>Reference Link : <a href="http://tutorialmagento.com/how-to-reduce-time-to-first-byte-ttfb-and-speed-up-magento//" class="urlextern" title="http://tutorialmagento.com/how-to-reduce-time-to-first-byte-ttfb-and-speed-up-magento//" rel="nofollow">http://tutorialmagento.com/how-to-reduce-time-to-first-byte-ttfb-and-speed-up-magento//</a> </em>
</p>

</div>
<!-- EDIT3 SECTION "Benefits of Optimizing Time to First Byte" [3136-] -->