
<h1 class="sectionedit1" id="multi_ip_script_with_webmin">Multi IP script with Webmin</h1>
<div class="level1">

<p>
Install Exim:
</p>

<p>
1) Download the rpm for yum repo:
</p>

<p>
<a href="http://mirrors.ustc.edu.cn/fedora/epel/6/x86_64/epel-release-6-7.noarch.rpm" class="urlextern" title="http://mirrors.ustc.edu.cn/fedora/epel/6/x86_64/epel-release-6-7.noarch.rpm" rel="nofollow">http://mirrors.ustc.edu.cn/fedora/epel/6/x86_64/epel-release-6-7.noarch.rpm</a>
</p>

<p>
rpm -ivh epel-release-6-7.noarch.rpm
</p>

<p>
2) And install exim:
</p>

<p>
yum -y install exim*
</p>

<p>
3) Start exim and stop postfix:
</p>

<p>
/etc/init.d/exim start
</p>

<p>
chkconfig exim on
</p>

<p>
/etc/init.d/postfix stop
</p>

<p>
chkconfig postfix off
</p>

<p>
4) Edit exim.conf file and add the following just after MAIN CONFIGURATION SETTINGS:
</p>

<p>
perl_startup = do &#039;/etc/exim/exim.pl&#039;
</p>

<p>
And under TRANSPORTS CONFIGURATION below remote_smtp block add:
</p>

<p>
interface = “${perl{randinet}}”
</p>

<p>
Also, comment out the following line:
</p>

<p>
#require verify        = sender
</p>

<p>
5) Lock exim.conf file to prevent changes:
</p>

<p>
chattr +aui /etc.exim/exim.conf
</p>

<p>
6) Create the file /etc/exim/exim.pl with following contents:
</p>

<p>
sub randinet {
</p>

<p>
@inet = (“x.x.x.x”,“x.x.x.x”,“xx.x.x.x”);
</p>

<p>
return $inet[int rand($#inet+1)];
</p>

<p>
}
</p>

<p>
7) Restart Exim
</p>

<p>
8) Open Webmin, navigate to Servers &gt; Read User Mail
</p>

<p>
Click on Module Config at the top middle of the screen. Select System Configuration from drop-down menu.
</p>

<p>
Change “Mail Server Installed” to either EXIM.
</p>

<p>
Apply it, reboot,
</p>

<p>
9) Use “Let me specify my own SMTP server details” under Mail server details in “Email Settings” in Interpspire. Use hostname as the domain name for which application has been installed.
</p>

</div>
