
<h1 class="sectionedit1" id="hardening_of_cpanel_server">Hardening Of Cpanel Server</h1>
<div class="level1">

<p>
<strong>1. In Home » Security Center:</strong>
</p>

<p>
- Password Strength Configuration - Set this value between 65-70.
</p>

<p>
- Shell Fork Bomb Protection - Enabled
</p>

<p>
<strong> 2. Install ClamAV from Plugins </strong>
</p>

<p>
 a. Set a cronjob to be run on each Saturday night with following command:
</p>
<pre class="code">     &quot;for i in `awk &#039;!/nobody/{print $2 | &quot;sort | uniq&quot; }&#039; /etc/userdomains | sort | uniq`; do /usr/bin/clamscan -i -r /home/$i 2&gt;&gt;/dev/null; done &gt;&gt; /root/infections&amp;&quot;</pre>

<p>
<strong> 3. Disable these functions in PHP config: (Add this line in php.ini) </strong>
</p>

<p>
- disable_functions = system, shell_exec, passthru, exec, popen, proc_open, show_source, escapeshellarg, escapeshellcmd, myshellexec
</p>

<p>
<strong> 4. <a href="/cpanel_guide/munin_notifications_for_large_mail_queue" class="wikilink1" title="cpanel_guide:munin_notifications_for_large_mail_queue">Enable Munin alerts for mail queue</a>. </strong>
</p>

<p>
<strong> 5. Go to Home » SQL Services » MySQL Root Password </strong>
</p>

<p>
- Set MySQL password (Don’t set the same password like for the root access).
</p>

<p>
<strong> 6. Disable these functions in Apache config: </strong>
</p>

<p>
- Apache server signature turned off
</p>

<p>
- Disabled Directory Listing
</p>
<pre class="code">  Log into WHM
  Service Configuration --&gt; Apache Configuration
  Global Configuration
  Scroll down to Directory &#039;/&#039; Options
  Untick Indexes option
  Then save and Finally, rebuild by clicking rebuild apache conf
 </pre>

<p>
<strong> 7. Home » Service Configuration »<abbr title="File Transfer Protocol">FTP</abbr> Server Configuration </strong>
</p>

<p>
- Allow Anonymous Logins - NO
</p>

<p>
- Allow Anonymous Uploads - NO
</p>

<p>
<strong> 8. Change following in PHP configuration. </strong>
</p>

<p>
- Enable suEXEC – suEXEC = On
</p>

<p>
- expose_php = Off
</p>

<p>
- Enable_dl= Off
</p>

<p>
- register_globals = off
</p>

<p>
- display_errors = off
</p>

<p>
<strong> 9. Recommended Security Tweak Settings Checklists </strong>
</p>

<p>
- Blank referrer safety check On
</p>

<p>
- Enable HTTP Authentication Off
</p>

<p>
- Security Tokens On
</p>

<p>
- Cookie IP Validation On
</p>

<p>
- Proxy Subdomain Creation Off
</p>

<p>
- Block Common Domains Usage On
</p>

<p>
- Initial default/catch-all forwarder destination Fail
</p>

<p>
- Max hourly emails per domain (150 set)
</p>

<p>
- Enable SpamAssassin spam filter On
</p>

</div>
