
<p>
Create a lookup file /etc/exim/ips.txt with
</p>

<p>
1: xxx.xxx.xxx.1
</p>

<p>
2: xxx.xxx.xxx.2
</p>

<p>
3: xxx.xxx.xxx.3
</p>

<p>
4: xxx.xxx.xxx.4
</p>

<p>
Set the transport to:
</p>

<p>
remote_smtp:
</p>
<pre class="code">driver = smtp
interface = &quot;${lookup {${randint:5}} lsearch {/etc/exim/ips.txt}}&quot;</pre>

<p>
randint will return a random number between 1-4 which is then looked up in the file and used if you have more ip&#039;s just add to the list and increment the randint value to number ips + 1
</p>
