
<p>
<strong>1. Check for Ebury infection
</strong>
<pre class="code">ipcs -m</pre>

</p>

<p>
If the output shows one or more large segments (at least 3 megabytes) with full permissions (666), the system is most likely infected with Ebury. <br/>
<br/>

</p>

<p>
<strong>2. A replacement of the shared library &#039;libkeyutils&#039; can be identified by looking at the file size. Legitimate versions of the library usually are less than 15 kilobytes in size, while the malicious ones are larger than 25 kilobytes. To check the file size, run the following command
</strong><pre class="code">find /lib* -type f -name libkeyutils.so* -exec ls -la {} \;</pre>
<br/>
<br/>

</p>

<p>
<em class="u"><strong>What to do now?
</strong></em> <br/>

1. Replace the libkeyutils.so file that was found to be infected with a new file from non-infected system.
</p>

<p>
2. Remove the shared memory segment associated with the infected binary with 666 permissions
<pre class="code">ipcrm -M &lt;shmkey&gt;</pre>

</p>
