
<p>
<em>Note : these rules are not only restricted to magento </em> <br/>

<strong>What is the requirement of rewrite rules? </strong> <br/>

You must have to know answer of above question before proceeding to use below rules.<br/>

First and foremost requirement is, Nginx is like “Narendra Modi” kind of web server! Not having much technical abilities but he know how to get his tasks done as well as he can manage intensive/concurrent amount of work load, efficiently. We need to tell him that how he could be react when an alien type of request come to him. Means modify or break down a huge request string into smaller parts, identify it and then passes it to another relevant element which is expertise in handling certain type of alien requests. So that it could simplifies that request and translate it into language which nginx understand and pass it back to nginx and later information generate is passes on to original requester.
</p>

<p>
# First block “/“<br/>

A url can be broken into two parts :<br/>

1. Base url. like <a href="http://domain.com" class="urlextern" title="http://domain.com"  rel="nofollow">http://domain.com</a><br/>

2. Request string, which concatenates after base url. like [Base Url]/$request_uri
</p>

<p>
<em><em class="u">“location /_ckgedit_QUOT</em>_</em> represent top level location in file system hierarchy of a web site data files. Which we call Document_Root in technical language.<br/>

<em><em class="u">“index [filename]_ckgedit_QUOT</em>_</em> this filename represents a bootstrap file. It task is to initiate any kind of task that needs to be accomplished by website code. Multiple filenames represents priority of bootstrap files which need to be access when file higher in priority not found.<br/>

<em><em class="u">“try_files_ckgedit_QUOT</em>_</em> is a flag or a switch that will try to broken down or simplify request_uri then again try to parse it from beginning of rewrite rules. when nothing works it will passes that request to <em class="u"><em>“handler”</em></em>
</p>

<p>
<code>location / {<br/>

index index.php index.htm index.html;<br/>

try_files $uri $uri/ @handler;<br/>

} </code>
</p>

<p>
# <strong>handler</strong> block \\r <em><em class="u">“Mr. handler_ckgedit_QUOT</em>_</em> he is “Sarkari Babbu” type of person from reservation quota. He only knows that what ever comes to him must be rewritten and passed on to bootstrap file as an argument. <em>!!<em class="u">Aage wo jane aur uska kaam jane I dont care</em>!!</em> <br/>

<code>location @handler {<br/>

#rewrite / /index.php;<br/>

rewrite / /index.php?$args;<br/>

} </code>
</p>

<p>
# This block is like a technically smart person, he interprets complex request_uri strings containing ”.php” and rewrites them in a simplified form. # Forward paths like /js/index.php/x.js to relevant handler<br/>

<code>location ~ .php/ {<br/>

rewrite ^(.*.php)/ $1 last;<br/>

} </code>
</p>

<p>
# Passes ”.php” files to relevant processor who will understand php very well @ the location here this expert resides?<br/>

<code>location ~ .php$ {<br/>

try_files $uri /?error=404;<br/>

fastcgi_split_path_info ^(.+\.php)(/.+)$;<br/>

include fastcgi_params;<br/>

fastcgi_index index.php;<br/>

fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;<br/>

fastcgi_pass 127.0.0.1:9000;<br/>

} </code>
</p>
