
<h2 class="sectionedit1" id="cdn_url_masking">CDN URL MASKING</h2>
<div class="level2">
<hr />

<p>
Cdn Url Masking defined as representing the actual cdn url in form of other url by creating CNAME records (i.e aliasing). <em>For example</em>:
</p>

<p>
<code>13744127857.rsc.cdn77.org → domain.magehost.com</code>
</p>

<p>
<code>13744127857.rsc.cdn77.org → domain.mantragrid.com</code>
</p>

<p>
To create cdn url masking follow below steps :
</p>

<p>
1. Create a CNAME record in for <strong>CDN Resource <abbr title="Uniform Resource Locator">URL</abbr></strong>. (For magehost &amp; mantragrid use <a href="https://www.cloudflare.com/a/login" class="urlextern" title="https://www.cloudflare.com/a/login" rel="nofollow">cloudflare</a>.)
</p>

<p>
2. Add CNAME record name in CDN 77&#039;s “<strong>CNAMES &amp; SSL</strong>” tab. Enter your CNAME name and click on <strong>ADD CNAME </strong>.
</p>

<p>
Done.
</p>

<p>
See below images for reference :
</p>

<p>
<img src="/lib/exe/fetch.php?w=600&amp;h=317&amp;tok=041c53&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fcdn-cnames.png" class="media" alt="" width="600" height="317" />
</p>

<p>
<img src="/lib/exe/fetch.php?w=600&amp;h=322&amp;tok=ea8530&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fcdn-cname-url.png" class="media" alt="" width="600" height="322" />
</p>

<p>
Now you can use this <abbr title="Uniform Resource Locator">URL</abbr> (i.e. example.magehost.com) as your CDN <abbr title="Uniform Resource Locator">URL</abbr>.
</p>

</div>
