
<h1 class="sectionedit1" id="install_solusvm_on_server">Install SolusVM on server</h1>
<div class="level1">

<p>
Login as root user into the server, and type the following commands:
</p>

<p>
wget <a href="http://soluslabs.com/installers/solusvm/install" class="urlextern" title="http://soluslabs.com/installers/solusvm/install" rel="nofollow">http://soluslabs.com/installers/solusvm/install</a> <br/>

chmod 755 install <br/>

./install
</p>

<p>
Then, you will be presented the options screen 1:
</p>

<p>
Choose “Install SolusVM Master”, if you want to install Master SolusVM.
</p>

<p>
Then, you will get another options screen:
</p>

<p>
Choose “Start Master Install(openVZ)” — for OpenVZ.<br/>

In case of Master virtualization without OpenVZ, choose “No Virtualization”.
</p>

<p>
NOTE: 1. Selinux must be disabled.(/etc/sysconfig/selinux)<br/>

2. Edit /etc/grub.conf and select “default=0”. Then reboot the server.
</p>

</div>
