
<p>
Files included:<br/>

ips.txt - containing all ips list.<br/>

rbl-3t.sh - checking all ips with all RBL listed in it.<br/>

rblcheck.sh - main script which is needs to be executed.<br/>

</p>

<p>
What does script is doing?<br/>

Its checking an IP for all RBL listed in RBL section of the script and mail with the status.<br/>

</p>

<p>
How to add more IP/IPs?<br/>

Add IP in next line in ips.txt file.<br/>

</p>

<p>
How to add RBLs?<br/>

To add more RBL/RBLs to check you can add them in RBL section in the script itself with a space.<br/>

For Ex. RBL=“b.barracudacentral.org”<br/>

</p>

<p>
How to execute the script?<br/>

<pre class="code">chmod +x rblcheck.sh \\
./rblcheck.sh | mail -s &quot;RBL Alert&quot; mohit@mantragrid.com\\</pre>

Note: Change your email accordingly.<br/>

</p>

<p>
<a href="/_media/rbl.zip" class="media mediafile mf_zip" title="rbl.zip (1.4 KB)">rbl.zip</a>
</p>

<p>
#### SAMPLE OUTPUT <br/>

</p>

<p>
======== RBL Status IP: 198.204.232.99 Hostname: server.hostname.com ======== <br/>

198.204.232.99 is BLACKLISTED in cabl.rbl.webiron.net <br/>

198.204.232.99 is BLACKLISTED in all.rbl.webiron.net <br/>

198.204.232.99 is BLACKLISTED in recent.spam.dnsbl.sorbs.net <br/>

198.204.232.99 is BLACKLISTED in old.spam.dnsbl.sorbs.net <br/>

198.204.232.99 is BLACKLISTED in spam.dnsbl.sorbs.net <br/>

198.204.232.99 is BLACKLISTED in bad.psky.me <br/>

198.204.232.99 is BLACKLISTED in hostkarma.junkemailfilter.com <br/>

198.204.232.99 is BLACKLISTED in b.barracudacentral.org <br/>

======== RBL Status IP: 43.252.88.206 Hostname: server2.hostname.com ======== <br/>

43.252.88.206 is BLACKLISTED in b.barracudacentral.org <br/>

</p>
