
<p>
<strong><span style='font-family: inherit; font-size:22px; color: inherit;  background-color: inherit '>How to clean compromised magento websites ?</span> </strong>
</p>

<p>
<span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Follow below step by step procedure :</span>
</p>
<ol>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Check magento version in app/Mage.php file. (search for line containing “VersionInfo” pattern).</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Identify the patches remaining from magereport.com.</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Run maldet scan on server with quarentine hits = 0. And manually clean files found.</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Check if files sending spam from server from mail header. (check mailq)</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Go to magento hosting data directory (i.e. public_html).</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Check for unwanted php files in directories like media, js, skin, var, downloader,icon, images, errors etc… Check them and delete them.</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Take note of cleaned files and update in notes sheet in google drive.</span></div>
</li>
<li class="level1"><div class="li"> <span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '>Inform tech team for further actions.</span></div>
</li>
</ol>
