
<h1 class="sectionedit1" id="grub_re-installation">GRUB re-installation</h1>
<div class="level1">

<p>
<pre class="code">rpm -e grub

wget ftp://ftp.pbone.net/mirror/archive.fedoraproject.org/fedora/linux/releases/10/Everything/x86_64/os/Packages/grub-0.97-38.fc10.x86_64.rpm

rpm -i grub-0.97-38.fc10.x86_64.rpm

cp /usr/share/grub/x86_64-redhat/* /boot/grub

grub

&gt; root (hd0,0)
root (hd0,0)

&gt; setup (hd0)
setup (hd0)
</pre>

</p>

</div>
