
<p>
<strong>FOR LINUX:</strong> <br/>

Download utility from: <br/>

<a href="http://download2.boulder.ibm.com/sar/CMA/XSA/ibm_utl_sraidmr_megacli-8.04.08_linux_32-64.zip" class="urlextern" title="http://download2.boulder.ibm.com/sar/CMA/XSA/ibm_utl_sraidmr_megacli-8.04.08_linux_32-64.zip" rel="nofollow">http://download2.boulder.ibm.com/sar/CMA/XSA/ibm_utl_sraidmr_megacli-8.04.08_linux_32-64.zip</a> <br/>
<br/>

To check RAID status:
<pre class="code">/opt/MegaRAID/MegaCli/MegaCli64 -PDList -aAll | egrep &quot;Enclosure Device ID:|Slot Number:|Inquiry Data:|Error Count:|state&quot;</pre>

<br/>

<strong>FOR WINDOWS</strong> <br/>

<a href="http://download.lenovo.com/ibmdl/pub/pc/pccbbs/thinkservers/ta8rad91sr17.exe" class="urlextern" title="http://download.lenovo.com/ibmdl/pub/pc/pccbbs/thinkservers/ta8rad91sr17.exe" rel="nofollow">http://download.lenovo.com/ibmdl/pub/pc/pccbbs/thinkservers/ta8rad91sr17.exe</a>
</p>
