
<h1 class="sectionedit1" id="forced_cpanel_backups_command_line">Forced cPanel backups command line</h1>
<div class="level1">

<p>
Just type the following command:
</p>

<p>
/scripts/cpbackup –force
</p>

<p>
Done!
</p>

</div>
