
<h1 class="sectionedit1" id="reseller_club_funds_addidtion">Reseller club Funds addidtion</h1>
<div class="level1">

<p>
Dear Sir,
</p>

<p>
We have added &lt;Rs.10000/→ in your ICICI BANK ACCOUNT:
</p>

<p>
Beneficiary Name: PDR Solutions FZC
Account No: 001105022959
</p>

<p>
from HDFC A/c No -03932000005766 , ROHINI SE 11,N DELHI
through Bank Transfer.
Reference Number: &lt;1402A1&gt;
</p>

<p>
Please add this amount to our account asap.
sahil@mantraventures.com
Reseller ID is: 241464
</p>

<p>
Reseller Pin: 2925
</p>

</div>
