
<h1 class="sectionedit1" id="partition_new_hetzner_node_with_raid">Partition New Hetzner Node with RAID</h1>
<div class="level1">

<p>
First delete the already partitioned RAID setup:
<pre class="code">megacli -CfgLdDel -Lall -aAll </pre>

</p>

<p>
Then: (Example for RAID-1)
<pre class="code">Create a 200GB boot partition:

megacli -CfgLdAdd -r1 [252:0,252:1] WB ADRA Cached CachedBadBBU -sz200GB -a0 </pre>

</p>

<p>
For remainder space:
<pre class="code">megacli -CfgLdAdd -r1 [252:0,252:1] WB ADRA Cached CachedBadBBU -a0 </pre>

</p>

<p>
For RAID 10 run following command:
</p>
<pre class="code">  megacli -CfgSpanAdd -r10 -Array0[252:0,252:1] Array1[252:2,252:3] WB RA Direct CachedBadBBU -a0</pre>

<p>
Now installimage can be performed. Some adjustment is necessary here: only /dev/sda is used for hard disks, the other(s) have to be commented out using #. Software RAID also needs to be switched off (set to 0).
</p>

<p>
After installing the operating system, a partition can be created on the second RAID, so that this can be used. Here a GPT partition table is used instead of the MS-DOS partition table which enables &gt; 2 TB partitions. These steps can be performed in the Rescue System.
</p>
<ul>
<li class="level1"><div class="li"> gdisk /dev/sdb</div>
</li>
<li class="level1"><div class="li"> n for new partition</div>
</li>
<li class="level1"><div class="li"> with Enter accept the default value for the partition number</div>
</li>
<li class="level1"><div class="li"> with Enter accept the default value for the partition start</div>
</li>
<li class="level1"><div class="li"> similarly with Enter accept the default value for the partition end</div>
</li>
<li class="level1"><div class="li"> Enter the hex code for the partition data type (0700 for Linux/Windows data)</div>
</li>
<li class="level1"><div class="li"> with w finally save the amendments.</div>
</li>
<li class="level1"><div class="li"> The partition can now be formatted:</div>
</li>
</ul>

<p>
mkfs.ext3 /dev/sdb1
</p>

</div>
