
<h1 class="sectionedit1" id="setup_hetzner_node_for_xen_pv_hvm">Setup Hetzner Node for Xen(PV+HVM)</h1>
<div class="level1">

<p>
1) Add the following lines to /etc/sysctl.conf:
<pre class="code">net.ipv4.ip_forward = 1
net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.default.send_redirects = 0
net.ipv4.conf.lo.send_redirects = 0
net.ipv4.conf.xenbr0.send_redirects = 0</pre>

</p>

<p>
2) Change directory to /etc/sysconfig/network-scripts
</p>

<p>
3) Create a new file ifcfg-xenbr0:1 and add the following:
<pre class="code">DEVICE = xenbr0:1
ONBOOT = yes
BOOTPROTO = static
NETMASK = &lt;netmask of additional IP&#039;s&gt;
IPADDR = &lt;first IP address of subnet&gt;</pre>

</p>

<p>
4) Edit the route-eth0 file and add all the additional IP&#039;s as follows:
</p>

<p>
ADDRESS0=&lt;IP address in subnet&gt;
</p>

<p>
NETMASK0=0.0.0.0
</p>

<p>
GATEWAY0=0.0.0.0
</p>

<p>
5) Add this to /etc/rc.d/rc.local file:
</p>

<p>
/sbin/ifup xenbr0:1
</p>

<p>
6) Comment out the BROADCAST line in eth0 file.
</p>

</div>
