
<h1 class="sectionedit1" id="install_joomla">Install Joomla</h1>
<div class="level1">

<p>
1. Download the zip file. (<a href="http://www.joomla.org/download.html" class="urlextern" title="http://www.joomla.org/download.html" rel="nofollow">http://www.joomla.org/download.html</a>)
</p>

<p>
2. Upload it to the folder where you want to install Joomla. (Eg: mysite/joomla)
</p>

<p>
3. Extract the zip file.
</p>

<p>
4. Create a mysql database and user from cPanel.
</p>

<p>
5. Type the address where you installed Joomla in <abbr title="Uniform Resource Locator">URL</abbr> bar.(<a href="http://mysite/joomla" class="urlextern" title="http://mysite/joomla" rel="nofollow">http://mysite/joomla</a>)
</p>

<p>
6. Follow the instructions.
</p>

<p>
Installation complete!
</p>

</div>
