<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
You can change magento base url from database using 2 methods :
</p>
<ul>
<li class="level1"><div class="li"> Using phpMyAdmin.</div>
</li>
<li class="level1"><div class="li"> Using mysql cli.</div>
</li>
</ul>

<p>
Magento table that contains <abbr title="Uniform Resource Locator">URL</abbr> setting : “core_config_data”
</p>

<p>
[ <strong>Note</strong>  : Magento Database tables may contains some <em>prefix</em>, so while searching add <em>prefix</em>  in database table name. Like <em>mage_core_config_data </em>  here “mage_” is prefix. ]
</p>

<p>
<strong>From phpMyAdmin :</strong>
</p>

<p>
1. After login to phpmyadmin, select database by clicking on database name. - Then Go <strong>SQL</strong>  tab and run below query:
</p>

<p>
<code>select * from core_config_data where path like &#039;%base%url%&#039;  </code>
</p>

<p>
<img src="/lib/exe/fetch.php?w=1062&amp;h=529&amp;tok=0e1bf6&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fphpmyadmin_url_search.png" class="mediacenter" alt="" width="1062" height="529" />2. After getting results of above query, Change the URLs to desired value.
</p>

<p>
<strong>From CLI: </strong>
</p>

<p>
1. Login server and go to mysql cli &amp; run below commands.
</p>

<p>
<em>[ Note :You can get <strong>database name, user, password</strong>  &amp; <strong>table prefix</strong>  from app/etc/local.xml file. If prefix is empty in local.xml file and simply use core_config_data as table name in below command. ]</em>
</p>

<p>
<code> mysql -u {db-user} -p {db-name} </code>
</p>

<p>
<code>select * from {prefix}core_config_data where path like &#039;%base%url%&#039;;   </code>
</p>

<p>
2. Update the URLs from search results of above command using below command:
</p>

<p>
<code>update {prefix}core_config_data set value = &#039;{<abbr title="Uniform Resource Locator">URL</abbr>}/&#039; where config_id = &#039;{config-id}&#039;;</code>
</p>

<p>
Done.
</p>
