
<h1 class="sectionedit1" id="upgrade_or_downgrade_xen_pv_vm_hard_disk">Upgrade or Downgrade Xen PV VM hard disk</h1>
<div class="level1">

<p>
1) Shutdown the VM: xm shutdown vm&lt;id&gt;
</p>

<p>
2) For upgrade: lvextend /dev/&lt;VolGroupName&gt;/vm&lt;id&gt;_img -L 20G (this would increase the main disk for vm101 to 20G, located in the vg0 volume group, so adjust values as needed)
</p>

<p>
For downgrade: lvreduce /dev/&lt;VolGroupName&gt;/vm&lt;id&gt;_img -L 10G
NOTE: This may destroy existing data on VM, so backup first
</p>

<p>
3) Run FSCK: e2fsck -f /dev/&lt;VolGroupName&gt;/vm&lt;id&gt;_img (optional but very likely required, you will be prompted if required)
</p>

<p>
4) Resize filesystem: resize2fs /dev/&lt;VolGroupName&gt;/vm&lt;id&gt;_img (this will increase the disk&#039;s filesystem to the maximum new amount)
</p>

<p>
5) Boot VM: xm create /home/xen/vm&lt;id&gt;/vm&lt;id&gt;.cfg
</p>

<p>
DONE!!
</p>

</div>
