
<p>
<span style='font-family: inherit; font-size:24px; color: inherit;  background-color: inherit '><strong> MySQL Slave Error  </strong></span>
</p>

<p>
CAUTION: Mentioned below steps will be performed ONLY if the mail alert contains the content similar to below.
</p>

<p>
<pre class="code">Slave IO not running on 184.154.18.138
Error number: 1236
Error message: Got fatal error 1236 from master when reading data from binary log: &#039;Client requested master to start replication from impossible position&#039;</pre>

</p>

<p>
Step 1: Login to server ( 107.6.167.170 UI2 )
</p>

<p>
Step 2: Login to mysql<br/>

i.e<br/>

mysql -u root -p
</p>

<p>
Step 3: Run below command<br/>

mysql&gt; SHOW MASTER STATUS;
</p>

<p>
<pre class="code">Note: Below is output, You need to note down  ( File and Position ) only.

+------------------+-----------+--------------+------------------+
| File             | Position  | Binlog_Do_DB | Binlog_Ignore_DB |
+------------------+-----------+--------------+------------------+
| mysql-bin.011604 | 789440321 | pmytime_main |                  |
+------------------+-----------+--------------+------------------+

Note:
File: mysql-bin.011604
Position: 789440321</pre>

</p>

<p>
Step 4: Login to server ( 184.154.18.138 UI1 )
</p>

<p>
Step 5: Login to mysql<br/>

i.e<br/>

mysql -u root -p
</p>

<p>
Step 6: Run below command<br/>

mysql&gt; SHOW SLAVE STATUS\G
</p>

<p>
<pre class="code">Note: In output find below two line you will get Slave_IO_Running:No

Slave_IO_Running: No    (Note: Slave_IO_Running should be Yes)
Slave_SQL_Running: Yes</pre>

</p>

<p>
<em class="u">Yes To Resolve this issue perform </em><em class="u">below </em><em class="u">steps</em>
</p>

<p>
Step 7:<br/>

mysql&gt; slave stop;
</p>

<p>
<strong>Kindly copy the ( File and Position) from ( 107.6.167.170 UI2 ) server which was mention in step 3.<br/>

and update the command accordingly (MASTER_LOG_FILE, MASTER_LOG_POS)</strong>
</p>

<p>
<strong>e.g.<br/>

MASTER_LOG_FILE = mysql-bin.011604<br/>

MASTER_LOG_POS = 789440321</strong>
</p>

<p>
<br/>

Step 8:<br/>

mysql&gt; CHANGE MASTER TO MASTER_HOST = &#039;107.6.167.170&#039;, MASTER_USER = &#039;repuser&#039;, MASTER_PASSWORD=&#039;GdfdCSww2&#039;, MASTER_LOG_FILE=&#039;mysql-bin.011604&#039;, MASTER_LOG_POS=789440321;
</p>

<p>
<br/>

Step 9:<br/>

mysql&gt; slave start;
</p>

<p>
Step 10:<br/>

mysql&gt; SHOW SLAVE STATUS\G
</p>

<p>
<pre class="code">Note: In output find below two line you will get Slave_IO_Running:Yes

Slave_IO_Running: Yes
Slave_SQL_Running: Yes

Its Done !</pre>

</p>
