<ol>
<li class="level1"><div class="li"> Move the files first</div>
</li>
<li class="level1"><div class="li"> Check the database name from the file app/etc/local.xml and move the database to new server</div>
</li>
<li class="level1"><div class="li"> Create the database user and required database connection</div>
</li>
<li class="level1"><div class="li"> Clear the cache from:</div>
</li>
</ol>

<p>
<pre class="code">rm -rf var/cache/*
rm -rf var/session/*</pre>

</p>

<p>
Errors:
</p>
<ol>
<li class="level1"><div class="li"> In case of issues, enable error display on. Go to “errors” folder and rename the file local.xml.sample to local.xml.</div>
</li>
<li class="level1"><div class="li"> In case the database is very large due to log_url, log_visitor, etc tables, then take backups of these tables first and then empty these tables. After that, you can move the database.</div>
</li>
</ol>
