<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
Final Migration Checklist primarily for magento websites. Ensure all the below mentioned points must cover during migration process.
</p>

<p>
1. Apply maintenance page on clients old website on old server.
</p>

<p>
2. Rename domain name &amp; Create a new database &amp; add privileges to dbuser in Virtual-min on new server.
</p>

<p>
3. Start file sync from old to new server. Use rsync command, example is given below:
</p>

<p>
<code>rsync -avhzsr -e &#039;ssh -p 3822&#039; {source-directory}/ {PoC-IP}:{destination-directory}/</code>
</p>

<p>
4. Take <a href="http://wiki.mantraventures.com/magento/configuration/magento-how-to-mysqldump" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-how-to-mysqldump" rel="nofollow">database dump</a> from old server and restore it on new server in new database created.
</p>

<p>
5. Update database related entries in <strong><em>app/etc/local.xml</em></strong> file.
</p>

<p>
6. Set file and directory <a href="http://wiki.mantraventures.com/magento/configuration/magento-file-permissions" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-file-permissions" rel="nofollow">permissions</a> &amp; <a href="http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/changing-magento-base-url-from-database" rel="nofollow">change website url</a> from database.
</p>

<p>
7. <a href="http://wiki.mantraventures.com/magento/stack/magento-clear-database-logs" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/magento-clear-database-logs" rel="nofollow">Clear database logs</a> &amp; <a href="http://wiki.mantraventures.com/magento/configuration/magento-clear-file-cache" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-clear-file-cache" rel="nofollow">Clear Old cache</a> from <strong><em>var</em></strong> directory.
</p>

<p>
8. Check &amp; test <a href="http://wiki.mantraventures.com/magento/provisioning/poc-testing" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-testing" rel="nofollow">Website Functionality</a>.
</p>

<p>
8. Update <abbr title="Domain Name System">DNS</abbr> record.
</p>

<p>
9. Update CDN url.
</p>

<p>
10. Apply all the optimization as per the <em>features</em> sub-sheet in clients sheet on <a href="https://drive.google.com" class="urlextern" title="https://drive.google.com" rel="nofollow">google drive</a>.
</p>

<p>
11. Check &amp; test <a href="http://wiki.mantraventures.com/magento/provisioning/poc-testing" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/poc-testing" rel="nofollow">Website Functionality Again</a>.
</p>

<p>
12. Add magento cron for cron.php file. example given below :
</p>

<p>
<code>*/5 * * * * php /home/???/public_html/cron.php</code>
</p>

<p>
13. Deliver all details to client. Details must include ( <abbr title="File Transfer Protocol">FTP</abbr>, Phpmyadmin &amp; database, Shell access, <a href="http://wiki.mantraventures.com/magento/stack/create-cdn-purge-url" class="urlextern" title="http://wiki.mantraventures.com/magento/stack/create-cdn-purge-url" rel="nofollow">CDN Purge URL</a>, Admin details etc.. ).
</p>

<p>
14. Post Delivery tasks :
</p>
<ul>
<li class="level1"><div class="li"> Update details in client sheet on <a href="https://drive.google.com" class="urlextern" title="https://drive.google.com" rel="nofollow">google drive</a>.</div>
</li>
<li class="level1"><div class="li"> <a href="http://wiki.mantraventures.com/magento/configuration/magento-setup-sendgrid-for-mailing" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-setup-sendgrid-for-mailing" rel="nofollow">Setup Sendgrid</a> if required (as per discussion with client before migration.)</div>
</li>
<li class="level1"><div class="li"> Setup <a href="http://wiki.mantraventures.com/magento/configuration/magento-reindexing-plugin" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-reindexing-plugin" rel="nofollow">Indexing Plugin</a>.</div>
</li>
<li class="level1"><div class="li"> Setup required <a href="http://wiki.mantraventures.com/magento/configuration/magento-cronjobs" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-cronjobs" rel="nofollow">cronjobs for magento</a> on server.</div>
</li>
<li class="level1"><div class="li"> Setup <a href="http://wiki.mantraventures.com/monitoring/system-integrity-monitor" class="urlextern" title="http://wiki.mantraventures.com/monitoring/system-integrity-monitor" rel="nofollow">SIM</a> alert on server.</div>
</li>
<li class="level1"><div class="li"> Setup 1 min Uptime Robot alert.</div>
</li>
<li class="level1"><div class="li"> Setup <a href="http://wiki.mantraventures.com/monitoring/newrelic-setup" class="urlextern" title="http://wiki.mantraventures.com/monitoring/newrelic-setup" rel="nofollow">Newrelic</a> monitoring (server &amp; application).</div>
</li>
<li class="level1"><div class="li"> <a href="http://example.com" class="urlextern" title="http://example.com" rel="nofollow">Setup R1soft</a> Backup.</div>
</li>
<li class="level1"><div class="li"> Check for <a href="http://wiki.mantraventures.com/magento/configuration/check-magento-version" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/check-magento-version" rel="nofollow">magento version</a> &amp; <a href="https://www.magereport.com/" class="urlextern" title="https://www.magereport.com/" rel="nofollow">patches left</a> on website &amp; fill findings in features sheet on <a href="https://drive.google.com" class="urlextern" title="https://drive.google.com" rel="nofollow">google drive</a> client sheet.</div>
</li>
</ul>
