
<h1 class="sectionedit1" id="quick_check_30_days_after_server_delivery">Quick Check (30 days after server delivery)</h1>
<div class="level1">

<p>
Hello!
</p>

<p>
I just wanted to take a moment and reach out to you to ensure that everything is going well with your recent server purchase with us here at MantraGrid. Getting settled into a new server can be pretty crazy with migrating all of your sites over and getting it configured exactly to fit your needs.  I just want to make sure you are not having any outstanding server side issues that we need to take care of for you at this time.
</p>

<p>
It is really important for us here at MantraGrid to ensure that you are happy with our service and support.  Remember that if you need help with your server, our support staff are always available to assist you with your issues.  Just submit a ticket through <a href="https://www.supportmantra.com" class="urlextern" title="https://www.supportmantra.com" rel="nofollow">https://www.supportmantra.com</a> or email info@mantragrid.com and we will be happy to assist you with your request.  If you have any non-support related questions or comments that you want to talk to us about feel free to respond to this email and I will get back to you as soon as possible.  Any feedback that you have about your new services with us here at MantraGrid is always welcome and appreciated.  I hope you have a wonderful rest of your week! <img src="/lib/images/smileys/icon_smile2.gif" class="icon" alt="=)" />
</p>

</div>
