
<h1 class="sectionedit1" id="test_performance_of_linux_servers">Test performance of linux servers</h1>
<div class="level1">

<p>
<strong>HTTP:</strong>
</p>

<p>
<a href="http://www.yolinux.com/TUTORIALS/WebServerBenchmarking.html" class="urlextern" title="http://www.yolinux.com/TUTORIALS/WebServerBenchmarking.html" rel="nofollow">http://www.yolinux.com/TUTORIALS/WebServerBenchmarking.html</a>
</p>

<p>
<strong>Hard Disk:</strong>
</p>

<p>
1) Run the following command:
</p>

<p>
dd if=/dev/zero of=output.img bs=8k count=256k
</p>

<p>
2) If “hdparm” is not installed, install it using yum. Then run:
</p>

<p>
hdparm -tT /dev/&lt;sda/hda#&gt;
</p>

<p>
3) <a href="http://code.google.com/p/ioping/" class="urlextern" title="http://code.google.com/p/ioping/" rel="nofollow">http://code.google.com/p/ioping/</a>
</p>

<p>
<strong>CPU:</strong>
</p>

<p>
1) <a href="http://superpi.ilbello.com/" class="urlextern" title="http://superpi.ilbello.com/" rel="nofollow">http://superpi.ilbello.com/</a>
</p>

<p>
(Give the value of i between 5 to 10)
</p>

<p>
2) <a href="http://sourceforge.net/projects/systester/" class="urlextern" title="http://sourceforge.net/projects/systester/" rel="nofollow">http://sourceforge.net/projects/systester/</a>
</p>

<p>
<strong>Miscellaneous:</strong>
</p>

<p>
<a href="http://code.google.com/p/byte-unixbench/" class="urlextern" title="http://code.google.com/p/byte-unixbench/" rel="nofollow">http://code.google.com/p/byte-unixbench/</a>
</p>

<p>
<a href="http://www.primatelabs.ca/geekbench/" class="urlextern" title="http://www.primatelabs.ca/geekbench/" rel="nofollow">http://www.primatelabs.ca/geekbench/</a> (Free for 32 bit benchmarks)
</p>

<p>
<a href="http://lmbench.sourceforge.net/" class="urlextern" title="http://lmbench.sourceforge.net/" rel="nofollow">http://lmbench.sourceforge.net/</a>
</p>

</div>
