
<p>
Edit realm.properties with following code.
/etc/rundeck/realm.properties
<pre class="code">username:password,policyname</pre>

Add following code with your username in /var/lib/rundeck/exp/webapp/WEB-INF/web.xml 
<pre class="code">&lt;security-role&gt;
                &lt;role-name&gt;username&lt;/role-name&gt;
&lt;/security-role&gt;</pre>

</p>

<p>
Add your .aclpolicy in /etc/rundeck/
<pre class="code">policyname.aclpolicy</pre>

<pre class="code">Sample Policy File Content:
description: username, all access.
context:
  project: &#039;projectname&#039; # all projects
for:
  resource:
    - allow: &#039;*&#039; # allow read/create all kinds
  adhoc:
    - allow: &#039;*&#039; # allow read/running/killing adhoc jobs
  job: 
    - allow: &#039;*&#039; # allow read/write/delete/run/kill of all jobs
  node:
    - allow: &#039;*&#039; # allow read/run for all nodes
by:
  group: username
---

description: Username access.
context:
  application: &#039;rundeck&#039;
for:
  resource:
    - allow: &#039;*&#039; # allow create of projects
  project:
    - allow: &#039;*&#039; # allow view/xaprio of all projects
  storage:
    - allow: &#039;*&#039; # allow read/create/update/delete for all /keys/* storage content
by:
  group: username</pre>

</p>
