
<h1 class="sectionedit1" id="windows_password_file">Windows Password File</h1>
<div class="level1">

<p>
Normally the password file for all Windows accounts is found in the following location: C:\windows\system32\config
Inside that folder will be a file called “SAM” which contains the passwords for all of the accounts on your computer.
</p>

<p>
The only thing is that having the SAM file is not enough to remove or reveal any Windows passwords.  You need software such as ours in order to view, decrypt and modify the SAM file so you can actually remove the password.
</p>

</div>
