
<h1 class="sectionedit1" id="how_to_migrate_from_an_existing_da_server_to_a_new_da_server">How to migrate from an existing DA server to a new DA server</h1>
<div class="level1">

<p>
 Purchase a DA license from the direct admin site. Enter “code500” license (code500 is for VPS license)
</p>

<p>
1) Log into your old DA panel (from which a/c has to be moved) and click on “Admin Backup/Transfer”.
</p>

<p>
2) Select the accounts for which you need to create backup and select start backup (Backups are saved in /home/admin/admin_backups)
</p>

<p>
[You will be notified via message when backup is complete]
</p>

<p>
3) Now login to the shell (through putty) with the new server IP where you want to install the DA and migrate.
</p>

<p>
4) For installation check (Install Directadmin page)
</p>

<p>
5) After installation is complete, enter into the shell (through putty) of the old server from where you need to migrate.
</p>

<p>
6) Change directory:
</p>

<p>
# cd /home/admin/admin_backups ( in DA all backups are stored under this directory)
</p>

<p>
7) Move the backup file to new server:
</p>

<p>
# scp user.admin.&lt;username&gt;.tar.gz root@&lt;IP&gt;:/home/admin/admin_backups
</p>

<p>
Your backup is now transferred to new server.
</p>

<p>
8) Login to the shell of new server and change ownership of files:
</p>

<p>
# cd /home/admin/admin_backups
</p>

<p>
# chown admin:admin user.admin.&lt;username&gt;.tar.gz
</p>

<p>
9) Now, goto DirectAdmin panel of new server.
</p>

<p>
10) Goto Admin Backup/Tranfer and scroll downwards.
</p>

<p>
11) Select Restore from /home/admin/admin_backups, IP from list and user you need to restore
</p>

<p>
[You will be notified via message when restore is complete]
</p>

<p>
12) Then, goto <abbr title="Domain Name System">DNS</abbr> administration and add nameservers of the domain restored i.e. ns1.example.com and ns2.example.com.
</p>

<p>
13) Goto Administrator settings and update the nameservers there also!
</p>

<p>
14) Finally, change the nameservers of the domain from the domain control panel. (Create child nameservers pointing to new accounts IP)
</p>

<p>
NOTE: Don&#039;t forget to copy the permissions set for the old account to the new account!!
</p>

</div>
