
<p>
Install IMAPsync on the destination server and then use this command:
</p>

<p>
<pre class="code">imapsync --host1 &lt;hostname of source server&gt; --user1 &lt;username of source account&gt; --password1 &lt;password for source account&gt; --ssl1 --host2 &lt;hostname for destination server&gt; --user2 &lt;username of destination account&gt; --password2 &lt;password for destination account&gt; --ssl2 --nofoldersizes --skipsize  --noauthmd5 --exclude &quot;Contacts&quot;</pre>

</p>
