
<h2 class="sectionedit1" id="system_integrity_monitor">System Integrity Monitor</h2>
<div class="level2">
<hr />

<p>
SIM “system integrity monitor” is basically a opensource monitoring tool. SIM is a system and services monitor for <a href="http://www.tecmint.com/systemd-replaces-init-in-linux/" class="urlextern" title="http://www.tecmint.com/systemd-replaces-init-in-linux/" rel="nofollow">SysVinit</a> systems. It is designed to be intuitive and modular in nature.
</p>

<p>
It monitors for system load, disk load, service status and many more….
</p>

<p>
<span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '><strong> Installation :  </strong></span>
</p>

<p>
<span style='font-family: inherit; font-size:14px; color: inherit;  background-color: inherit '>If you have used stack script to prepare your hosting server then it is already installed on your server. Only part left is configuration.</span>
</p>

<p>
For installing sim manually <a href="http://www.rfxn.com/downloads/sim-current.tar.gz" class="urlextern" title="http://www.rfxn.com/downloads/sim-current.tar.gz" rel="nofollow">download sim</a> , extract tar.gz file and use README file.
</p>

<p>
<span style='font-family: inherit; font-size:18px; color: inherit;  background-color: inherit '><strong> Configuration :  </strong></span>
</p>

<p>
To enable and disable monitoring of a process use file <code>/etc/sim.mods</code> . If you don&#039;t find this file then use <code>/usr/local/sim/config/mods.control</code> file. Sample entires are like :
</p>

<p>
<em>To Enable nginx monitoring add or edit entry like : init.nginx on (Similarly for disabling it.)</em>
</p>

<p>
After it run command <strong><code>sim -s</code> </strong> (to check the status of process under monitoring).
</p>

<p>
And <strong><code>sim -j on</code> </strong> (for enabling cronjob for sim)
</p>
<hr />

<p>
To read more about sim go through : <a href="https://docs.google.com/document/d/1qiGbWOafHsw7RXGPqva-Kfl_IxTKRCP584sN-9b4TKI/edit" class="urlextern" title="https://docs.google.com/document/d/1qiGbWOafHsw7RXGPqva-Kfl_IxTKRCP584sN-9b4TKI/edit" rel="nofollow">https://docs.google.com/document/d/1qiGbWOafHsw7RXGPqva-Kfl_IxTKRCP584sN-9b4TKI/edit</a>
</p>

</div>
