<div class="level3">
<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

</div>

<h3 class="sectionedit1" id="customer_reset_password_link_is_showing_blank_page_or_not_working">Customer Reset Password link is showing blank page or not working.</h3>
<div class="level3">
<hr />

<p>
This issue is probably appears after patching (SUPEE-6788). Might patch not have been applied properly. To solve this issue follow below steps:
</p>

<p>
1. Move into app/design/frontend directory.
</p>

<p>
2. Search for customer.xml file in prestent directory. Most probably below are the files you get after search result:
</p>

<p>
<em>app/design/frontend/rwd/default/layout/customer.xml<br/>

app/design/frontend/base/default/layout/customer.xml</em>
</p>

<p>
3. Replace pattern “customer_account_resetpassword” with “customer_account_changeforgotten”. Sample is given below:
</p>

<p>
<strong>Approx Line 161</strong>
</p>

<p>
&lt;new <code>&lt;customer_account_changeforgotten translate=“label”&gt;</code> <br/>

—<br/>

old&gt; <code>&lt;customer_account_resetpassword translate=“label”&gt;</code>
</p>

<p>
<strong>Approx Line 180</strong>
</p>

<p>
&lt;new <code>&lt;block type=“customer/account_changeforgotten” name=“changeForgottenPassword” template=“customer/form/resetforgottenpassword.phtml”/&gt;</code> <br/>

—<br/>

old&gt; <code>&lt;block type=“customer/account_resetpassword” name=“resetPassword” template=“customer/form/resetforgottenpassword.phtml”/&gt;</code>
</p>

<p>
<strong>Approx Line 182</strong>
</p>

<p>
&lt;new <code>&lt;/customer_account_changeforgotten&gt;</code> <br/>

—<br/>

old&gt; <code>&lt;/customer_account_resetpassword&gt;</code>
</p>

</div>
<!-- EDIT1 SECTION "Customer Reset Password link is showing blank page or not working." [38-] -->