<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
To add any hack to the magento store using symlinks, it need to enable the use of symlinks. Follow the below steps to do so:
</p>

<p>
1. In the admin backend : System &gt; Configuration &gt; ADVANCED &gt; Developer &gt; Template Settings &gt; Allow Symlinks = Yes
</p>

<p>
Or
</p>

<p>
If you are using <a href="https://github.com/netz98/n98-magerun" class="urlextern" title="https://github.com/netz98/n98-magerun" rel="nofollow">n98-magerun</a> tool then do the following:
</p>

<p>
1. Move to the magento install directory.
</p>

<p>
2. n98-magerun.par dev:symlinks
</p>

<p>
Done!!
</p>
