
<p>
<a href="/owncloud/stop_user_from_changing_password" class="wikilink1" title="owncloud:stop_user_from_changing_password">Stop user from changing password</a>
</p>

<p>
<a href="/owncloud/remove_disk_quota_warning_for_users" class="wikilink2" title="owncloud:remove_disk_quota_warning_for_users" rel="nofollow">Remove disk quota warning for users</a>
</p>
