
<h1 class="sectionedit1" id="agent_install">Agent Install</h1>
<div class="level1">

<p>
Download agents from <a href="/r1soft/agents" class="wikilink1" title="r1soft:agents">agents</a>
</p>

<p>
And follow agent installation using .rpm or .deb packages
</p>

<p>
For Cent <abbr title="Operating System">OS</abbr>
</p>

<p>
<a href="http://wiki.r1soft.com/display/CDP/Installing+Agent+on+CentOS%2C+RHE+and+Fedora" class="urlextern" title="http://wiki.r1soft.com/display/CDP/Installing+Agent+on+CentOS%2C+RHE+and+Fedora" rel="nofollow">http://wiki.r1soft.com/display/CDP/Installing+Agent+on+CentOS%2C+RHE+and+Fedora</a>
</p>

<p>
For ubuntu
</p>

<p>
<a href="http://wiki.r1soft.com/display/CDP/Installing+Agent+on+Debian+and+Ubuntu" class="urlextern" title="http://wiki.r1soft.com/display/CDP/Installing+Agent+on+Debian+and+Ubuntu" rel="nofollow">http://wiki.r1soft.com/display/CDP/Installing+Agent+on+Debian+and+Ubuntu</a>
</p>

</div>
