
<h1 class="sectionedit1" id="admin_password_reset">Admin Password Reset</h1>
<div class="level1">

<p>
Run Following command.
</p>
<pre class="code">sqlite3 /var/www/db/acl.db &quot;update acl_user set md5_password=&#039;7a5210c173ea40c03205a5de7dcd4cb0&#039; where id=1&quot;</pre>

<p>
That sould put password as “palosanto”
</p>

</div>
