
<p>
1) As root edit the following file:
</p>

<p>
<code>/opt/zimbra/conf/amavisd.conf.in</code>
</p>

<p>
In the above file find:
</p>

<p>
<code>@disclaimer_options_bysender_maps = (
 { &#039;.&#039; ⇒ &#039;global-default&#039; },
  );
</code>
</p>

<p>
2) Add the custom disclaimer to your domain
</p>

<p>
<code>@disclaimer_options_bysender_maps = (
  { &#039;.zimbra11.mantragrid.com&#039; ⇒ &#039;example&#039; },
  { &#039;.&#039; ⇒ &#039;global-default&#039; },
);</code>
</p>

<p>
save and close
</p>

<p>
3) Go to the following directory
</p>

<p>
<code>/opt/zimbra/data/altermime</code>
</p>

<p>
 There should already be two files: 
</p>

<p>
<code>global-default.txt and global-default.html.</code>
These are the existing global signatures. 
</p>

<p>
For our purpose we&#039;ll create:
</p>

<p>
<code>example.txt and example.html</code>
</p>

<p>
But since a text signature won&#039;t allow transmission of images and links we&#039;ll only create example.html
This file will be parsed as html so you can add any html code to it.
</p>

<p>
4) switch to zimbra user:
</p>

<p>
<code>su - zimbra</code>
</p>

<p>
5) Run the following command as zimbra user to enable signature:
</p>

<p>
<code>zmprov mcf zimbraDomainMandatoryMailSignatureEnabled TRUE</code>
</p>

<p>
6) Restart amavisd service
</p>

<p>
<code>zmamavisdctl restart</code>
</p>

<p>
7) Now open Zimbra admin panel and navigate to
</p>

<p>
Configuration–&gt; Class of Service–&gt;Preferences–&gt;Composing Mails
In “Always Compose Mail Using” select <abbr title="HyperText Markup Language">HTML</abbr>
</p>

<p>
Save and you&#039;re done.
</p>

<p>
Sample example.html
</p>
<pre class="code"> &lt;html&gt;
 &lt;body&gt;
 &lt;br&gt;
 &lt;br&gt;
 &lt;a href=&quot;http://nexiilabs.com/&quot; target=&quot;_blank&quot;&gt; &lt;img src=&quot;http://i62.tinypic.com/33yi0zm.png&quot; border=&quot;0&quot;&gt;    &lt;/a&gt;
 &lt;br&gt;
 &lt;a href=&quot;https://www.facebook.com/nexii.labs?ref=hl&quot; target=&quot;_blank&quot;&gt; &lt;img   src=&quot;http://i57.tinypic.com/29c8nc2.png&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
 &lt;a href=&quot;https://plus.google.com/b/100475138483543639295/+Nexiilabs/posts&quot; target=&quot;_blank&quot;&gt; &lt;img src=&quot;http://i62.tinypic.com/205txjt.png&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
 &lt;a href=&quot;http://www.youtube.com/channel/UCXKfSJ-z3tEkyFSZiFcr9xw&quot; target=&quot;_blank&quot;&gt; &lt;img src=&quot;http://i60.tinypic.com/2z7pg7b.png&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
 &lt;a href=&quot;https://twitter.com/Nexiilabs1&quot; target=&quot;_blank&quot;&gt; &lt;img src=&quot;http://i61.tinypic.com/330zmld.png&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
 &lt;a href=&quot;http://www.linkedin.com/company/nexiilabs&quot; target=&quot;_blank&quot;&gt; &lt;img src=&quot;http://i60.tinypic.com/eip5qc.png&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
 &lt;a href=&quot;http://www.flickr.com/photos/109175437@N06/&quot; target=&quot;_blank&quot;&gt; &lt;img src=&quot;http://i61.tinypic.com/30ths1l.png&quot; border=&quot;0&quot;&gt;&lt;/a&gt;
 &lt;br&gt;
 ---------------------------------------------------
 &lt;br&gt;
 &lt;div&gt;
 &lt;span style=&quot;font-size:xx-small;font-family:tahoma,new york,times,serif&quot;&gt;
 Disclaimer : This message is confidential. It may also be privileged or otherwise protected by work product   immunity or other legal rules. If you have received it by mistake, please let us know by e-mail reply and   delete it from your system; you may not copy this message or disclose its contents to anyone. Please send us by   fax any message containing deadlines as incoming e-mails are not screened for response deadlines. The integrity   and security of this message cannot be guaranteed on the Internet.
&lt;/span&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
