
<h1 class="sectionedit1" id="enable_tomcat_for_particular_account_in_whm">Enable Tomcat for particular account in WHM</h1>
<div class="level1">

<p>
1. Go to WHM » Account Functions » Install Servlet.
</p>

<p>
2. Select the account on which you want to enable Tomcat.
</p>

<p>
NOTE: Please ensure that Tomcat is already installed on the server on which the account exists.
</p>

</div>
