
<h1 class="sectionedit1" id="openvpn_on_centos_5x">OpenVPN on CentOS 5.x</h1>
<div class="level1">

<p>
1) Download the “Extra Packages for Enterprise Linux” rpm:
</p>

<p>
wget <a href="http://download.fedoraproject.org/pub/epel/5/i386/epel-release-5-4.noarch.rpm" class="urlextern" title="http://download.fedoraproject.org/pub/epel/5/i386/epel-release-5-4.noarch.rpm" rel="nofollow">http://download.fedoraproject.org/pub/epel/5/i386/epel-release-5-4.noarch.rpm</a>
</p>

<p>
2) Enable EPEL with the following command:<br/>

rpm -ivh epel-release-5-4.noarch.rpm
</p>

<p>
3) Update YUM: <br/>

yum update
</p>

<p>
4) Instal OpenVPN:
</p>

<p>
yum install openvpn
</p>

<p>
5) The OpenVPN package provides a set of encryption-related tools called “easy-rsa”. These scripts are located by default in the /usr/share/doc/openvpn/examples/easy-rsa/ directory. However, in order to function properly, these scripts should be located in the /etc/openvpn directory. Copy these files with the following command:<br/>

</p>

<p>
cp -R /usr/share/openvpn/easy-rsa/ /etc/openvpn
</p>

</div>
