
<h1 class="sectionedit1" id="upgrade_zimbra_version">Upgrade Zimbra Version</h1>
<div class="level1">

<p>
1. Download ZCS latest version from <a href="http://www.zimbra.com/downloads/os-downloads.html" class="urlextern" title="http://www.zimbra.com/downloads/os-downloads.html"  rel="nofollow">http://www.zimbra.com/downloads/os-downloads.html</a>.
</p>

<p>
2. Switch to the zimbra user
</p>
<pre class="code">    sudo su - zimbra </pre>

<p>
3. Stop the Zimbra Appliance
</p>
<pre class="code">    zmcontrol stop </pre>

<p>
4. Change directories to /opt/zimbra/conf/rights/
</p>
<pre class="code">    cd /opt/zimbra/conf/rights/</pre>

<p>
5. Delete the following file:
</p>
<pre class="code">    rm zimbra-rights-appliance-admin.xml </pre>

<p>
6. To return to root, type exit 
</p>

<p>
7. Extract the ZCS and install it. 
</p>
<pre class="code">      
    tar xzvf zcs-xxxxx.tgz 
    cd xzvf zcs-xxxxx
    ./install.sh
    </pre>

</div>
