
<h1 class="sectionedit1" id="nagios_-_add_a_public_monitoring_check_httpping">NAGIOS - Add a public monitoring check (http/ping)</h1>
<div class="level1">

<p>
<pre class="code">Edit the configuration file for the appropriate server check type (In folder /usr/local/nagios/etc/objects/).

 

Add the following lines for http check:

define host{

          use       &lt;template_name&gt;     ; Inherit default values from a template

          host_name &lt;hostname&gt;    ; The name we&#039;re giving to this server

          alias     &lt;any_nickname&gt; ; A longer name for the server

          address   &lt;IP/Hostname&gt;   ; IP address of the server

          }

define service{

          use                 generic-service

          host_name      &lt;hostname/URL to check http for&gt;

          service_description &lt;check_name&gt;

          check_command       check_http

          }

 

Add the following lines for ping check:

 

define host{

          use       &lt;template_name&gt;     ; Inherit default values from a template

          host_name &lt;hostname&gt;    ; The name we&#039;re giving to this server

          alias     &lt;any_nickname&gt; ; A longer name for the server

          address   &lt;IP/Hostname&gt;   ; IP address of the server

          }

define service{

          use                 generic-service

          host_name      &lt;hostname/URL/IP to check ping for&gt;

          service_description &lt;check_name&gt;

          check_command       check_ping!&lt;warning ping reply time(ex: 50.0)&gt;,&lt;packet loss percent&gt;%!&lt;critical ping reply time(ex:100.0)&gt;,&lt;critical packet loss percent&gt;%

          }</pre>

</p>

</div>
