
<p>
Wifi Router
</p>
<ol>
<li class="level1"><div class="li"> Belkin Wifi N</div>
</li>
<li class="level1"><div class="li"> Belking ADSL + Wireless N</div>
</li>
<li class="level1"><div class="li"> Gigabit Router</div>
</li>
</ol>

<p>
Shopping List
</p>
<ol>
<li class="level1"><div class="li"> <a href="http://www.snapdeal.com/product/asus-high-power-wirelessn300-3in1/1973893532?pos=1;32" class="urlextern" title="http://www.snapdeal.com/product/asus-high-power-wirelessn300-3in1/1973893532?pos=1;32" rel="nofollow">http://www.snapdeal.com/product/asus-high-power-wirelessn300-3in1/1973893532?pos=1;32</a></div>
</li>
</ol>
