<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

<p>
In case you or client face issue in installing extension due to insufficient permission, then follow below steps:
</p>

<p>
1. Go to magento users home directory. (like <strong>/home/???/</strong> ).
</p>

<p>
2. Run below commands:
</p>

<p>
<code>chown -R {user}:{user} public_html</code>
</p>

<p>
<code>find public_html -type d -exec chmod 770 {} \;</code>
</p>

<p>
<code>find public_html -type f -exec chmod 660 {} \;</code>
</p>

<p>
Problem View :
</p>

<p>
<img src="/lib/exe/fetch.php?w=500&amp;h=400&amp;tok=35598b&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fmagento-connect-manger-permissions-error.png" class="media" alt="" width="500" height="400" />
</p>
