
<h1 class="sectionedit1" id="automated_cpanel_install_on_new_server">Automated cPanel install on new server</h1>
<div class="level1">

<p>
1. Disable selinux (if enabled) on VM and reboot.
</p>

<p>
2. Login to Ansible master and add the VM IP to ansible hosts file. (/etc/ansible/hosts)
</p>

<p>
3. Type the following command in Ansible master:
</p>

<p>
<pre class="code">ansible-playbook -l &lt;VM_IP&gt; /scripts/full_cpanel_install.yml --ask-pass</pre>

</p>

<p>
This will install the following:
</p>
<ul>
<li class="level1"><div class="li"> cPanel</div>
</li>
<li class="level1"><div class="li"> ConfigServer Mail Queue Manager</div>
</li>
<li class="level1"><div class="li"> ConfigServer Mail Manager</div>
</li>
<li class="level1"><div class="li"> CSF firewall and configure it also</div>
</li>
<li class="level1"><div class="li"> Malware detect and configure it also</div>
</li>
</ul>

<p>
This will also take care of the following exim changes:
<pre class="code">deliver_queue_load_max = 15
queue_only_load = 20</pre>

</p>

<p>
It will also apply the Symlink Disable patch
<pre class="code">wget http://layer1.rack911.com/before_apache_make -O /scripts/before_apache_make
chmod 700 /scripts/before_apache_make</pre>

</p>

<p>
After all these steps, login to the WHM by typing the following as <abbr title="Uniform Resource Locator">URL</abbr>:
</p>

<p>
<pre class="code">https://&lt;VM_IP&gt;:2087</pre>

</p>

<p>
Follow the steps given in Initial Installation.
</p>

<p>
<strong>Recompile Apache with following: </strong> (Recompile necessary for Symlink disable patch to take effect) <br/>

Mbstring <br/>

GD Library <br/>

MySQL-i<br/>

PDO<br/>

PDO MySQL<br/>

TTF<br/>

</p>

<p>
<strong>Removing https redirection</strong> <em>
Goto  Main » Server Configuration » Tweak Settings  in Security section and turn off the “Require SSL” 
</p>

</div>
