
<h1 class="sectionedit1" id="install_solusvm">Install SolusVm</h1>
<div class="level1">

<p>
1. login to putty specify the host ID
</p>

<p>
2. enter the user log in and password in the shell
</p>

<p>
3. enter the following commands one by one
</p>

<p>
 wget <a href="http://soluslabs.com/installers/solusvm/install" class="urlextern" title="http://soluslabs.com/installers/solusvm/install" rel="nofollow">http://soluslabs.com/installers/solusvm/install</a>
chmod 755 install
./install 
</p>

<p>
4.Now select your Base Operating System 
</p>

<p>
5. After installation remember to disable SELinux. To check if it is disabled write getenforce(it shows the status).
</p>

<p>
6. If it is not disabled write setenforce 0 (This command will disable SELinux )
</p>

<p>
7. Check the running kernel: uname -r. if it is a OpenVZ/Xen kernel installation is complete otherwise, edit the file /etc/grub.conf and make the default kernel to be OpenVZ/Xen kernel
</p>

</div>
