
<h1 class="sectionedit1" id="manually_migrate_from_plesk_ensim_or_directadmin">manually migrate from Plesk, Ensim, or DirectAdmin</h1>
<div class="level1">

<p>
<a href="http://forums.cpanel.net/f338/how-manually-migrate-plesk-ensim-directadmin-305091.html" class="urlextern" title="http://forums.cpanel.net/f338/how-manually-migrate-plesk-ensim-directadmin-305091.html" rel="nofollow">http://forums.cpanel.net/f338/how-manually-migrate-plesk-ensim-directadmin-305091.html</a>
</p>

</div>
