
<h1 class="sectionedit1" id="remove_injected_code_from_files_recursively">Remove injected code from files recursively</h1>
<div class="level1">

<p>
Run following command.
</p>
<pre class="code">find &lt;path of wordpress directoty&gt; -name &quot;*.php&quot; -print | xargs sed -i &#039;s@&lt;injected code&gt;@@g&#039;</pre>

<p>
e.g.
</p>

<p>
find /home/gbesin/public_html -name “*.php” -print | xargs sed -i &#039;s@eval(base64_decode(“CmVycm9yX3JlcG9yZXJlciwiRWVZcDNENyIpKXsKaGVhZGVyKCJMb2NhdGlvbjoga=”));@@g&#039;
</p>

</div>
