
<h1 class="sectionedit1" id="changing_file_permission_in_webmin">Changing File Permission in Webmin</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Click Webmin on the top-left.</div>
</li>
<li class="level1"><div class="li"> Click Others.</div>
</li>
<li class="level1"><div class="li"> Click File Manager.</div>
</li>
<li class="level1"><div class="li"> After a few moments, the File Manager will appear.</div>
</li>
<li class="level1"><div class="li"> Click a directory to view it&#039;s contents.</div>
</li>
<li class="level1"><div class="li"> Select a single file/directory from the right-hand pane and click the Info button on the toolbar. This will bring up the permissions window.</div>
</li>
</ol>

<p>
 For more operation related to File Manager you can follow below link.
</p>

<p>
 <a href="http://doxfer.webmin.com/Webmin/FileManager" class="urlextern" title="http://doxfer.webmin.com/Webmin/FileManager" rel="nofollow">http://doxfer.webmin.com/Webmin/FileManager</a>
</p>

<p>
Note: To view the File Manager in webmin there should be Java Applet installed on your system and associated to browser.
</p>

</div>
