
<h1 class="sectionedit1" id="backup_script">Backup script</h1>
<div class="level1">

<p>
Some time R1Soft can&#039;t work and backups are always important so below script can be handy in this cause.
</p>

</div>
<div class="level1">

</div>
