
<h1 class="sectionedit1" id="backup_monitoring">Backup monitoring</h1>
<div class="level1">

<p>
1. Login wiith the IP in the putty
</p>

<p>
2. Enter into the specified  directory for example:  cd /home/&lt;x1mantra&gt;/&lt;mmxcrm&gt;/&lt;daily&gt;
</p>

<p>
3. Now copy the particular file you want to backup in either /home or /root directory i.e cp &lt;filename&gt;.tar.gz /root/
</p>

<p>
4. Login to the WHM and restore the particular file you backed up.
</p>

<p>
5. In your system open the notepad as “run as administrator” and open “host” file which is located in C:\Windows\System32\drivers\etc
</p>

<p>
6. Now at the bottom of the page enter the IP of the particular domain and  press tab and enter the domain  with respect to the IP and save the file
</p>

<p>
7. Open your CMD and type ipconfig /flushdns
</p>

<p>
8. Open the domain in a browser and check if it is pointing to the Ip specified in the host file.
</p>

<p>
9. Check whether the database is intact. For this you need to first modify the password through your WHM account for the particular account.
</p>

<p>
10: Now, login to the cpanel of your domain with the modified password and  click on PHPmyadmin and check if the records are in tact.
</p>

<p>
11. Terminate the account for which you had created the backup.
</p>

</div>
