
<p>
IMAPSYNC for gmail
</p>

<p>
Imapsync installation
</p>

<p>
<a href="https://gist.github.com/carlos22/5d24c6fbd654b9c0bb33" class="urlextern" title="https://gist.github.com/carlos22/5d24c6fbd654b9c0bb33" rel="nofollow">https://gist.github.com/carlos22/5d24c6fbd654b9c0bb33</a>
</p>
<div class="level1">
<pre class="code">#!/bin/bash

while read line

do

imapsync --buffersize 819200000 --host1 imap.gmail.com --port1 993 --user1 $line --passfile1 &lt;path of password file1&gt; --ssl1 --host2 &lt;destination server&gt; --port2 993 --user2 $line --ssl2 --passfile2 &lt;path of password file2&gt; --syncinternaldates --split1 100 --split2 100 --authmech1 LOGIN --authmech2 LOGIN --allowsizemismatch --useheader Message-ID

done &lt; &lt;path_of_users_list_file&gt;</pre>

</div>
<div class="level1">

<p>
NOTE: USE UBUNTU SERVER FOR IMAPSYNC
</p>

</div>
