
<p>
1. Open mssql management studio and select database/table.
</p>

<p>
2. Click on “New Query”
</p>

<p>
3. Now execute below command.
</p>
<pre class="code"> exec sp_updatestats
 
 
 4. You can run this server wide also.</pre>
