
<p>
First run:
</p>

<p>
/opt/MegaRAID/MegaCli/MegaCli64 -PDList -a0
</p>

<p>
to get the Device ID of the hard drive. They are;
</p>

<p>
Device Id: 12
Device Id: 13
Device Id: 14
Device Id: 15
</p>

<p>
then run:
</p>

<p>
smartctl -a -d sat+megaraid,12 /dev/sg0
</p>

<p>
smartctl -a -d sat+megaraid,13 /dev/sg0
</p>

<p>
smartctl -a -d sat+megaraid,14 /dev/sg0
</p>

<p>
smartctl -a -d sat+megaraid,15 /dev/sg0 
</p>
