
<h1 class="sectionedit1" id="import_user_mailboxes_using_exported_tgz_files_zimbra">Import user mailboxes using exported .tgz files (Zimbra)</h1>
<div class="level1">

<p>
1) Login as user zimbra.
</p>

<p>
su - zimbra
</p>

<p>
2) Run the following command:
</p>

<p>
zmmailbox -z -m <a href="mailto:&#x75;&#x73;&#x65;&#x72;&#x40;&#x64;&#x6f;&#x6d;&#x61;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;" class="mail" title="&#x75;&#x73;&#x65;&#x72;&#x40;&#x64;&#x6f;&#x6d;&#x61;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;">&#x75;&#x73;&#x65;&#x72;&#x40;&#x64;&#x6f;&#x6d;&#x61;&#x69;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;</a> pru ”<em>?fmt=tgz&amp;resolve=skip” &lt;path_to_tgz_file&gt;
</p>

</div>
