
<p>
<a href="http://www.cadvision.com/blanchas/Asterisk/SIPtrunk.html" class="urlextern" title="http://www.cadvision.com/blanchas/Asterisk/SIPtrunk.html" rel="nofollow">http://www.cadvision.com/blanchas/Asterisk/SIPtrunk.html</a>
</p>
