
<h1 class="sectionedit1" id="new_server_order_template">New server order template</h1>
<div class="level1">

<p>
Thank you for your new dedicated server order! We appreciate your business.
</p>

<p>
Your order has been moved into the dedicated setup queue, where our setup team will begin building the server. It will be built, hardware-tested, imaged and ready in about two days.
</p>

<p>
If you plan to have MantraVentures handle your migration, you can submit a request in a support ticket once you have received the server.
</p>

<p>
Please let us know if you have any questions in the meantime.
</p>

</div>
