
<h1 class="sectionedit1" id="bulk_sub-domain_creation_cpanel">Bulk sub-domain creation (cPanel)</h1>
<div class="level1">

<p>
<a href="/_media/cpanel_subdomains.php" class="media mediafile mf_php" title="cpanel_subdomains.php (4 KB)">cpanel_subdomains.php</a>
Use the script (cpanel_subdomains.php) and enter username, password and list of sub-domains in a file.
</p>

</div>
