
<h1 class="sectionedit1" id="dk_and_dkim_enable_exim">Dk and DKIM enable EXIM</h1>
<div class="level1">

<p>
1. Login as root in the server. Install DKIMProxy from <a href="http://dkimproxy.sourceforge.net/" class="urlextern" title="http://dkimproxy.sourceforge.net/" rel="nofollow">http://dkimproxy.sourceforge.net/</a>
</p>

<p>
Then type the following commands(after entering the dkimproxy directory):
<pre class="code">./configure
make
make install </pre>

</p>

<p>
2. Key generation
</p>

<p>
openssl genrsa -out private.key 1024<br/>

openssl rsa -in private.key -pubout -out public.key<br/>

</p>

<p>
This will create 2 files public.key and private.key. Save private.key as dkim.key.private in /etc/dkimproxy/
</p>

<p>
3. <abbr title="Domain Name System">DNS</abbr> configuration
<pre class="code">default._domainkey 14400 IN TXT &quot;k=rsa; p=&lt;Public key generated from step 2&gt;;&quot;
_asp._domainkey IN TXT &quot;dkim=unknown&quot;
_adsp._domainkey IN TXT &quot;dkim=unknown&quot;
_domainkey IN TXT &quot;t=y; o=~;&quot; </pre>

</p>

<p>
4. DKIMproxy configuration
</p>

<p>
Create a /etc/dkimproxy/dkimproxy_out.conf file with similar content:
</p>

<p>
listen 127.0.0.1:10027 <br/>

relay 127.0.0.1:10025 <br/>

</p>

<p>
&lt;example.com&gt; &lt;server.example.com&gt;
</p>

<p>
signature dkim(c=relaxed)<br/>

signature domainkeys(c=nofws)<br/>

</p>

<p>
keyfile /etc/dkimproxy/dkim.key.private<br/>

</p>

<p>
selector default<br/>

</p>

<p>
Then make sure DKIMproxy is started when your server boots (add it to your cron):<br/>

</p>

<p>
/usr/local/bin/dkimproxy.out - -conf_file=/etc/dkimproxy/dkimproxy_out.conf - -selector=default - -domain=&lt;domain used for sending signed mails&gt; - -daemonize (Remove the spaces between “- -”)
</p>

<p>
5. Exim configuration
</p>

<p>
Create a copy of exim.conf. Then make sure you have something similar in your exim.conf file:
</p>

<p>
local_interfaces = 0.0.0.0 : 127.0.0.1.10025
</p>

<p>
tls_advertise_hosts = 0.0.0.0.25
</p>

<p>
at the beginning of the routers section in exim.conf:(after “begin routers”)
</p>

<p>
dkimproxy:<br/>

driver = manualroute<br/>

condition = “${if eq {$interface_port}{10025} {0}{1}}“<br/>

transport = dkimproxy_smtp<br/>

route_list = “\* localhost byname”<br/>

self = send<br/>

</p>

<p>
transports section in exim.conf (does not matter where):<br/>

</p>

<p>
dkimproxy_smtp:<br/>

driver = smtp<br/>

port = 10027<br/>

allow_localhost<br/>

</p>

<p>
6. Finally comment out these lines from /etc/init.d/exim:
</p>

<p>
echo -n “Starting exim-smtps: “<br/>

TMPDIR=/tmp $DAEMONIZE /usr/sbin/exim -tls-on-connect -bd -oX 465 (Comment this)<br/>

echo $RESULT (Comment this)
</p>

<p>
7. Restart the following:
</p>

<p>
/etc/init.d/exim restart <br/>

/etc/init.d/named restart <br/>

</p>

<p>
NOTE: If it gives “checking for Perl module &#039;Net::Server 0.91&#039;… not found” then do the following:
</p>

<p>
Download <a href="http://search.cpan.org/CPAN/authors/id/R/RH/RHANDOM/Net-Server-0.94.tar.gz" class="urlextern" title="http://search.cpan.org/CPAN/authors/id/R/RH/RHANDOM/Net-Server-0.94.tar.gz" rel="nofollow">http://search.cpan.org/CPAN/authors/id/R/RH/RHANDOM/Net-Server-0.94.tar.gz</a> <br/>

tar -xvf Net-Server-0.94.tar.gz <br/>

cd Net-Server-0.94 <br/>

perl Makefile.PL <br/>

make <br/>

make test <br/>

make install <br/>

</p>

<p>
DONE!
</p>

</div>
