
<p>
<a href="http://backup.mantragrid.com/R1Soft-EnterpriseAgent-linux64.zip" class="urlextern" title="http://backup.mantragrid.com/R1Soft-EnterpriseAgent-linux64.zip" rel="nofollow">http://backup.mantragrid.com/R1Soft-EnterpriseAgent-linux64.zip</a> &lt;—&gt; r1soft4
</p>

<p>
<a href="http://backup.mantragrid.com/ServerBackup-Enterprise-Agent-linux64.zip" class="urlextern" title="http://backup.mantragrid.com/ServerBackup-Enterprise-Agent-linux64.zip" rel="nofollow">http://backup.mantragrid.com/ServerBackup-Enterprise-Agent-linux64.zip</a> &lt;—&gt; r1soft5 or latest
</p>
<div class="level1">

<p>
For Linux 32-bit
</p>

<p>
<a href="http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-linux32.zip" class="urlextern" title="http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-linux32.zip" rel="nofollow">http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-linux32.zip</a>
</p>

<p>
For Linux 64 bit
</p>

<p>
<a href="http://sahilchugh.com/r1soft/R1Soft-EnterpriseAgent-linux64.zip" class="urlextern" title="http://sahilchugh.com/r1soft/R1Soft-EnterpriseAgent-linux64.zip" rel="nofollow">http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-linux64.zip</a>
</p>
<hr />

<p>
For Windows 32-bit
</p>

<p>
<a href="http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-win32.zip" class="urlextern" title="http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-win32.zip" rel="nofollow">http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-win32.zip</a>
</p>

<p>
For Windows 64 bit
</p>

<p>
<a href="http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-win64.zip" class="urlextern" title="http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-win64.zip" rel="nofollow">http://repo.r1soft.com/trials/ServerBackup-Enterprise-Agent-win64.zip</a>
</p>

</div>
