
<h1 class="sectionedit1" id="firewall_on_powerdns">Firewall on PowerDNS</h1>
<div class="level1">

<p>
<pre class="code">1) Install CSF on the server.

2) Edit the config file and open only required ports:

TCP_IN = &quot;22,53,3306&quot;

TCP_OUT = &quot;22,53,80,3306&quot;

UDP_IN = &quot;53&quot;

UDP_OUT = &quot;53&quot;

 

3) Add the IP&#039;s of master/slave in the csf.allow file.

4) Restart CSF. </pre>

</p>

</div>
