
<p>
USE master;<br/>

GO<br/>

DENY VIEW ANY DATABASE TO [newlogin]; <br/>

GO<br/>

USE yourDB;<br/>

GO<br/>

DROP USER newlogin;<br/>

GO<br/>

USE master;<br/>

GO<br/>

ALTER AUTHORIZATION ON DATABASE::yourDB TO [newlogin];<br/>

GO
</p>
