
<h1 class="sectionedit1" id="setup_voip">Setup VOIP</h1>
<div class="level1">

<p>
1) login to your master panel
</p>

<p>
2) Select the manage button for which you want to setup the Voip service.
</p>

<p>
3) Click on VNC and follow the steps.
</p>

<p>
Note: Elastix  .iso mage should be on the server for further process.
</p>

<p>
4) Now log in with the username and password into the elastix log in panel.
</p>

<p>
5) Click on PBX and select “general settings”.
</p>

<p>
6) Under Trunks specify the following:
</p>

<p>
6.1) Trunk Name:
</p>

<p>
Note: Before you specify the peer details you need the account details of the voip.ms account you are gong to take for this process.
</p>

<p>
6.2)  Peer Details:<pre class="code"> canreinvite=nonat
                          ; nat=yes ; uncomment if behind nat
                           context=from-trunk
                          host=&lt;newyork.mantravoip.com&gt;
                          secret=&lt;innefu123789!&gt;
                          type=friend
                          username=&lt;119520_3&gt;
                          disallow=all
                          allow=ulaw
                          fromuser=&lt;119520_3&gt;
                          trustrpid=yes
                          sendrpid=yes
                          insecure=port,invite </pre>

</p>

<p>
6.3)  Register Strng: &lt;119520_3:innefu123789!@newyork.mantravoip.com&gt;:5060
</p>

<p>
7)  After you save the settings of the above click on “General Settings”.
</p>

<p>
7.1) Asterisk Dal command Options: &lt;Wwtr&gt;
</p>

<p>
7.2) Asterisk Outbound Dial command Options: &lt;WwTt&gt;
</p>

<p>
 Save the settings.
</p>

<p>
8) Click on Outbound Routes
</p>

<p>
8.1)  Route Name:
</p>

<p>
8.2) Dial patterns that you will use in this route: &lt;match pattern&gt;
</p>

<p>
9) Trunk routes for specified routes: select SIP trunk
</p>

<p>
10)  To check if calling is working or not use your softphone
</p>

</div>
