
<p>
<em class="u"><strong>Nginx</strong></em> : NGINX is a free, open-source, high-performance HTTP server and reverse proxy, as well as an IMAP/POP3 proxy server. NGINX is known for its high performance, stability, rich feature set, simple configuration, and low resource consumption. NGINX is one of a handful of servers written to address the <a href="http://www.kegel.com/c10k.html" class="urlextern" title="http://www.kegel.com/c10k.html"  rel="nofollow">C10K problem</a>. Want to know more about <a href="https://www.nginx.com/resources/wiki/#" class="urlextern" title="https://www.nginx.com/resources/wiki/#"  rel="nofollow">Nginx</a>? 
</p>

<p>
Nginx is light weight because it only serves static content by itself, rest it passes to handler or processor or interpreter which decodes content and proxies back to nginx to server it to the world.
</p>

<p>
In case of serving php, Nginx passes php requests to  Php-handler {like PHP-FPM or PhP-FCGI} over FastCGI protocol. They process the php request generate static content and revert back it to nginx which delivers it outside.
</p>

<p>
<a href="https://clasense4.wordpress.com/2015/02/26/how-toinstall-php-fpm-on-linux-centos-6-5-6-6/" class="urlextern" title="https://clasense4.wordpress.com/2015/02/26/how-toinstall-php-fpm-on-linux-centos-6-5-6-6/"  rel="nofollow">How to configure nginx with php-fpm ?</a>
</p>
