
<h1 class="sectionedit1" id="xen_partitioning_on_gpt_parted">Xen partitioning on GPT(parted)</h1>
<div class="level1">

<p>
<pre class="code">pvcreate /dev/sda&lt;no&gt;

pvscan

vgcreate VolGroup00 /dev/sda&lt;no&gt;

vgdisplay

lvcreate -L +1GB -n LVM1 VolGroup00

lvdisplay

mkfs.ext3 /dev/VolGroup00/LVM1

Add the entry in /etc/fstab</pre>

</p>

</div>
