<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

<h2 class="sectionedit1" id="currency_rate_update_issue_in_magento_store">Currency Rate Update Issue in Magento Store</h2>
<div class="level2">
<hr />

<p>
When Magento&#039;s default currency rate updater has not been working, this will affect multi-price magento stores (i.e. Prices of products in store that deals in multiple prices in different countries not working as expected.)
</p>

<p>
<strong>Common scenario</strong> : when products starts showing same prices of products in $ and Rs.
</p>

<p>
<strong>Backend Settings</strong> : <em>System &gt; Manage Currency Rates</em>.
</p>

<p>
More information on this concern is available on <code><a href="http://docs.magento.com/m1/ce/user_guide/store-operations/currency-rates-update.html" class="urlextern" title="http://docs.magento.com/m1/ce/user_guide/store-operations/currency-rates-update.html" rel="nofollow">http://docs.magento.com/m1/ce/user_guide/store-operations/currency-rates-update.html</a> </code>
</p>

<p>
<strong>Main Issue</strong> : The currency rates show 1:1 in <em>System &gt; Manage Currency Rates</em>
</p>

<p>
<strong>Cause</strong> : WebserviceX is returning a -1 for all currency conversions. WebserviceX is the api that provides currency conversion services for e-commerce stores.
</p>

<p>
<strong>Solution</strong> : <code><a href="https://github.com/philwinkle/Philwinkle_Fixerio" class="urlextern" title="https://github.com/philwinkle/Philwinkle_Fixerio" rel="nofollow">https://github.com/philwinkle/Philwinkle_Fixerio</a></code>, use fixer.io api.
</p>

</div>
<!-- EDIT1 SECTION "Currency Rate Update Issue in Magento Store" [26-] -->