
<p>
<em class="u"><strong><abbr title="Content Management System">CMS</abbr></strong></em> : Content Management System. also known as Web Management system. Gaining more on <a href="http://www.comentum.com/what-is-cms-content-management-system.html" class="urlextern" title="http://www.comentum.com/what-is-cms-content-management-system.html" rel="nofollow">CMS</a>.
</p>

<p>
<em class="u"><strong>Magento</strong></em> : Magento is an ecommerce platform built on open source technology which provides online merchants with a flexible shopping cart system, as well as control over the look, content and functionality of their online store. Magento offers powerful marketing, search engine optimization, and catalog-management tools. It is Popular because it is purely e-commerce based and shares about 30%-31% market in e-commerce based website business.<br/>

It is available in two flavours:<br/>

1. Magento-Community [free]<br/>

2. Magento-Enterprise [paid]
</p>

<p>
Magento Release: (version 1.x &amp; version 2.x)
</p>

<p>
To know more about Magneto “ <strong><em>keep Googling </em></strong>”
</p>
