
<h1 class="sectionedit1" id="hyper-v_-_removing_diskio_scheduling">Hyper-V - removing DiskIO scheduling</h1>
<div class="level1">

<p>
Remove Disk IO Scheduling in a controlled environment -
</p>

<p>
<a href="http://www.cio.in/article/hyper-v-virtual-pcs-how-handle-virtual-disks" class="urlextern" title="http://www.cio.in/article/hyper-v-virtual-pcs-how-handle-virtual-disks" rel="nofollow">http://www.cio.in/article/hyper-v-virtual-pcs-how-handle-virtual-disks</a>
</p>

<p>
<strong>Tip 1: Adjust the I/O bandwidth algorithm (host machine)</strong> <br/>

When using more than one VM, Hyper-V balances I/O response times between the machines. It essentially prevents one busy VM from bogging down another (less-busy) VM. The I/O balancer&#039;s settings are located under the following registry key:
</p>

<p>
<strong>HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\StorVsp <br/>

<br/>

If you don&#039;t want this balancing algorithm to be active at all, you can simply disable it by creating a DWORD value called “IOBalance_Enabled” and set it to “0” – use this only if you don&#039;t care that one VM might negatively affect another, while under heavy stress.</strong> To adjust the balancing mechanism, simply create the DWORD “IOBalance_KeepHwBusyLatencyTarget_Microseconds”. This entry controls how much of the total I/O operations can be processed before throttling takes effect – you need to define a latency value (ms); the default is “83” (ms). The lower you set this value, the better the balancing, but it comes at the price of throughput.
</p>

<p>
The last DWORD value I&#039;d like to mention here is “IOBalance_AllowedPercentOverheadDueToFlowSwitching”. It defines at what percentage of disk utilization of one VM the balancer moves on to reduce the throughput of another VM. By default, its threshold is defined at 8% overall utilization in order to treat VMs equally. Before changing any of these values, I suggest running thorough speed tests using IOMeter, which has proven to be a reliable performance test tool for virtual machine environments. Carefully evaluate performance before and after changing the value.
</p>

</div>
