
<h1 class="sectionedit1" id="reset_mysql_root_password">Reset Mysql Root Password</h1>
<div class="level1">

<p>
 * Stop mysql service
</p>
<pre class="code">   /etc/init.d/mysql stop</pre>

<p>
 * Start to MySQL server w/o password:
</p>
<pre class="code">   mysqld_safe --skip-grant-tables &amp;</pre>

<p>
 * Connect to mysql server using mysql client:
</p>
<pre class="code">   mysql -u root</pre>

<p>
 * Setup new MySQL root user password
</p>
<pre class="code">   mysql&gt; use mysql;
   mysql&gt; update user set password=PASSWORD(&quot;NEW-ROOT-PASSWORD&quot;) where User=&#039;root&#039;;
   mysql&gt; flush privileges;
   mysql&gt; quit</pre>

<p>
 * Stop MySQL Server:
</p>
<pre class="code">   /etc/init.d/mysql stop</pre>

<p>
 * Start MySQL server and test it
</p>
<pre class="code">   /etc/init.d/mysql start
   mysql -u root -p</pre>

</div>
