
<h1 class="sectionedit1" id="how_to_log_out_users_logged_in_linux">How to LOG OUT users logged in LINUX</h1>
<div class="level1">

<p>
Login as root and type the command:
</p>

<p>
skill -KILL -u &lt;username&gt;
</p>

</div>
