
<h1 class="sectionedit1" id="install_vesta_panel_in_ubuntu">Install Vesta Panel in Ubuntu</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

</p>

<p>
<pre class="code">ansible-playbook -l &lt;VM IP&gt; /scripts/vst_install_ubuntu.yml --extra-vars &quot;email=&lt;mail to send details to&gt; hostname=&lt;hostname of server&gt;&quot; --ask-pass</pre>

</p>

<p>
This will do the following:
</p>
<ul>
<li class="level1"><div class="li"> Install Vesta Panel</div>
</li>
<li class="level1"><div class="li"> Install Zabbix agent</div>
</li>
</ul>

</div>
