
<h1 class="sectionedit1" id="remove_listen_download_buttons_from_monitoring_page_elastix">Remove Listen,Download buttons from Monitoring page (Elastix)</h1>
<div class="level1">

<p>
1) Login as root in shell.
</p>

<p>
2) Change directory to /var/www/html/modules/monitoring
</p>

<p>
3) Take backup of index.php
</p>

<p>
cp index.php index.php.bak
</p>

<p>
4) Edit index.php and make the following changes:
</p>

<p>
<pre class="code">Before Editing:

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

if ($namefile != &#039;deleted&#039;) {
                    $recordingLink = &quot;&lt;a  href=\&quot;javascript:popUp(&#039;index.php?menu=$module_name&amp;action=display_record&amp;id=$file&amp;namefile=$namefile&amp;rawmode=yes&#039;,350,100);\&quot;&gt;&quot;._tr(&quot;Listen&quot;).&quot;&lt;/a&gt;&amp;nbsp;&quot;;

                    $recordingLink .= &quot;&lt;a href=&#039;?menu=$module_name&amp;action=download&amp;id=$file&amp;namefile=$namefile&amp;rawmode=yes&#039; &gt;&quot;._tr(&quot;Download&quot;).&quot;&lt;/a&gt;&quot;;

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 

After Editing:

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

if ($namefile != &#039;deleted&#039;) {
                    $recordingLink = &quot;&lt;a  href=\&quot;javascript:popUp(&#039;index.php?menu=$module_name&amp;action=display_record&amp;id=$file&amp;namefile=$namefile&amp;rawmode=yes&#039;,350,100);\&quot;&gt;&quot;.&quot;&lt;/a&gt;&amp;nbsp;&quot;;

                    $recordingLink .= &quot;&lt;a href=&#039;?menu=$module_name&amp;action=download&amp;id=$file&amp;namefile=$namefile&amp;rawmode=yes&#039; &gt;&quot;.&quot;&lt;/a&gt;&quot;;
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</pre>

</p>

</div>
