
<p>
Install The Tool
</p>
<pre class="code">   cd /tmp
   
   wget http://mirror-fpt-telecom.fpt.net/fedora/epel/6/i386/epel-release-6-8.noarch.rpm
   
   rpm -ivh epel-release-6-8.noarch.rpm
   
   yum install vnstat
   
   /etc/init.d/vnstat start
   
   chkconfig vnstat on
   
   vnstat -u -i eth0  (This command will create DB for interface eth0)
   </pre>

<p>
Get report
</p>
<pre class="code"> 
  vnstat -m (monthly report)
  
  vnstat -w (weekly report)
  
  vnstat -d (daily report)
  
  vnstat -h (hourly report)
  </pre>

<p>
Add following in crontab for weekly report of bandwidth usage.
</p>
<pre class="code">  00 1 * * 0  vnstat -m | mail -s &quot;Bandwidth Usage of &lt;hostname&gt;&quot; alerts@mantraventures.com
  
  (Make sure mailx is installed on the server)
  
  </pre>

<p>
For more details refer <a href="http://humdi.net/vnstat/man/vnstat.html" class="urlextern" title="http://humdi.net/vnstat/man/vnstat.html" rel="nofollow">http://humdi.net/vnstat/man/vnstat.html</a>
</p>
