
<h1 class="sectionedit1" id="change_server_time_for_linux_server">Change server time for linux server</h1>
<div class="level1">

<p>
Login through commandline and type the following:
</p>

<p>
ln -sf /usr/share/zoneinfo/Asia/Kolkata /etc/localtime.
</p>

<p>
The bold region specifies the zone information. Here it is Asia/Kolkata which is the local time zone for India. You can choose your zone information and you are good to go.
</p>

</div>
