
<h1 class="sectionedit1" id="setup_nagios_for_monitoring">Setup Nagios for monitoring</h1>
<div class="level1">

<p>
Monitoring Server Steps:
</p>

<p>
1) Use yum to install these packages by running the following commands (as root):yum install httpd php<br/>

yum install gcc glibc glibc-common<br/>

yum install gd gd-devel<br/>

</p>

<p>
2) Create a new nagios user account and give it a password.<br/>

useradd nagios<br/>

passwd nagios <br/>

</p>

<p>
3) Create a new naggroup group for allowing external commands to be submitted through the web interface. Add both the nagios user and the apache user to the group.<br/>

groupadd naggroup<br/>

usermod -a -G naggroup nagios<br/>

usermod -a -G naggroup apache<br/>

</p>

<p>
4) Download the source code tarballs of both Nagios and the Nagios plugins (<a href="http://www.nagios.org/download/" class="urlextern" title="http://www.nagios.org/download/" rel="nofollow">http://www.nagios.org/download/</a> for latest versions)<br/>

</p>

<p>
wget <a href="http://prdownloads.sourceforge.net/sourceforge/nagios/nagios-3.3.1.tar.gz" class="urlextern" title="http://prdownloads.sourceforge.net/sourceforge/nagios/nagios-3.3.1.tar.gz" rel="nofollow">http://prdownloads.sourceforge.net/sourceforge/nagios/nagios-3.3.1.tar.gz</a> <br/>

wget <a href="http://prdownloads.sourceforge.net/sourceforge/nagiosplug/nagios-plugins-1.4.15.tar.gz" class="urlextern" title="http://prdownloads.sourceforge.net/sourceforge/nagiosplug/nagios-plugins-1.4.15.tar.gz" rel="nofollow">http://prdownloads.sourceforge.net/sourceforge/nagiosplug/nagios-plugins-1.4.15.tar.gz</a> <br/>

</p>

<p>
5) Extract the Nagios source code tarball: <br/>

</p>

<p>
tar -xvzf nagios-3.3.1.tar.gz <br/>

cd nagios <br/>

</p>

<p>
6) Run the Nagios configure script, passing the name of the group you created earlier: <br/>

</p>

<p>
./configure –with-command-group=naggroup
</p>

<p>
7) Compile the Nagios source code.
<pre class="code">make all
make install

make install-init

make install-config
make install-commandmodemake install-webconf </pre>

</p>

<p>
8) Edit the /usr/local/nagios/etc/objects/contacts.cfg
</p>

<p>
Change the email address associated with the nagiosadmin contact definition to the address you&#039;d like to use for receiving alerts.
</p>

<p>
9) Create a nagiosadmin account for logging into the Nagios web interface.
</p>

<p>
useradd nagiosadminhtpasswd -c /usr/local/nagios/etc/htpasswd.users nagiosadmin
</p>

<p>
10) Restart Apache to make the new settings take effect.
service httpd restart
</p>

<p>
11) Extract the Nagios plugins source code tarball.<br/>

tar -xvzf nagios-plugins-1.4.15.tar.gz <br/>

cd nagios-plugins-1.4.15
</p>

<p>
12) Compile and install the plugins. <br/>

./configure –with-nagios-user=nagios –with-nagios-group=nagios 
</p>

<p>
If there are no errors, start Nagios.
</p>

<p>
service nagios start
</p>

<p>
13) Download NRPE from <a href="http://sourceforge.net/projects/nagios/files/nrpe-2.x/nrpe-2.12/" class="urlextern" title="http://sourceforge.net/projects/nagios/files/nrpe-2.x/nrpe-2.12/" rel="nofollow">http://sourceforge.net/projects/nagios/files/nrpe-2.x/nrpe-2.12/</a>
</p>

<p>
tar -xvzf nrpe-2.12.tar.gz
</p>

<p>
cd nrpe-2.12
</p>

<p>
yum -y install openssl-devel
</p>

<p>
<pre class="code">./configure
make all
make install-plugin </pre>

</p>

<p>
Test connection to remote server: <br/>

/usr/local/nagios/libexec/check_nrpe -H &lt;IP of Remote Server&gt;
NRPE v2.12
</p>

<p>
14) Create NRPE command definition:
vi /usr/local/nagios/etc/objects/commands.cfg
Add the following:
<pre class="code">define command {
command_name check_nrpe
command_line $USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
} 
</pre>

</p>

<p>
15) Create Linux Object Template
vi /usr/local/nagios/etc/objects/linux-box-remote.cfg
Add the following and replace the values “host_name” “alias” “address” with the values that match your setup:
<pre class="code">define host {
name linux-box-remote ; Name of this template
use generic-host ; Inherit default values
check_period 24x7
check_interval 5
retry_interval 1
max_check_attempts 10
check_command check-host-alive
notification_period 24x7
notification_interval 30
notification_options d,r
contact_groups admins
register 0 ; DONT REGISTER THIS - ITS A TEMPLATE
}   

define host {
use linux-box-remote ; Inherit default values from a template
host_name Centos5 ; The name we&#039;re giving to this server
alias Centos5 ; A longer name for the server
address 192.168.0.5 ; IP address of the server
}

define service {
use generic-service
host_name Centos5
service_description CPU Load
check_command check_nrpe!check_load
}
define service {

use generic-service

host_name Centos5

service_description Current Users

check_command check_nrpe!check_users

}

define service {
use generic-service
host_name Centos5
service_description /dev/hda1 Free Space
check_command check_nrpe!check_hda1
}
define service {
use generic-service
host_name Centos5
service_description Total Processes
check_command check_nrpe!check_total_procs
}
define service {
use generic-service
host_name Centos5
service_description Zombie Processes
check_command check_nrpe!check_zombie_procs
} </pre>

</p>

<p>
16) Activate the linux-box-remote.cfg template: 
<pre class="code">vi /usr/local/nagios/etc/nagios.cfg
And add:

cfg_file=/usr/local/nagios/etc/objects/linux-box-remote.cfg

Verify Nagios Configuration Files:

/usr/local/nagios/bin/nagios -v /usr/local/nagios/etc/nagios.cfg

Total Warnings: 0

Total Errors: 0</pre>

17)<pre class="code">Restart Nagios:
service nagios restart

Remote Linux Machine Steps:

1) Create user nagios:

useradd nagios

passwd nagios

2)  Download plugins and extract:

wget http://prdownloads.sourceforge.net/sourceforge/nagiosplug/nagios-plugins-1.4.15.tar.gz

tar -xvzf nagios-plugins-1.4.15.tar.gz

cd nagios-plugins-1.4.15

yum -y install openssl-devel

3) Install Plugins:./configure --with-nagios-user=nagios --with-nagios-group=nagios
make
make install

4) The permissions on the plugin directory and the plugins will need to be changed to nagios user:
chown nagios.nagios /usr/local/nagios
chown -R nagios.nagios /usr/local/nagios/libexec
yum install xinetd
5) Download NRPE from http://sourceforge.net/projects/nagios/files/nrpe-2.x/nrpe-2.12/
tar -xvzf nrpe-2.12.tar.gz
cd nrpe-2.12

6) Install and configure:
./configure
make all
make install-plugin
make install-daemon
make install-daemon-config
make install-xinetd

7) Add Nagios Monitoring server to the “only_from” directive:
vi /etc/xinetd.d/nrpe
only_from = 127.0.0.1 &lt;nagios_ip_address&gt;

8) Edit services file entry:
vi /etc/services
nrpe 5666/tcp # NRPE

9) Restart Xinetd and Set to start at boot:
chkconfig xinetd on
service xinetd restart

10) Check NRPE daemon is running and listening on port 5666:
netstat -at |grep nrpe
Output should be:
tcp 0 0 *:nrpe  *.* LISTEN

11) Check NRPE daemon is functioning:
/usr/local/nagios/libexec/check_nrpe -H localhost </pre>

</p>

</div>
