
<p>
<strong>To install PHP 5.4 from the Software Collections repository, perform the following steps:</strong>
</p>

<p>
1. Log into your server over SSH as root
</p>

<p>
2. Setup the SCL repository with this command: yum install centos-release-SCL
</p>

<p>
3. Install PHP 5.4 and scl-utils with this command: yum install php54 php54-php-cli php54-php-mysql php54-php-gd
</p>

<p>
<strong>Configuring the second PHP Version in Virtualmin</strong>
</p>

<p>
Once you have completed the installation of a second PHP version, you can verify that Virtualmin sees it by 
</p>

<p>
logging into Virtualmin, and clicking System Settings → Re-Check Config. You should see something like this:
</p>

<p>
The following PHP versions are available : 5.3.3 (/usr/bin/php-cgi), 5.4.16 (/opt/rh/php54/root/usr/bin/php-cgi)
</p>

<p>
You can configure which one is the default PHP version used on new Virtual Servers. The default is to use the newest available. You can change that default in System Settings → Server Templates → Default → Apache Website, and on that screen you can set the default PHP version to use in the field Default PHP version.
</p>

<p>
<strong><em>How to install php-mcrypt with PHP 5.4 in this setup“</em></strong>
</p>

<p>
wget <a href="http://rpms.southbridge.ru/rhel6/php-5.4/x86_64/php-mcrypt-5.4.16-1.el6.x86_64.rpm" class="urlextern" title="http://rpms.southbridge.ru/rhel6/php-5.4/x86_64/php-mcrypt-5.4.16-1.el6.x86_64.rpm" rel="nofollow">http://rpms.southbridge.ru/rhel6/php-5.4/x86_64/php-mcrypt-5.4.16-1.el6.x86_64.rpm</a><br/>

rpm2cpio php-mcrypt-5.4.16-1.el6.x86_64.rpm | cpio -idmv
</p>

<p>
Copy the mcrypt.so file created:
</p>

<p>
cp /usr/lib64/php/modules/mcrypt.so /opt/rh/php54/root/usr/lib64/php/modules/
</p>

<p>
Add extension=mcrypt.so in php.ini file
</p>

<p>
If php page get downloaded then do below.
</p>

<p>
vi /etc/httpd/conf.d/php54-php.conf
</p>

<p>
comment below
</p>

<p>
#&lt;FilesMatch \.php$&gt;
</p>

<p>
#    SetHandler application/x-httpd-php
</p>

<p>
#&lt;/FilesMatch&gt;
</p>

<p>
and
</p>

<p>
AddHandler php5-script .php
</p>

<p>
AddType text/html .php
</p>

<p>
then restart httpd service.
</p>

<p>
For PHP 5.5 and PHP 5.6 follow below link.
</p>

<p>
<a href="https://www.mojowill.com/geek/howto-install-php-5-4-5-5-or-5-6-on-centos-6-and-centos-7/" class="urlextern" title="https://www.mojowill.com/geek/howto-install-php-5-4-5-5-or-5-6-on-centos-6-and-centos-7/" rel="nofollow">https://www.mojowill.com/geek/howto-install-php-5-4-5-5-or-5-6-on-centos-6-and-centos-7/</a>
</p>
