
<p>
[What is TOR and how to install it on ubuntu 14.04 LTS trusty tahr]
</p>

<p>
The TOR (third-generation onion routing) browser is a web browser 
designed for encryption-protected anonymous web surfing and protection 
against traffic analysis.
</p>

<p>
TOR was originally developed by and for the United States Navy 
to protect sensitive U.S. government communications. While Tor
continues to be used by government it is now an open source,
multi-platform browser that is available to the public. TOR 
is used by reporters, activists, whistle blowers, law enforcement 
officials, business professionals and security-conscious individuals. 
</p>

<p>
Although TOR enhances web browsing privacy, the makers caution that 
users should take further measures to protect their privacy and security.
TOR uses exit relays and encrypted tunnels to hide user traffic within the
network, but leaves the end points more easily observable and has no effect 
beyond the boundaries of the network.
</p>

<p>
Although TOR is more secure than most commonly-used browsers, it is not
impervious to attack. Malware, such as the Chewbacca Trojan, has 
successfully targeted the TOR network and browser. The FBI has also 
breached TOR security, in one case, for example tracking threats associated 
with a bomb hoax at Harvard across the network.   
</p>

<p>
Let jump in how to install this cool stuff.
</p>

<p>
Install from Terminal:
</p>

<p>
Note: If you installed older version of Tor-Browser, 
in first you must clear the old .tor-browser-en folder 
from home folder. Just clear that by using: cd ~ &amp;&amp; rm -r .tor-browser-en
</p>

<p>
Then type following line one by one in Terminal ( Ctrl+Alt+T ) to install Tor-Browser.
</p>

<p>
 sudo add-apt-repository ppa:webupd8team/tor-browser
 sudo apt-get update
 sudo apt-get install tor-browser
</p>

<p>
Now open dash and type “Tor”, click on and use.
</p>

<p>
Have fun and USE.
</p>

<p>
WHAT IS ANONYMOUS WEB SURFING!!!
</p>

<p>
Anonymous Web surfing allows a user to visit Web sites 
without allowing anyone to gather information about which 
sites the user visited.
</p>

<p>
Anonymous Web surfing allows a user to visit Web sites 
without allowing anyone to gather information about 
which sites the user visited. Services that provide 
anonymity disable pop-up windows and cookies and conceal
the visitor&#039;s IP address. These services typically use 
a proxy server to process each HTTP request. When the user
requests a Web page by clicking a hyperlink or typing a <abbr title="Uniform Resource Locator">URL</abbr>
into their browser, the service retrieves and displays the 
information using its own server. The remote server (where
the requested Web page resides) receives information about
the anonymous Web surfing service in place of the user&#039;s
information. Anonymous Web surfing is popular for two reasons: 
to protect the user&#039;s privacy and/or to bypass blocking applications 
that would prevent access to Web sites or parts of sites that the
user wants to visit.
</p>

<p>
An anonymous surfing service can make a user feel more secure
on the Internet, but it doesn&#039;t permit a site to often the 
visitor personalization. This means that the a site cannot 
tailor its content or advertising to suit the individual user. 
SafeWeb and the Anonymizer are the most commonly used such services.
Lucent&#039;s Bell Labs created its own version, called Lucent Personalized 
Web Assistant (LPWA), as did the Naval Research Labs, whose project was
called Onion Routing.
</p>

<p>
1. Use Tor browsers
</p>

<p>
Just because it is the anonymous network, that doesn’t 
mean that Tor will protect your system completely. It 
protects only the applications and programs that are 
configured correctly. That is why you should use a Tor 
browser bundle, which is pre-programmed to suit the Tor network.
</p>

<p>
2. Say goodbye to browser plugins
</p>

<p>
You would notice that the Tor browser disables things like 
Quicktime, RealPlayer and Flash. This it does in order to 
protect your privacy, as these applications have been known 
to give out your IP address. Similarly, you should avoid 
installing any add-ons to the Tor browser because they may 
cause it to malfunction. This can in turn be a hindrance to the 
browser’s original purpose of protecting your privacy.
</p>

<p>
3. Avoid opening downloaded files when working on Tor
</p>

<p>
Opening PDF or other files using a different application 
can reveal your non-IP address. You should avoid doing so.
</p>

<p>
4. Tor and Torrent don’t go together
</p>

<p>
Even though it may seem so, downloading torrents while 
on Tor is not a good idea. You can use the network but 
don’t try to download torrents.
</p>

<p>
5. HTTPS
</p>

<p>
Yes, use this at all times while you are on the Tor network. 
It shouldn’t be any trouble, since the network automatically 
goes for the always HTTPS option.
</p>

<p>
6. Tor bridges
</p>

<p>
This is also important since Tor doesn’t protect you from 
being watched. Someone can still find out that you’re using Tor.
</p>

<p>
7. Get more people
</p>

<p>
The more people near you who use Tor, better will be the 
protection that you get from the network.
</p>
