<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
Testing must be carry out in two phases in a PoC setup:
</p>
<ul>
<li class="level1"><div class="li"> Before Optimization</div>
</li>
<li class="level1"><div class="li"> After Optimization</div>
</li>
</ul>

<p>
In both of above testing process following points must be covered:
</p>

<p>
1. Home page. (Header, Footer, Page orientation compared from live website.)
</p>

<p>
2. Category page. (test various filters like price,color,brand etc..)
</p>

<p>
3. Product page.
</p>

<p>
4. Cart &amp; Checkout page. (Check applying a coupon &amp; try place a test order.)
</p>

<p>
5. Throughly check admin backend panel functionality.
</p>
