
<p>
To clone stack script from bitbucket to your server use below guidelines :
</p>

<p>
1. Install git on server.
</p>

<p>
<code>yum install git -y</code>
</p>

<p>
2. Generate ssh keys using <code>ssh-keygen</code>. Copy content of your public key.
</p>

<p>
3. Login to <a href="https://bitbucket.org/mantragrid/stack" class="urlextern" title="https://bitbucket.org/mantragrid/stack" rel="nofollow">mantragrid&#039;s bitbucket</a>, &amp; Go to <a href="https://bitbucket.org/mantragrid/stack/admin/deploy-keys/" class="urlextern" title="https://bitbucket.org/mantragrid/stack/admin/deploy-keys/" rel="nofollow">deployment keys</a>.
</p>

<p>
4. Click on <em><strong>Add Key</strong></em> button &amp; paste your public key here.
</p>

<p>
5. Simple run below command on server to clone repository.
</p>

<p>
<code>git clone git@bitbucket.org:mantragrid/stack.git</code>
</p>
