
<h1 class="sectionedit1" id="solved_no_of_remote_connections_exceeded_in_windows_vps">SOLVED No. of remote connections exceeded in Windows VPS</h1>
<div class="level1">

<p>
1. Type the following from “run”
</p>

<p>
mstsc /admin
</p>

<p>
By doing that remote desktop window will open but you have to know this is different with what will open with opening remote desktop from the start menu.
</p>

<p>
Now, you will be asked the login credentials. Enter the required details.
</p>

<p>
2. Open start menu and go to administrative tools section
</p>

<p>
3. Open terminal services configuration. There you will see the users who have not logged off their session. Right click on them and click on Log-Off.
</p>

</div>
