<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
For creating a VirtualHost for magento hosting you have two options:
</p>
<ul>
<li class="level1"><div class="li"> Using Script ( Only available for LEMP stack based servers. <em>i.e. running on nginx.</em>  )</div>
</li>
<li class="level1"><div class="li"> Using Virtual-Min</div>
</li>
</ul>

<p>
We will only discuss script method here. Script will create a virtual-host, set php-fpm config, set magento/wordpress rewrite rules for you.  To use this script follow below instructions:
</p>

<p>
1. Go to <code>/root/mantra</code>  directory.
</p>

<p>
2. Run <em>createVirtualHost.sh</em>  script like <code>bash createVirtualHost.sh</code>
</p>

<p>
Script will ask for some inputs meanwhile. After completion script will email all the desired details at <em>tech@mantraventures.com. </em> In case you wont receive mail then you can find out details in a hidden file containing name of domain in <em><strong>/root</strong></em> directory. Use <em><strong>ls -a</strong></em> command for searching hidden file.
</p>
