
<p>
Email
</p>

<p>
Contents:
</p>

<p>
1 Why Was IP Blocked
2 Email Applications Screen Shots
3 Spam
3.1 Exim Commands
3.2 Clear Mail Directory
3.3 Spamfu
3.4 PHP Spam
3.5 Spamfu script
3.6 NukeSpam
3.7 Manually Clear Mail Queue
Why Was IP Blocked
</p>

<p>
Script from Mark&#039;s Wiki:
<a href="https://www.markjb.com/wiki/index.php?title=Why_was_Ip_Blocked" class="urlextern" title="https://www.markjb.com/wiki/index.php?title=Why_was_Ip_Blocked" rel="nofollow">https://www.markjb.com/wiki/index.php?title=Why_was_Ip_Blocked</a>
</p>

<p>
Email Applications Screen Shots
</p>

<p>
Email App Screen Shots:
<a href="http://www.24hourwebhostingsupport.com/email/" class="urlextern" title="http://www.24hourwebhostingsupport.com/email/" rel="nofollow">http://www.24hourwebhostingsupport.com/email/</a>
</p>

<p>
Spam
</p>

<p>
Exim Commands
</p>

<p>
Exim Cheat Sheet:
<a href="http://bradthemad.org/tech/notes/exim_cheatsheet.php" class="urlextern" title="http://bradthemad.org/tech/notes/exim_cheatsheet.php" rel="nofollow">http://bradthemad.org/tech/notes/exim_cheatsheet.php</a>
</p>

<p>
List queue size: exim -bpc
</p>

<p>
List queue messages: exim -bp
</p>

<p>
Show message with headers: exim -Mvh $message_id
</p>

<p>
Show message with body: exim -Mvb $message_id
</p>

<p>
Show message logs: exim -Mvl $message_id
</p>

<p>
Clear Mail Directory
</p>

<p>
Clear &#039;cur&#039;
find /home/$USER/mail/cur -type f -exec rm -f {} \;
</p>

<p>
Clear &#039;new&#039;
find /home/$USER/mail/cur -type f -exec rm -f {} \;
</p>

<p>
Spamfu
</p>

<p>
Spamfu PDF:
<a href="http://wiki.gobluemich.com/spamfu.pdf" class="urlextern" title="http://wiki.gobluemich.com/spamfu.pdf" rel="nofollow">http://wiki.gobluemich.com/spamfu.pdf</a>
</p>

<p>
Determine SMTP vs Script spam. SMTP spam will always have a login ID in the -Mvl entry:
Fixed_login, Courier_login, or Dovecot_login 
</p>

<p>
If SMTP spam - 
</p>

<p>
“Lock” the e-mail account right away.
* Make sure the e-mail account that is spamming is not the customers primary e-mail contact in billing
* Set a random password via cPanel. Don&#039;t bother e-mailing it to the customer, just tell
* them to set a new one themselves.
* Set WHM - Password Strength 
* Restart Courier/Dovecot and Exim to force anyone connected to authenticate again
</p>

<p>
Clear the queue
</p>

<p>
If Script spam - 
</p>

<p>
Exim logs (or -Mvl) will show U=(username) P=local (instead of P=esmtpa).
Username can be &#039;nobody&#039; (DSO) or a local user (SuPHP).
Get the CWD for one message
</p>

<p>
grep -B3 $message_id /var/log/exim_mainlog |grep -i cwd 
or
</p>

<p>
 grep -B3 $message_id /var/log/exim_mainlog |grep -i home 
</p>

<p>
Consult the domlogs (grep POST) if the cwd doesn&#039;t contain obvious malicious scripts. 
Simply stat/chmod 000 the offending script. 
Clean the mail queue 
If the spam script was a malicious file, search for and disable other malicious files, noting their file `stat` prior to disabling them. 
Investigate the origin of the files (<abbr title="File Transfer Protocol">FTP</abbr> upload, cPanel upload, vulnerable web app)
</p>

<p>
If Darkmailer:
</p>

<p>
 lsof -i :25
</p>

<p>
PHP Spam
</p>

<p>
Only works with PHP 5.3 or higher
</p>

<p>
This has been used on live spamming servers and using the mail.log does pinpoint the correct file nicely.
</p>

<p>
Please note the variables below are not enabled by default in php.ini.
</p>

<p>
If you suspect there is a PHP script sending out email (and it is still doing so) try adding these two lines:
</p>

<p>
mail.add_x_header = On
mail.log = /var/log/php_maillog
</p>

<p>
to the [mail function] section of:
</p>

<p>
/usr/local/lib/php.ini
</p>

<p>
Also make sure to create the log file manually otherwise you may get permissions errors and it won&#039;t work:
</p>

<p>
touch /var/log/php_maillog
chmod 666 /var/log/php_maillog
</p>

<p>
Or if you prefer the easy oneliner method you can use:
</p>

<p>
if <a href="/php_-v" class="wikilink2" title="php_-v" rel="nofollow"> grep -oP &#039;PHP 5.[^12]&#039;)&quot; != &#039;&#039; </a>; then if <a href="/z_egrep_mail.add_x_header" class="wikilink2" title="z_egrep_mail.add_x_header" rel="nofollow">^mail.log)&#039; /usr/local/lib/php.ini) </a>; then cp -a /usr/local/lib/php.ini{,.pre_php_mail_log_addition}; perl -n -i -e &#039;print; print “mail.add_x_header = On\nmail.log = /var/log/php_maillog\n” if /(\[mail function\])/&#039; /usr/local/lib/php.ini; echo -e “\nVariables Added to [mail function]:\n”; touch /var/log/php_maillog; chmod 666 /var/log/php_maillog; /etc/init.d/httpd restart 2&gt;/dev/null; egrep –color=never &#039;(^mail.add_x_header = On|^mail.log = /var/log/php_maillog)&#039; /usr/local/lib/php.ini; echo -e “\nLog File Created:”;ls -l /var/log | grep php_maillog | awk &#039;{print $1“  /var/log/“$9}&#039;; else echo -e “\nNothing Done.\nCheck /usr/local/lib/php.ini:\n”; egrep -n –color=never &#039;(mail.add_x_header|mail.log)&#039; /usr/local/lib/php.ini; fi; else echo -e “\nNothing Done.\nThis only works with 5.3 or higher”; fi
</p>

<p>
This will check if PHP 5.3 or higher installed and if so it checks if the mail.add_x_header or mail.log variables exists. if they do it stops and outputs what it found and the line numbers it found them on. If it does not see them (or they are commented out) it will make a backup of /usr/local/lib/php.ini, add the variables, create the log file in /var/log, chmod it, restart Apache and output what it did.
</p>

<p>
Example of failure:
</p>

<p>
Nothing Done.                                                                                                                                                                                                                                
Check /usr/local/lib/php.ini:                                                                                                                                                                                                                
</p>

<p>
601:mail.add_x_header = On                                                                                                                                                                                                                   
602:mail.log = /var/log/php_maillog
</p>

<p>
Example of success:
</p>

<p>
Variables Added to [mail function]:                                                                                                                                                                                                          
</p>

<p>
mail.add_x_header = On                                                                                                                                                                                                                       
mail.log = /var/log/php_maillog
</p>

<p>
Log File Created:
-rw-rw-rw-  /var/log/php_maillog
</p>

<p>
The first variable adds:
</p>

<p>
This checks if PHP 5.3 or higher is installed and if it is it will then check if either of the above variables are present. If they are
</p>

<p>
X-PHP-Originating-Script:
</p>

<p>
to the exim email header (the header variable should only show up when PHP does the sending). So, for example if you had a a PHP script sending from bad_script.php the header would look something like:
</p>

<p>
X-PHP-Originating-Script: 500:bad_script.php
</p>

<p>
You can actually search the queue for this header (doesn&#039;t show up in the regular exim_mainlog) by using:
</p>

<p>
exiqgrep &#039;X-PHP-Originating-Script&#039;
</p>

<p>
This should give you a list of emails that have been sent using PHP.
</p>

<p>
Or, if you know the script name, you could also use:
</p>

<p>
exiqgrep &#039;bad_script.php&#039;
This should give you a list of emails that have that have that script name in it.
</p>

<p>
And if you&#039;re REALLY sure that only spam emails are listed you could use:
</p>

<p>
exiqgrep -i &#039;bad_script.php&#039; | xargs exim -Mrm
</p>

<p>
which filters out all the emails with bad_script.php in it, then only displays the message ids and then delete them.
</p>

<p>
The above header stuff is really useful, but when combined with the mail.log variable can be useful. This causes PHP to record whenever:
</p>

<p>
mail()
</p>

<p>
is used. A simple output would be similar to:
</p>

<p>
mail() on [/home/user/public_html/bad_script.php:11]: To: alice@domain.com – Headers: From: eve@other.net  Reply-To: bob@next.org  Content-type: text/html; charset=iso-8859-1
</p>

<p>
If you were to compare the cwd output of Spamfu to this log you could get a pretty good idea of where the spam is coming from.
</p>

<p>
Spamfu script
</p>

<p>
wget -O /scripts/spamfu.sh  <a href="http://layer3.liquidweb.com/scripts/spamfu.sh" class="urlextern" title="http://layer3.liquidweb.com/scripts/spamfu.sh" rel="nofollow">http://layer3.liquidweb.com/scripts/spamfu.sh</a>
chmod +x /scripts/spamfu.sh
/scripts/spamfu.sh
</p>

<p>
A script designed to help you find the source of spam quickly. It currently can parse spam from the email queue as well as the exim logs.
</p>

<p>
It works very well, however it is a work in progress so please email any bugs or feature requests to mwineland@liquidweb.com. If you find a server that has a large amount of spam coming from it and the script does not pick up on it, be sure to include the name of the server in your email.
</p>

<p>
NukeSpam
</p>

<p>
There is a spam deletion script at <a href="http://layer3.liquidweb.com/scripts/nukespam" class="urlextern" title="http://layer3.liquidweb.com/scripts/nukespam" rel="nofollow">http://layer3.liquidweb.com/scripts/nukespam</a> - just download it and run it. It may already be on the server in /root or /scripts.
</p>

<p>
cd /scripts
rm -f nukespam*
wget <a href="http://layer3.liquidweb.com/scripts/nukespam" class="urlextern" title="http://layer3.liquidweb.com/scripts/nukespam" rel="nofollow">http://layer3.liquidweb.com/scripts/nukespam</a>
chmod 700 nukespam
/scripts/nukespam
</p>

<p>
Manually Clear Mail Queue
</p>

<p>
Manually stop exim:
</p>

<p>
 touch /etc/eximdisable
 service exim stop
</p>

<p>
When finished:
</p>

<p>
 rm /etc/eximdisable
 service exim restart
</p>

<p>
Clear the entire exim queue:
</p>

<p>
find /var/spool/exim/input/ -type f -name &#039;*-H&#039; | sed -e &#039;s#/var/spool/exim/input/[A-Z0-9a-z]/\([A-Z0-9a-z\-]\{16\}\)\-[HDJ].*#\1#&#039; |xargs exim -Mrm
</p>

<p>
or for a more CLI friendlier string (if the queue isn&#039;t over 50000 or so emails):
</p>

<p>
exiqgrep -i | xargs exim -Mrm
</p>

<p>
Remove specific email from an account, -r for recipient and -f for sender. Include the -i flag to use the message ID.
</p>

<p>
exiqgrep -ir email@address.com | xargs exim -Mrm
</p>

<p>
or
</p>

<p>
exiqgrep -if email@address.com | xargs exim -Mrm
</p>

<p>
Thaw frozen messages from the queue:
</p>

<p>
exiqgrep -i | xargs exim -Mt
</p>

<p>
Remove frozen messages from the queue:
</p>

<p>
exiqgrep -z -i | xargs exim -Mrm
</p>

<p>
Forcing exim to attempt to deliver all messages:
</p>

<p>
exim -q -v
</p>

<p>
Remove message in queue by auth&#039;d sender:
</p>

<p>
 cd /var/spool/exim/input/ 
 find . -type f | xargs grep -m 1 -s -i “auth_id $USER@DOMAIN.TLD” | sed -e &#039;s/\.\/[A-Z0-9a-z]\/\([A-Z0-9a-z\-]\{16\}\)\-[HDJ].*/\1/&#039; | xargs exim -Mrm
</p>

<p>
or
</p>

<p>
 find /var/spool/exim/input/ -type f | xargs grep -i -l “auth_id $USER@DOMAIN.TLD” | xargs rm -f
</p>
