
<h1 class="sectionedit1" id="prepare_relay_server_in_centos">Prepare Relay server in Centos</h1>
<div class="level1">

<p>
1. Login to Ansible master and add the VM IP to ansible hosts. <br/>

</p>

<p>
2. Run screen on ansible master and then run the following command:<br/>

</p>

<p>
<pre class="code">ansible-playbook -l &lt;IP&gt; /scripts/relay_server_centos.yml --extra-vars &quot;ip=&lt;Allow IP for relay&gt; password=&lt;Password&gt;&quot; --ask-pass</pre>

</p>

<p>
3. Example 
<pre class="code">ansible-playbook -l 43.252.89.164 /scripts/cdp_agent_centos.yml --extra-vars &quot;ip=43.252.89.164 key=http://176.9.52.137:8080&quot; --ask-pass</pre>

</p>

<p>
This will do the following: 
</p>
<ul>
<li class="level1"><div class="li"> Install Exim</div>
</li>
<li class="level1"><div class="li"> Add IP to whome relay should be allowed</div>
</li>
<li class="level1"><div class="li"> add user named “relayuser” and set its password</div>
</li>
</ul>

</div>
