<ul>
<li class="level1"><div class="li"> Set &#039;Account lockout threshold&#039; to &#039;5 invalid logon attempt(s)&#039;</div>
</li>
<li class="level1"><div class="li"> Set &#039;Account lockout duration&#039; to &#039;15 or more minute(s)&#039;</div>
</li>
<li class="level1"><div class="li"> Set &#039;Minimum password length&#039; to &#039;8 or more character(s)&#039;</div>
</li>
<li class="level1"><div class="li"> Set &#039;Enforce password history&#039; to &#039;4 or more password(s)&#039;</div>
</li>
<li class="level1"><div class="li"> Set &#039;Password must meet complexity requirements&#039; to &#039;Enabled&#039;</div>
</li>
<li class="level1"><div class="li"> Set &#039;Maximum password age&#039; to &#039;60 or fewer days&#039;</div>
</li>
<li class="level1"><div class="li"> Set &#039;Devices: Prevent users from installing printer drivers&#039; to &#039;Enabled&#039; <pre class="code">Computer Configuration\Windows Settings\Security Settings\Local Policies\Security
Options\Devices: Prevent users from installing printer drivers</pre>
</div>
</li>
<li class="level1"><div class="li"> Set &#039;Network access: Do not allow anonymous enumeration of SAM accounts&#039; to &#039;Enabled&#039; <pre class="code">Computer Configuration\Windows Settings\Security Settings\Local Policies\Security
Options\Network access: Do not allow anonymous enumeration of SAM accounts</pre>
</div>
</li>
<li class="level1"><div class="li"> Set &#039;Network access: Restrict anonymous access to Named Pipes and Shares&#039; to &#039;Enabled&#039;<pre class="code">Computer Configuration\Windows Settings\Security Settings\Local Policies\Security
Options\Network access: Restrict anonymous access to Named Pipes and Shares</pre>
</div>
</li>
<li class="level1"><div class="li"> Set &#039;System cryptography: Use FIPS compliant algorithms for encryption, hashing, and signing&#039; to &#039;Enabled&#039; <pre class="code">Computer Configuration\Windows Settings\Security Settings\Local Policies\Security
Options\System cryptography: Use FIPS compliant algorithms for encryption, hashing,
and signing</pre>
</div>
</li>
<li class="level1"><div class="li"> Set &#039;Security: Maximum Log Size (KB)&#039; to &#039;Enabled:196608 or greater&#039; <pre class="code">Computer Configuration\Administrative Templates\Windows Components\Event Log
Service\Security\Specify the maximum log file size (KB)\Specify the maximum log file
size (KB)</pre>
</div>
</li>
<li class="level1"><div class="li"> Set &#039;System: Maximum Log Size (KB)&#039; to &#039;Enabled:32768 or greater&#039; <pre class="code">Computer Configuration\Administrative Templates\Windows Components\Event Log
Service\System\Specify the maximum log file size (KB)\Specify the maximum log file
size (KB)</pre>
 </div>
</li>
<li class="level1"><div class="li"> Set &#039;Application: Maximum Log Size (KB)&#039; to &#039;Enabled:32768 or greater&#039; <pre class="code">Computer Configuration\Administrative Templates\Windows Components\Event Log
Service\Application\Specify the maximum log file size (KB)\Specify the maximum log
file size (KB)</pre>
</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>
