
<h1 class="sectionedit1" id="securing_wordpress_sites_basic_advanced">Securing WordPress Sites (Basic + Advanced)</h1>
<div class="level1">

<p>
LINKS:
<a href="http://wpsecure.net/server-guide/" class="urlextern" title="http://wpsecure.net/server-guide/" rel="nofollow">http://wpsecure.net/server-guide/</a>
</p>

</div>
<!-- EDIT1 SECTION "Securing WordPress Sites (Basic + Advanced)" [1-104] -->
<h2 class="sectionedit2" id="basic">Basic</h2>
<div class="level2">

<p>
 <br/>

1. Keep your WordPress up to date. <br/>

2. Keep your home computer and WiFi connection secure. <br/>

This seems obvious but keyloggers and malware on your home computer/WiFi can easily compromise your site.<br/>

</p>

<p>
3. Get your plugins and themes from the official repository. <br/>

Get your themes/plugins from a reputable source or the official repository. <br/>

</p>

<p>
4. Choose a solid host. <br/>

5. Choose a really good password. <br/>

A good password is combination of small letters, capital letters, numbers and special characters. 
</p>

<p>
6. Update your plugins and theme regularly 
<br/>

</p>

</div>
<!-- EDIT2 SECTION "Basic" [105-688] -->
<h2 class="sectionedit3" id="advanced">Advanced</h2>
<div class="level2">

<p>
<br/>

</p>

</div>
<!-- EDIT3 SECTION "Advanced" [689-716] -->
<h3 class="sectionedit4" id="limit_admin_access_by_ip">1.Limit Admin access by IP</h3>
<div class="level3">

<p>
 <br/>

If you have static IP then can limiting the WP admin section by IP address in your .htaccess file. This .htaccess must go in your admin folder, not the root path.<br/>

</p>

<p>
<pre class="code">&lt;LIMIT GET POST PUT&gt;
order deny,allow
deny from all
allow from xx.xx.xx.xx  //( your static IP)
&lt;/LIMIT&gt; </pre>

</p>

</div>
<!-- EDIT4 SECTION "1.Limit Admin access by IP" [717-1050] -->
<h3 class="sectionedit5" id="limit_login_access_by_ip">2. Limit Login access by IP</h3>
<div class="level3">

<p>
The login file, wp-login.php, does not reside in the admin folder, it is in the root so you can deny access to just the login by IP as well. This must be in the root .htaccess file/folder.
</p>

<p>
<pre class="code">&lt;Files wp-login.php&gt;
Order Deny,Allow
Deny from All
Allow from x.x.x.x //( your static IP)
&lt;/Files&gt; </pre>

</p>

</div>
<!-- EDIT5 SECTION "2. Limit Login access by IP" [1051-1403] -->
<h3 class="sectionedit6" id="disable_trace_and_track">3. Disable Trace and Track</h3>
<div class="level3">

<p>
HTTP Trace attack (XST) can be used to return header requests and grab cookies and other information and is used along with a cross site scripting attacks (XSS) . This can be turned off in your apache configuration file or through .htaccess with the following.
</p>

<p>
<pre class="code">RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F] </pre>

</p>

</div>
<!-- EDIT6 SECTION "3. Disable Trace and Track" [1404-1802] -->
<h3 class="sectionedit7" id="forbid_proxy_comment_posting">4. Forbid Proxy comment posting</h3>
<div class="level3">

<p>
This will deny any requests that use a proxy server when posting to comments eliminating some spam and proxy requests, script courtesy of perishablepress.com.
</p>

<p>
<pre class="code">
RewriteCond %{REQUEST_METHOD} =POST
RewriteCond %{HTTP:VIA}%{HTTP:FORWARDED}%{HTTP:USERAGENT_VIA}%{HTTP:X_FORWARDED_FOR}%{HTTP:PROXY_CONNECTION} !^$ [OR]
RewriteCond %{HTTP:XPROXY_CONNECTION}%{HTTP:HTTP_PC_REMOTE_ADDR}%{HTTP:HTTP_CLIENT_IP} !^$
RewriteCond %{REQUEST_URI} !^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
RewriteRule .* - [F,NS,L] </pre>

</p>

</div>
<!-- EDIT7 SECTION "4. Forbid Proxy comment posting" [1803-2392] -->
<h3 class="sectionedit8" id="disable_php_settings">5. Disable PHP settings</h3>
<div class="level3">

<p>
Please be aware some these settings will take away some functionality, these edits go in your php.ini file ( some shared hosting does not allow for editing the php.ini).
</p>

<p>
 <pre class="code">display_errors = Off       //safe to disable on live site
register_globals = Off    //off by default but a good reminder to check
expose_php = Off         //safe to disable
allow_url_fopen = Off    //might break something
allow_url_include = Off  //might break something
log_errors = On           //logging errors is always a good idea if you check them
error_log = /var/log/phperror.log
enable_dl = Off           //might break something
disable_functions=&quot;popen,exec,system,passthru,proc_open,shell_exec,show_source,php
file_uploads = Off //will most likely break something
NOTE:- Highly advisable, at the very least, to turn display errors to off, many WP files ( some depreciated but still included) will return the path/location of your web root since they return an error on page load. </pre>

</p>

</div>
<!-- EDIT8 SECTION "5. Disable PHP settings" [2393-3406] -->
<h3 class="sectionedit9" id="enable_suhosin_php">6. Enable Suhosin PHP</h3>
<div class="level3">

<p>
Suhosin is a PHP security hardening system the that protects against a variety of exploits and works with any normal PHP installation. Some PHP installs already bundle Suhosin, if you want to check if you have it installed create an empty php file and add
</p>

<p>
<pre class="code">&lt;? phpinfo(); ?&gt; &lt;code/&gt;
and then check it in your browser ( remember to delete this file when your done!).

To install Suhosin you can follow the guidelines here: Install Suhosin

 

==== 7. Remove WordPress header outputs ====

WordPress can add a lot of stuff in your header for various services, this will remove everything, but take care, it also removes some functionality ( for instance if someone is looking for your RSS feed). If you want to keep some just comment the line out.

 

&lt;code&gt;
// remove junk from head
remove_action(&#039;wp_head&#039;, &#039;feed_links&#039;, 2);
remove_action(&#039;wp_head&#039;, &#039;feed_links_extra&#039;, 3);
remove_action(&#039;wp_head&#039;, &#039;rsd_link&#039;);
remove_action(&#039;wp_head&#039;, &#039;wlwmanifest_link&#039;);
remove_action(&#039;wp_head&#039;, &#039;index_rel_link&#039;);
remove_action(&#039;wp_head&#039;, &#039;parent_post_rel_link&#039;, 10, 0);
remove_action(&#039;wp_head&#039;, &#039;start_post_rel_link&#039;, 10, 0);
remove_action(&#039;wp_head&#039;, &#039;adjacent_posts_rel_link_wp_head&#039;, 10, 0);
remove_action(&#039;wp_head&#039;, &#039;wp_generator&#039;);
remove_action(&#039;wp_head&#039;, &#039;wp_shortlink_wp_head&#039;, 10, 0);
remove_action(&#039;wp_head&#039;, &#039;noindex&#039;, 1); </pre>

</p>

</div>
<!-- EDIT9 SECTION "6. Enable Suhosin PHP" [3407-4781] -->
<h3 class="sectionedit10" id="remove_l10n_script_added_in_wp_31">8. Remove l10n script (added in WP 3.1)</h3>
<div class="level3">

<p>
This script help translate comments entities.
</p>

<p>
<pre class="code">if (!is_admin()) {
  wp_deregister_script(&#039;l10n&#039;);
} </pre>

</p>

</div>
<!-- EDIT10 SECTION "8. Remove l10n script (added in WP 3.1)" [4782-4953] -->
<h3 class="sectionedit11" id="hide_hard_urls_use_relative_ones">9. Hide hard urls, use relative ones</h3>
<div class="level3">

<p>
<a href="https://gist.github.com/2315279" class="urlextern" title="https://gist.github.com/2315279" rel="nofollow">https://gist.github.com/2315279</a>
</p>

</div>
<!-- EDIT11 SECTION "9. Hide hard urls, use relative ones" [4954-5034] -->
<h3 class="sectionedit12" id="hidewp-content">10. Hide /wp-content/</h3>
<div class="level3">

<p>
<a href="https://gist.github.com/2315295" class="urlextern" title="https://gist.github.com/2315295" rel="nofollow">https://gist.github.com/2315295</a>
</p>

</div>
<!-- EDIT12 SECTION "10. Hide /wp-content/" [5035-5100] -->
<h3 class="sectionedit13" id="deny_bad_query_strings">11. Deny bad query strings</h3>
<div class="level3">

<p>
This script goes in your .htaccess and will attempt to prevent malicious string attacks on your site (XSS). Please be aware some of these strings might be used for plugins or themes and doing so will disable the functionality. This script from perishablepress is fairly safe to use and should not break anything important. A more advanced one can be found on askapache.com.
</p>

<p>
<pre class="code"># QUERY STRING EXPLOITS
&lt;IfModule mod_rewrite.c&gt;
 RewriteCond %{QUERY_STRING} ../    [NC,OR]
 RewriteCond %{QUERY_STRING} boot.ini [NC,OR]
 RewriteCond %{QUERY_STRING} tag=     [NC,OR]
 RewriteCond %{QUERY_STRING} ftp:     [NC,OR]
 RewriteCond %{QUERY_STRING} http:    [NC,OR]
 RewriteCond %{QUERY_STRING} https:   [NC,OR]
 RewriteCond %{QUERY_STRING} mosConfig [NC,OR]
 RewriteCond %{QUERY_STRING} ^.*([|]|(|)|&lt;|&gt;|&#039;|&quot;|;|?|*).* [NC,OR]
 RewriteCond %{QUERY_STRING} ^.*(%22|%27|%3C|%3E|%5C|%7B|%7C).* [NC,OR]
 RewriteCond %{QUERY_STRING} ^.*(%0|%A|%B|%C|%D|%E|%F|127.0).* [NC,OR]
 RewriteCond %{QUERY_STRING} ^.*(globals|encode|config|localhost|loopback).* [NC,OR]
 RewriteCond %{QUERY_STRING} ^.*(request|select|insert|union|declare|drop).* [NC]
 RewriteRule ^(.*)$ - [F,L]
&lt;/IfModule&gt; </pre>

</p>

</div>
<!-- EDIT13 SECTION "11. Deny bad query strings" [5101-6320] -->
<h3 class="sectionedit14" id="delete_default_mysql_test_database">12. Delete default MySQL “test” database</h3>
<div class="level3">

<p>
MySQL installs with a default database, it is very advisable that you delete this as it allows for any user role access, also delete any other unused databases and users.
</p>

<p>
<pre class="code">mysql&gt; DROP DATABASE test; </pre>

</p>

</div>
<!-- EDIT14 SECTION "12. Delete default MySQL “test” database" [6321-6596] -->
<h3 class="sectionedit15" id="fingerprint_source_code_and_header_removal">13. Fingerprint source code and header removal</h3>
<div class="level3">

<p>
Many plugins and themes write information into the source code, and some even write info directly to your HTTP headers. This can be used to fingerprint which version and plugins you are using. There is no easy way to get rid of this info, sometimes there is a action filter you can use but more often then not you have to dive in and directly edit the files. There are some caching and minify plugins that remove source code comments but they do not work 100% of the time. PHP 5.3 also has a new header function that can sometimes be effective, this example shows how to remove the x-powered-by header if it is set to “geuss”.
</p>

<p>
<pre class="code">header_remove(&#039;x-powered-by&#039;, guess); </pre>

</p>

</div>
<!-- EDIT15 SECTION "13. Fingerprint source code and header removal" [6597-7345] -->
<h3 class="sectionedit16" id="disable_non_wordpress_attack_vectors">14. Disable non WordPress attack vectors</h3>
<div class="level3">

<p>
You can disable non WordpPress services running on your server. For instance some attack vectors go straight for your phpMyAdmin, which can compromise you entire server with full access. For the truly paranoid you should disable services like phpMyAdmin, Cpanel, Webmin, <abbr title="File Transfer Protocol">FTP</abbr>, or anything else that might allow entry, and lock down all ports to only allow access to HTTP 80.
</p>

</div>
<!-- EDIT16 SECTION "14. Disable non WordPress attack vectors" [7346-7772] -->
<h3 class="sectionedit17" id="use_apache_authorization_for_access">15. Use Apache authorization for access</h3>
<div class="level3">

<p>
You can restrict site usage, say for your admin section, based on apache authorization and password files and groups. This process is to detailed to go into here, so have a look at the official docs, <a href="http://httpd.apache.org/Auth" class="urlextern" title="http://httpd.apache.org/Auth" rel="nofollow">http://httpd.apache.org/Auth</a>. Another option is to check out askapache.com’s wordpress plugin that interfaces directly with this AskApache Password Protect.
</p>

</div>
<!-- EDIT17 SECTION "15. Use Apache authorization for access" [7773-8186] -->
<h3 class="sectionedit18" id="php_intrusion_detection">16. PHP intrusion detection</h3>
<div class="level3">

<p>
PHPIDS is an intrusion detection layer for PHP run by <a href="http://phpids.org/" class="urlextern" title="http://phpids.org/" rel="nofollow">http://phpids.org/</a> that blocks malicious code from doing nasty things to your site. It is especially useful if your site has any user submitted content forms such as comments and contacts. They even have a demo where you can test malicious scripts, <a href="http://demo.phpids.org/" class="urlextern" title="http://demo.phpids.org/" rel="nofollow">http://demo.phpids.org/</a>
The cool thing about PHPIDS is that it is constantly updated through an XML feed and there is a WordPress plugin that works directly with the updates, it even logs intrusion attempts. It is called Mute Screamer and can be found here <a href="http://wordpress.org/extend/plugins/mute-screamer/" class="urlextern" title="http://wordpress.org/extend/plugins/mute-screamer/" rel="nofollow">http://wordpress.org/extend/plugins/mute-screamer/</a>
</p>

</div>
<!-- EDIT18 SECTION "16. PHP intrusion detection" [8187-8840] -->
<h3 class="sectionedit19" id="change_the_database_prefix_on_a_live_site">17. Change the database prefix on a live site</h3>
<div class="level3">

<p>
As mentioned in the basic guide WordPress installs with a default database prefix (‘wp_”) which can be used by bots and attackers to gain access to your database by easily guessing your database names. Changing the prefix on a live site can be a scary task so proceed with caution. There are many methods to do this and even some plugins, it is advisable to do some research and testing before hand. Below I have outlined the steps for a manual change where you download the dump and change the text with a text editor as a “safe method”, alternatively you can do this directly in MySQL.
</p>

<p>
1. Make a complete database dump through MySQL ( not through the WordPress admin).
2. Copy the dump into 2 files, one back-up that you don’t touch, and 1 for editing.
3. Use a solid text editor to find/replace all instances of “wp_” with your new prefix on the dump you want to edit.
4. De-activate your plugins.
5. Turn on maintenance mode at an hour when traffic is low.
6. Drop your old database and import your edited one with the new prefix’s
7. Change your database settings in wp-config.php to the new prefix.
8. Re-activate your plugins
9. Refresh your permalink structure by hitting save ( even without changing structure)
10. Cross your fingers.
</p>

</div>
<!-- EDIT19 SECTION "17. Change the database prefix on a live site" [8841-10162] -->
<h3 class="sectionedit20" id="additional_resources_and_links">18. Additional resources and Links</h3>
<div class="level3">

<p>
Perishable Press maintains a great security section and a blacklist of referrers –&gt;blacklist.txt
AskApache, everything you ever wanted to know and more about apache, file permissions, WordPress and .htaccess.
Check out our Server Guide for locking down your <abbr title="Operating System">OS</abbr>.
</p>

</div>
<!-- EDIT20 SECTION "18. Additional resources and Links" [10163-10475] -->
<h3 class="sectionedit21" id="character_string_filter_for_htaccess">19. Character string filter for .htaccess</h3>
<div class="level3">

<p>
I left this to the end due to the length, this blocks bad character matches ( mostly XSS) from messing about with your site, this goes in your root .htaccess file, some strings might break functionality.
</p>

<p>
<pre class="code">
RedirectMatch 403 ^
 RedirectMatch 403 `
 RedirectMatch 403 {
 RedirectMatch 403 }
 RedirectMatch 403 ~
 RedirectMatch 403 &quot;
 RedirectMatch 403 $
 RedirectMatch 403 &lt;
 RedirectMatch 403 &gt;
 RedirectMatch 403 |
 RedirectMatch 403 ..
 RedirectMatch 403 //
 RedirectMatch 403 %0
 RedirectMatch 403 %A
 RedirectMatch 403 %B
 RedirectMatch 403 %C
 RedirectMatch 403 %D
 RedirectMatch 403 %E
 RedirectMatch 403 %F
 RedirectMatch 403 %22
 RedirectMatch 403 %27
 RedirectMatch 403 %28
 RedirectMatch 403 %29
 RedirectMatch 403 %3C
 RedirectMatch 403 %3E
 RedirectMatch 403 %3F
 RedirectMatch 403 %5B
 RedirectMatch 403 %5C
 RedirectMatch 403 %5D
 RedirectMatch 403 %7B
 RedirectMatch 403 %7C
 RedirectMatch 403 %7D
 # COMMON PATTERNS
 Redirectmatch 403 _vpi
 RedirectMatch 403 .inc
 Redirectmatch 403 xAou6
 Redirectmatch 403 db_name
 Redirectmatch 403 select(
 Redirectmatch 403 convert(
 Redirectmatch 403 /query/
 RedirectMatch 403 ImpEvData
 Redirectmatch 403 .XMLHTTP
 Redirectmatch 403 proxydeny
 RedirectMatch 403 function.
 Redirectmatch 403 remoteFile
 Redirectmatch 403 servername
 Redirectmatch 403 &amp;rptmode=
 Redirectmatch 403 sys_cpanel
 RedirectMatch 403 db_connect
 RedirectMatch 403 doeditconfig
 RedirectMatch 403 check_proxy
 Redirectmatch 403 system_user
 Redirectmatch 403 /(null)/
 Redirectmatch 403 clientrequest
 Redirectmatch 403 option_value
 RedirectMatch 403 ref.outcontrol
 # SPECIFIC EXPLOITS
 RedirectMatch 403 errors.
 RedirectMatch 403 config.
 RedirectMatch 403 include.
 RedirectMatch 403 display.
 RedirectMatch 403 register.
 Redirectmatch 403 password.
 RedirectMatch 403 maincore.
 RedirectMatch 403 authorize.
 Redirectmatch 403 macromates.
 RedirectMatch 403 head_auth.
 RedirectMatch 403 submit_links.
 RedirectMatch 403 change_action.
 Redirectmatch 403 com_facileforms/
 RedirectMatch 403 admin_db_utilities.
 RedirectMatch 403 admin.webring.docs.
 Redirectmatch 403 Table/Latest/index.
&lt;/IfModule&gt;] </pre>

</p>

</div>
<!-- EDIT21 SECTION "19. Character string filter for .htaccess" [10476-12687] -->
<h3 class="sectionedit22" id="install_wordfence">20. Install Wordfence</h3>
<div class="level3">

<p>
Install this - <a href="http://wordpress.org/plugins/wordfence/" class="urlextern" title="http://wordpress.org/plugins/wordfence/" rel="nofollow">http://wordpress.org/plugins/wordfence/</a>
</p>

</div>
<!-- EDIT22 SECTION "20. Install Wordfence" [12688-] -->