
<p>
This guide assumes that you&#039;ve set InnoDB as the default engine in my.cnf of master DB and the databases you are going to replicate use the same engine, to verify this open MySQL monitor as root and run the following commands at master:
</p>

<p>
<code> show engines;</code>
</p>

<p>
This should give;
<pre class="code">+------------+---------+------------------------------------------------------------+--------------+------+------------+
| Engine     | Support | Comment                                                    | Transactions | XA   | Savepoints |
+------------+---------+------------------------------------------------------------+--------------+------+------------+
| MRG_MYISAM | YES     | Collection of identical MyISAM tables                      | NO           | NO   | NO         |
| CSV        | YES     | CSV storage engine                                         | NO           | NO   | NO         |
| MyISAM     | YES     | Default engine as of MySQL 3.23 with great performance     | NO           | NO   | NO         |
| InnoDB     | DEFAULT | Supports transactions, row-level locking, and foreign keys | YES          | YES  | YES        |
| MEMORY     | YES     | Hash based, stored in memory, useful for temporary tables  | NO           | NO   | NO         |
+------------+---------+------------------------------------------------------------+--------------+------+------------+</pre>

</p>

<p>
Alternatively you can run:
</p>

<p>
<code> SELECT table_name FROM INFORMATION_SCHEMA.TABLES WHERE engine = &#039;InnoDB&#039;;</code>
</p>

<p>
For replication what we&#039;ll be doing basically is, enabling bin-logging and taking a non-locking (read-lock) dump with the binlog position included. In effect, you’re creating a copy of the db marked with a timestamp, which allows the slave to catch up once you’ve migrated the data over. This seems like the best way to set up a MySQL slave with no downtime,
</p>

<p>
Now to start replication open my.cnf at master and add the following lines below [mysqld]
<pre class="code">server-id=1
binlog-format=mixed
log-bin=mysql-bin
datadir=/var/lib/mysql
innodb_flush_log_at_trx_commit=1
sync_binlog=1</pre>

Save the file and restart the master mysql server and create a replication user that your slave server will use to connect to the master:
<pre class="code">mysql -u root -p

CREATE USER replicant@slave-server-ip;
GRANT REPLICATION SLAVE ON *.* TO replicant@slave-server-ip IDENTIFIED BY &#039;password&#039;;
exit</pre>

In the above statement we have only allowed a single IP (of slave) to connect to our master, in case you want to have multiple slave replication units, use % in place of “slave-server-ip”.
</p>

<p>
Next, create a mysql dump file with the binlog position in your pwd.
</p>

<p>
<code> mysqldump -u root -p –skip-lock-tables –single-transaction –flush-logs –hex-blob –master-data=2 -A  &gt; ~/dump.sql</code>
</p>

<p>
Examine the head of the file and note down the values for MASTER_LOG_FILE and MASTER_LOG_POS
</p>

<p>
<code> head dump.sql -n80 | grep “MASTER_LOG_POS”</code>
</p>

<p>
Transfer the dump.sql file to the slave server using scp.
Also open port 3306 on the master server, this port will be used by the slave to connect.
</p>
<hr />

<p>
Slave setup
</p>

<p>
Open my.cnf file and add the following lines below [mysqld]:
<pre class="code">server-id=2
binlog-format=mixed
log_bin=mysql-bin
relay-log=mysql-relay-bin
log-slave-updates=1
read-only=1</pre>

</p>

<p>
Restart the MySQL service at slave, and import the dump file:
</p>

<p>
<code> mysql -u root -p &lt; /path/to/dump.sql</code>
</p>

<p>
Now log into MySQL console and run the following to start replication:
<pre class="code">CHANGE MASTER TO MASTER_HOST=&#039;master-server-ip&#039;,MASTER_USER=&#039;replicant&#039;,MASTER_PASSWORD=&#039;slave-user-password&#039;, MASTER_LOG_FILE=&#039;value we copied above&#039;, MASTER_LOG_POS=value we copied above;

START SLAVE;</pre>

</p>

<p>
To verify that the replication process is error free, run the following in MySQL console:
</p>

<p>
<code>SHOW SLAVE STATUS \G</code>
</p>

<p>
This should give you something like
<pre class="code">               Slave_IO_State: Waiting for master to send event
                  Master_Host: 180.149.242.98
                  Master_User: replicant
                  Master_Port: 3306
                Connect_Retry: 60
              Master_Log_File: mysql-bin.000004
          Read_Master_Log_Pos: 524
               Relay_Log_File: mysql-relay-bin.000025
                Relay_Log_Pos: 251
        Relay_Master_Log_File: mysql-bin.000004
             Slave_IO_Running: Yes
            Slave_SQL_Running: Yes</pre>

</p>
