<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
We can do following level/type of optimizations on a magento store:
</p>

<p>
<strong>Level 1 :</strong>
</p>

<p>
1. Enable <code>Cache</code> from magento backend.
</p>
<ul>
<li class="level1"><div class="li"> Go to <em>System</em>  &gt; <em>Cache Management</em></div>
</li>
<li class="level1"><div class="li"> click on <em><strong>select all</strong></em> and select <em><strong>enable</strong></em> from drop down menu and click on <em><strong>submit</strong></em> button.</div>
</li>
</ul>

<p>
2. Enable <a href="http://docs.magento.com/m1/ce/user_guide/system-operations/cache-page-external.html" class="urlextern" title="http://docs.magento.com/m1/ce/user_guide/system-operations/cache-page-external.html" rel="nofollow">External full page cache</a> from magento backend.
</p>

<p>
3. Merge Js and <abbr title="Cascading Style Sheets">CSS</abbr> at various levels (Default, website etc..).
</p>
<ul>
<li class="level1"><div class="li"> Go to <em>System</em>  &gt; <em>Configuration</em>  &gt; <em>(Advance) Developer</em>.</div>
</li>
<li class="level1"><div class="li"> Click on <em>JavaScript Settings</em>  &gt; select <strong><em>Yes</em></strong> from drop down to merge JS.</div>
</li>
<li class="level1"><div class="li"> Click in <em><abbr title="Cascading Style Sheets">CSS</abbr> Settings</em>  &gt; select <em><strong>Yes</strong></em> from drop down to merge <abbr title="Cascading Style Sheets">CSS</abbr>.</div>
</li>
</ul>

<p>
<em>Note</em>  : Try to merge JS/<abbr title="Cascading Style Sheets">CSS</abbr> at various below levels if merging fails at top level.
</p>

<p>
4. Eable &amp; test <a href="http://wiki.mantraventures.com/magento/configuration/magento-flat-category-and-product" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/magento-flat-category-and-product" rel="nofollow">Catalog_flat_category &amp; Catalog_flat_product</a>.
</p>

<p>
5. <a href="http://wiki.mantraventures.com/magento/provisioning/create-cdn-resource" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/create-cdn-resource" rel="nofollow">Create CDN</a> for static content fetching (like media, skin, js files).
</p>

<p>
6. Magento <code>compiler</code>. (php shell/compiler.php compile)
</p>

<p>
7. <a href="http://wiki.mantraventures.com/magento/configuration/mysql-my.cnf-for-magento" class="urlextern" title="http://wiki.mantraventures.com/magento/configuration/mysql-my.cnf-for-magento" rel="nofollow">Mysql Optimization</a>.
</p>
<hr />

<p>
<strong>Level 2 :</strong>
</p>

<p>
8. 3<sup>rd </sup>   Party FPC (Lesti FPC).
</p>

<p>
9. Js minification (fooman spddester)
</p>

<p>
10. JS lazyload / Image Lazy load
</p>

<p>
11. Redis caching.
</p>

<p>
12. Varnish Caching.
</p>
