<div class="level3">
<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

</div>

<h3 class="sectionedit1" id="best_sellers_or_most_viewed_products_are_not_visible_on_website_index_page">Best sellers or Most viewed products are not visible on website index page.</h3>
<div class="level3">
<hr />

<p>
This problem mainly appears because of catalog flattening of products. You can disable flat catalog product from magento admin backend.
</p>

<p>
Follow the path : <code>System &gt; Configuration &gt; CATALOG (catalog) &gt; frontend &gt; Use flat catalog product : No</code> (save).
</p>

<p>
Clear cache from Cache Management &amp; then recheck.
</p>

<p>
If problem/issue still persists, disable Flat Catalog Category also.
</p>

<p>
Follow the path : <code>System &gt; Configuration &gt; CATALOG (catalog) &gt; frontend &gt; Use flat catalog category : No</code> (save).
</p>

</div>
<!-- EDIT1 SECTION "Best sellers or Most viewed products are not visible on website index page." [38-] -->