<pre class="code">                                           ====== Installation ======</pre>

<p>
1.  Download Microsoft Unified Communications Managed <abbr title="Application Programming Interface">API</abbr> (UCMA) 4.0, 
</p>

<p>
2.  Exchange server 2013 and extract it
</p>

<p>
3.  Add roles <abbr title="Domain Name System">DNS</abbr>, ad ds and ad lds from server manager &amp; .net 3.5 , 4.5 Framework
</p>

<p>
4. Prepare Active directory Domain service
</p>

<p>
5. After you&#039;ve installed the software listed above, complete the following steps to install the Remote Tools Administration Pack. After you&#039;ve installed the Remote Tools Administration Pack you&#039;ll be able to use the computer to prepare Active Directory. For more information about preparing Active Directory, see Prepare Active Directory and domains.
</p>

<p>
6.
Open Windows PowerShell.
Install the Remote Tools Administration Pack.
On a Windows Server 2012 R2 or Windows Server 2012 computer, run the following command.
Install-WindowsFeature RSAT-ADDS
</p>

<p>
7.Windows Server 2012 R2 and Windows Server 2012 prerequisites
The prerequisites that are needed to install Exchange 2013 on a Windows Server 2012 R2 or Windows Server 2012 computer depends on which Exchange roles you want to install. Read the section below that matches the roles you want to install.
</p>

<p>
Follow the instructions in this section to install the prerequisites on Windows Server 2012 R2 or Windows Server 2012 computers where you want to do one of the following:
Install only the Mailbox server role on a computer.
Install only the Client Access server role on a computer.
Install both the Mailbox and Client Access server roles on the same computer.
Do the following to install the required Windows roles and features:
Open Windows PowerShell.
Run the following command to install the required Windows components.
</p>

<p>
Install-WindowsFeature AS-HTTP-Activation, Desktop-Experience, NET-Framework-45-Features, RPC-over-HTTP-proxy, RSAT-Clustering, RSAT-Clustering-CmdInterface, RSAT-Clustering-Mgmt, RSAT-Clustering-PowerShell, Web-Mgmt-Console, WAS-Process-Model, Web-Asp-Net45, Web-Basic-Auth, Web-Client-Auth, Web-Digest-Auth, Web-Dir-Browsing, Web-Dyn-Compression, Web-Http-Errors, Web-Http-Logging, Web-Http-Redirect, Web-Http-Tracing, Web-ISAPI-Ext, Web-ISAPI-Filter, Web-Lgcy-Mgmt-Console, Web-Metabase, Web-Mgmt-Console, Web-Mgmt-Service, Web-Net-Ext45, Web-Request-Monitor, Web-Server, Web-Stat-Compression, Web-Static-Content, Web-Windows-Auth, Web-WMI, Windows-Identity-Foundation
</p>

<p>
8. 
Edge Transport server role
Follow the instructions in this section to install the prerequisites on Windows Server 2012 R2 or Windows Server 2012 computers where you want to install the Edge Transport server role on a computer.
Do the following to install the required Windows roles and features:
Open Windows PowerShell.
Run the following command to install the required Windows components.
Install-WindowsFeature ADLDS
</p>

<p>
9. Open a Windows Command Prompt window and go to where you downloaded the Exchange installation files.
 cd  \user\administrator\exch 
</p>

<p>
10.  Run the following command to extend the schema.
 Setup.exe /PrepareSchema /IAcceptExchangeServerLicenseTerms
</p>

<p>
11. Prepare Active Directory.
 Setup.exe /PrepareAD /OrganizationName:“&lt;organization name&gt;” /IAcceptExchangeServerLicenseTerms
</p>

<p>
12. Prepare all domains in active Directory forest.
 Run the following command:
Setup.exe /PrepareAllDomains /IAcceptExchangeServerLicenseTerms
</p>

<p>
Setup.exe /PrepareDomain:&lt;FQDN of the domain you want to prepare&gt; /IAcceptExchangeServerLicenseTerms
</p>

<p>
To check whether the msExchProductId property has the right value, do the following:
Press WIN+R, type adsiedit.msc, and then press Enter.
In ADSI Edit, right-click ADSI Edit in the navigation pane, and then click Connect to…
In Connection Settings, select Select a well known Naming Context, and then choose Configuration. Click OK.
Expand Configuration [&lt;domain FQDN&gt;], CN=Configuration,DC=domain,DC=com, CN=Services, CN=Microsoft Exchange.
Right-click CN=&lt;your Exchange organization name&gt;, and then select Properties.
Make sure the value in msExchangeProductId matches the value in the Exchange 2013 Active Directory versions table for the version of Exchange 2013 you&#039;re installing.
</p>

<p>
remove C++ distributed from control pannel
</p>

<p>
now finall step install setup.exe from exchange folder.
</p>
