<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<h2 class="sectionedit1" id="setup_sendgrid_for_transactional_mailing">Setup Sendgrid for Transactional mailing</h2>
<div class="level2">
<hr />

<p>
Sendgrid is an external SMTP service which can be used to send transactional mails (like placing order, order confirmation, abandoned cart mails etc..). Main benefit of using these services are, they ensure reliable inbox delivery to customer &amp; avoid mails from landing into spam box. For more keep <a href="https://www.google.com" class="urlextern" title="https://www.google.com"  rel="nofollow">Googling</a>.
</p>

<p>
To integrate sendgrid follow below steps:
</p>

<p>
1. You need sendgrid account <em>user login</em> &amp; <em>password</em>. (Ask client to provided them after <a href="https://sendgrid.com/free/" class="urlextern" title="https://sendgrid.com/free/"  rel="nofollow">signup</a>.)
</p>

<p>
2. Install <a href="https://www.magentocommerce.com/magento-connect/smtp-pro-email-free-custom-smtp-email.html" class="urlextern" title="https://www.magentocommerce.com/magento-connect/smtp-pro-email-free-custom-smtp-email.html"  rel="nofollow">SMTP pro</a> using magento downloader (i.e. magento connect manager).
</p>

<p>
3. After installing SMTP pro, login to magento admin backend and follow below instructions :
</p>
<ul>
<li class="level1"><div class="li"> Go to <em>System </em>  »<em> Configuration </em>  »<em> SMTP pro. </em>  (Search in left side pane)</div>
</li>
<li class="level1"><div class="li"> Configure sendgrid settings using <strong>Custom SMTP</strong>  option. See image below.</div>
</li>
</ul>

<p>
<img src="/lib/exe/fetch.php?w=800&amp;h=432&amp;tok=69e329&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fsendgrid_smpt_setting.png" class="media" alt="" width="800" height="432" />
</p>
<ul>
<li class="level1"><div class="li"> After configuring it, Run <strong>Self Test</strong>  now. Refer image below.</div>
</li>
</ul>

<p>
<img src="/lib/exe/fetch.php?w=800&amp;h=365&amp;tok=9fdc6f&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fsmtp_pro_self_test.png" class="media" alt="" width="800" height="365" />
</p>
<ul>
<li class="level1"><div class="li"> After Self Test  succeed, Try to place sample test order from website and check mail headers. Mails must come from sendgrid.</div>
</li>
</ul>

<p>
Done.
</p>

</div>
<!-- EDIT1 SECTION "Setup Sendgrid for Transactional mailing" [18-] -->