
<p>
Login to MSSQL server with sa account. 
</p>

<p>
Execute below set of command.
</p>
<ol>
<li class="level1"><div class="li"> use master</div>
</li>
<li class="level1"><div class="li"> go</div>
</li>
<li class="level1"><div class="li"> create LOGIN webuser14 with password=&#039;UwyZpTp2392Zpo&#039;</div>
</li>
<li class="level1"><div class="li"> go</div>
</li>
<li class="level1"><div class="li"> use SQLDB12</div>
</li>
<li class="level1"><div class="li"> go</div>
</li>
<li class="level1"><div class="li"> create user webuser14</div>
</li>
<li class="level1"><div class="li"> grant SELECT, INSERT, UPDATE, DELETE on dbo.Web_Integration TO webuser14</div>
</li>
<li class="level1"><div class="li"> go</div>
</li>
</ol>

<p>
Where webuser14 is new user, UwyZpTp2392Zpo is password for the same.
</p>

<p>
It will provide read/write access on Web_Integration table of DB SQLDB12
</p>

<p>
So amend them accordingly to your needs.
</p>
