
<p>
Create a .htaccess file in application directory and copy the content below.
</p>

<p>
RewriteCond %{HTTPS} !=on<br/>

RewriteRule .* <a href="https://%" class="urlextern" title="https://%" rel="nofollow">https://%</a>{SERVER_NAME}%{REQUEST_<abbr title="Uniform Resource Identifier">URI</abbr>} [R,L]<br/>

RewriteEngine On<br/>

</p>
