
<p>
Email archiving
</p>

<p>
Login as root in the server and open the file /etc/cpanel_exim_system_filter. Add the following lines in the file at the end:
<pre class="code">if first_delivery
and ( (&quot;$h_from:&quot; contains &quot;&lt;domain.com&gt;&quot;)
or (&quot;$h_to:&quot; contains &quot;&lt;domain.com&gt;&quot;)
)
then
unseen deliver &quot;&lt;archive@domain.com&gt;&quot;
endif</pre>

</p>

<p>
Finally, we need to modify the default Exim filter file in the WHM so that this new file is used. Go to Main » Service Configuration » Exim Configuration Editor and modify the System Filter File line and save.
</p>
