
<p>
<strong>Prerequisites : Reseller or root access of source server and root access of destination server</strong>
</p>

<p>
Step 1 : Login to WHM Server (source i.e. from where you want to backup the cpanel account). 
</p>

<p>
Step 2 : Find your cpanel account by browsing to “Home »Account Information »List Accounts”.
</p>

<p>
Step 3 : Open the cpanel by clicking on the cpanel icon in front of your Domain name.
</p>

<p>
Step 4 : On the newly opened cpanel tab, Click on the &#039;Backup Wizard&#039; under &#039;Files&#039; section.
</p>

<p>
Step 5: Then click on the “Backup –&gt;” option.
</p>

<p>
Step 6: Then click on the “Full Backup” option.
</p>

<p>
Step 7 : Fill up the blanks as per your requirement. Mostly , it is done by SCP, sample is given below.
</p>

<p>
Backup Destination: SCP
Email Address: YOUR_EMAIL_ADDRESS_TO_NOTIFY_THE_STATUS_OF_BACKUP_PROCESS
Remote Server: IP_OF_DESTINATION_SERVER
Remote User: root
Remote Password: root&#039;s password
Port: SSH_PORT (22)
Remote Directory: /root
</p>

<p>
Step 8: After filling up the required fields, click on “Generate Backup” button.
</p>

<p>
Step 9: Click on Go Back“ or now you can logout the cpanel account. You will receive an email notification on your mentioned email ID after backup has been completed.
</p>

<p>
Step 10: Now, to restore the backup, login to WHM server (Destination).
</p>

<p>
Step 11 : Go to “Home »Backup »Restore a Full Backup/cpmove File” OR type “cpmove” in the search bar of the WHM panel and then click on “Restore a Full Backup/cpmove File”.
</p>

<p>
Step 12: Under Transfer Method, Select “Restore with Username”.
</p>

<p>
Step 13: Don&#039;t bother with Check on “Restricted Restore”. It is already checked by default.
</p>

<p>
Step 14: Under Transfer Method, select “Restore with Username”.
</p>

<p>
Step 15: From the drop down menu of “Username for the account that you wish to restore:”, you need to scroll down &amp; select that particular account you want to migrate on this (destination) WHM server from the older (source) WHM server.
</p>

<p>
Step 16: Check on the “Replace all instances of the original server’s IP address with the new IP address, such as in custom A records (default).”
</p>

<p>
Step 17: Then click on “Restore” option at the bottom.
</p>

<p>
Step 18: On the next window, you will see the progress of the restoration process.
</p>

<p>
Step 19 : Alternatively, you may close this window and view the transfer on the command line:
/usr/local/cpanel/bin/view_transfer TRANSFER_ID
For example, /usr/local/cpanel/bin/view_transfer 4325291217quick20150818072802rOBwjus
</p>

<p>
Step 20 : Now , browse to “Home »Account Information »List Accounts” and search your just migrated cpanel account, it should be there.
</p>
