
<p>
Requirements
</p>

<p>
A registered domain name with valid A <abbr title="Domain Name System">DNS</abbr> records to point back to server public IP Address.
Nginx web server installed with SSL enabled and Virtual Hosts enabled (only for multiple domains or subdomains hosting).
</p>

<p>
If Nginx is already running, stop the daemon with the following command and run ss utility to confirm that port 80 is no longer in use in network stack.
</p>

<p>
#Stop nginx
<pre class="code">service nginx stop</pre>

</p>

<p>
#Check if port 80 is no longer used.
<pre class="code">ss -tln</pre>

</p>

<p>
Install git (If not already installed)
<pre class="code">yum install git</pre>

</p>

<p>
#Clone lets encrypt.
<pre class="code">cd /opt
git clone https://github.com/letsencrypt/letsencrypt</pre>

</p>

<p>
#Change directory to lets encrypt.
<pre class="code">cd letsencrypt/ 

./letsencrypt-auto certonly --standalone -d your_domain.tld -d www.yourdomain.tld</pre>

</p>

<p>
Append Below Parameters in your virtualhost file(/etc/nginx/conf.d/defaults.conf) or in fastcgi_params file (/etc/nginx/fastcgi_params). Make sure to include them in your nginx virtual host file.
</p>

<p>
<pre class="code">include        fastcgi_params;</pre>

</p>

<p>
<pre class="code">fastcgi_param   HTTPS               on;
fastcgi_param   HTTP_SCHEME         https;</pre>

</p>

<p>
Add SSL conf nginx excerpt:
<pre class="code"># SSL configuration
listen 443 ssl default_server;
ssl_certificate /etc/letsencrypt/live/your_domain.tld/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/your_domain.tld/privkey.pem;
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers &#039;EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH&#039;;</pre>

</p>

<p>
Restart nginx
<pre class="code">service nginx restart</pre>

</p>

<p>
<pre class="code">
if ($scheme = http) {
       return 301 https://$server_name$request_uri;
      }
      
      </pre>

</p>
