
<h1 class="sectionedit1" id="ip_conntrack_table_full_dropping_packet">ip_conntrack table full, dropping packet</h1>
<div class="level1">

<p>
<pre class="code">vi /etc/sysctl.conf
net.ipv4.ip_conntrack_max=&lt;increased_limit&gt;
to see present limit set:
cat /proc/sys/net/ipv4/ip_conntrack_max
to see current active connections:
wc -l /proc/net/ip_conntrack </pre>

</p>

<p>
To see details of all IP&#039;s making connections:
</p>

<p>
cat /proc/net/ip_co
</p>

<p>
nntrack | grep tcp|awk &#039;
</p>

<p>
Unknown macro: {print $5}
&#039;|uniq -dc
</p>

</div>
