
<h1 class="sectionedit1" id="interspire_setup">Interspire Setup</h1>
<div class="level1">

<p>
NOTE: Download interspire backup from this ( mantragrid.com/interspire/interspire_working_backup_with_sql.tar.gz ) link. It will work with Virtualmin panel. Follow this ( <a href="http://wiki.mantraventures.com/virtualmin_installation" class="urlextern" title="http://wiki.mantraventures.com/virtualmin_installation" rel="nofollow">http://wiki.mantraventures.com/virtualmin_installation</a> ) to install Virtualmin Panel.
</p>
<ol>
<li class="level1"><div class="li"> <a href="/preinstall_instructions" class="wikilink1" title="preinstall_instructions">Preinstall Instructions</a></div>
</li>
<li class="level1"><div class="li"> First Check the server IP reputation at <a href="http://mxtoolbox.com/blacklists.aspx" class="urlextern" title="http://mxtoolbox.com/blacklists.aspx" rel="nofollow">http://mxtoolbox.com/blacklists.aspx</a> if all fine then proceed.</div>
</li>
<li class="level1"><div class="li"> Upload email613.zip file in public_html</div>
</li>
<li class="level1"><div class="li"> Extract email613.zip</div>
</li>
<li class="level1"><div class="li"> Create a database named user_email i.e. s1example_email</div>
</li>
<li class="level1"><div class="li"> Add users to your database</div>
</li>
<li class="level1"><div class="li"> Goto the site i.e. s1.example.com</div>
</li>
<li class="level1"><div class="li"> If there is some error due to file permissions then change permissions accordingly.</div>
</li>
<li class="level1"><div class="li"> Now enter the details of database you created</div>
</li>
<li class="level1"><div class="li"> NOTE: Also create an “return@domain.com” id in selected Virtual server if not exist.</div>
</li>
</ol>
<pre class="code">Note: To change the database connectivity if you migrate the existing setup to another location. \\               /admin/includes/config.php</pre>

<p>
<strong>NOTE remove admin/com/storage/template-cache after installation </strong>
</p>
<ol>
<li class="level1"><div class="li"> Now login with the “password” you created for admin</div>
</li>
<li class="level1"><div class="li"> Goto Settings and then Bounce settings</div>
</li>
<li class="level1"><div class="li"> Select default bounce details.</div>
</li>
<li class="level1"><div class="li"> Create bounce email address on server from vesta control panel(if installed).</div>
</li>
<li class="level1"><div class="li"> Add the default email address created for user i.e. s1example@s1.example.com</div>
</li>
<li class="level1"><div class="li"> Now run the “test bounce setting” to check whether it is working or not</div>
</li>
<li class="level1"><div class="li"> Now goto Settings and then Cron setting</div>
</li>
<li class="level1"><div class="li"> Select “I want to enable cron setting”</div>
</li>
<li class="level1"><div class="li"> Copy the cron command to run from interspire to Cron in cPanel/Webmin/DA and configure cron to run every 1 min</div>
</li>
<li class="level1"><div class="li"> Goto Settings and then Private Label</div>
</li>
<li class="level1"><div class="li"> Remove all the text from the boxes and upload the new logo and favicon</div>
</li>
<li class="level1"><div class="li"> Set Max hourly limit under Settings &gt; Email settings.</div>
</li>
<li class="level1"><div class="li"> Create a test contact list, test campaign and check delivery.</div>
</li>
<li class="level1"><div class="li"> make following changes in Cron setting <br/>
Bounce Processing - Daily <br/>
Schedule Sending - 1 min rest all disable</div>
</li>
<li class="level1"><div class="li"> Create a new user group and assign all the privileges <strong>except Administrator Permissions</strong></div>
</li>
<li class="level1"><div class="li"> Now create a new user with above user group.</div>
</li>
</ol>

<p>
<strong>NOTE:- ADD Following in /etc/exim.conf while setting up on DirectAdmin. </strong>
</p>

<p>
<strong>untrusted_set_sender = * </strong>
</p>

<p>
<strong>no_local_from_check </strong>
</p>

<p>
<pre class="code">  Extra
- Change A-entry for the sub-domain i.e. s1.example.com
- Put robots.txt file in main directory i.e. example.com/robots.txt
- Recompile Apache with MBSTRING (otherwise upload contact lists won&#039;t work)</pre>

</p>

<p>
Download interspire from <a href="http://sahilchugh.com/email610.zip" class="urlextern" title="http://sahilchugh.com/email610.zip" rel="nofollow">http://sahilchugh.com/email610.zip</a>
</p>

<p>
Download interspire from <a href="http://magehost.com/email613.zip" class="urlextern" title="http://magehost.com/email613.zip" rel="nofollow">http://magehost.com/email613.zip</a> (Latest)
</p>

</div>
