
<p>
Change the following details according to requirement -
</p>

<p>
domain=“test.com”
</p>

<p>
policyd_limit_emails=200
</p>

<p>
policyd_limit_time=3600
</p>

<p>
emailDetails=tech@mantraventures.com
</p>

<p>
Login as root user. Install vim and screen if not already installed.
</p>

<p>
<pre class="code">cd /root

touch /root/autopolicyd.log

chmod 777 /root/autopolicyd.log</pre>

</p>

<p>
Create a file autopolicyd.sh and copy shell script in this file.
</p>

<p>
<pre class="code">vim autopolicyd.sh</pre>

</p>

<p>
Go to insert mode.
</p>

<p>
Copy whole script from <a href="http://wiki.mantraventures.com/zimbra/auto_policyd_script" class="urlextern" title="http://wiki.mantraventures.com/zimbra/auto_policyd_script" rel="nofollow">http://wiki.mantraventures.com/zimbra/auto_policyd_script</a> and paste it in the file (autopolicyd.sh) created.
</p>

<p>
Save and exit (:wq)
</p>

<p>
<pre class="code">chmod +x autopolicyd.sh

screen

sh autopolicyd.sh | tee -a /root/autopolicyd.log</pre>

</p>

<p>
Let the installation complete. Details will be emailed.
</p>

<p>
If there is some problem in getting email, you can also check the details by following command -
</p>

<p>
<pre class="code">tail -6 /root/autopolicyd.log</pre>

</p>
