
<p>
How to Create database and User in MSSQL.
</p>

<p>
Step-1 Login in MSSQL Management Studio via “Windows Authentication”
</p>

<p>
<br/>

<a href="/lib/exe/fetch.php?tok=aa6c3c&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-1.png" class="media" title="http://wiki.mantraventures.com/_media/windows/step-1.png"><img src="/lib/exe/fetch.php?w=1366&amp;h=768&amp;tok=c0dce5&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-1.png" class="media" alt="" width="1366" height="768" /></a>
</p>

<p>
Step-2 Create Database - right-click on “Databases”, and select “New Database…”.
</p>

<p>
<img src="/lib/exe/fetch.php?w=1366&amp;h=768&amp;tok=ae92cd&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-2.png" class="media" alt="" width="1366" height="768" />
</p>

<p>
Step-3 In this window, find the textbox labeled “Database name:” and write “TestDatabase”. After this, click “OK” to create the new database.
</p>

<p>
<img src="/lib/exe/fetch.php?w=1366&amp;h=768&amp;tok=b2a4d2&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-3.png" class="media" alt="" width="1366" height="768" />
</p>

<p>
Step-4 Create New User - Right-click on the folder named “Logins” and select “New Login”.
</p>

<p>
<img src="/lib/exe/fetch.php?w=1366&amp;h=768&amp;tok=07c43d&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-4.png" class="media" alt="" width="1366" height="768" />
</p>

<p>
Step-5 Type “mytestuser”. Select the radio button labeled “SQL Server authentication”. In the Password boxes, type “password”.<br/>

Note: Make sure the following three checkboxes are selected: “Enforce password policy”, “Enforce password expiration”, and “User must change password at next login”. Select Database from Drop Down Box.
</p>

<p>
<br/>

<img src="/lib/exe/fetch.php?w=1366&amp;h=738&amp;tok=9ea4e2&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-5.png" class="media" alt="" width="1366" height="738" />
</p>

<p>
Step-6 New User&#039;s Role- Click on User Mapping - Check your Database and click on “db_owner” ok Buton
</p>

<p>
<img src="/lib/exe/fetch.php?w=1365&amp;h=732&amp;tok=bb6cc8&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-6.png" class="media" alt="" width="1365" height="732" />
</p>

<p>
Step -7 Follow the Command to hide other databases one by one.
</p>

<p>
<img src="/lib/exe/fetch.php?w=1366&amp;h=768&amp;tok=86b3e9&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fwindows%2Fstep-8.png" class="media" alt="" width="1366" height="768" />
</p>
