
<h1 class="sectionedit1" id="windows_license_reactivate">Windows license reactivate</h1>
<div class="level1">

<p>
To reactivate the window license follow below link.
</p>

<p>
<a href="http://technet.microsoft.com/en-us/library/ff793433.aspx" class="urlextern" title="http://technet.microsoft.com/en-us/library/ff793433.aspx" rel="nofollow">http://technet.microsoft.com/en-us/library/ff793433.aspx</a>
</p>

</div>
