
<p>
To disable IPv6 on RHEL6 / CentOS 6 
</p>

<p>
1. Edit /etc/sysctl.conf and add
</p>

<p>
net.ipv6.conf.all.disable_ipv6 = 1
</p>

<p>
2. open /etc/sysconfig/network and set 
</p>

<p>
NETWORKING_IPV6=no
</p>

<p>
3. Edit /etc/sysconfig/network-scripts/ifcfg-eth0 and set 
</p>

<p>
IPV6INIT=”no”
</p>

<p>
4. disable iptables6 – chkconfig –level 345 ip6tables off (if ip6tables are installed)
</p>

<p>
NOTE: you need to restart the machine after making changes
</p>
