
<p>
If you’re using Outlook and getting the the following error message when you try to collect your email, read below for a couple of possible solutions to the problem:
</p>

<p>
“The server you are connected to is using a security certificate that cannot be verified. The target principal name is incorrect”“The target principle name is incorrect””Do you want to continue using this server?”
</p>

<p>
The cause of the problem
This problem is caused when the POP3 address (email collection) doesn’t match the SSL certificate that is being used.
</p>

<p>
The solution to the problem
</p>
<ol>
<li class="level1"><div class="li"> Open Outlook</div>
</li>
<li class="level1"><div class="li"> Click File –&gt; Account Setting–&gt; </div>
</li>
<li class="level1"><div class="li"> Highlight the email account you are having trouble with and press ‘Change’</div>
</li>
<li class="level1"><div class="li"> From the ‘Change e-mail account’ page click on ‘More settings’</div>
</li>
<li class="level1"><div class="li"> From the ‘Internet email settings’ page choose the ‘advanced’ tab</div>
</li>
<li class="level1"><div class="li"> Un-tick the ‘This server requires authentication’ option</div>
</li>
<li class="level1"><div class="li"> click ‘OK’, then ‘next’ then ‘Finish’</div>
</li>
</ol>

<p>
Image attached for reference of step no. 6.
</p>
