
<h1 class="sectionedit1" id="mount_hard_disk_of_xen-hvmkvm_vps">Mount hard disk of Xen-HVM/KVM VPS</h1>
<div class="level1">

<p>
# kpartx -av /dev/VolGroup00/&lt;vmname_img&gt; <br/>

# vgscan
</p>

<p>
Both Volume Groups of host and guest will have same name - VolGroup00. So, rename guest VolGroup:
</p>

<p>
# vgrename &lt;uuid&gt; VolGroup&lt;XX&gt; <br/>

uuid of VolGroups you can check in vgdisplay
</p>

<p>
Then:
</p>

<p>
# lvscan <br/>

# vgchange -ay VolGroup&lt;XX&gt; <br/>

# lvscan
</p>

<p>
Then mount:
</p>

<p>
# mount /dev/VolGroup&lt;XX&gt;/LogVol00 /mnt
</p>

<p>
Finally, the backward process is:
</p>

<p>
# umount /mnt <br/>

# vgchange -an VolGroup&lt;XX&gt; <br/>

# kpartx -dv /dev/VolGroup00/&lt;vmname_img&gt;
</p>

<p>
NOTE: There will be need to change the Volume group name of guest back to VolGroup00 for it to run. For achieving this, rename the host VolumeGroup name to something else first and then change guest&#039;s Volume Group name to VolGroup00. Then perform the backward process steps and after that you can easily switch the host&#039;s Volume Group name to VolGroup00.
</p>

</div>
