
<h1 class="sectionedit1" id="check_if_there_is_ddos_attack_on_server">Check if there is DDoS attack on server</h1>
<div class="level1">

<p>
 Use the following command:
<pre class="code">netstat -anp | grep &#039;tcp\|udp&#039; | awk &#039;{print$5}&#039; | cut -d: -f1 | sort | uniq -c | sort -n</pre>

</p>

<p>
This will show the number of connections from each IP address. The number should not be more than 15-20 in general.
</p>

</div>
