
<h1 class="sectionedit1" id="install_cpanel_on_new_server">Install cPanel on new server</h1>
<div class="level1">

<p>
Since the server is fresh, we need to install everything from the scratch.
</p>

<p>
1. Run the command below to install screen utility
</p>

<p>
yum -y install screen perl wget
</p>

<p>
2. Login as root in the server and type the following commands:
</p>

<p>
screen<br/>

cd /home<br/>

wget -N <a href="http://layer1.cpanel.net/latest" class="urlextern" title="http://layer1.cpanel.net/latest" rel="nofollow">http://layer1.cpanel.net/latest</a><br/>

sh latest<br/>

<br/>

After cPanel installation is complete, type the following commands for adding some Plugins:
</p>

<p>
1. <strong>For Mail Queue Manager:</strong>
</p>

<p>
rm -fv cmq.tgz<br/>

wget <a href="http://www.configserver.com/free/cmq.tgz" class="urlextern" title="http://www.configserver.com/free/cmq.tgz" rel="nofollow">http://www.configserver.com/free/cmq.tgz</a><br/>

tar -xzf cmq.tgz<br/>

cd cmq<br/>

sh install.sh<br/>

cd ..<br/>

rm -Rfv cmq/ cmq.tgz
</p>

<p>
2.<strong>For Mail Account Manager:</strong>
</p>

<p>
rm -fv cmm.tgz<br/>

wget <a href="http://www.configserver.com/free/cmm.tgz" class="urlextern" title="http://www.configserver.com/free/cmm.tgz" rel="nofollow">http://www.configserver.com/free/cmm.tgz</a><br/>

tar -xzf cmm.tgz<br/>

cd cmm<br/>

sh install.sh<br/>

cd ..<br/>

rm -Rfv cmm/ cmm.tgz
</p>

<p>
3.<strong>CSF:</strong>
</p>

<p>
rm -fv csf.tgz<br/>

wget <a href="http://www.configserver.com/free/csf.tgz" class="urlextern" title="http://www.configserver.com/free/csf.tgz" rel="nofollow">https://download.configserver.com/csf.tgz</a><br/>

tar -xzf csf.tgz<br/>

cd csf<br/>

sh install.sh
</p>

<p>
Next, test whether you have the required iptables modules:
</p>

<p>
perl /etc/csf/csftest.pl
</p>

<p>
After installing these Plugins, type the following for crontab:
</p>

<p>
chmod 4755 /usr/bin/crontab
</p>

<p>
After all these steps, login to the WHM by typing the following as <abbr title="Uniform Resource Locator">URL</abbr>:
</p>

<p>
<a href="http://IP:2086" class="urlextern" title="http://IP:2086" rel="nofollow">http://IP:2086</a>
</p>

<p>
Follow the steps given in Initial Installation. use “server@mantraventures.com” for server contact field.
</p>

<p>
<strong>Disable test mode of firewall and start it.</strong>
</p>

<p>
Also, goto Manage Plugins option in WHM and add the following:
</p>

<p>
1. <strong>Munin</strong> <br/>

2. <strong>CronConfig</strong>
</p>

<p>
<strong>Recompile Apache with following:</strong>
</p>

<p>
Mbstring<br/>

GD Library<br/>

MySQL-i<br/>

PDO<br/>

PDO MySQL<br/>

TTF
</p>

<p>
<strong>Removing https redirection</strong> Goto Main » Server Configuration » Tweak Settings in Security section and turn off the “Require SSL”
</p>

<p>
<strong>Start Cron</strong>
</p>

<p>
/etc/init.d/crond start<br/>

chkconfig crond on
</p>

<p>
<strong>Change following in /etc/exim.conf and restart exim</strong>
<pre class="code">    deliver_queue_load_max = 10
    queue_only_load = 12</pre>

</p>

<p>
<strong>For Best Practices Of Cpanel Server (Hardening cpanel server) follow <a href="/cpanel_guide/cpanel_hardening" class="wikilink1" title="cpanel_guide:cpanel_hardening">Hardening Of Cpanel Server</a> </strong>
</p>

</div>
