
<p>
<a href="/mysql_logging_enable" class="wikilink1" title="mysql_logging_enable">Mysql Logging enable</a>
</p>

<p>
<a href="/got_a_packet_bigger_than_max_allowed_packet_bytes" class="wikilink1" title="got_a_packet_bigger_than_max_allowed_packet_bytes">Got a packet bigger than ‘max_allowed_packet’ bytes</a>
</p>

<p>
<a href="/automatic_mysql_backups" class="wikilink1" title="automatic_mysql_backups">Automatic MySQL backups</a>
</p>

<p>
<a href="/change_mysql_root_password" class="wikilink2" title="change_mysql_root_password" rel="nofollow">Change mysql root password</a>
</p>

<p>
<a href="/mysql_table_crashed_solution" class="wikilink1" title="mysql_table_crashed_solution">Mysql table crashed solution</a>
</p>

<p>
<a href="/setting_up_mysql_replication" class="wikilink1" title="setting_up_mysql_replication">Setting Up MySQL replication</a>
</p>

<p>
<a href="/take_ms_sql_backup_from_commandline" class="wikilink1" title="take_ms_sql_backup_from_commandline">Take MS SQL backup from commandline</a>
</p>
