
<p>
<em class="u"><strong>ELK</strong></em> : is an opensource tool for log aggregation &amp; analytics. ELK is abbreviation for Elasticsearch, Logstash &amp; Kibana, its main components.
</p>

<p>
<strong>Elasticsearch</strong> : Built on top of Apache Lucene. It is no sql based, real time search engine (search server) &amp; analytic with focus of real time data analysis. It is based on RESTful architecture. It can store everything in it as JSON.
</p>

<p>
<strong>Logstash</strong> : Log shipper &amp; parser. It is a pipelinging tool. Simply, it is responsible for shipping, processing &amp; storing the output in elasticsearch.
</p>

<p>
<strong>Kibana</strong> : Browser/UI based Analytic tool. It is used to view, search &amp; visualize log data present in data storage (i.e. elasticsearch).
</p>

<p>
<em><strong>Note</strong> : All ELK components require JDK (i.e. Java Development Kit).</em>
</p>

<p>
ELK is highly scalable.
</p>

<p>
<em>Components on ELK Server </em>:
</p>

<p>
1. java<br/>

2. elasticsearch<br/>

3. kibana<br/>

4. logstash
</p>

<p>
<em>Component on Client side</em> :
</p>

<p>
5. Logstash forwarder : FileBeat (A log forwarding tool that transmits logs to logstash server.)
</p>

<p>
Next : <a href="http://wiki.mantraventures.com/elk/how-elk-works" class="urlextern" title="http://wiki.mantraventures.com/elk/how-elk-works" rel="nofollow">How ELK works ?</a>
</p>
