
<h1 class="sectionedit1" id="reboot_-_reinstall_vps_through_hyperv_or_solusvm">Reboot - Reinstall VPS through HyperV or SolusVm</h1>
<div class="level1">

<p>
Reboot
</p>

<p>
This is the first step one should do when one faces any problem related to the vps whether it is not loading/slow etc.
</p>

<p>
1) Enter in your browser the <abbr title="Uniform Resource Locator">URL</abbr>: &lt;IP&gt;/admincp
</p>

<p>
ex: 184.115.217.001/admincp
</p>

<p>
2) Login with given id and password
</p>

<p>
3) Move your cursor to the Virtual servers icon and click on list virtual servers
</p>

<p>
4) Check which IP you want to reboot and click the manage button
</p>

<p>
5) The new page shows few buttons, click on reboot. Your vps is rebooted( rebooting takes max 2 min depending on the load on the server)
</p>

<p>
Reinstall
</p>

<p>
1) Repeat step 1-4 from reboot
</p>

<p>
2) The new page shows few buttons, click on reinstall. A drop down appears select the particular <abbr title="Operating System">OS</abbr> and clik on reinstall.
</p>

<p>
You are done!!!
</p>

</div>
