
<h1 class="sectionedit1" id="remove_the_recording_options_section_from_extension_page_and_force_recording_for_all_users">Remove the &quot;Recording Options&quot; section from extension page and force recording for all users</h1>
<div class="level1">

<p>
1) Open the file /var/www/html/admin/modules/core/functions.inc.php.
</p>

<p>
2) Edit the following section:
<pre class="code">Before Edit

--------------------------------------------------------------------------------------------------------------------------------

$section = _(&quot;Recording Options&quot;);

                $currentcomponent-&gt;addguielem($section, new gui_selectbox(&#039;record_in&#039;, $currentcomponent-&gt;getoptlist(&#039;recordoptions&#039;), $record_in, _(&quot;Record Incoming&quot;), _(&quot;Record all inbound calls received at this extension.&quot;), false));

                $currentcomponent-&gt;addguielem($section, new gui_selectbox(&#039;record_out&#039;, $currentcomponent-&gt;getoptlist(&#039;recordoptions&#039;), $record_out, _(&quot;Record Outgoing&quot;), _(&quot;Record all outbound calls received at this extension.&quot;), false));

--------------------------------------------------------------------------------------------------------------------------------

 

After Edit:

--------------------------------------------------------------------------------------------------------------------------------

//$section = _(&quot;Recording Options&quot;);

$currentcomponent-&gt;addguielem($section, new gui_hidden(&#039;record_in&#039;, &quot;Always&quot;));

$currentcomponent-&gt;addguielem($section, new gui_hidden(&#039;record_out&#039;, &quot;Always&quot;));

--------------------------------------------------------------------------------------------------------------------------------

 

 

3) Lock the file so that updates don&#039;t affect customizations:

chattr +aui /var/www/html/admin/modules/core/functions.inc.php  </pre>

</p>

</div>
