
<h1 class="sectionedit1" id="interspire_bounce_processing_test_does_not_work_imap-issue_with_directadmin">Interspire Bounce processing test does not work (IMAP-issue) with DirectAdmin</h1>
<div class="level1">

<p>
yum -y install krb5-devel
</p>

<p>
yum -y install libc-client-devel libc-client
</p>

<p>
Then:
</p>

<p>
1: Go to the DA custombuild directory
</p>

<p>
cd /usr/local/directadmin/custombuild
</p>

<p>
2: Edit configure/ap2/configure.php5
</p>

<p>
nano configure/ap2/configure.php5
</p>

<p>
3: Add the next 2 lines at the end of the file. Be sure that ONLY the last options have no “\” at the end and save (CTRL-O) and quit (CTRL-Q)
</p>

<p>
–with-imap \
</p>

<p>
–with-imap-ssl
</p>

<p>
4: Re-compilling PHP
</p>

<p>
./build php n
</p>
<hr />

<p>
If following error comes, then use given commands:
Error - configure: error: Cannot find imap library (libc-client.a). Please check your c-client installation.
</p>

<p>
1. yum install libc-client libc-client-devel<br/>

2. yum install krb5-appl-clients.x86_64<br/>

yum install krb5-appl-servers.x86_64<br/>

yum install -y pam-devel libc-client libc-client-devel<br/>

</p>

<p>
3. cd /usr/local <br/>

<a href="ftp://ftp.cac.washington.edu/imap/imap-2007e.tar.Z" class="urlextern" title="ftp://ftp.cac.washington.edu/imap/imap-2007e.tar.Z" rel="nofollow">ftp://ftp.cac.washington.edu/imap/imap-2007e.tar.Z</a> <br/>

tar xvzf imap-2007e.tar.Z <br/>

cd imap-2007e <br/>

4. Edit the 2 files src/osdep/unix/os_art.c and src/osdep/unix/os_sv2.c and replace the value of “FD_SETSIZE” from 256 to 32768. <br/>

5. ln -s /usr/lib64/openssl/engines/ /usr/local/ssl <br/>

ln -s /usr/include/ /usr/local/ssl/include <br/>

6. make lnp SSLTYPE=unix EXTRACFLAGS=-fPIC <br/>

7. mkdir lib <br/>

mkdir include <br/>

cp c-client/*.c lib/ <br/>

cp c-client/*.h include/ <br/>

cp c-client/c-client.a lib/libc-client.a <br/>

8. cd /usr/local/directadmin/custombuild <br/>

vi configure/ap2/configure.php5 <br/>

Add the following line: –with-imap=/usr/local/imap-2007e <br/>

9. ./build php n <br/>

</p>

</div>
