
<h1 class="sectionedit1" id="xen_setup_on_hetzner">Xen setup on Hetzner</h1>
<div class="level1">

<p>
Edit the eth0 file:
</p>

<p>
vi /etc/sysconfig/network-scripts/ifcfg-eth0
</p>

<p>
Make the following changes:
</p>

<p>
1) Comment out the broadcast setting - #BROADCAST=X.X.X.X
</p>

<p>
2) Change netmask to 255.255.255.255
</p>

<p>
<pre class="code">Now, edit the file: /etc/sysctl.conf

net.ipv4.ip_forward=1
net.ipv4.conf.all.rp_filter=1
net.ipv4.icmp_echo_ignore_broadcasts=1
net.ipv4.conf.default.proxy_arp=1

 

Edit file: /etc/xen/scripts/vif-common.sh:

Make the following changes:

Comment out the original line like so:
# ip addr show &quot;$1&quot; | awk &quot;/^.*inet.*$1$/{print $2}&quot; | sed -n &#039;1 s,/.*,,p&#039;
And insert the following line below the commented out one:
ip -4 -o addr show primary dev $1 | awk &#039;$3 == &quot;inet&quot; {print $4; exit}&#039; | sed &#039;s#/.*##&#039;

 

Edit file: /etc/xen/xend-config.sxp

Make the following changes:

Comment out:

#(network-script network-bridge)
#(vif-script vif-bridge)

And add:

(network-script &#039;network-route netdev=eth0&#039;)
(vif-script vif-route)

Reboot the Dom0(Main machine)

 

Then create the VM and make following changes:

CentOS:

Add this to ifcfg-eth0 file:

SCOPE=&quot;peer &lt;IP Address of Host&gt;&quot;

And create a new file &quot;route-eth0&quot; in /etc/sysconfig/network-scripts/ with following:

ADDRESS0=0.0.0.0

NETMASK0=0.0.0.0

GATEWAY0=&lt;IP Address of Host&gt;

 

Ubuntu:

Add this to /etc/network/interfaces:

pointopoint &lt;IP Address of host&gt;

 

Lock the ifcfg-eth0 file (in DomU):

chattr +aui /etc/sysconfig/network-scripts/ifcfg-eth0

 

That&#039;s it! Now you can ping any external network from your VM!! </pre>

</p>

</div>
