
<p>
Retrieve LDAP login for Zimbra
</p>
<pre class="code">  su zimbra</pre>
<pre class="code">  zmlocalconfig -s | grep ldap_amavis_password</pre>
<pre class="code">  zmlocalconfig -s | grep ldap_nginx_password</pre>
<pre class="code">  zmlocalconfig -s | grep ldap_postfix_password</pre>
<pre class="code">  zmlocalconfig -s | grep ldap_replication_password</pre>
<pre class="code">  zmlocalconfig -s | grep ldap_root_password</pre>
<pre class="code">  zmlocalconfig -s | grep zimbra_ldap_password</pre>
