
<p>
External
<pre class="code">Project Name: 5-10 words

Project Image: Optional

Project Description: 50-100 words

Project Tasks: To be broken down in as many points as possible

What client can expect: The result or output of the project.

Client Deliverables: A list of things required from client before project initiation.

Price: The amount that client has to pay for this project.</pre>

</p>

<p>
Internal
<pre class="code">Estimated Time: An approximate idea of the time required to complete the project.

Reference link: Link to the wiki article</pre>

</p>
