
<p>
To create a virtual directory using IIS Manager
</p>

<p>
1. In IIS Manager, expand the local computer, expand the <abbr title="File Transfer Protocol">FTP</abbr> Sites folder, expand the <abbr title="File Transfer Protocol">FTP</abbr> site to which you want to add a virtual directory, right-click the site or folder within which you wish to create the virtual directory, point to New, and then click Virtual Directory.
</p>

<p>
2. Click Next.
</p>

<p>
3. In the Alias box, type a name for the virtual directory, and click Next. This is the name the user types, and should be short and easy to type.
4. In the Directory box, type or browse to the physical directory in which the virtual directory resides, and click Next.
</p>

<p>
5. Under Allow the following permissions, select the check boxes next to the access permissions appropriate to your needs, and click Next.
</p>

<p>
6. Click Finish. The virtual directory is created below the currently selected folder level.
</p>
