
<p>
<a href="/ubuntu_server_12.04_installation_in_xen-hvm_through_iso" class="wikilink1" title="ubuntu_server_12.04_installation_in_xen-hvm_through_iso">Ubuntu Server 12.04 installation in XEN-HVM through ISO</a>
</p>

<p>
<a href="/xen-hvm_iso" class="wikilink1" title="xen-hvm_iso">Xen-HVM ISO</a>
</p>

<p>
<a href="/xen_partitioning_on_gpt_parted" class="wikilink1" title="xen_partitioning_on_gpt_parted">Xen partitioning on GPT(parted)</a>
</p>

<p>
<a href="/upgrade_or_downgrade_xen_pv_vm_hard_disk" class="wikilink1" title="upgrade_or_downgrade_xen_pv_vm_hard_disk">Upgrade or Downgrade Xen PV VM hard disk</a>
</p>

<p>
<a href="/upgrade_or_downgrade_ram_of_xen_pv_vm" class="wikilink1" title="upgrade_or_downgrade_ram_of_xen_pv_vm">Upgrade or Downgrade RAM of Xen PV VM</a>
</p>
