
<h1 class="sectionedit1" id="upgrade_or_downgrade_ram_of_xen_pv_vm">Upgrade or Downgrade RAM of Xen PV VM</h1>
<div class="level1">

<p>
1) Shutdown VM - xm shutdown vm&lt;id&gt;
</p>

<p>
2) Edit config file - vi /home/xen/vm&lt;id&gt;/vm&lt;id&gt;.cfg
</p>

<p>
Change the value of memory in the file.
</p>

<p>
3) Boot the VM - xm create /home/xen/vm&lt;id&gt;/vm&lt;id&gt;.cfg
</p>

<p>
DONE!!
</p>

</div>
