
<h1 class="sectionedit1" id="iptables_service_not_started_because_of_error_svc_run_except">iptables service not started because of error (SVC_RUN_EXCEPT)</h1>
<div class="level1">

<p>
1. Make the iptables state and nat modules accessible to containers.
</p>

<p>
Edit /etc/vz/vz.conf and add “ipt_state iptable_nat” to the end of the list of IPTABLES modules.
</p>

<p>
*NOTE: This needs to be done on the host node, not the individual VPS container.
</p>

<p>
2. Allow the container to open the TUN/TAP interface.  These steps specifically affect container ID 101.
</p>
<pre class="code"> vzctl set 101 --devices c:10:200:rw --save</pre>
<pre class="code"> vzctl set 101 --capability net_admin:on --save</pre>

<p>
3. These kernel modules and commands should be ran/installed on the host node before the container is started:
</p>
<pre class="code"> modprobe ipt_mark</pre>
<pre class="code"> modprobe ipt_MARK</pre>
<pre class="code"> modprobe tun</pre>

<p>
4. Now start the container:
</p>
<pre class="code"> vzctl start 101</pre>

<p>
5. After starting the container run these commands on the host node:
</p>
<pre class="code"> vzctl exec 101 mkdir -p /dev/net</pre>
<pre class="code"> vzctl exec 101 mknod /dev/net/tun c 10 200</pre>
<pre class="code"> vzctl exec 101 chmod 600 /dev/net/tun</pre>

</div>
