
<h1 class="sectionedit1" id="disable_dep_in_windows">Disable DEP in Windows</h1>
<div class="level1">

<p>
Right click on My Computer icon.
</p>

<p>
Select Properties.
</p>

<p>
Select Advanced System Settings.
</p>

<p>
Click on Settings under Performance.
</p>

<p>
Select Data Execution Prevention Tab.
</p>

<p>
Then select the option “Turn on DEP for essential Windows programs and services only”.
</p>

<p>
Click Apply and then restart the machine.
</p>

<p>
DONE!
</p>

</div>
