
<h1 class="sectionedit1" id="remove_domainsrecords_from_slave_automatically_when_deleted_from_master_powerdns">Remove domains/records from slave automatically when deleted from Master (PowerDNS)</h1>
<div class="level1">

<p>
<a href="/_media/pdns_slave_delete.txt" class="media mediafile mf_txt" title="pdns_slave_delete.txt (2.2 KB)">pdns_slave_delete.txt</a>
</p>

<p>
1) Login to shell of slave.
</p>

<p>
2) Create a new file pdns_clean.php with the content as given in the attachment (Pdns_slave_delete.txt)
</p>

<p>
Edit the details in the initial part of file to the one&#039;s of the slave. Keep testing mode as enabled to see if it works well.
</p>

<p>
3) When confirmed about its working, make the testing mode as disabled.
</p>

<p>
4) Now, add the script to cron jobs and let it be executed once a day.
</p>

</div>
