
<p>
Ticket ID: RNO-250-60440
</p>

<p>
CLIENT: Please arrange mail ID : copy@planmyroutes.com      to receive one copy of mail sent by following email ID.  gagan.deep@planmyroutes.com This email id only send on email internal please check and confirm   
</p>

<p>
SUPPORT: We have added gagan.deep@planmyroutes.com to allow sending mails to internal domains.
Also, the sent mails from gagan.deep@planmyroutes.com will be copied to copy@planmyroutes.com .
Kindly check &amp; confirm the same.
</p>
<div class="level1">

<p>
Step 1: Append the “gagan.deep@planmyroutes.com copy@planmyroutes.com” in “/opt/zimbra/postfix/conf/sender_bcc” file.
root@radicalminds:~# nano /opt/zimbra/postfix/conf/sender_bcc
gagan.deep@planmyroutes.com copy@planmyroutes.com
:wq
</p>

<p>
Step 2: Append “gagan.deep@planmyroutes.com       local_only” in “/opt/zimbra/postfix/conf/restricted_senders” file.
</p>

<p>
root@radicalminds:~# vi /opt/zimbra/postfix/conf/restricted_senders
</p>

<p>
gagan.deep@planmyroutes.com       local_only
:wq
</p>

<p>
Step 3: Switch to zimbra user.
root@radicalminds:~# su - zimbra
</p>

<p>
Step 4: Reload postfix service.
zimbra@radicalminds:~$ postfix reload
postfix/postfix-script: refreshing the Postfix mail system
zimbra@radicalminds:~$
</p>

<p>
Step 5: That&#039;s it.
</p>

<p>
— given below is history to refer -
</p>

<p>
root@radicalminds:~# nano /opt/zimbra/postfix/conf/sender_bcc
root@radicalminds:~# vi /opt/zimbra/postfix/conf/restricted_senders
root@radicalminds:~# su - zimbra
zimbra@radicalminds:~$ postfix reload
postfix/postfix-script: refreshing the Postfix mail system
zimbra@radicalminds:~$
</p>
<hr />

</div>
<div class="level1">

</div>
