
<h1 class="sectionedit1" id="install_squirrelmail_on_webmin_server">Install squirrelmail on webmin server</h1>
<div class="level1">

<p>
Login as root in the server and do the following:
</p>

<p>
$ yum install squirrelmail
</p>

<p>
Restart httpd(service httpd restart)
</p>

<p>
NOTE: If you installed SquirrelMail onto a Debian server then you may need to add this alias line to your apache conf file(/etc/httpd/conf/httpd.conf):
</p>

<p>
Alias /webmail/ “/usr/share/squirrelmail/”
</p>

<p>
Then, goto <a href="http://IP/webmail/index.php" class="urlextern" title="http://IP/webmail/index.php" rel="nofollow">http://IP/webmail/index.php</a>
</p>

<p>
Done!
</p>

</div>
