
<p>
Make sure your iptables support for statistic match module.
</p>
<pre class="code"> # iptables -m statistic -h
   ......
   ......
   ......
   statistic match options:
   --mode mode                    Match mode (random, nth)
   random mode:
   --probability p                 Probability
   nth mode:
   --every n                       Match every nth packet
   --packet p                      Initial counter value (0 &lt;= p &lt;= n-1, default 0)</pre>

<p>
Apply below iptables rule for rotating source IP addresses.   
</p>
<pre class="code"> # iptables -t nat -I POSTROUTING -m state --state NEW -p tcp --dport 25 -o eth0 -m statistic --mode nth --every 5 -j SNAT --to-source 202.XXX.XX.2
 # iptables -t nat -I POSTROUTING -m state --state NEW -p tcp --dport 25 -o eth0 -m statistic --mode nth --every 5 -j SNAT --to-source 202.XXX.XX.3
 # iptables -t nat -I POSTROUTING -m state --state NEW -p tcp --dport 25 -o eth0 -m statistic --mode nth --every 5 -j SNAT --to-source 202.XXX.XX.4
 # iptables -t nat -I POSTROUTING -m state --state NEW -p tcp --dport 25 -o eth0 -m statistic --mode nth --every 5 -j SNAT --to-source 202.XXX.XX.5
 # iptables -t nat -I POSTROUTING -m state --state NEW -p tcp --dport 25 -o eth0 -m statistic --mode nth --every 5 -j SNAT --to-source 202.XXX.XX.6</pre>

<p>
Note: 202.XXX.XX.2, 202.XXX.XX.4 etc. are your additional IP addresses, also make keep in mind main IP interface (here it&#039;s eth0)
</p>

<p>
<a href="http://www.kutukupret.com/2009/11/30/postfix-smtp-outgoing-ip-rotator-using-iptables/" class="urlextern" title="http://www.kutukupret.com/2009/11/30/postfix-smtp-outgoing-ip-rotator-using-iptables/" rel="nofollow">http://www.kutukupret.com/2009/11/30/postfix-smtp-outgoing-ip-rotator-using-iptables/</a>
</p>
