
<h1 class="sectionedit1" id="hardening_of_cpanel_server">Hardening Of Cpanel Server</h1>
<div class="level1">

<p>
<strong>1. In Home » Security Center:</strong>
</p>

<p>
- Password Strength Configuration - Set this value between 65-70.
</p>

<p>
- Shell Fork Bomb Protection - Enabled
</p>

<p>
- cPHulk Brute Force Protection - Enable
</p>

<p>
- Apache mod_userdir Tweak - Enable  ( Will Prevent opening site by entering a tilde(~) and their username as the uri on a specific host)
</p>

<p>
<strong> 2. Disable Identification Output for Apache </strong>
</p>

<p>
 a. Log into WHM and access the Apache Global Configuration feature (located at Home » Service Configuration » Apache Configuration » Global Configuration).
</p>

<p>
 b. Select Off (PCI Recommended) from the ServerSignature pull-down menu.
</p>

<p>
 c. Click Save. 
</p>

<p>
<strong> 3. Install chkrootkit </strong>
</p>

<p>
 a. Log into your server as the root user. 
</p>

<p>
 b. cd /root
</p>

<p>
 c. wget <a href="ftp://ftp.pangeia.com.br/pub/seg/pac/chkrootkit.tar.gz" class="urlextern" title="ftp://ftp.pangeia.com.br/pub/seg/pac/chkrootkit.tar.gz"  rel="nofollow">ftp://ftp.pangeia.com.br/pub/seg/pac/chkrootkit.tar.gz</a>
</p>

<p>
 d. tar -xvzf chkrootkit.tar.gz
</p>

<p>
 e. cd chkrootkit-XXXX
</p>

<p>
 f. make sense
</p>

<p>
 g. To run: /root/chkrootkit-XXX/chkrootkit
</p>

<p>
 h. Edit /usr/share/logwatch/default.conf/logwatch.conf:
</p>
<pre class="code">  MailTo = alerts@mantraventures.com
  Detail = 5</pre>

<p>
<strong> 4. Install ClamAV from Plugins </strong>
</p>

<p>
 a. Set a cronjob to be run on each Saturday night with following command:
</p>
<pre class="code">     &quot;for i in `awk &#039;!/nobody/{print $2 | &quot;sort | uniq&quot; }&#039; /etc/userdomains | sort | uniq`; do /usr/bin/clamscan -i -r /home/$i 2&gt;&gt;/dev/null; done &gt;&gt; /root/infections&amp;&quot;</pre>

<p>
<strong> 5. Disable these functions in PHP config: </strong>
</p>

<p>
- disable_functions = system, shell_exec, passthru, exec, phpinfo, popen, proc_open, show_source, dl, escapeshellarg, escapeshellcmd
</p>

<p>
<strong> 6. Enable Munin alerts for mail queue. </strong>
</p>

<p>
<strong> 7. Go to Home » SQL Services » MySQL Root Password </strong>
</p>

<p>
- Set MySQL password (Don’t set the same password like for the root access).
</p>

<p>
<strong> 8. Disable these functions in Apache config: </strong>
</p>

<p>
- Apache server signature turned off
</p>

<p>
- Disabled Directory Listing
</p>
<pre class="code">Add below in /etc/httpd/conf/httpd.conf and restart apache
 &lt;Directory &quot;/home/*&quot;&gt;
  Options -Indexes
  AllowOverride None
 &lt;/Directory&gt;
 </pre>

<p>
<strong> 9. Home » Service Configuration »<abbr title="File Transfer Protocol">FTP</abbr> Server Configuration </strong>
</p>

<p>
- Allow Anonymous Logins - NO
</p>

<p>
- Allow Anonymous Uploads - NO
</p>

<p>
<strong> 10. Change following in PHP configuration. </strong>
</p>

<p>
- Enable suEXEC – suEXEC = On
</p>

<p>
- expose_php = Off
</p>

<p>
- Enable_dl= Off
</p>

<p>
- magic_quotes = On
</p>

<p>
- register_globals = off
</p>

<p>
- display errors = off
</p>

<p>
<strong> 11. Recommended Security Tweak Settings Checklists </strong>
</p>

<p>
- Blank referrer safety check On
</p>

<p>
- Enable HTTP Authentication Off
</p>

<p>
- Security Tokens On
</p>

<p>
- Cookie IP Validation On
</p>

<p>
- Proxy Subdomain Creation Off
</p>

<p>
- Block Common Domains Usage On
</p>

<p>
- Initial default/catch-all forwarder destination Fail
</p>

<p>
- Max hourly emails per domain
</p>

<p>
- Enable SpamAssassin spam filter On
</p>

<p>
<strong> 12. DISABLE SYMLINKS: (patch) </strong>
<pre class="code">wget http://layer1.rack911.com/before_apache_make -O /scripts/before_apache_make
chmod 700 /scripts/before_apache_make
#Rebuild apache after.
/scripts/easyapache</pre>

</p>

</div>
