
<h1 class="sectionedit1" id="install_directadmin">Install DirectAdmin</h1>
<div class="level1">

<p>
Login as root and type the following commands:
</p>

<p>
screen <br/>

yum update -y <br/>

yum install gcc-c++ gcc automake -y <br/>

yum install make<br/>

yum install flex
</p>

<p>
For Centos
</p>
<pre class="code"> yum install wget gcc gcc-c++ flex bison make bind bind-libs bind-utils openssl openssl-devel perl quota libaio libcom_err-devel libcurl-devel gd zlib-devel zip unzip libcap-devel cronie bzip2 db4-devel cyrus-sasl-devel perl-ExtUtils-Embed autoconf automake libtool</pre>

<p>
For Ubuntu 
</p>
<pre class="code"> apt-get install gcc g++ make flex bison openssl libssl-dev perl perl-base perl-modules libperl-dev libaio1 libaio-dev zlib1g zlib1g-dev libcap-dev bzip2 automake autoconf libtool cmake</pre>

<p>
yum remove httpd* php* mysql* -y<br/>

wget <a href="http://directadmin.com/setup.sh" class="urlextern" title="http://directadmin.com/setup.sh"  rel="nofollow">http://directadmin.com/setup.sh</a><br/>

chmod +x setup.sh<br/>

sh setup.sh
</p>

<p>
After this, it will ask for Client ID and License ID. So, keep it handy.
After entering these, some other questions will be asked:
</p>

<p>
Enter your hostname (FQDN) : Enter the hostname of the server or the IP address
</p>

<p>
Is eth0 your network adaptor with the license IP? (y,n) : NO, venet0:0
</p>

<p>
NOTE: Do not close the installation window because the login details are provided at the end of installation!!
</p>

</div>
