
<p>
#It will ignore all IP assigned to India from all checks of csf lfd.
</p>

<p>
Steps to follow:
Append all IP range in below mentioned files.<br/>

</p>

<p>
## To ignore ip to be checked by lfd.<br/>

vim /etc/csf/csf.ignore <br/>
<br/>

## To allow ip permanently. <br/>

vim /etc/csf/csf.allow <br/>

</p>

<p>
<br/>

#Restart CSF <br/>

csf -r
<br/>

File:<em> wget <a href="https://raw.githubusercontent.com/ethicalmohit/csf/master/indian_ip_subnet.txt" class="urlextern" title="https://raw.githubusercontent.com/ethicalmohit/csf/master/indian_ip_subnet.txt" rel="nofollow">https://raw.githubusercontent.com/ethicalmohit/csf/master/indian_ip_subnet.txt</a> 
<br/>

<br/>

<br/>

## SCRIPT <br/>


wget -q <a href="https://raw.githubusercontent.com/ethicalmohit/csf/master/csfi.sh" class="urlextern" title="https://raw.githubusercontent.com/ethicalmohit/csf/master/csfi.sh" rel="nofollow">https://raw.githubusercontent.com/ethicalmohit/csf/master/csfi.sh</a> -O csfi.sh<br/>

chmod +x csfi.sh <br/>

sh csfi.sh <br/>

</p>
