
<h2 class="sectionedit1" id="how_do_elk_components_work_together">How do ELK components work together ?</h2>
<div class="level2">
<hr />

<p>
<em><strong>Note</strong> : Redis is not a necessary component here, It can be omitted and assumed that collector will catch data from shipper directly.</em>
</p>

<p>
Roles :
</p>
<ul>
<li class="level1"><div class="li"> Logstash : (As the shipper &amp; the collector.)</div>
</li>
<li class="level1"><div class="li"> Elasticsearch : (the data storage.)</div>
</li>
<li class="level1"><div class="li"> Kibana : (The visualizer.)</div>
</li>
</ul>

<p>
Logstash is essentially a pipelining tool. In a basic, centralized installation a logstash agent, known as the shipper, will read input from one to many input sources and output that text wrapped in a JSON message to a broker. Typically Redis, the broker, caches the messages until another logstash agent, known as the collector, picks them up, and sends them to another output. In the common example this output is Elasticsearch, where the messages will be indexed and stored for searching. The Elasticsearch store is accessed via the Kibana web application which allows you to visualize and search through the logs.
</p>

<p>
The entire system is scalable. Many different shippers may be running on many different hosts, watching log files and shipping the messages off to a cluster of brokers. Then many collectors can be reading those messages and writing them to an Elasticsearch cluster.
</p>

<p>
<img src="/lib/exe/fetch.php?w=640&amp;h=284&amp;tok=1c0620&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Felk.png" class="media" alt="" width="640" height="284" />
</p>

<p>
Next : <a href="http://wiki.mantraventures.com/elk/setup-elk" class="urlextern" title="http://wiki.mantraventures.com/elk/setup-elk" rel="nofollow">How to Setup ELK ?</a>
</p>

</div>
