
<p>
1. Check Ip reputation and send that to client
</p>

<p>
2. Check Services (netstat -tlnp) (check postfix: rpm -qa | grep postfix)
</p>

<p>
3. create name servers ns1.&lt;domain&gt; ns2.&lt;domain&gt; in Vesta <abbr title="Domain Name System">DNS</abbr>
</p>
