
<p>
Here we are countering restrictions for particular list of user/users to a specific domain/domains.
</p>

<p>
Open PolicyD Web <abbr title="Uniform Resource Locator">URL</abbr>:
<a href="http://IP:7780/webui/index.php" class="urlextern" title="http://IP:7780/webui/index.php" rel="nofollow">http://IP:7780/webui/index.php</a>
</p>

<p>
Now we have to add two groups one for domains and another for users.
</p>

<p>
Navigate To Home Group –&gt; Select Action –&gt;  Add
<pre class="code">Name	     Disabled
domainout	no</pre>

Back to group
Home –&gt; Groups –&gt; Select your group you have created –&gt; Members
<pre class="code">Member	      Disabled
@gmail.com	no</pre>

Note:#In above section you can add all domains as a member you want to allow.
Back to Groups
Add User group.
<pre class="code">Name	 Disabled
peruser	  no</pre>

<pre class="code">Member	                     Disabled
user1@mohit1.mantravault.com	no</pre>

Note:#In above section you can add all Users for which you want the policy to be implemented. <br/>

Back to policies. <br/>

Navigate to policies –&gt; Main –&gt; Select Action –&gt; Add
<pre class="code">Name	     Priority	Description	Disabled
gmailblock	0	gmailblock	no</pre>

Back to policies –&gt; Select your policy –&gt; Select action –&gt; Members
Create a member like below.
<pre class="code">Source	        Destination	Disabled
%peruser	!%domainout	no</pre>

Return back to home
Access control –&gt; configure
<pre class="code">Policy	            Name	Verdict	    Data      Disabled
gmailblock	gmailblock	REJECT	Access Denied	no</pre>

Enable Access control.
Restart zimbra
<pre class="code">su zimbra
zmprov ms `zmhostname` zimbraCBPolicydAccessControlEnabled TRUE
zmcbpolicydctl restart</pre>

</p>
