
<h1 class="sectionedit1" id="install_plesk_for_windows_into_the_panel_times_errorzend_exception">Install Plesk for windows into the panel Times ERROR: Zend_Exception</h1>
<div class="level1">

<p>
Detailed Error: “ERROR: Zend_Exception
File “Db \ Adapter \ Pdo \ Mysql.php” does not exist or class “Db_Adapter_Pdo_Mysql” was not found in the file
</p>

<p>
0: Loader.php: 99
Zend_Loader :: loadClass (string &#039;Db_Adapter_Pdo_Mysql&#039;)
</p>

<p>
1: Db.php: 250
Zend_Db :: factory (object of type Zend_Config)
</p>

<p>
2: Abstract.php: 155
CommonPanel_Application_Abstract :: initDbAdapter ()
</p>

<p>
3: Abstract.php: 118
CommonPanel_Application_Abstract→ _initDbAdapter ()
</p>

<p>
4: Abstract.php: 39
CommonPanel_Application_Abstract→ Run ()
</p>

<p>
5: Abstract.php: 24
CommonPanel_Application_Abstract :: init ()
</p>

<p>
6: auth.php3: 136”.
</p>

<p>
The cause of this problem is when the update due to network or file the request to update the server because of firewall filtering mechanism, resulting in part of the file download incomplete result.
</p>

<p>
The solution is as follows: 
</p>

<p>
1. in “% plesk_dir%\admin\plib\Db\Adapter\” folder manually create a new PDO directory 
</p>

<p>
2.the following directory C:\ParallelsInstaller\Parallels\the panel-WIN_11.0.9\microupdates\MU19\panel\common\the php\plib\Db\Adapter\PDO\Mysql.php 
</p>

<p>
3. copy “ Mysql.php_ “to ”% plesk_dir%\admin\plib\Db\Adapter\PDO” directory and file Myql.php_ “ modify ” MySQL . php.
</p>

</div>
