
<p>
Add below lines in /opt/zimbra/conf/salocal.cf.in 
</p>
<pre class="code">blacklist_from *mantraventures.com 
whitelist_from m.rajesh@yahoo.com 
whitelist_from ganesh@gmail.com </pre>

<p>
Restart Zimbra spamassassin.
zmmtactl restart &amp;&amp; zmamavisdctl restart
</p>
