
<p>
<strong>Creating Bulk Account On Zimbra</strong>
</p>

<p>
- Login via shell and create a shell script (bulkuser.sh) with following content.
</p>
<pre class="code">   
           #!/usr/bin/perl
           # Lookup the valid COS (Class of Service) ID in the interface or like this
            my $cosid = `su - zimbra -c &#039;zmprov gc Default |grep zimbraId:&#039;`;
            $cosid =~ s/zimbraId:\s*|\s*$//g;

            while (&lt;&gt;) {
            chomp;
               my ($email, $password, $first, $last) = split(/\,/, $_, 4);
               my ($uid, $domain) = split(/@/, $email, 2);
               print qq{ca $uid\@$domain $password\n};
               print qq{ma $uid\@$domain zimbraCOSid &quot;$cosid&quot;\n};
               print qq{ma $uid\@$domain givenName &quot;$first&quot;\n};
               print qq{ma $uid\@$domain sn &quot;$last&quot;\n};
               print qq{ma $uid\@$domain cn &quot;$uid&quot;\n};
               print qq{ma $uid\@$domain displayName &quot;$first $last&quot;\n};
               print qq{ma $uid\@$domain zimbraPasswordMustChange FALSE\n};
               print qq{\n};
          }
          </pre>

<p>
- Create a csv file (userlist.csv) such that email,password,first-name,last-name written with separated comma.
</p>
<pre class="code">              
              e.g.    example1@domain.com,mal023nf,Firoz,Khan
                      example2@domain.com,ndk*aLp,Ganesh,Bhat         </pre>

<p>
- Now run the follwing command
</p>
<pre class="code">     
          ./bulkuser.sh userlist.csv &gt; zmprov_commands.out 
          
      (NOTE: If there is any permission issue then just change the permission of these files (bulkuser.sh,userlist.csv and zmprov_commands.out) to 777 then execute the command)
      </pre>

<p>
- Now there is some content written in mprov_commands.out. Now move all these files to zimbra home directory ( you can check it by “su - zimbra” then “pwd” command).
</p>

<p>
- Now login as zimbra by executing “su - zimbra” and run following command.
</p>
<pre class="code">            zmprov &lt; zmprov_commands.out
            
If successfully executed then all accounts will be created with details present in userlist.csv, just check it out.                   </pre>
