
<h2 class="sectionedit1" id="how_to_mirror_remote_directories_on_a_vps_using_lsyncd_ubuntu_14041_lts">====== How to mirror remote directories on a VPS using lsyncd (Ubuntu 14.04.1 LTS ) ** ====== **</h2>
<div class="level2">

<p>
<strong>We have two ubuntu machines Server A and Server B </strong>
</p>

<p>
<em class="u"><strong>Step 1 : Install lsycnd</strong></em>
</p>

<p>
sudo apt-get update
</p>

<p>
sudo apt-get install lsyncd
</p>

<p>
<em class="u"><strong>Step 2 : Setting Environment</strong></em> <br/>

<br/>

Create a directory and log files for lsyncd logs—–<br/>

sudo mkdir /var/log/lsyncd<br/>

sudo touch /var/log/lsyncd/lsyncd.{log,status} Create the configuration directory and file for lsyncd—-<br/>

sudo mkdir /etc/lsyncd<br/>

touch /etc/lsyncd/lsyncd.conf.lua<br/>

<br/>

<em class="u"><strong>Step 3 : Do the same in second server.</strong> </em>
</p>

<p>
<em class="u"><strong>Step 4 : Create a directory in both the servers</strong></em> <br/>

<br/>

sudo mkdir /remotesync (Server A)<br/>

sudo mkdir /remotesync (Server B)
</p>

<p>
<br/>

<em class="u"><strong>Step 5 : Configuring the /etc/lsyncd/lsycnd.conf.lua file in both the servers</strong></em>
</p>

<p>
<br/>

Insert these lines in the /etc/lsyncd/lsyncd/conf.lua file……<br/>

<br/>

settings {<br/>

logfile = “/var/log/lsyncd/lsyncd.log”,<br/>

statusFile = “/var/log/lsyncd/lsyncd.status”,<br/>

delay = 0<br/>

}<br/>

sync {<br/>

default.rsyncssh,<br/>

source = “/remotesync”,<br/>

host = “Remote-server-IP”,<br/>

targetdir = “/remotesync”<br/>

}
</p>

<p>
<em class="u"><strong>Step 6 : Configuring the remote syncing</strong></em>
</p>

<p>
<br/>

To configure the lsyncd syncing we need to be able to sign into the mirroring machine from the original machine through password-less ssh.<br/>

For password less ssh you can follow this link —-
</p>

<p>
<a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2__" class="urlextern" title="https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2__" rel="nofollow">https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2</a><br/>

Make a key pair for your root user, since the lsyncd service will run as root. You can then copy the key file to the<br/>

remote mirror machine with the following commands:<br/>

<br/>

sudo su<br/>

ssh-copy-id remote_mirror_ip_address
</p>

<p>
<strong><em class="u"><strong>Step 7 : Start the service lsyncd in both the servers.</strong> </em> </strong>
</p>

<p>
/etc/init.d/lsyncd start
</p>

<p>
<strong><em class="u"><strong>Step 8 : Now we are ready to test the syncing</strong></em> </strong>
</p>

<p>
<br/>

Create some files in the /remotesync directory of Server A and check for the same files created in the /remotesync<br/>

directory of Server B.
</p>

</div>
