
<p>
1. Transfer website through transfer tool.
</p>

<p>
<pre class="code">Note: If DNS is running on cPanel, then only use express transfer while migrating, otherwise don&#039;t use.</pre>

</p>

<p>
2. After successful migration and <abbr title="Domain Name System">DNS</abbr> update, wait for 5-6 hours.
</p>

<p>
3. Now, run rsync command from old server to new server for the two directories in order to avoid any loss of data:
</p>

<p>
<pre class="code">/home/$user/mail/                 ==&gt;&gt; In case of mails
/home/$user/public_html/          ==&gt;&gt; In case of website</pre>

</p>
