
<p>
1. Do the following for Network tuning: <br/>

echo 1 &gt; /proc/sys/net/ipv4/conf/all/arp_filter
</p>

<p>
For permanent change, edit the file /etc/sysctl.conf and add:
<pre class="code">net.ipv4.conf.all.arp_filter = 1</pre>

</p>

<p>
2. For KSM tuning, type these and add these to the file /etc/rc.local: <br/>

<pre class="code">echo 1 &gt; /sys/kernel/mm/ksm/run
echo 200 &gt; /sys/kernel/mm/ksm/sleep_millisecs</pre>

</p>

<p>
3.
</p>
