
<h1 class="sectionedit1" id="check_ms-sql_edition_in_windows_server">Check MS-SQL edition in Windows Server</h1>
<div class="level1">

<p>
Login to the SQL management studio and run the following query:
</p>

<p>
SELECT SERVERPROPERTY(&#039;productversion&#039;), SERVERPROPERTY (&#039;productlevel&#039;), SERVERPROPERTY (&#039;edition&#039;)
</p>

</div>
