
<h1 class="sectionedit1" id="install_zimbra">Install Zimbra</h1>
<div class="level1">

<p>
1. Prepare server with fresh <abbr title="Operating System">OS</abbr> (Ubuntu is recommended) installation and update the server by apt-get update (for ubuntu) or yum update -y (for centos). NOTE: For ubuntu, disable sendmail before installing zimbra. # /etc/init.d/sendmail stop # update-rc.d sendmail disable
</p>

<p>
2. Make sure there is hostname entry present in “/etc/hosts ” corresponding to IP address, if not create the same.
</p>

<p>
2. Download the latest zimbra package from <a href="http://www.zimbra.com/downloads/os-downloads.html" class="urlextern" title="http://www.zimbra.com/downloads/os-downloads.html" rel="nofollow">http://www.zimbra.com/downloads/os-downloads.html</a> as per the <abbr title="Operating System">OS</abbr> installed.
</p>

<p>
3. extract the package.
</p>
<blockquote><div class="no">
 tar -xvzf zcs-XXXXXX-XX.tgz</div></blockquote>

<p>
4. Change the directory to extracted zcs-XXXXXX-XX
</p>
<blockquote><div class="no">
 cd zcs-XXXXXX-XX</div></blockquote>

<p>
5. run the installer
</p>
<blockquote><div class="no">
 ./install.sh (For Ubuntu) or ./install.sh –platform-override (For centos)</div></blockquote>

<p>
Note:- If any prerequisites not found quit the installation and install them manually.
</p>

<p>
6. After running the installation options come for “Select the packages to install”, select “Y” for all.
</p>

<p>
7. In mid of installation a warning of <abbr title="Domain Name System">DNS</abbr> ERROR might come and ask to change the hostname, DO NOT CHANGE simply press “No” for this.
</p>

<p>
8. After that option to set admin password will come, set the admin password and proceed further.
</p>

<p>
<strong>THINGS to do after installation</strong>
</p>

<p>
1. Set the bounce setting for <a href="/zimbra/bouce_message_to_sender_when_over_quota" class="wikilink1" title="zimbra:bouce_message_to_sender_when_over_quota">Bounce Message To Sender If User Quota Is Full</a>
</p>

<p>
2. IMAP and POP3 Port settings.
</p>

<p>
i) Login into web panel as admin. ii) Go to Home-Configure-Global settings-Proxy and set the port as follow and hit on save.
</p>
<blockquote><div class="no">
 Proxy IMAP Port: 8143 Proxy IMAPS Port: 8993 Proxy POP3 Port: 8110 Proxy POP3S Port: 8995</div></blockquote>

<p>
iii) Now go to the Home-Configure-Servers-&lt;server hostname&gt;-Proxy and click on “Reset to Global Value” for following.
</p>
<blockquote><div class="no">
 Proxy IMAP Port Proxy IMAPS Port Proxy POP3 Port Proxy POP3S Port This will set the port value as mentioned in step (ii).</div></blockquote>

<p>
iV) Go to the Home-Configure-Servers-&lt;server hostname&gt;-IMAP and set following.
</p>
<blockquote><div class="no">
 IMAP port number: 143 IMAP SSL port number: 993</div></blockquote>

<p>
v) Go to the Home-Configure-Servers-&lt;server hostname&gt;-POP and set following.
</p>
<blockquote><div class="no">
 POP3 port number: 110 POP3 SSL port number: 995</div></blockquote>

<p>
<strong>NOTE: Don&#039;t forget to hit save after making changes in each steps </strong>
</p>

<p>
3. <a href="/zimbra/mail_queue_alert" class="wikilink1" title="zimbra:mail_queue_alert">Mail Queue Alert in </a><a href="/zimbra/mail_queue_alert" class="wikilink1" title="zimbra:mail_queue_alert">Zimbra</a>Add for queue notification:
</p>

<p>
4. From Global Settings &gt; AS/AV, uncheck “Block Encrypted archives” and save.
</p>

<p>
5. From Global Settings &gt; MTA, uncheck “TLS authentication only” and save.
</p>

<p>
6. Restart zimbra services.
</p>
<blockquote><div class="no">
 su - zimbra zmcontrol restart</div></blockquote>
<blockquote><div class="no">
 NOTE: If you are changing SSH Port, then run the given below commands otherwise Mail Queue from Zimbra <abbr title="Graphical User Interface">GUI</abbr> will give SOAP Error</div></blockquote>

<p>
$ zmprov ms YOUR_DOMAIN_NAME zimbraRemoteManagementPort SSH_PORT
</p>

<p>
[root@zimbra ~]# su - zimbra
</p>

<p>
[zimbra@zimbra ~]$ zmprov ms mail.micromaxinfo.com zimbraRemoteManagementPort 3822
</p>

<p>
[zimbra@zimbra ~]$ logout
</p>

<p>
[root@zimbra ~]# /etc/init.d/sshd restart
</p>

<p>
Stopping sshd: [ OK ]
</p>

<p>
Starting sshd: [ OK ]
</p>

<p>
[root@zimbra ~]#
</p>

<p>
ABOVE 3822 is the ssh port.
</p>

<p>
7. Enable HTTP in webmail, run below commands as zimbra user.
</p>
<pre class="code"> zmtlsctl both</pre>
<pre class="code"> zmcontrol stop</pre>
<pre class="code"> zmcontrol start</pre>

<p>
Ref. <a href="https://wiki.zimbra.com/wiki/CLI_zmtlsctl_to_set_Web_Server_Mode" class="urlextern" title="https://wiki.zimbra.com/wiki/CLI_zmtlsctl_to_set_Web_Server_Mode" rel="nofollow">https://wiki.zimbra.com/wiki/CLI_zmtlsctl_to_set_Web_Server_Mode</a>
</p>

</div>
