
<h1 class="sectionedit1" id="take_ms_sql_backup_from_commandline">Take MS SQL backup from commandline</h1>
<div class="level1">

<p>
“C:\Program Files\Microsoft <abbr title="Structured Query Language">SQL</abbr> Server\100\Tools\Binn\osql.exe” -E -Q “BACKUP DATABASE &lt;db_name&gt;  TO DISK=&#039;C:\Program Files\Microsoft <abbr title="Structured Query Language">SQL</abbr> Server\MSSQL10_50.MSSQLSERVER\MSSQL\Backup\&lt;backup_file_name&gt;.bak&#039;  WITH FORMAT”
</p>

</div>
