
<h1 class="sectionedit1" id="automatic_mysql_backups">Automatic MySQL backups</h1>
<div class="level1">

<p>
1) Create a shell script with following contents:
<pre class="code">#!/bin/sh

# Dump MySQL database every day using cron

NOW=$(date +&quot;%F&quot;)

BACKUP=&quot;/home/db_backup_$NOW&quot;

MYSQLDUMP=&quot;/usr/bin/mysqldump&quot;

GZIP=&quot;/bin/gzip&quot;

$MYSQLDUMP &lt;db_name&gt; | $GZIP &gt; $BACKUP</pre>

</p>

<p>
2) Add this to cron jobs:
</p>

<p>
0 0 * * * /bin/sh /root/&lt;name_of_script.sh&gt;
</p>

</div>
