<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
At final migration, specially for magento you have to follow steps mentioned below :
</p>

<p>
1. Tell client to shift his <abbr title="Domain Name System">DNS</abbr> on <a href="https://www.cloudflare.com/" class="urlextern" title="https://www.cloudflare.com/" rel="nofollow">Cloudflare</a>. (This is useful for D-DOS mitigation.)
</p>

<p>
<em><strong>Note</strong> :This must be done 15 - 12 hrs before migration process.</em>
</p>

<p>
2. Check magento transactional mailing on clients old server &amp; if they are using local server for mailing, then suggest him to use <a href="https://sendgrid.com/free/" class="urlextern" title="https://sendgrid.com/free/" rel="nofollow">sendgrid</a> for magento transactional mails (sendgrid will offer 12k mails/pm free). If client is ready then tell him to <a href="https://sendgrid.com/free/" class="urlextern" title="https://sendgrid.com/free/" rel="nofollow">signup on sendgrid</a> &amp; provide us details.
</p>

<p>
3. Ask client to provide feasible time for migration &amp; meanwhile we&#039;ll keep his website on maintenance mode.
</p>

<p>
4. Prepare a <a href="https://trello.com/b/sou036Cn/04-tech-support" class="urlextern" title="https://trello.com/b/sou036Cn/04-tech-support" rel="nofollow">trello</a> checklist [tasklist] for final migration process with following <a href="http://wiki.mantraventures.com/magento/provisioning/final-migration-checklist" class="urlextern" title="http://wiki.mantraventures.com/magento/provisioning/final-migration-checklist" rel="nofollow">points</a> included in it.
</p>

<p>
5. Take follow up from client and ask if anything else he want us to migrate from his old server to our server.
</p>
