
<p>
==================================<br/>

node.js init.d script for CentOS
</p>
<div class="level1">

<p>
Go to “/etc/rc.d/init.d” directory.<br/>

Create an file named node-app and change execute permision.<br/>

# touch node-app<br/>

# chmod +x node-app<br/>

# ls -ltrh node-app
</p>

<p>
Now copy and past all the content in the “node-app” file. You may use below <abbr title="Uniform Resource Locator">URL</abbr> for more information.<br/>

<a href="https://gist.github.com/nariyu/1211413" class="urlextern" title="https://gist.github.com/nariyu/1211413" rel="nofollow">https://gist.github.com/nariyu/1211413</a>
</p>

<p>
root@server [/etc/rc.d/init.d]# vim node-app<br/>

===================================================================<br/>

#!/bin/sh
</p>

<p>
#<br/>

# chkconfig: 35 99 99<br/>

# description: Node.js /home/nodejs/sample/app.js<br/>

#
</p>

<p>
. /etc/rc.d/init.d/functions
</p>

<p>
USER=“nodejs”n
</p>

<p>
DAEMON=“/home/nodejs/.nvm/v0.4.10/bin/node”<br/>

ROOT_DIR=“/home/nodejs/sample”
</p>

<p>
SERVER=“$ROOT_DIR/app.js”<br/>

LOG_FILE=“$ROOT_DIR/app.js.log”
</p>

<p>
LOCK_FILE=“/var/lock/subsys/node-server”
</p>

<p>
do_start()<br/>

{
</p>

<p>
<pre class="code">    if [ ! -f &quot;$LOCK_FILE&quot; ] ; then\\
echo -n $&quot;Starting $SERVER: &quot;\\
runuser -l &quot;$USER&quot; -c &quot;$DAEMON $SERVER&gt;&gt; $LOG_FILE &amp;&quot; &amp;&amp; echo_success || echo_failure\\
RETVAL=$?\\
echo\\
[ $RETVAL -eq 0 ] &amp;&amp; touch $LOCK_FILE\\
else\\
echo &quot;$SERVER is locked.&quot;\\
RETVAL=1\\
fi\\</pre>

</p>

<p>
}<br/>

do_stop()<br/>

{
</p>

<p>
<pre class="code">    echo -n $&quot;Stopping $SERVER: &quot;\\
pid=`ps -aefw | grep &quot;$DAEMON $SERVER&quot; | grep -v &quot; grep &quot; | awk &#039;{print $2}&#039;`\\
kill -9 $pid&gt; /dev/null 2&gt;&amp;1 &amp;&amp; echo_success || echo_failure\\
RETVAL=$?\\
echo\\
[ $RETVAL -eq 0 ] &amp;&amp; rm -f $LOCK_FILE\\</pre>

</p>

<p>
}
</p>

<p>
case “$1” in
</p>

<p>
<pre class="code">    start)\\
do_start\\
;;\\
stop)\\
do_stop\\
;;\\
restart)\\
do_stop\\
do_start\\
;;\\
*)\\
echo &quot;Usage: $0 {start|stop|restart}&quot;\\
RETVAL=1\\</pre>

</p>

<p>
esac
</p>

<p>
exit $RETVAL
</p>

</div>
<div class="level1">

<p>
<br/>

Now edit the below line and save the file.<br/>

——————————————————-<br/>

USER=“zest”<br/>

DAEMON=“/usr/local/bin/node”<br/>

ROOT_DIR=“/home/zest/public_html/clinic/assets/node”<br/>

LOG_FILE=“$ROOT_DIR/index.js.log”
</p>
<hr />

<p>
<br/>

# /etc/init.d/node-app status<br/>

# /etc/init.d/node-app start<br/>

# chkconfig node-app on
</p>

</div>
