
<p>
#Create script with any name in /opt/zimbra/ with the below contents
</p>

<p>
vim /opt/zimbra/amavis_start.sh
</p>

<p>
<pre class="code">#!/bin/bash

exec &amp;&gt;&gt; /tmp/amavis_service_logs.txt

USER=`whoami`

if [ $USER != zimbra ]; then echo &quot;Use this script using zimbra user.&quot;; exit; fi

zmamavisdctl status

s1=$?

if [ $s1 != 0 ]; then zmamavisdctl start; fi</pre>

</p>

<p>
# Change permission and ownership of the script.
</p>

<p>
<pre class="code">chmod +x /opt/zimbra/amavis_start.sh

chown zimbra:zimbra /opt/zimbra/amavis_start.sh</pre>

</p>
