
<p>
Template Creation Steps
</p>
<ol>
<li class="level1"><div class="li"> Install Centos (Or your fav flavour of <abbr title="Operating System">OS</abbr>.) with default solusvm os template.</div>
</li>
<li class="level1"><div class="li"> Install VirtualMin with all your services(Don&#039;t Configure them).</div>
</li>
<li class="level1"><div class="li"> Shutdown the VPS that contains Virtualmin (in our example vm102)</div>
</li>
<li class="level1"><div class="li"> Login to the slave containing vm102</div>
</li>
<li class="level1"><div class="li"> # mount /dev/<strong>solusvps</strong>  /vm102_img /mnt</div>
</li>
<li class="level1"><div class="li"> # cd /mnt</div>
</li>
<li class="level1"><div class="li"> # tar -czf <strong>centos-5.5-x86_64-</strong>  virtualmin-Full.tar.gz *</div>
</li>
<li class="level1"><div class="li"> # umount /mnt</div>
</li>
</ol>

<p>
#Here “<strong>solusvps</strong>” is Volume Group.
</p>

<p>
#Don&#039;t Change SolusVM Default name i.e. “<strong>centos-5.5-x86_64-your-custom-name.tar.gz”.</strong>
</p>
