
<p>
<a href="http://www.webmasterworld.com/apache/3731562.htm" class="urlextern" title="http://www.webmasterworld.com/apache/3731562.htm" rel="nofollow">http://www.webmasterworld.com/apache/3731562.htm</a><br/>

<a href="http://markus.dresch.net/post/3898296756/blocking-blind-sql-injections-using-mod-rewrite" class="urlextern" title="http://markus.dresch.net/post/3898296756/blocking-blind-sql-injections-using-mod-rewrite" rel="nofollow">http://markus.dresch.net/post/3898296756/blocking-blind-sql-injections-using-mod-rewrite</a>
</p>
