
<h1 class="sectionedit1" id="gain_server_access_using_symlinks_all_data_publicaly_available">Gain server access using Symlinks (All data publicaly available)</h1>
<div class="level1">

<p>
<a href="/_media/sym.php" class="media mediafile mf_php" title="sym.php (13.3 KB)">sym.php</a>
</p>

<p>
A very simple tool called Symlinks SA 2.0 can be used to create symlinks to all the files present on the server and gain access to all the files and data. A file named Sym.php has to be uploaded to a publicaly accessible location and the work is done.
</p>

<p>
RESOLUTION -
</p>

<p>
1) Disable symlinks option from Apache config file (also dont allow it to be overridden) and use SymlinksIfOwnerMatch option.
</p>

<p>
2) Use CloudLinux with CageFS and SecureLinks to overcome this.
</p>

</div>
