
<p>
Edit /etc/my.cnf file and add the following lines:
</p>

<p>
<pre class="code">long_query_time         = 1
log-slow-queries        = /var/log/mysql/mysql-slow.log</pre>

</p>

<p>
Create the log file:
</p>

<p>
<code>touch /var/log/mysql/mysql-slow.log</code>
</p>

<p>
Change the ownership of /var/log/mysql folder
</p>

<p>
<code>chown -R mysql /var/log/mysql/</code>
</p>

<p>
Restart mysql:
</p>

<p>
<code>/etc/init.d/mysql restart</code>
</p>

<p>
OR
</p>

<p>
<code>/etc/init.d/mysqld restart</code>
</p>
