
<h3 class="sectionedit1" id="magento_currency_exchange_rates_are_not_updating_to_current_value_or_showing_11_currency_conversion">Magento Currency Exchange Rates are not updating to current value or showing 1:1 currency conversion</h3>
<div class="level3">
<hr />

<p>
By default Magento is using WebserviceX api for currency conversions. Sometimes its api service cause issue with webstore, some of them are listed below :
</p>

<p>
1. All the currency are showing 1:1 conversion (example- 1 INR is equals 1 USD on webstore.).
</p>

<p>
2. Currency rates are not updated to latest exchange prices.
</p>

<p>
<strong>Solution :</strong>
</p>

<p>
You can use an another <abbr title="Application Programming Interface">API</abbr> “fixer.io” for currency conversion :
</p>

<p>
1. Clone the git repo : <a href="https://github.com/philwinkle/Philwinkle_Fixerio" class="urlextern" title="https://github.com/philwinkle/Philwinkle_Fixerio" rel="nofollow">https://github.com/philwinkle/Philwinkle_Fixerio</a>
</p>

<p>
2. Sync the app directory in it with the app directory in your webstore data directory.
</p>

<p>
<code>rsync -avhr Philwinkle_Fixerio/app/ public_html/app/</code>
</p>

<p>
3. Set the ownership of files in app directory.
</p>

<p>
<code>chown &lt;user&gt;:&lt;group&gt; -R public_html/app</code>
</p>

<p>
4. Clear the compiled files ( <code>php shell/compiler.php clear</code> ) and cache.
</p>

<p>
5. Login to backend and Configure it. DONE.
</p>
<hr />

<p>
Fixer.io has some limitations, it provides the currency conversions for some limited sets of currencies only. You can check them here : <a href="http://fixer.io/" class="urlextern" title="http://fixer.io/" rel="nofollow">http://fixer.io/</a>
</p>

<p>
Its alternative is <a href="https://openexchangerates.org/" class="urlextern" title="https://openexchangerates.org/" rel="nofollow">https://openexchangerates.org/</a> , it supports large sets of currencies &amp; is more reliable than fixer.io, To configure it with magento use below steps :
</p>

<p>
1. Clone the git repo : <a href="https://github.com/ffuenf/Magebase_Openexchangerates" class="urlextern" title="https://github.com/ffuenf/Magebase_Openexchangerates" rel="nofollow">https://github.com/ffuenf/Magebase_Openexchangerates</a>
</p>

<p>
2. Sync the app directory in it with the app directory in your webstore data directory.
</p>

<p>
rsync -avhr<code> Magebase_Openexchangerates/app/ public_html/app/</code>
</p>

<p>
3. Set the ownership of files in app directory.
</p>

<p>
<code>chown &lt;user&gt;:&lt;group&gt; -R public_html/app</code>
</p>

<p>
4. Clear the compiled files ( <code>php shell/compiler.php clear</code> ) and cache.
</p>

<p>
5. Login to backend and Configure it. You need Key ID to activate use of this api. For getting key ID you have to SignUP here : <a href="https://openexchangerates.org/" class="urlextern" title="https://openexchangerates.org/" rel="nofollow">https://openexchangerates.org/</a>
</p>

<p>
6. Copy the key ID. Go to Admin Backend : <em>System &gt; Configuration &gt; General &gt; Currency Steup &gt; Openexchangerates</em> : and paste it in “Openexchangerates App Id”.
</p>

<p>
7. Later go to System &gt; Manage Currency &gt; Rates &amp; import new rates by selecting “openexchangerates” option. DONE.
</p>

</div>
