<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
<em>Note : these rules are not only restricted to magento </em> <br/>

<strong>What is the requirement of rewrite rules? </strong> <br/>

You must have to know answer of above question before proceeding to use below rules.
</p>

<p>
Nginx is ideally a reverse-proxy web server, unlike Apache it does not have in-bulit modules to interpret dynamic contents (like php) to produce static pages (like html). Nginx is capable of only serving static content by itself. To process dynamic requests we need to tell nginx, How it modify or break down the request string into smaller parts, identify it and then passes it to another relevant element/process which is designed to handel certain type of requests (like pass all php requests to php-fpm). So that it could simplifies that request and translate it into static language (like html) which Nginx could understand and pass it back to Nginx and later information generate is passes on to original requester.
</p>

<h3 class="sectionedit1" id="rewrite_rules">Rewrite Rules :</h3>
<div class="level3">

<p>
# First block “location /“<br/>

A url can be broken into two parts :<br/>

1. Base url. like <a href="http://domain.com" class="urlextern" title="http://domain.com" rel="nofollow">http://domain.com</a><br/>

2. Request string, which concatenates after base url. like [Base Url]/$request_uri
</p>

<p>
<em><em class="u">location /</em></em> : represent top level location in file system hierarchy of a web site data files. Which we call Document_Root in technical language.<br/>

<em><em class="u">index [filename]</em></em> : this filename represents a bootstrap file. It task is to initiate any kind of task that needs to be accomplished by website code. Multiple filenames represents priority of bootstrap files which need to be access when file higher in priority not found.<br/>

<em><em class="u">try_files</em></em> : is a flag or a switch that will try to broken down or simplify request_uri then again try to parse it from beginning of rewrite rules. when nothing works it will passes that request to <em class="u"><em>“handler”</em></em>
</p>

<p>
<code>location / {<br/>

index index.php index.htm index.html;<br/>

try_files $uri $uri/ @handler;<br/>

} </code>
</p>

<p>
# <strong>handler</strong> block <em>: </em> It only knows that what ever comes to him must be rewritten and passed on to bootstrap file as an argument.<br/>

<code>location @handler {<br/>

rewrite / /index.php?$args;<br/>

} </code>
</p>

<p>
# This block is like a technically smart person, it interprets complex request_uri strings containing ”.php” and rewrites them in a simplified form. # Forward paths like /js/index.php/x.js to relevant handler<br/>

<code>location ~ .php/ {<br/>

rewrite ^(.*.php)/ $1 last;<br/>

} </code>
</p>

<p>
# Passes “.php” files to relevant processor who will understand php very well @ the location where php processor/ resides?<br/>

<code>location ~ .php$ {<br/>

try_files $uri /?error=404;<br/>

fastcgi_split_path_info ^(.+\.php)(/.+)$;<br/>

include fastcgi_params;<br/>

fastcgi_index index.php;<br/>

fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;<br/>

fastcgi_pass 127.0.0.1:9000;<br/>

} </code>
</p>

</div>
<!-- EDIT1 SECTION "Rewrite Rules :" [939-] -->