
<h1 class="sectionedit1" id="creating_name_server">Creating Name Server</h1>
<div class="level1">

<p>
1. Create child NameServer from Domain Panel.
Domain Panel -Domain Services - Add Child Name Server
</p>

<p>
2. Add A entry of the name server.
WHM - Edit <abbr title="Domain Name System">DNS</abbr> Entry - Domain Name - Add A Entry
</p>

</div>
