
<h1 class="sectionedit1" id="nagios_-_add_contacts">NAGIOS - Add contacts</h1>
<div class="level1">

<p>
To add a new contact edit the file:
</p>

<p>
/usr/local/nagios/etc/objects/contacts.cfg
</p>

<p>
Copy the template and change the name, email, etc.
</p>

<p>
Add the following line to the particular service check to which you this contact to receive notifications:
</p>

<p>
contacts     &lt;short_name_given_to_contact&gt;
</p>

</div>
