
<h1 class="sectionedit1" id="setup_sftp_for_ftp_servers">Setup SFTP for ftp servers</h1>
<div class="level1">

<p>
1. Login as root and type the following commands:
<pre class="code">cd /usr/src
wget http://files.directadmin.com/services/customapache/proftpd-1.3.2.tar.gz
tar xvzf proftpd-1.3.2.tar.gz
cd proftpd-1.3.2
cd contrib
wget http://www.castaglia.org/proftpd/modules/proftpd-mod-sftp-0.9.6.tar.gz
tar xvfz proftpd-mod-sftp-0.9.6.tar.gz
cd ..

(remove the spaces between hyphens for the below commands)

install_user=ftp install_group=ftp ./configure \

- -prefix=/usr - -sysconfdir=/etc \

-localstatedir=/var/run - -mandir=/usr/man \

- -without-pam - -disable-auth-pam - -enable-openssl \

- -with-modules=mod_ratio:mod_readme:mod_sftp

make
make install </pre>

</p>

<p>
2.<pre class="code"> Restart Proftpd:

service proftpd restart </pre>

</p>

<p>
3. Make sure you can still connect to your <abbr title="File Transfer Protocol">FTP</abbr> server. You should see version 1.3.2:
</p>

<p>
ftp example.com
</p>

<p>
You should see something like this: <br/>

Connected to example.com (208.86.x.x).<br/>

220 ProFTPD 1.3.2 Server ready.<br/>

Name (example.com):
</p>

<p>
4. Open /etc/proftpd.conf and change port number to 22.
</p>

<p>
5.<pre class="code"> Add the following lines to your /etc/proftpd.conf file:

SFTPEngine On
SFTPHostKey /etc/ssh/ssh_host_rsa_key
SFTPHostKey /etc/ssh/ssh_host_dsa_key </pre>

</p>

<p>
6.<pre class="code"> COMMENT OUT the &#039;bytes&#039; log in /etc/proftpd.conf as well:

ExtendedLog /var/log/proftpd/1.2.3.4.bytes WRITE,READ userlog </pre>

7. Open up /usr/local/directadmin/data/templates/custom/proftpd.vhosts.conf and add the following lines which are missing there:
<pre class="code">&lt;VirtualHost |ip|&gt;
ServerName &quot;ServerName&quot;
AuthUserFile AuthUserFile

SFTPEngine On
Port 22

SFTPHostKey /etc/ssh/ssh_host_rsa_key
SFTPHostKey /etc/ssh/ssh_host_dsa_key

&lt;/VirtualHost&gt; </pre>

</p>

<p>
8.<pre class="code"> Restart proftpd:

service proftpd restart </pre>

</p>

<p>
9. Test it out! If you telnet to the new port you should see a greeting like this:
<pre class="code">telnet example.com 22
Trying 208.86.x.x...
Connected to example.com.
Escape character is &#039;^]&#039;.
SS´[&#039;Å0-mod_sftp/0.9.6
Lß ç_ªC.ÃÇdiffie-hellman-group-exchange-sha256,diffie-hellman-group-exchange-sha1,diffie-hellman-group14- ... </pre>

</p>

</div>
