
<p>
How To Install Policyd on Zimbra 8.6? <br/>

</p>

<p>
# Activate Policyd
<pre class="code">su - zimbra
zmprov ms `zmhostname` +zimbraServiceInstalled cbpolicyd +zimbraServiceEnabled cbpolicyd</pre>

</p>

<p>
# Activate Policyd WebUI
Run the following command as root
<pre class="code">cd /opt/zimbra/httpd/htdocs/ &amp;&amp; ln -s ../../cbpolicyd/share/webui</pre>

</p>

<p>
Edit file /opt/zimbra/cbpolicyd/share/webui/includes/config.php and putting “#” on front of all the lines beginning with $DB_DSN and adding the following line just before the line beginning with $DB_USER.
<pre class="code">$DB_DSN=&quot;sqlite:/opt/zimbra/data/cbpolicyd/db/cbpolicyd.sqlitedb&quot;;</pre>

</p>

<p>
Example:
<pre class="code">#$DB_DSN=&quot;mysql:host=localhost;dbname=cluebringer&quot;;
$DB_DSN=&quot;sqlite:/opt/zimbra/data/cbpolicyd/db/cbpolicyd.sqlitedb&quot;;
$DB_USER=&quot;root&quot;;</pre>

</p>

<p>
Restart Zimbra service  and Zimbra Apache service.
<pre class="code">su - zimbra -c &quot;zmcontrol restart&quot;
su - zimbra -c &quot;zmapachectl restart&quot;</pre>

</p>

<p>
You can now access the Policyd Webui with browser at <abbr title="Uniform Resource Locator">URL</abbr> <a href="http://IPZimbra:7780/webui/index.php" class="urlextern" title="http://IPZimbra:7780/webui/index.php" rel="nofollow">http://IPZimbra:7780/webui/index.php</a>
</p>

<p>
Note: Make sure 7780 Port is open on your server firewall.
</p>
