<div class="level2">
<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

</div>

<h2 class="sectionedit1" id="basic_approach_to_solve_magento_issues">Basic approach to solve magento issues</h2>
<div class="level2">
<hr />

<p>
Most of the issues faced in magento are tracked &amp; solved by following basic abstracted approachs mentioned below:
</p>

<p>
<strong>1.</strong> Understand the issue first, and identify if that is general or specific issue.
</p>

<p>
<strong>2.</strong> For general issues follow some primary steps mentioned below :
</p>

<p>
a. Clear cache from public_html/var/cache &amp; sessions from public_html/var/cache directory.
</p>

<p>
b. Then check if the data is compiled or not using php shell/compiler.php state command. If data is compiled then clear it using php shell/compiler.php clear command.
</p>

<p>
c. Restart the webserver &amp; php service. Check if the issue has been resolved or not.
</p>

<p>
<strong>3.</strong> For specific issues we have to follow above steps including some additional steps which are mentioned below :
</p>

<p>
a. Look at webserver error logs, if there are any specific logs or not. Search the error specific terms on internet to find or get idea about probable solution or hints relating to them.
</p>

<p>
b. Login at Magento Backend &amp; enable magento logging (i.e. var/log/system.log). If backend is inaccessible then you can enable it from database too. After check public_html/var/log/system.log file for any specific error generating in it.
</p>

<p>
c. If issue is still unclear, try to reset the permission (files 660 &amp; dirs 770 ) &amp; ownership of files &amp; directories. Clear the logs from database &amp; var directory &amp; Restart the desired services.
</p>

<p>
<strong>4.</strong> Some issues are related to website orientation (like changes not visible, website not loads properly.) then can give a try to below steps:
</p>

<p>
a. Perform the steps given for general issues first.
</p>

<p>
b. Clear CDN Cache &amp; delete files in media/js/, media/css, media/css_secure (these contains merged js/css files). Same can be done from magento backend also from System &gt; Cache Management.
</p>

<p>
c. Check the waterfall from tools.pingdom.com if any http status errors are there or not.
</p>

<p>
<strong>5.</strong> In some cases website products are not visible, then try to hack using steps below:
</p>

<p>
a. Perform the steps given for general issues first. Check indexing status, if indexing is required then reindex using indexer.php from shell.
</p>

<p>
b. If the issue has not resolved after reindexing, then check the product configuration from Magento Admin backend (Catalog &gt; Manage Product.) compare its config from other similar products which are visible. For ease you can ask client to provide SKU (i.e. product id) of the product under the issue.
</p>

<p>
Although there are varied number of issues, but most of them are easily identifiable by observing the logs.
</p>

</div>
<!-- EDIT1 SECTION "Basic approach to solve magento issues" [40-] -->