
<p>
This is an awesome dropdown code
<a href="http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/" class="urlextern" title="http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/" rel="nofollow">http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/</a>
</p>
