
<p>
Take backup of the file and then comment out the following part from the file /owncloud_install_folder/settings/templates/personal.php:
</p>

<p>
<pre class="code">if($_[&#039;passwordChangeSupported&#039;]) {
?&gt;
&lt;form id=&quot;passwordform&quot;&gt;
        &lt;fieldset class=&quot;personalblock&quot;&gt;
                &lt;legend&gt;&lt;strong&gt;&lt;?php p($l-&gt;t(&#039;Password&#039;));?&gt;&lt;/strong&gt;&lt;/legend&gt;
                &lt;div id=&quot;passwordchanged&quot;&gt;&lt;?php echo $l-&gt;t(&#039;Your password was changed&#039;);?&gt;&lt;/div&gt;
                &lt;div id=&quot;passworderror&quot;&gt;&lt;?php echo $l-&gt;t(&#039;Unable to change your password&#039;);?&gt;&lt;/div&gt;
                &lt;input type=&quot;password&quot; id=&quot;pass1&quot; name=&quot;oldpassword&quot; placeholder=&quot;&lt;?php echo $l-&gt;t(&#039;Current password&#039;);?&gt;&quot; /&gt;
                &lt;input type=&quot;password&quot; id=&quot;pass2&quot; name=&quot;password&quot;
                        placeholder=&quot;&lt;?php echo $l-&gt;t(&#039;New password&#039;);?&gt;&quot; data-typetoggle=&quot;#personal-show&quot; /&gt;
                &lt;input type=&quot;checkbox&quot; id=&quot;personal-show&quot; name=&quot;show&quot; /&gt;&lt;label for=&quot;personal-show&quot;&gt;&lt;/label&gt;
                &lt;input id=&quot;passwordbutton&quot; type=&quot;submit&quot; value=&quot;&lt;?php echo $l-&gt;t(&#039;Change password&#039;);?&gt;&quot; /&gt;
        &lt;/fieldset&gt;
&lt;/form&gt;</pre>

</p>
