
<p>
Introduction to Virtual Hosts
</p>

<p>
Source : <a href="http://www.wip.rackspacecloud.com/knowledge_center/node/89" class="urlextern" title="http://www.wip.rackspacecloud.com/knowledge_center/node/89" rel="nofollow">http://www.wip.rackspacecloud.com/knowledge_center/node/89</a>
</p>

<p>
The term Virtual Hosts is used a great deal when setting up your Cloud Server. Let&#039;s take a look at what Virtual Hosts are and why they are important.
</p>

<p>
It is also worth noting that the term Virtual Hosts is used with all web servers. Once you have the principle clear in your mind, it makes setting them up on any web server much easier.
</p>

<h3 class="sectionedit1" id="contents">Contents</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li">  Process</div>
</li>
<li class="level1"><div class="li">  Single IP address</div>
</li>
<li class="level1"><div class="li">  Web Server</div>
</li>
<li class="level1"><div class="li">  Virtual Hosts</div>
</li>
<li class="level1"><div class="li">  Is that it?</div>
</li>
<li class="level1"><div class="li">  What if I enter the IP address?</div>
</li>
</ol>

</div>
<!-- EDIT1 SECTION "Contents" [443-591] -->
<h3 class="sectionedit2" id="process">1. Process</h3>
<div class="level3">

<p>
Let&#039;s take a quick look at what happens when you type a web address into your browser.
</p>

<p>
This is not a technical document so forgive the simplicity but the basics are quite simple:
</p>
<ul>
<li class="level1"><div class="li"> Your browser sends an HTTP request to your ISP.</div>
</li>
<li class="level1"><div class="li"> The request is routed, via your ISP and other servers, to where the IP address is located (i.e. your Cloud Server).</div>
</li>
<li class="level1"><div class="li"> The Cloud Server web server processes the HTTP request and returns the <abbr title="HyperText Markup Language">HTML</abbr> representation of the request to your browser.</div>
</li>
<li class="level1"><div class="li"> Your browser interprets the <abbr title="HyperText Markup Language">HTML</abbr> representation and parses the page for you.</div>
</li>
<li class="level1"><div class="li"> You click &#039;next&#039; and the whole process is repeated.</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "1. Process" [592-1231] -->
<h3 class="sectionedit3" id="single_ip_address">Single IP address</h3>
<div class="level3">

<p>
In this simple outline there is an important issue to note in that the web address you type into the browser is turned into an IP address.  Behind the scenes the more “human-friendly” domain name is turned into a series of numbers, like “123.45.67.89”.  Your browser uses that to find the site you want to visit on the Internet.
</p>

<p>
So if my Cloud Server only has one IP address can I only host one domain?
</p>

<p>
Nope. When your browser visits a site it still tells it what the domain name was that it looked up to get there.  This is where virtual hosts come in…
</p>

<p>
You can allocate many domains to one IP address.
</p>

<p>
So lets say you have three domains: domain1.com, domain2.com and domain3.com and all of them have been configured to point to your Cloud Server&#039;s IP address.
</p>

<p>
Using exactly the same (simplified) routing shown above, when any of your 3 domains are entered into a browser, the requests end up at your Cloud Server.
</p>

</div>
<!-- EDIT3 SECTION "Single IP address" [1232-2184] -->
<h3 class="sectionedit4" id="web_server">Web Server</h3>
<div class="level3">

<p>
Enter the Web Server. It doesn&#039;t really matter what Web Server we are talking about here, it could be Apache, Litespeed, Nginx, lighttpd or any of the dozens of Web Servers available.
</p>

<p>
The point is that the request for 3 different domains has arrived at a single point: Your Cloud Server and your Web Server.
</p>

</div>
<!-- EDIT4 SECTION "Web Server" [2185-2517] -->
<h3 class="sectionedit5" id="virtual_hosts">Virtual Hosts</h3>
<div class="level3">

<p>
You see Web Servers are quite cool.
</p>

<p>
They are able to look at those requests and say “Hey, this guy wants an <abbr title="HyperText Markup Language">HTML</abbr> representation of domain1.com and look, this guy wants one of domain2.com”.
</p>

<p>
The server knows which file to parse and what to send back to the browser because you defined different settings and file locations for each domain in your Virtual Hosts file.
</p>

<p>
Each web server differs slightly in how to set up the Virtual Hosts file but they all have the same base settings:
</p>

<p>
Virtual Host Name: The name of the domain being requested - e.g. domain3.com.
</p>

<p>
Domain Directory: The location of the files for the requested domain.
</p>

</div>
<!-- EDIT5 SECTION "Virtual Hosts" [2518-3179] -->
<h3 class="sectionedit6" id="is_that_it">Is that it?</h3>
<div class="level3">

<p>
Pretty much.
</p>

<p>
Of course, there are loads of settings you can customise for each Virtual Host but the basics remain the same: Receive a request for a domain, locate the requested domain&#039;s directory and, depending on what was requested, serve the requested files.
</p>

</div>
<!-- EDIT6 SECTION "Is that it?" [3180-3468] -->
<h3 class="sectionedit7" id="what_if_i_enter_the_ip_address">What if I enter the IP address?</h3>
<div class="level3">

<p>
Ah. Now you&#039;ve hit on the weak spot of name based Virtual Hosts: If all the domains have the same IP address, what happens when I enter the IP address?
</p>

<p>
There is usually a &#039;default&#039; domain. You may not have expressly set it up that way, but if the IP address is entered it is &#039;usual&#039; for the first domain (alphabetically) to be served.
</p>

<p>
As an example, in the Debian Etch Apache install, the default Virtual Host is named &#039;000-default&#039;. So if you have not expressly defined a Virtual Host for the IP address, then 000-default will be used.
</p>

<p>
It is worth saying that different web servers do act differently here. The main point is that, in this example, there is only one IP address so only one domain can be served.
</p>

<p>
However, it is relatively rare for people to browse
</p>

</div>
<!-- EDIT7 SECTION "What if I enter the IP address?" [3469-] -->