
<h1 class="sectionedit1" id="automated_node_backups_in_solusvm">Automated node backups in SolusVM</h1>
<div class="level1">

<p>
1. On the slave node run the following:
</p>

<p>
wget <a href="http://files.soluslabs.com/solusvm/scripts/keyput.sh" class="urlextern" title="http://files.soluslabs.com/solusvm/scripts/keyput.sh" rel="nofollow">http://files.soluslabs.com/solusvm/scripts/keyput.sh</a> <br/>

chmod a+x keyput.sh <br/>

./keyput.sh &lt;backup_server_ip&gt; &lt;backup_server_port&gt;
</p>

<p>
2. Edit the file /usr/local/solusvm/backup/backup-example.conf :
</p>

<p>
PRIVATE_DIR ….: The directory where all the containers are held (must include trailing slash)
</p>

<p>
CONF_DIR …….: The directory where all the vz config files are held
</p>

<p>
REMOTE_HOST ….: The ip address of the backup server
</p>

<p>
REMOTE_PORT ….: The port SSH runs on the backup server
</p>

<p>
REMOTE_DIR …..: The directory you want the backups to be stored in on the backup server
</p>

<p>
EMAIL ……….: Alert email address
</p>

<p>
3. mv /usr/local/solusvm/backup/backup-example.conf /usr/local/solusvm/backup/backup.conf
</p>

<p>
4. Type crontab -e and add the following line:
</p>

<p>
30 1 * * * /bin/nice -n19 /usr/bin/ionice -c3 /usr/bin/solusvmbackup &gt; /dev/null 2&gt;&amp;1
</p>

</div>
