
<p>
Change Value of “$config[“session_timeout”] ” and “$this→pluginConf[“CLIENT_TIMEOUT_TIME”]” in following file 
</p>

<p>
plugins/gui.ajax/class.AJXP_ClientDriver.php
</p>

<p>
e.g. to set timeout for 5 minutes.
</p>
<pre class="code"> $this-&gt;pluginConf[&quot;CLIENT_TIMEOUT_TIME&quot;] = 300;</pre>
<pre class="code"> $config[&quot;session_timeout&quot;] = 300;</pre>
