
<h1 class="sectionedit1" id="test_if_linux_server_scsisata_hard_disk_going_bad">Test If Linux Server SCSI / SATA Hard Disk Going Bad</h1>
<div class="level1">

<p>
First, make sure S.M.A.R.T. support is enabled in the BIOS. Next, run the following command to see if your hard disks support S.M.A.R.T technology or not:
</p>
<pre class="code">   # smartctl -i /dev/sdb</pre>

<p>
To enable SMART, run:
</p>
<pre class="code">   # smartctl -s on -d ata /dev/sdb
   </pre>

<p>
Run overall-health self-assessment test, enter:
</p>
<pre class="code">   # smartctl -d ata -H /dev/sdb
   </pre>

<p>
A sample output from failing hard disk:
</p>
<pre class="code">  smartctl version 5.38 [i686-pc-linux-gnu] Copyright (C) 2002-8 Bruce Allen
  Home page is http://smartmontools.sourceforge.net/
  === START OF READ SMART DATA SECTION ===
  SMART overall-health self-assessment test result: PASSED
  Please note the following marginal Attributes:
  ID# ATTRIBUTE_NAME          FLAG     VALUE WORST THRESH TYPE      UPDATED  WHEN_FAILED RAW_VALUE
  190 Airflow_Temperature_Cel 0x0022   044   033   045    Old_age   Always   FAILING_NO
  </pre>

<p>
The following will provide even more information about failing hard disk:
</p>
<pre class="code">  # smartctl --attributes --log=selftest /dev/sda
  </pre>

<p>
You can read more data from hard disk by typing the following command:
</p>
<pre class="code">  # smartctl -d ata -a /dev/sdb
  </pre>

<p>
To look at ATA disks behind 3ware SCSI RAID controllers, the syntax is:
</p>
<pre class="code">   
   # smartctl -a -d 3ware,2 /dev/sda
   
   # smartctl -a -d 3ware,0 /dev/twe0</pre>

</div>
