
<h1 class="sectionedit1" id="setup_elk_on_centos">Setup ELK on [CentOS]</h1>
<div class="level1">
<hr />

</div>
<!-- EDIT1 SECTION "Setup ELK on [CentOS]" [1-43] -->
<h3 class="sectionedit2" id="install_java">Install Java :</h3>
<div class="level3">

<p>
<code>rpm -i <a href="http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm" class="urlextern" title="http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm" rel="nofollow">http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm</a></code>
</p>

<p>
<code>yum install java-1.8.0-openjdk -y</code>
</p>

<p>
<code>yum install java-1.8.0-openjdk-devel -y</code>
</p>

</div>
<!-- EDIT2 SECTION "Install Java :" [44-316] -->
<h3 class="sectionedit3" id="setup_elasticsearch">Setup Elasticsearch :</h3>
<div class="level3">

<p>
<em><strong>Note</strong> : Disable selinux &amp; flush firewall.</em>
</p>

<p>
a. Install elasticsearch using <a href="https://www.elastic.co/guide/en/kibana/4.5/setup.html#kibana-yum" class="urlextern" title="https://www.elastic.co/guide/en/kibana/4.5/setup.html#kibana-yum" rel="nofollow">YUM</a>.
</p>

<p>
b. Edit file /etc/elasticsearch/elasticsearch.yml
</p>

<p>
<code>network.host: 127.0.0.1</code>
</p>

<p>
c. Restart &amp; Enable <em>elasticsearch </em> daemon.
</p>

</div>
<!-- EDIT3 SECTION "Setup Elasticsearch :" [317-633] -->
<h3 class="sectionedit4" id="setup_kibana">Setup Kibana :</h3>
<div class="level3">

<p>
a. Install kiban using <a href="https://www.elastic.co/guide/en/kibana/4.5/setup.html#kibana-yum" class="urlextern" title="https://www.elastic.co/guide/en/kibana/4.5/setup.html#kibana-yum" rel="nofollow">YUM</a>.
</p>

<p>
b. Edit <em>config/kibana.yml</em> file. [Probable File path : /opt/kibana/config/kibana.yml]
</p>

<p>
<code>server.port: 5601</code> [Port on which kibana will listen, it can be of your choice]
</p>

<p>
<code>elasticsearch.url: “http: 127.0.0.1:9200”</code> [elastic search <abbr title="Uniform Resource Locator">URL</abbr> Host : 127.0.0.1 &amp; Port : 9200 (default)]
</p>

<p>
c. Allow port 5601 in firewall, or allow kibana port.
</p>

<p>
d. Restart &amp; Enable kibana daemon.
</p>

</div>
<!-- EDIT4 SECTION "Setup Kibana :" [634-1131] -->
<h3 class="sectionedit5" id="setup_logstash">Setup Logstash :</h3>
<div class="level3">

<p>
a. Install Logstash using <a href="https://www.elastic.co/guide/en/logstash/current/installing-logstash.html#_yum" class="urlextern" title="https://www.elastic.co/guide/en/logstash/current/installing-logstash.html#_yum" rel="nofollow">YUM</a> or <a href="https://www.elastic.co/guide/en/logstash/current/installing-logstash.html#_apt" class="urlextern" title="https://www.elastic.co/guide/en/logstash/current/installing-logstash.html#_apt" rel="nofollow">APT-GET</a>.
</p>

<p>
b. Configure Logstash :
</p>

<p>
Logstash configuration is consisting of 3 sections :
</p>
<ul>
<li class="level1"><div class="li"> <em>input</em>  (comes from forwarder using lumberjack net protocol, stdin etc…)</div>
</li>
<li class="level1"><div class="li"> <em>filter</em>  (process the incoming logs.)</div>
</li>
<li class="level1"><div class="li"> <em>output</em>  (stores them to elasticsearch storage.)</div>
</li>
</ul>

<p>
You can configure all the sections in a single file or can use different files for each sections for better readability.
</p>

<p>
You can checkout simple Logstash configuration <a href="https://www.elastic.co/guide/en/logstash/current/config-examples.html" class="urlextern" title="https://www.elastic.co/guide/en/logstash/current/config-examples.html" rel="nofollow">here</a>. Logstash configuration directory : <strong>/etc/logstash/conf.d/</strong>
</p>

<p>
You also require to generate &amp; configure ssl certificates to used between Logstash &amp; Logstash-forwarder for encrypted communication over network.
</p>

<p>
c. Start &amp; Enable Logstash daemon.
</p>

</div>
<!-- EDIT5 SECTION "Setup Logstash :" [1132-2124] -->
<h3 class="sectionedit6" id="setup_filebeat">Setup FileBeat:</h3>
<div class="level3">

<p>
Installed on client servers that will send their logs to Logstash, <a href="https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-getting-started.html" class="urlextern" title="https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-getting-started.html" rel="nofollow">Filebeat</a> serves as a log shipping agent that utilizes the <em>lumberjack</em>  networking protocol to communicate with Logstash.
</p>

<p>
a. Install <a href="https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-installation.html" class="urlextern" title="https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-installation.html" rel="nofollow">FileBeat</a>.
</p>

<p>
b.
</p>

</div>
<!-- EDIT6 SECTION "Setup FileBeat:" [2125-2544] -->
<h3 class="sectionedit7" id="troubleshooting">Troubleshooting :</h3>
<div class="level3">

<p>
You might face various errors while setting up ELK. To find their workaround to need to identify error logs first &amp; then solution.
</p>

<p>
Logstash :
</p>
<ul>
<li class="level1"><div class="li"> Log directory : <em>/var/log/logstash</em>  /</div>
</li>
<li class="level1"><div class="li"> error log file : <em>/var/log/logstash/logstash.err</em></div>
</li>
<li class="level1"><div class="li"> normal log file : <em>/var/log/logstash/logstash.log</em></div>
</li>
<li class="level1"><div class="li"> Config file test : <em>&lt;path&gt;/bin/logstash -f &lt;path&gt;logstash-config-file.conf</em></div>
</li>
</ul>

<p>
Kibana :
</p>
<ul>
<li class="level1"><div class="li"> Log directory : <em>/var/log/kibana</em>  /</div>
</li>
<li class="level1"><div class="li"> error log file : <em>/var/log/kibana</em><em>/kibana.stderr</em></div>
</li>
<li class="level1"><div class="li"> normal log file : <em>/var/log/kibana</em><em>/kibana.stdout</em></div>
</li>
</ul>

<p>
Logstash-forwarder:
</p>

</div>
<!-- EDIT7 SECTION "Troubleshooting :" [2545-3152] -->
<h3 class="sectionedit8" id="in_depth_reference_links">In depth Reference Links :</h3>
<div class="level3">

<p>
Logstash : <a href="https://www.elastic.co/guide/en/logstash/current/getting-started-with-logstash.html" class="urlextern" title="https://www.elastic.co/guide/en/logstash/current/getting-started-with-logstash.html" rel="nofollow">https://www.elastic.co/guide/en/logstash/current/getting-started-with-logstash.html</a>
</p>

<p>
ELK : <a href="https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-elk-stack-on-centos-7" class="urlextern" title="https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-elk-stack-on-centos-7" rel="nofollow">https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-elk-stack-on-centos-7</a>
</p>

</div>
<!-- EDIT8 SECTION "In depth Reference Links :" [3153-] -->