
<p>
1) Create a directory in /usr/local/apache to store your custom error messages. In this case, I have named the directory “customerror”:
</p>

<p>
mkdir /usr/local/apache/customerror
</p>

<p>
2) Ensure your custom error pages have been added to this directory (400.shtml, 404.shtml, etc).
</p>

<p>
3) In Web Host Manager, browse to:
</p>

<p>
“WHM Main » Service Configuration » Apache Configuration » Include Editor”, select “All Versions” under “Pre Virtual Host Include”.
</p>

<p>
4) Add the following to the text box:
</p>

<p>
Alias /errorfolder /usr/local/apache/customerror/ <br/>

ErrorDocument 400 /errorfolder/400.shtml<br/>

ErrorDocument 401 /errorfolder/401.shtml<br/>

ErrorDocument 403 /errorfolder/403.shtml<br/>

ErrorDocument 404 /errorfolder/404.shtml<br/>

ErrorDocument 500 /errorfolder/500.shtml<br/>

</p>

<p>
5) Click “Update”, and then click “Restart Apache”.
</p>
