
<p>
You can restrict the IP by going into WHM » Security Center » Host Access Control (block IP access) » Enter the following values in the specified fields
</p>

<p>
<strong> Allow your IP first

Daemon » whostmgrd

Access List » your ip that you want to allow

Action » allow

Comment » your comment

 

</strong> Block all other IP&#039;s
</p>

<p>
Daemon » whostmgrd
</p>

<p>
Access List » all
</p>

<p>
Action » deny
</p>

<p>
Comment » your comment
</p>

<p>
For cpanel you can add the same entires, expect in the Daemon field you should put cpaneld.
</p>

<p>
NOTE :: You should first add the rule to allow your ip and then deny all other ip&#039;s as the rules have order of precedence. If you add the deny rule first, you will get yourself blocked
</p>
