
<h1 class="sectionedit1" id="backup_large_cpanel_account">Backup large cPanel account</h1>
<div class="level1">

<p>
Login as root in the shell.
</p>

<p>
Run the command:
</p>

<p>
# /scripts/pkgacct &lt;username&gt;
</p>

<p>
Then move it to the new server by using the following command:
</p>

<p>
# scp /home/cpmove-&lt;username&gt;.tar.gz root@&lt;ServerIP&gt;:/home
</p>

<p>
To restore it on new server, login as root in new server.
</p>

<p>
Then run:
</p>

<p>
# /scripts/restorepkg &lt;username&gt;
</p>

</div>
