
<p>
- Set up Permalinks in wordpress. Under settings, click Permalinks and select the format you’d like.
</p>
<pre class="code">    e.g. /%year%/%monthnum%/%postname%/
    </pre>

<p>
- Click Save Changes.
</p>

<p>
- This works well, however, the <abbr title="Uniform Resource Locator">URL</abbr> isn’t so pretty. If you notice, all the URLs have index.php appended to them–which sucks.
</p>

<p>
- This is where the <abbr title="Uniform Resource Locator">URL</abbr>_Rewrite mod comes in. Once you have the mod installed, create a web.config file with the following rules.
</p>
<pre class="code">  &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
    &lt;configuration&gt;
     &lt;system.webServer&gt;
      &lt;defaultDocument&gt;
        &lt;!-- Set the default document --&gt;
         &lt;files&gt;
          &lt;remove value=&quot;index.php&quot; /&gt;
          &lt;add value=&quot;index.php&quot; /&gt;
         &lt;/files&gt;
      &lt;/defaultDocument&gt;
      &lt;httpErrors errorMode=&quot;Detailed&quot;/&gt;
   &lt;rewrite&gt;
      &lt;rules&gt;
          &lt;rule name=&quot;wordpress&quot; patternSyntax=&quot;Wildcard&quot;&gt;
              &lt;match url=&quot;*&quot; /&gt;
                  &lt;conditions&gt;
                      &lt;add input=&quot;{REQUEST_FILENAME}&quot; matchType=&quot;IsFile&quot; negate=&quot;true&quot; /&gt;
                      &lt;add input=&quot;{REQUEST_FILENAME}&quot; matchType=&quot;IsDirectory&quot; negate=&quot;true&quot; /&gt;
                  &lt;/conditions&gt;
              &lt;action type=&quot;Rewrite&quot; url=&quot;index.php&quot; /&gt;
          &lt;/rule&gt;
      &lt;/rules&gt;
  &lt;/rewrite&gt;
  &lt;/system.webServer&gt;
  &lt;/configuration&gt;</pre>

<p>
Note: Make sure there’s no white space at the beginning or end of the file. It’ll spit out errors.
The first part of the config file..Remove Index.php:
</p>
<pre class="code">  &lt;defaultDocument&gt;
   &lt;!-- Set the default document --&gt;
    &lt;files&gt;
      &lt;remove value=&quot;index.php&quot; /&gt;
      &lt;add value=&quot;index.php&quot; /&gt;
    &lt;/files&gt;
  &lt;/defaultDocument&gt;</pre>

<p>
This pretty much tells the application to function without the awful “index.php” appended in the <abbr title="Uniform Resource Locator">URL</abbr>.
The second part let’s troubleshoot:
</p>

<p>
 &lt;httpErrors errorMode=“Detailed”/&gt;
</p>

<p>
Tells the app to show us exactly whats going on when an error happens, you can leave this out. I use it for troubleshooting purposes.
And now the WordPress Rule, this lets you use whatever <abbr title="Uniform Resource Locator">URL</abbr> structure you’d like.
</p>
<pre class="code">  &lt;rewrite&gt;
      &lt;rules&gt;
          &lt;rule name=&quot;wordpress&quot; patternSyntax=&quot;Wildcard&quot;&gt;
              &lt;match url=&quot;*&quot; /&gt;
                  &lt;conditions&gt;
                      &lt;add input=&quot;{REQUEST_FILENAME}&quot; matchType=&quot;IsFile&quot; negate=&quot;true&quot; /&gt;
                      &lt;add input=&quot;{REQUEST_FILENAME}&quot; matchType=&quot;IsDirectory&quot; negate=&quot;true&quot; /&gt;
                  &lt;/conditions&gt;
              &lt;action type=&quot;Rewrite&quot; url=&quot;index.php&quot; /&gt;
          &lt;/rule&gt;
      &lt;/rules&gt;
  &lt;/rewrite&gt;</pre>

<p>
Place this web.config file on the root of your wordpress installation and it should function the same as an .htaccess file in Apache.
And there you have it.
</p>
