
<h1 class="sectionedit1" id="dealing_with_wordpress_post_revisions">Dealing with WordPress Post Revisions</h1>
<div class="level1">

<p>
<br/>

1. Download latest Wordpress Database Optimizer tool from  Here. <br/>

2. Install the Plug-in.
 After installation you get a new menu entry in WordPress Dashboard — DB Optimizer as you can see in the following screenshot.
</p>

<p>
<a href="/_detail/wp-database-optimizer-tools-menu.jpg?id=dealing_with_wordpress_post_revisions" class="media" title="wp-database-optimizer-tools-menu.jpg"><img src="/_media/wp-database-optimizer-tools-menu.jpg" class="media" alt="" /></a>
</p>

<p>
3. Go to the DB Optimizer –&gt; DB Optimizer sub-menu.
</p>

<p>
Under the DB Optimizer section, it shows the number of revisions that are stored in the DB, and enables with a way to delete them at one go. It additionally takes care of stored auto-drafts, trashed posts, comment spam, etc. Have a look at the following screenshot.
</p>

<p>
<a href="/_detail/wp-database-optimizer-tools-revisions1.jpg?id=dealing_with_wordpress_post_revisions" class="media" title="wp-database-optimizer-tools-revisions1.jpg"><img src="/_media/wp-database-optimizer-tools-revisions1.jpg" class="media" alt="" /></a>
</p>

<p>
4. Check all the boxes — most important is the optimise DB table box at the end — and hit Process.
</p>

<p>
Now, checkout this next screenshot.
</p>

<p>
<a href="/_detail/wp-database-optimiser-tools-revisions-deleted.jpg?id=dealing_with_wordpress_post_revisions" class="media" title="wp-database-optimiser-tools-revisions-deleted.jpg"><img src="/_media/wp-database-optimiser-tools-revisions-deleted.jpg" class="media" alt="" /></a>
</p>

</div>
