
<p>
1. Open a command prompt and type “netsh”. <br/>

netsh
</p>

<p>
2. Type “http”. <br/>

http
</p>

<p>
3. Enter the following command to display the current list of IPs to listen on. Note if no IPs are displayed like in the below image, IIS will listen on all IPs (default). <br/>

show iplisten
</p>

<p>
4. Use the command below to set IIS to listen on a specific IP. Make sure to replace 127.0.0.1 with the correct IP and run the command again for any additional addresses. <br/>

add iplisten ipaddress=127.0.0.1
</p>

<p>
5. In case you need to delete an IP from this list, use the following command. <br/>

delete iplisten ipaddress=127.0.0.1
</p>

<p>
6. Restart IIS to apply these changes. <br/>

iisreset
</p>
