
<h1 class="sectionedit1" id="configure_backup_mx_in_cpanel">Configure Backup MX in Cpanel</h1>
<div class="level1">

<p>
- Create a cpanel account for mailing domain for which Backup MX is to be configure.
</p>

<p>
<strong>(NOTE: MAKE SURE THERE IS “Backup Mail Exchanger” SELECTED UNDER “Mail Routing Settings” WHILE CREATING ACCOUNT)</strong>
</p>

<p>
- Open the current <abbr title="Domain Name System">DNS</abbr> entries of the mailing domain and add a MX entries which pointing to the newly created cpanel account&#039;s server with higher priority value than existing MX entry. 
</p>

<p>
    e.g.    
</p>
<pre class="code">         Doamain        Priority    Hostname 
         mailing.com        0          abc.com  (Existed MX entry)
         mailing.com        10         xyz.com  (Newly added MX entry where xyz.com is pointing to new cpanel account server)
        </pre>

<p>
- Now open the <abbr title="Domain Name System">DNS</abbr> setting of newly created cpanel account and change the MX entries EXACT as in above step.
</p>
<pre class="code">i.e. EXACT MX entries as in current DNS entries of the mailing domain.          </pre>

<p>
- Save the entries and EXIT.
</p>

<p>
Now, if primary mailing server abc.com goes down the mails will routed to xyz.com and held until abc.com available, once abc.com comes live all held mails will be delivered to respective mail ID&#039;s on abc.com.
</p>

<p>
<strong>(NOTE: FOR ALL ABOVE THERE MUST BE SEPARATE <abbr title="Domain Name System">DNS</abbr> Server, Mailing Server and Backup MX Server)</strong>
</p>

</div>
