
<p>
Login in the admin panel of zimbra
</p>

<p>
<br/>

Go to Configure → Global Settings → Proxy<br/>

Set the following settings.<br/>

 Tick Enable web proxy<br/>

 Web proxy mode: both<br/>

 Click Save
</p>

<p>
<br/>

Go to Configure → Servers → Click on the server → Proxy<br/>

Set the following settings.<br/>

 Tick Enable web proxy<br/>

 Web proxy mode: both<br/>

 Untick Proxy to upstream servers via SSL<br/>

 Click Save
</p>

<p>
Login as root user and run following commands-
</p>

<p>
<pre class="code">su - zimbra
zmlocalconfig zimbraReverseProxySSLToUpstreamEnabled FALSE
/opt/zimbra/libexec/zmproxyconfig -e -w -o -a 8080:80:8443:443 -x both -H $HOSTNAME
zmtlsctl both
zmprov ms $HOSTNAME zimbraReverseProxyMailMode both
zmprov ms $HOSTNAME zimbraMailMode both
zmcontrol restart</pre>

</p>
