
<h1 class="sectionedit1" id="zimbra_account_usage_report_script">Zimbra Account Usage Report Script</h1>
<div class="level1">

<p>
Create a file accountusage.sh with following content:
<pre class="code">#!/bin/bash
output=&quot;/tmp/accountusage&quot;
domain=&quot;&lt;yourdomainnamehere.com&gt;&quot;
SendTo=&quot;&lt;notification_email&gt;&quot;

rm -f $output
touch $output

server=`hostname`
/opt/zimbra/bin/zmprov gqu $server|grep $domain|awk {&#039;print $1&quot; &quot;$3&quot; &quot;$2&#039;}|sort|while read line
do
usage=`echo $line|cut -f2 -d &quot; &quot;`
quota=`echo $line|cut -f3 -d &quot; &quot;`
user=`echo $line|cut -f1 -d &quot; &quot;`
status=`/opt/zimbra/bin/zmprov ga $user | grep  ^zimbraAccountStatus | cut -f2 -d &quot; &quot;`
echo &quot;$user `expr $usage / 1024 / 1024`Mb `expr $quota / 1024 / 1024`Mb ($status account)&quot; &gt;&gt; $output
done

cat $output | mail @SendTo -s&quot;Mailbox Usages for $domain&quot;
 

Add this script to cron jobs:

0 0 0 * * &lt;path_to_script&gt; </pre>

</p>

</div>
