
<p>
Most of the Time permalinks should be in post name format.
</p>

<p>
<strong>Automatic Way</strong>
</p>

<p>
Go to Wordpress Dashboard &gt; Setting &gt; Permainks
</p>

<p>
<img src="/_media/permalink-settings.png?w=200&amp;tok=4cb564" class="mediacenter" alt="" width="200" />
</p>

<p>
then Select Permalinks » SAVE
</p>

<p>
If wordpress give error of permission then give CHMOD 644 write permission of .htaccess file.
</p>

<p>
<strong>Manual way</strong>
</p>

<p>
SSH » Go to Root » EDIT .htaccess file and append below lines according domain or subdomain.
</p>

<p>
[ #1 ] If WordPress installed in the root directory »
</p>

<p>
# BEGIN WordPress
&lt;IfModule mod_rewrite.c&gt;
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
&lt;/IfModule&gt;
# END WordPress
[ #2 ] If WordPress installed in a subdirectory called “foo” »
</p>

<p>
# BEGIN WordPress
&lt;IfModule mod_rewrite.c&gt;
RewriteEngine On
RewriteBase /foo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /foo/index.php [L]
&lt;/IfModule&gt;
# END WordPress
</p>
