<ul>
<li class="level1"><div class="li"> Rest <abbr title="Application Programming Interface">API</abbr> Testing - <a href="https://github.com/jeroenooms/resttesttest" class="urlextern" title="https://github.com/jeroenooms/resttesttest"  rel="nofollow">https://github.com/jeroenooms/resttesttest</a></div>
</li>
<li class="level1"><div class="li"> Country Codes For IP - <a href="http://www.worldatlas.com/aatlas/ctycodes.htm" class="urlextern" title="http://www.worldatlas.com/aatlas/ctycodes.htm"  rel="nofollow">http://www.worldatlas.com/aatlas/ctycodes.htm</a></div>
</li>
</ul>
