
<h1 class="sectionedit1" id="enabledisable_multiple_rdp_sessions_in_windows_2012">Enable/Disable Multiple RDP Sessions in Windows 2012</h1>
<div class="level1">

<p>
<strong>Enable Multiple RDP Sessions</strong>
</p>
<ul>
<li class="level1"><div class="li"> Log into the server using Remote Desktop.</div>
</li>
<li class="level1"><div class="li"> Open the start screen (press the Windows key) and type gpedit.msc and open it</div>
</li>
<li class="level1"><div class="li"> Go to Computer Configuration &gt; Administrative Templates &gt; Windows Components &gt; Remote Desktop Services &gt; Remote Desktop Session Host &gt; Connections.</div>
</li>
<li class="level1"><div class="li"> Set Restrict Remote Desktop Services user to a single Remote Desktop Services session to Disabled.</div>
</li>
<li class="level1"><div class="li"> Double click Limit number of connections and set the RD Maximum Connections allowed to 999999. </div>
</li>
</ul>

<p>
<strong>Disable Multiple RDP Sessions</strong>
</p>
<ul>
<li class="level1"><div class="li"> Log into the server using Remote Desktop.</div>
</li>
<li class="level1"><div class="li"> Open the start menu and type &#039;gpedit.msc&#039; and open it</div>
</li>
<li class="level1"><div class="li"> Go to Computer Configuration &gt; Administrative Templates &gt; Windows Components &gt; Remote Desktop Services &gt; Remote Desktop Session Host &gt; Connections.</div>
</li>
<li class="level1"><div class="li"> Set Restrict Remote Desktop Services user to a single Remote Desktop Services session to Enabled.</div>
</li>
</ul>

</div>
