
<p>
Note the process of KVM windows server migration to XEN HVM node.
</p>

<p>
1. Create same config VM on XEN HVM node and mount the ISO for same <abbr title="Operating System">OS</abbr>.
</p>

<p>
2. Shut down the same.
</p>

<p>
3. Create a new LVM and mount on both nodes with enough storage to hold the data of img files.
</p>

<p>
4. Shut down the source VM. ( note the KVM ID of the VM as you&#039;ll need the same later on.)
</p>

<p>
5. Login in screen of source node
</p>

<p>
6. dd if=/dev/VolGroup00/&lt;kvm-id&gt;_img of=/&lt;path to store data&gt;/&lt;kvm-id&gt;.img<br/>

(&lt;path to store data&gt; this must be latest LVM created and mounted to store the data.)
</p>

<p>
7. Now move the file /&lt;path to store data&gt;/&lt;kvm-id&gt;.img to destination node on the new LVM for storage. ( Move it using private nerwork if possible).
</p>

<p>
8. dd if=/&lt;path to store data&gt;/&lt;kvm-id&gt;.img of=/dev/VolGroup00/&lt;vm-id&gt;_img<br/>

(&lt;vm-id&gt; here is xen id of you new server)
</p>

<p>
9. xl create  /home/xen/&lt;vm-id&gt;/&lt;vm-id&gt;.cfg
</p>

<p>
Now test the working of new server on the new node.
</p>

<p>
10. Remove the LVM created for storage on both nodes.
</p>

<p>
Note: Once the source server is down, assign the fake IP to the same and move the IP to newly created VM.
</p>
