
<p>
Before proceeding for PoC setup we need to set a benchmark of how much we have to optimize the PoC setup so that it performs better then clients existing website.
</p>

<p>
1. Check Home, Category &amp; Product page performance from <a href="https://tools.pingdom.com" class="urlextern" title="https://tools.pingdom.com" rel="nofollow">tools.pingdom.com</a>.
</p>

<p>
2. Check Complete checkout process on clients website by placing a sample test order.
</p>

<p>
3. Check Category page filters (like price, color, brand etc..)
</p>

<p>
4. Check client&#039;s server configuration.
</p>
<ul>
<li class="level1"><div class="li"> RAM ( <code>free -m</code>  )</div>
</li>
<li class="level1"><div class="li"> CPUs ( <code>lscpu</code>  )</div>
</li>
<li class="level1"><div class="li"> Architecture &amp; <abbr title="Operating System">OS</abbr>.</div>
</li>
<li class="level1"><div class="li"> Control Panel. ( Cpanel, Plesk, Vesta etc… )</div>
</li>
<li class="level1"><div class="li"> Monthly CPU and RAM usage.</div>
</li>
</ul>
