
<p>
Make sure PolicyD should be installed.<br/>

</p>

<p>
Limit Per user Per Email per Hour.<br/>

</p>

<p>
PolicyD WEB <abbr title="Uniform Resource Locator">URL</abbr>: <a href="http://IP:7780/webui/index.php" class="urlextern" title="http://IP:7780/webui/index.php" rel="nofollow">http://IP:7780/webui/index.php</a><br/>

</p>

<p>
Policies → Group –&gt; Select Action –&gt; Add <br/>

Add Policy Group <br/>

Name: list_domains <br/>

Comment: It can be empty or filled with comment. <br/>

</p>

<p>
Policies –&gt; Group –&gt; Select your group. –&gt; Select members from Select action option. <br/>

Make sure disabled status is no at groups or members groups. <br/>

</p>

<p>
Policy Group Members <br/>

Select action –&gt; add <br/>

</p>

<p>
Add member –&gt; @domain <br/>

</p>

<p>
Select Policies –&gt; Main. Create new policy and give name rate limit sending message. <br/>

</p>

<p>
Add Policy <br/>

Name: rate limit <br/>

Priority: 20 <br/>

</p>

<p>
Select Policy –&gt; Select Action –&gt; Select members –&gt; Add <br/>

</p>

<p>
Select Quotas –&gt; Configure. <br/>

Select action –&gt; add. <br/>

fill with the following example <br/>

</p>

<p>
Name : Rate Limit <br/>

Track : sender:user@domain <br/>

Period : 3600 <br/>

Link to policy : Rate Limit Sending Message <br/>

Verdict : Defer (delay) <br/>

Data : information who give to users if policy have been meet or you can empty. <br/>

</p>

<p>
Select new quota that had been previously created. <br/>

select actions –&gt; limits <br/>

</p>

<p>
Add limit and configure. <br/>

</p>

<p>
Type: Message Count <br/>

Counter Limit: 200 <br/>

</p>

<p>
Ensure disabled status is no in quota limit.<br/>

</p>

<p>
Log file: /opt/zimbra/log/cbpolicyd.log
</p>

<p>
Above configuration will limit sending message from local domain to outside and outside to any domain with maximum message 200 email/user/hour.
</p>
