
<p>
Login to <a href="https://panel.mantragrid.com/admincp" class="urlextern" title="https://panel.mantragrid.com/admincp" rel="nofollow">https://panel.mantragrid.com/admincp</a>
</p>

<p>
Navigate To Media from the menu bar.
</p>

<p>
Click on Add KVM Template.
</p>

<p>
<img src="/lib/exe/fetch.php?w=1024&amp;h=546&amp;tok=6625be&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fsolusvm%2Fselection_157.png" class="media" alt="" width="1024" height="546" />
</p>

<p>
Enter Below Options:
</p>

<p>
Template Name: Template name can be anything.
</p>

<p>
Description: Description can be anything.
</p>

<p>
Generation: 2
</p>

<p>
Template:  Select your template from the dropdown.
</p>

<p>
Status: Active
</p>

<p>
Arch: x86_64
</p>

<p>
Disk Driver: virtio (for VDA)
</p>

<p>
Root/Admin Password: let it be blank
</p>

<p>
Change Admin/Root Password: check
</p>

<p>
Configure Networking: check
</p>

<p>
Partition # to resize: 1
</p>

<p>
Swap Partition: 2
</p>

<p>
Add Template
</p>

<p>
That&#039;s it!
</p>
