
<h1 class="sectionedit1" id="remove_recording_options_from_general_settings_page_elastix">Remove recording options from General Settings page (Elastix)</h1>
<div class="level1">

<p>
<pre class="code">Edit the file /var/www/html/admin/modules/core/page.general.php

Comment out the following section:

---------------------------------------------------------------------------------------------------------------------------------------------------------------------

&lt;h5&gt;&lt;?php echo _(&quot;Call Recording&quot;)?&gt;&lt;/h5&gt;

&lt;table&gt;

        &lt;tr&gt;&lt;td&gt;

        &lt;a href=# class=&quot;info&quot;&gt;&lt;?php echo _(&quot;Extension Recording Override:&quot;)?&gt;&lt;span&gt;

        &lt;?php echo _(&quot;This will override the recording settings of all extensions/users. If enabled, the system will ignore all Record Always settings of a user and will not turn on recording. This does not effect On Demand recording controlled by the dial options &#039;w&#039; and &#039;W&#039; above. It does not effect other recording settings in modules such as Queues and Conferences. If you don&#039;t use recordings, setting this is beneficial to system performance as it removes the check that is otherwise done on every single call.&quot;); ?&gt;&lt;/span&gt;&lt;/a&gt;

        &lt;/td&gt;&lt;td align=&quot;right&quot;&gt;

        &lt;select name=&quot;RECORDING_STATE&quot; tabindex=&quot;&lt;?php echo ++$tabindex;?&gt;&quot;&gt;

                &lt;option value=&quot;DISABLED&quot;  &lt;?php  echo ($RECORDING_STATE == &#039;DISABLED&#039; ? &#039;SELECTED&#039; : &#039;&#039;)?&gt;&gt;&lt;?php echo _(&quot;Enabled&quot;)?&gt;

                &lt;option value=&quot;ENABLED&quot;   &lt;?php  echo ($RECORDING_STATE == &#039;ENABLED&#039;  ? &#039;SELECTED&#039; : &#039;&#039;)?&gt;&gt;&lt;?php echo _(&quot;Disabled&quot;)?&gt;

        &lt;/select&gt;

        &lt;/td&gt;&lt;/tr&gt;

        &lt;tr&gt;&lt;td&gt;

  &lt;a href=# class=&quot;info&quot;&gt;&lt;?php echo _(&quot;Call recording format:&quot;)?&gt;&lt;span&gt;

  &lt;?php echo _(&quot;Pick the format in which to save recorded calls&quot;)?&gt;

  &lt;/span&gt;&lt;/a&gt;

        &lt;/td&gt;&lt;td align=&quot;right&quot;&gt;

  &lt;select name=&quot;MIXMON_FORMAT&quot; tabindex=&quot;&lt;?php echo ++$tabindex;?&gt;&quot;&gt;

  &lt;option value=&quot;WAV&quot;&lt;?php if ($MIXMON_FORMAT == &quot;WAV&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;WAV&quot;); ?&gt;&lt;/option&gt;

  &lt;option value=&quot;wav&quot;&lt;?php if ($MIXMON_FORMAT == &quot;wav&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;wav&quot;); ?&gt;&lt;/option&gt;

  &lt;option value=&quot;ulaw&quot;&lt;?php if ($MIXMON_FORMAT == &quot;ulaw&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;ulaw&quot;); ?&gt;&lt;/option&gt;

  &lt;option value=&quot;alaw&quot;&lt;?php if ($MIXMON_FORMAT == &quot;alaw&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;alaw&quot;); ?&gt;&lt;/option&gt;

  &lt;option value=&quot;sln&quot;&lt;?php if ($MIXMON_FORMAT == &quot;sln&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;sln&quot;); ?&gt;&lt;/option&gt;

  &lt;option value=&quot;gsm&quot;&lt;?php if ($MIXMON_FORMAT == &quot;gsm&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;gsm&quot;); ?&gt;&lt;/option&gt;

  &lt;option value=&quot;g729&quot;&lt;?php if ($MIXMON_FORMAT == &quot;g729&quot;) echo &quot; SELECTED&quot;; ?&gt;&gt;&lt;?php echo _(&quot;g729&quot;); ?&gt;&lt;/option&gt;

  &lt;/select&gt;

        &lt;/td&gt;&lt;/tr&gt;

        &lt;tr&gt;&lt;td&gt;

  &lt;a href=# class=&quot;info&quot;&gt;&lt;?php echo _(&quot;Recording Location:&quot;)?&gt;&lt;span&gt;

  &lt;?php echo _(&quot;Override the default location where asterisk will store call recordings. Include the trailing /. Be sure to set proper permissions on the directory for the asterisk user.&quot;)?&gt;&lt;br&gt;

  &lt;/span&gt;&lt;/a&gt;

        &lt;/td&gt;&lt;td align=&quot;right&quot;&gt;

  &lt;input type=&quot;text&quot; size=&quot;30&quot; name=&quot;MIXMON_DIR&quot; value=&quot;&lt;?php  echo htmlspecialchars($MIXMON_DIR)?&gt;&quot; tabindex=&quot;&lt;?php echo ++$tabindex;?&gt;&quot;/&gt;

        &lt;/td&gt;&lt;/tr&gt;

        &lt;tr&gt;&lt;td&gt;

  &lt;a href=# class=&quot;info&quot;&gt;&lt;?php echo _(&quot;Run after record:&quot;)?&gt;&lt;span&gt;

  &lt;?php echo _(&quot;An optional script to be run after the call is hungup. You can include channel and MixMon variables like \${CALLFILENAME}, \${MIXMON_FORMAT} and \${MIXMON_DIR}. To ensure that you variables are properly escaped, use the following notation: ^{MY_VAR}&quot;)?&gt;&lt;br&gt;

  &lt;/span&gt;&lt;/a&gt;

        &lt;/td&gt;&lt;td align=&quot;right&quot;&gt;

  &lt;input type=&quot;text&quot; size=&quot;30&quot; name=&quot;MIXMON_POST&quot; value=&quot;&lt;?php  echo htmlspecialchars($MIXMON_POST)?&gt;&quot; tabindex=&quot;&lt;?php echo ++$tabindex;?&gt;&quot;/&gt;

        &lt;/td&gt;&lt;/tr&gt;

&lt;/table&gt;

---------------------------------------------------------------------------------------------------------------------------------------------------------------------
</pre>

</p>

</div>
