
<h1 class="sectionedit1" id="free_trial">Free Trial</h1>
<div class="level1">

<p>
Hello &lt;Prateek&gt;,
</p>

<p>
Thank You for placing an order with &lt;MantraVPS&gt;. As per our policies regarding the free trial, we will be requiring a scanned copy of the following documents:
</p>

<p>
1) Address proof
</p>

<p>
2) Photo Id proof
</p>

<p>
Once you provide us with the mentioned documents we will send you the login credentials.
</p>

</div>
