
<h2 class="sectionedit1" id="how_to_enable_flat_categories_and_products_in_magento">How to Enable Flat Categories and Products in Magento</h2>
<div class="level2">
<hr />

<p>
Magento uses the EAV database structure for storing the Products and Categories. Magento is extremely flexible because of the <a href="http://www.xpertdeveloper.com/2010/10/what-is-eav-model-in-magento/" class="urlextern" title="http://www.xpertdeveloper.com/2010/10/what-is-eav-model-in-magento/" rel="nofollow">EAV database structure</a>.<br/>

But EAV database model is not much faster in terms of the performance. This is because we need perform query on three tables to get single data. This is the main drawback of the EAV database model.
</p>

<p>
But don’t worry at all, because magento has provided the option to use the EAV database structure or not. We can enable the flat database model in model and can store the products and categories in traditional way which is called Flat Database Structure.
</p>

<p>
To Enable flattening follow below prodecure :
</p>
<ol>
<li class="level1"><div class="li"> Login to admin panel.</div>
</li>
<li class="level1"><div class="li"> From Top <em>Menu</em>  » <em>System</em>  » <em>Configuration</em></div>
</li>
<li class="level1"><div class="li"> In Catalog section click on catalog link. There you will find the Front End section. Expand that Front End section to enable the Flat Database.</div>
</li>
<li class="level1"><div class="li"> Set “<strong>Use Flat Catalog Category</strong>” and “<strong>Use Flat Catalog Product</strong>” to Yes and save the changes. For more information have a look at below image.</div>
</li>
<li class="level1"><div class="li"> <img src="/lib/exe/fetch.php?w=500&amp;h=337&amp;tok=351105&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fenable_flat_database_model_in_magento.png" class="media" alt="" width="500" height="337" /></div>
</li>
<li class="level1"><div class="li"> After updating to Flat category and products you need to <strong><a href="https://supportmantra.com/index.php?/Knowledgebase/Article/View/5/0/reindexing-in-magento" class="urlextern" title="https://supportmantra.com/index.php?/Knowledgebase/Article/View/5/0/reindexing-in-magento" rel="nofollow">Re-index</a></strong> the data from the Magento Index Management.</div>
</li>
</ol>

</div>
