
<p>
<pre class="code">#!/bin/bash
# Installs Newrelic System Monitor Daemon on CentOS/Ubuntu

os=`cat /etc/issue | head -n1 | awk &#039;{print $1;}&#039;`

if [ $os == &quot;CentOS&quot; ];
then

   echo &quot;CentOS found&quot;
   service newrelic-sysmond status
   var=`echo $?`
   if (($var == &quot;0&quot;)) || (($var == &quot;3&quot;)); then
		echo &quot;Newrelic Server Monitor is already installed, exiting..&quot;
		service newrelic-sysmond restart
		exit 1	
	else
    cd /root
	rpm -Uvh http://download.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm
	yum install newrelic-sysmond -y
	nrsysmond-config --set license_key=ffd8b9c03d076faf63a1701a3a85f3115b2123a4
	/etc/init.d/newrelic-sysmond start
	echo &quot;Newrelic agent installed successfully&quot;
	exit 0
    fi  
elif [ $os == &quot;Ubuntu&quot; ];
then
   echo &quot;Ubuntu found, starting installation&quot;
   
    cd /root
    echo deb http://apt.newrelic.com/debian/ newrelic non-free &gt;&gt; /etc/apt/sources.list.d/newrelic.list
    wget -O- https://download.newrelic.com/548C16BF.gpg | apt-key add -
    apt-get update
    apt-get install newrelic-sysmond -y
    nrsysmond-config --set license_key=ffd8b9c03d076faf63a1701a3a85f3115b2123a4
    /etc/init.d/newrelic-sysmond start
    exit 0
else
   echo &quot;Unsupported OS&quot;
   exit 1
fi   
exit</pre>

</p>
