
<p>
First create the domain with the number of mailbox limit specified:
</p>

<p>
<pre class="code">su - zimbra
zmprov cd &lt;domain.com&gt; zimbraDomainMaxAccounts &lt;Max_users_allowed&gt;</pre>

</p>

<p>
Then create the Domain Administrator:
<pre class="code">zmprov ca xyz@domain.com &lt;password&gt;
zmprov ma xyz@domain.com +zimbraAdminConsoleUIComponents accountListView
zmprov ma xyz@domain.com +zimbraAdminConsoleUIComponents DLListView
zmprov ma xyz@domain.com +zimbraAdminConsoleUIComponents aliasListView
zmprov ma xyz@domain.com zimbraIsDelegatedAdminAccount TRUE
zmprov grr domain domain.com usr xyz@domain.com +deleteAccount
zmprov grr domain domain.com usr xyz@domain.com +listAccount
zmprov grr domain domain.com usr xyz@domain.com +renameAccount
zmprov grr domain domain.com usr xyz@domain.com +setAccountPassword
zmprov grr domain domain.com usr xyz@domain.com createAccount
zmprov grr domain domain.com usr xyz@domain.com listDomain
zmprov grr domain domain.com usr xyz@domain.com set.account.zimbraAccountStatus
zmprov grr domain domain.com usr xyz@domain.com domainAdminRights</pre>

</p>
