
<p>
For INBOX of all users, just run: ./oldimport.sh
</p>

<p>
<pre class="code">#!/bin/bash
#
# courier/vpopmail Maildir to Zimbra Import
#
# This script can be stored anywhere, but you should run it while in the root
# of the domain&#039;s users.  It looks for the file vpasswd which contains a
# line-separated list of users and uses that to import.  You can also run the
# script with a user name to process a single user.  Additionally, you can
# specify a folder name (courier format) to process a single folder for that
# user.

# We assume the folder structure is like this:
# Inbox: &lt;working directory&gt;/&lt;user&gt;/Maildir/&lt;cur|new&gt;
# Subfolder: &lt;working directory&gt;/&lt;user&gt;/Maildir/.Subfolder/&lt;cur|new&gt;
# If this is not what your structure looks like, you need to change the
# &quot;folderpath&quot; variable construction down further in this script.

# This is the command to run to run mailbox commands.
ZMCMD=&#039;/opt/zimbra/bin/zmmailbox -z&#039;

# This will be used for temporary/log files during the import process
TEMP=&#039;/tmp/&#039;

# We assume the working directory&#039;s name is the domain.
# Otherwise, override this with your actual domain name.
domain=`basename ${PWD}`

echo Process ID: $$

if [[ $1 != &quot;&quot; ]] ; then
  USERS=$1;
else
  USERS=`cat vpasswd | cut -f1 -d:`
fi

for user in ${USERS}; do
  echo &quot;Beginning User: $user...&quot;

  if [[ $2 != &quot;&quot; ]] ; then
    FOLDERS=&quot;$user/Maildir/$2/cur&quot;;
  else
    FOLDERS=`find $user -maxdepth 1 -type d -name cur | sort`
  fi

  echo &quot;$FOLDERS&quot; | while read line; do
    folderdir=`echo ${line} | cut -f3 -d&quot;/&quot;`
    if [[ ${folderdir} == &quot;cur&quot; ]] ; then
      folderdir=&quot;&quot;;
    fi 
    folder=`echo ${folderdir} | sed &#039;s/^\.//; s%\.%/%g; s%\&amp;-%\&amp;%g&#039;`
    folderpath=${PWD}/${user}/${folderdir}/
    
    # If the folder name is blank, this is the top level folder,
    # Zimbra calls it &quot;Inbox&quot; (so do most clients/servers).
    if [[ $folder == &quot;&quot; ]] ; then
      folder=&quot;Inbox&quot;;
    fi
    # In Courier IMAP, all folders must be children of the root
    # folder, which means Trash, Junk, Sent, Drafts are typically
    # under Inbox. This is not the case with Zimbra, so we will
    # slide these mailboxes to the top level so they behave properly,
    # For all &quot;non-special&quot; mailboxes, we will keep them as children
    # so they remain where the user had them before.
    if [[ $folder != &quot;Trash&quot; &amp;&amp; $folder != &quot;Junk&quot; &amp;&amp; $folder != &quot;Sent&quot;
       &amp;&amp; $folder != &quot;Drafts&quot; &amp;&amp; $folder != &quot;Inbox&quot; ]] ; then
      folder=&quot;Inbox/${folder}&quot;;
    fi
    echo &quot;* Working on Folder $folder...&quot;

    # Courier allows heirarchy where non-folders (literally nothing) are
    # able to have children.  Zimbra does not.  It&#039;s also possible that
    # we will process the folders out of heirarchical order for some reason
    # Here we separate the path and make sure all the parent folders exist
    # before trying to create the folder we&#039;re working on.
    parts=(`echo $folder | sed &#039;s% %\x1a%g; s%/% %g&#039;`);
    hier=&quot;&quot;;
    for i in &quot;${parts[@]}&quot;; do
      hier=`echo ${hier}/$i | sed &#039;s%^/%%; s%\x1a% %g&#039;`;
      ${ZMCMD} -m ${user}@${domain} getFolder &quot;/${hier}&quot; &gt;/dev/null 2&gt;&amp;1 ||
      ( echo -n &quot;  + Creating folder $hier... &quot; &amp;&amp;
      ${ZMCMD} -m ${user}@${domain} createFolder &quot;/${hier}&quot; )
    done

    # Figure out how many messages we have
    count=`find &quot;${folderpath}new/&quot; &quot;${folderpath}cur/&quot; -type f | wc -l`;
    imported=0;
    echo &quot;  * $count messages to process...&quot;

    # Define the temporary file names we will need
    importfn=&quot;${TEMP}/import-$domain-$user-$folderdir-$$&quot;
    implogfn=&quot;${TEMP}/import-$domain-$user-$folderdir-$$-log&quot;
    impflogfn=&quot;${TEMP}/import-$domain-$user-$folderdir-$$-flaglog&quot;
    impflagfn=&quot;${TEMP}/import-$domain-$user-$folderdir-$$-flags&quot;
    touch &quot;$importfn&quot;

    # Determine the courier extended flag identifiers (&quot;keywords&quot;)
    flagid=0
    if [[ -f &quot;${folderpath}courierimapkeywords/:list&quot; ]] ; then
      extflags=&quot;YES&quot;
      cat &quot;${folderpath}courierimapkeywords/:list&quot; 2&gt;/dev/null | while read line; do
        # A blank line indicates the end of the definitions.
        if [[ &quot;${line}&quot; == &quot;&quot; ]]; then break; fi

        # To avoid escape character madness, I&#039;m swapping $ with % here.
        flag=`echo ${line} | sed &#039;s/\\\$/%/&#039;`
        echo courierflag[${flagid}]=&quot;&#039;$flag&#039;&quot;;
        flagid=$(( flagid + 1 ));

        # Create the tag if it doesn&#039;t start with &#039;%&#039;
        if [[ `echo ${flag} | grep &#039;%&#039;` == &quot;&quot; ]] ; then
	  echo -n &quot;  + Attemping to create tag ${flag}... &quot; &gt;&amp;2
          ${ZMCMD} -m ${user}@${domain} createTag &quot;${flag}&quot; &gt;&amp;2
        fi

      done &gt; &quot;$impflagfn&quot;
      source &quot;$impflagfn&quot;
    fi

    echo -n &quot;  * Queuing messages for import...        &quot; 

    # Find all &quot;cur&quot; or &quot;new&quot; messages in this folder and import them.
    find &quot;${folderpath}new/&quot; &quot;${folderpath}cur/&quot; -type f | while read msg; do
      flags=&quot;&quot;;
      tags=&quot;&quot;;
      msgid=`echo $msg | cut -d: -f1 | sed s%.*/%%`

      # Determine the old maildir style flags
      oldflags=`echo $msg | cut -d: -f2`
      # Replied
      if [[ `echo ${oldflags} | grep &#039;R&#039;` != &quot;&quot; ]] ; then flags=&quot;${flags}r&quot;; fi
      # Seen
      if [[ `echo ${oldflags} | grep &#039;S&#039;` == &quot;&quot; ]] ; then flags=&quot;${flags}u&quot;; fi
      # Trashed
      if [[ `echo ${oldflags} | grep &#039;T&#039;` != &quot;&quot; ]] ; then flags=&quot;${flags}x&quot;; fi
      # Draft
      if [[ `echo ${oldflags} | grep &#039;D&#039;` != &quot;&quot; ]] ; then flags=&quot;${flags}d&quot;; fi
      # Flagged
      if [[ `echo ${oldflags} | grep &#039;F&#039;` != &quot;&quot; ]] ; then flags=&quot;${flags}f&quot;; fi

      # Determine the courier-imap extended flags for this message
      if [[ ${extflags} == &quot;YES&quot; ]] ; then
        oldflags2=`grep $msgid &quot;${folderpath}courierimapkeywords/:list&quot; 2&gt;/dev/null | cut -d: -f2`
        for flag in ${oldflags2}; do
          # Forwarded
          if [[ ${courierflag[$flag]} == &#039;%Forwarded&#039; ]] ; then flags=&quot;${flags}w&quot;; fi
          # Sent by me
          if [[ ${courierflag[$flag]} == &#039;%MDNSent&#039; ]] ;   then flags=&quot;${flags}s&quot;; fi
          # Convert non-system flags to Zimbra tags
          if [[ `echo ${courierflag[$flag]} | grep &#039;%&#039;` == &quot;&quot; ]] ; then
            tags=&quot;${tags},${courierflag[$flag]}&quot;
          fi
        done
        # Clean up the tag list for the command line
        if [[ ${tags} != &quot;&quot; ]]; then
          tags=`echo ${tags} | sed &quot;s/^,\?/--tags \&#039;/; s/\$/\&#039;/&quot;`;
        fi
      fi

      # Log the result of flag processing for debugging
      if [[ $flags != &quot;&quot; || $tags != &quot;&quot; ]] ; then
        echo `date +%c` &quot;$msg had flags $oldflags and $oldflags2, now $flags and $tags in folder $folder&quot; &gt;&gt; &quot;$impflogfn&quot;
      fi

      # Add the command to the queue file to import this message
      echo &quot;addMessage --flags \&quot;${flags}\&quot; ${tags} --noValidation \&quot;/$folder\&quot; \&quot;${msg}\&quot;&quot; &gt;&gt; &quot;$importfn&quot;

      imported=$(( $imported + 1 ));
      printf &quot;\b\b\b\b\b\b\b\b%7d &quot; $imported;
    done

    echo &quot;...done&quot;;

    # Since we redirect the queue file to the mailbox tool, we end with &quot;quit&quot;
    echo &quot;quit&quot; &gt;&gt; &quot;$importfn&quot;

    # We&#039;re counting &quot;prompts&quot; from the zmmailbox utility here.  The first
    # one comes up before a message is imported, so we start at -1 to offset
    # its existence.
    imported=-1;

    # We do this redirect because running the command for each message is very
    # slow.  We can&#039;t just pass the directory to the command, despite Zimbra&#039;s
    # support because we can&#039;t tag or flag the messages that way.
    echo -n &quot;  * Running import process...             &quot;
    ${ZMCMD} -m $user@$domain &lt; &quot;${importfn}&quot; 2&gt; &quot;${implogfn}&quot; | while read; do
      imported=$(( $imported + 1 ));
      printf &quot;\b\b\b\b\b\b\b\b%7d &quot; $imported;
    done

  done
done
echo &quot;Import Process Complete!&quot;</pre>

</p>

<p>
For Sent items: ./movesent.sh
</p>

<p>
<pre class="code">BASEDIR=`pwd`

for user in `cat vpasswd`
{
sh oldimport.sh $user &quot;.Sent&quot;
}</pre>

</p>

<p>
Reference: <a href="http://wiki.zimbra.com/wiki/Courier-IMAP_Maildir_to_zmmailbox" class="urlextern" title="http://wiki.zimbra.com/wiki/Courier-IMAP_Maildir_to_zmmailbox"  rel="nofollow">http://wiki.zimbra.com/wiki/Courier-IMAP_Maildir_to_zmmailbox</a>
</p>

<p>
NOTE: The folder in which scripts are present should have the same name as the domain for which mails are being imported and this folder must contain directories by the name of users.
</p>
