
<p>
vim /opt/zimbra/conf/salocal.cf.in 
<pre class="code">blacklist_from *mantraventures.com 
whitelist_from m.rajesh@yahoo.com 
whitelist_from ganesh@gmail.com </pre>

</p>

<p>
Restart Zimbra spamassassin.
<pre class="code">zmmtactl restart &amp;&amp; zmamavisdctl restart</pre>

</p>
