
<h1 class="sectionedit1" id="mysql_logging_enable">Mysql Logging enable</h1>
<div class="level1">

<p>
1. Take backup of /etc/my.cnfata
</p>

<p>
2. Edit /etc/my.cnf. Add the following line:
</p>

<p>
log=/var/log/&lt;name of log file&gt;
</p>

<p>
3.Create the file /var/log/&lt;name of log file&gt;
</p>

</div>
