
<h1 class="sectionedit1" id="megacli_raid_detail">MegaCli RAID Detail</h1>
<div class="level1">

<p>
Create a file named megacli.py and with attached contents.
</p>

<p>
Give execute permission
</p>
<pre class="code">   chmod +x megacli.py
   </pre>

<p>
Then run below command to see output.
</p>
<pre class="code">   ./megacli.py</pre>

<p>
<a href="/_media/raid/megacli.txt" class="media mediafile mf_txt" title="raid:megacli.txt (26.2 KB)">megacli.txt</a>
</p>

</div>
