
<p>
<a href="http://wiki.hetzner.de/index.php/LSI_RAID_Controller/en#How_to_set_up_a_hardware-based_RAID" class="urlextern" title="http://wiki.hetzner.de/index.php/LSI_RAID_Controller/en#How_to_set_up_a_hardware-based_RAID" rel="nofollow">http://wiki.hetzner.de/index.php/LSI_RAID_Controller/en#How_to_set_up_a_hardware-based_RAID</a>
</p>
