
<p>
# su - zimbra
</p>

<p>
# vim /opt/zimbra/conf/postfix_rbl_override
</p>

<h4 id="ok">198.204.232.99 OK</h4>
<div class="level4">

<p>
# postmap /opt/zimbra/conf/postfix_rbl_override
</p>

<p>
# vim /opt/zimbra/conf/postfix_recipient_restrictions.cf
</p>

</div>

<h4 id="reject_unauth_destination">reject_unauth_destination</h4>
<div class="level4">

</div>

<h4 id="check_client_access_hashoptzimbraconfpostfix_rbl_override">check_client_access hash:/opt/zimbra/conf/postfix_rbl_override</h4>
<div class="level4">

</div>

<h4 id="reject_unlisted_recipient">reject_unlisted_recipient</h4>
<div class="level4">

<p>
# zmprov mcf +zimbraMtaRestriction &#039;check_client_access lmdb:/opt/zimbra/conf/postfix_rbl_override&#039;
</p>

<p>
# zmmtactl restart
</p>

</div>
