
<p>
1. open my.cnf
<pre class="code">vi /etc/my.cnf</pre>

</p>

<p>
and add :
</p>

<p>
<pre class="code">bind-address= &lt;IP address of your machine&gt;</pre>

</p>

<p>
then restart mysql server with :
</p>

<p>
<pre class="code">service mysqld restart</pre>

</p>

<p>
2. Iptables
</p>

<p>
<pre class="code">iptables -I INPUT -p tcp --dport 3306 -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -I OUTPUT -p tcp --sport 3306 -m state --state ESTABLISHED -j ACCEPT</pre>

</p>

<p>
3. login to mysql database with
</p>

<p>
<pre class="code">mysql -u root -p </pre>

</p>

<p>
and give all privilages to the user r1soft
</p>

<p>
<pre class="code">GRANT ALL PRIVILEGES ON *.* TO r1soft@&#039;5.9.15.178&#039; IDENTIFIED BY &#039;r1soft1&#039;;
GRANT ALL PRIVILEGES ON *.* TO r1soft@&#039;127.0.0.1&#039; IDENTIFIED BY &#039;r1soft1&#039;;
GRANT ALL PRIVILEGES ON *.* TO r1soft@&#039;localhost&#039; IDENTIFIED BY &#039;r1soft1&#039;;</pre>

</p>

<p>
NOTE: here 5.9.15.178 is the ip address of CDP server, r1soft is the user and r1soft1 is password
</p>
