
<h1 class="sectionedit1" id="optimize_wordpress_sites">Optimize Wordpress sites</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Optimize Wordpress sites" [1-41] -->
<h3 class="sectionedit2" id="mysql_query_cache">MySQL Query Cache</h3>
<div class="level3">

<p>
Edit/Add the following lines in the file /etc/my.cnf
</p>

<p>
query_cache_size = 268435456
query_cache_type=1
query_cache_limit=1048576
</p>

</div>
<!-- EDIT2 SECTION "MySQL Query Cache" [42-199] -->
<h3 class="sectionedit3" id="php_compiler_cache">PHP Compiler Cache</h3>
<div class="level3">

<p>
Download eAccelerator: (eAccelerator only works with mod_php or php in fastcgi mode)
</p>

<p>
# wget <a href="http://downloads.sourceforge.net/project/eaccelerator/eaccelerator/eAccelerator%200.9.6.1/eaccelerator-0.9.6.1.zip?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Feaccelerator%2F&amp;ts=1320594667&amp;use_mirror=space" class="urlextern" title="http://downloads.sourceforge.net/project/eaccelerator/eaccelerator/eAccelerator%200.9.6.1/eaccelerator-0.9.6.1.zip?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Feaccelerator%2F&amp;ts=1320594667&amp;use_mirror=space" rel="nofollow">http://downloads.sourceforge.net/project/eaccelerator/eaccelerator/eAccelerator%200.9.6.1/eaccelerator-0.9.6.1.zip?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Feaccelerator%2F&amp;ts=1320594667&amp;use_mirror=space</a>
</p>

<p>
Follow the installation procedure.
</p>

</div>
<!-- EDIT3 SECTION "PHP Compiler Cache" [200-565] -->
<h3 class="sectionedit4" id="wordpress_internal_caching">WordPress Internal Caching</h3>
<div class="level3">

<p>
Uncomment or add this to your wp-config.php:
</p>

<p>
define( ‘ENABLE_CACHE’, true );
</p>

<p>
Make sure that the wp-content/cache folder is writable!
</p>

</div>
<!-- EDIT4 SECTION "WordPress Internal Caching" [566-743] -->
<h3 class="sectionedit5" id="static_pages">Static Pages</h3>
<div class="level3">

<p>
Install the plugin WP-Cache (<a href="http://mnm.uib.es/gallir/wp-cache-2/" class="urlextern" title="http://mnm.uib.es/gallir/wp-cache-2/" rel="nofollow">http://mnm.uib.es/gallir/wp-cache-2/</a>)
</p>

</div>
<!-- EDIT5 SECTION "Static Pages" [744-] -->