
<h1 class="sectionedit1" id="r1soft_backup_migration">R1soft Backup Migration</h1>
<div class="level1">

<p>
1. Stop the Disk Safe of backup which is to be migrated.
</p>

<p>
2. Detach that Disk Safe after stoping (After detaching it will disappear from Disk Safe panel).
</p>

<p>
3. Now create the Volume for this backup with same configuration on the destination R1soft server. 
</p>

<p>
4. Create the agent for same on this destination R1soft server.
</p>

<p>
5. Move the backup manually to the new server as follow.
</p>
<pre class="code">       a. Login to shell of source R1soft server.
       b. Run following commands with screen to copy the backup
              rsync -avh &lt;Volume path of backup which is to be migrated&gt;/* root@&lt;Destination IP&gt;:&lt;Path of Volume created in step 3 &gt;                                   </pre>

<p>
6. After finishing copy login to the Destination R1soft server and change directory to newly created volume.
</p>
<pre class="code">  there will be a sub-directory with name something like &quot;6bjhwsadnkjhd238uhs8d89223b&quot; created, Copy that directory name.</pre>

<p>
7. In source R1soft server&#039;s web panel goto the “Disk Safes” panel and click on “Attach Existing Disk Safe”
</p>

<p>
8. Now Select the agent for this backup created in step 4.
</p>

<p>
9. Enter the path of Volume including the sub-directory mentioned above.
</p>
<pre class="code">      e.g.  /server1/6bjhwsadnkjhd238uhs8d89223b</pre>

<p>
10. Now proceed for rest configurations normally(e.g. Policy etc.)
</p>

<p>
11. Manually delete the old bakup from source R1soft server (if required) and then other things from web panel of same.
</p>
<ul>
<li class="level1"><div class="li">*NOTE:- DON&#039;T FORGET TO ADD THE NEW R1SOFT SERVER ON THE AGENT&#039;S SERVER.**          </div>
</li>
</ul>
<script charset="utf-8" type="text/javascript">
                    <!--//--><![CDATA[//><!--
var disqus_url     = 'http://www.wiki.mantraventures.com/r1soft/backup_migration';
var disqus_title   = 'R1soft Backup Migration';
var disqus_message = '';
var disqus_container_id = 'disqus__thread';
                    //--><!]]>
                    </script><div id="disqus__thread"></div><script type="text/javascript" src="http://disqus.com/forums/mantragrid/embed.js"></script><noscript><a href="http://mantragrid.disqus.com/?url=ref">View the discussion thread.</a></noscript>
</div>
