
<p>
Create a file facebook.com.php in Plugins folder. Add the following code to the file:
</p>

<p>
<div class='code'><p>facebook.php</p><pre class="code php"><span class="kw2">&lt;?php</span>
<span class="coMULTI">/****************************************************************/</span>
&nbsp;
<span class="sy0">*</span> Plugin<span class="sy0">:</span> Facebook
<span class="sy0">*</span> Description<span class="sy0">:</span>
<span class="sy0">*</span> Changes the user<span class="sy0">-</span>agent so Facebook sends us the mobile version<span class="sy0">.</span>
&nbsp;
<span class="kw2">function</span> preRequest<span class="br0">&#40;</span><span class="br0">&#41;</span> <span class="br0">&#123;</span>
&nbsp;
<span class="kw2">global</span> <span class="re0">$toSet</span><span class="sy0">;</span>
<span class="re0">$toSet</span>\<span class="br0">&#91;</span>CURLOPT_USERAGENT\<span class="br0">&#93;</span> <span class="sy0">=</span> <span class="st_h">'Mozilla/4.0 (compatible; MSIE 6.0; Windows CE; IEMobile 6.1)'</span><span class="sy0">;</span>
&nbsp;
<span class="br0">&#125;</span>
<span class="sy1">?&gt;</span></pre>
</div>
Save and enjoy Facebook with Glype\!
</p>
