<pre class="code">                             //Migrating To a New Server//
                             </pre>

<p>
1. Install <abbr title="Operating System">OS</abbr> on New Server
</p>

<p>
2. Install Virtualmin
</p>

<p>
3. Generate Backup
</p>

<p>
mkdir /root/backups
virtualmin backup-domain –dest /root/backups/ –all-domains –all-features –newformat –all-virtualmin                              
</p>

<p>
4. Copy Backups
</p>

<p>
scp -r /root/backups root@new_server.com:/root/
</p>

<p>
5. Restore your domains
</p>

<p>
virtualmin restore-domain –source /root/backups/virtualmin.tar.gz –all-virtualmin
virtualmin restore-domain –source /root/backups/ –all-domains –all-features
</p>

<p>
<a href="http://www.virtualmin.com/documentation/system/migrate" class="urlextern" title="http://www.virtualmin.com/documentation/system/migrate" rel="nofollow">http://www.virtualmin.com/documentation/system/migrate</a>
</p>
