
<p>
Download script
</p>
<blockquote><div class="no">
 wget <a href="http://wiki.mantraventures.com/scrpt28xxct/spam_check_add.sh" class="urlextern" title="http://wiki.mantraventures.com/scrpt28xxct/spam_check_add.sh" rel="nofollow">http://wiki.mantraventures.com/scrpt28xxct/spam_check_add.sh</a></div></blockquote>
<blockquote><div class="no">
 chmod +x spam_check_add.sh</div></blockquote>
<blockquote><div class="no">
 csf -a 66.232.110.82 csf -r sh spam_check_add.sh</div></blockquote>

<p>
Enter SSH Port of this server (add port of your server e.g 3782).
</p>

<p>
Then enter below root password of monitoring server
</p>
<blockquote><div class="no">
 B&amp;^1cJkUCxT62H&gt;zGT</div></blockquote>
