
<p>
Ansible playbooks are a way to send commands to remote computers in a scripted way. Instead of using Ansible commands individually to remotely configure computers from the command line, you can configure entire complex environments by passing a script to one or more systems.
Ansible playbooks are written in the YAML format. 
Simply put, in a playbook you define what actions Ansible should take to get the remote server in the state you want.
</p>

<p>
Each playbook is composed of one or more ‘plays’ in a list.
The goal of a play is to map a group of hosts to some well defined roles, represented by things Ansible calls tasks. At a basic level, a task is nothing more than a call to an Ansible module.
</p>

<p>
—To-Do—
scripts to be placed in /usr/share/ansible/utilities/
</p>
