
<p>
BMR ( Bear Metal Restore)<br/>

</p>
<div class="level1">

<p>
1. Create XEN-PV VM with same config as same old server.- Let us name it: BMR-PV<br/>

e.g.<br/>

VM-IP: 43.252.88.164<br/>

VN-ID: VM784
</p>

<p>
2. Install Same <abbr title="Operating System">OS</abbr> as on old server.
</p>

<p>
3. Stop the BMR-PV VM
</p>

<p>
4. Create a basic XEN-HVM and boot form BMR ISO (CDP_BARE_METAL_RESTORE_DISK-Debian). Let is name it: BOOT-HVM<br/>

e.g.<br/>

VM-IP: 43.252.88.166<br/>

VN-ID: VM785
</p>

<p>
5. Stop the BOOT-HVM VM
</p>

<p>
6. Note Down the VM-ID for BMR-PV (i.e. VM784) and BOOT-HVM (i.e. VM785)
</p>

<p>
7. Now login to main node and make backup of file (vm785.cfg) for BOOT-HVM at location (/home/xen/vm785)
</p>

<p>
8. Open .cfg file for BOOT-HVM (i.e vm785.cfg) and edit the file ( change BMR-PV vm-id to BOOT-HVM vm-id)<br/>

i.e<br/>

From: vm785_img to vm784_img
</p>

<p>
9. Type below command
</p>

<p>
[root@node vm785]# xl create vm785.cfg
</p>

<p>
10. Now Boot the BOOT-HVM from solusvm
</p>

<p>
11. Now open re1soft-panel and start the BMR at desired time follow the below link
</p>

<p>
<a href="http://wiki.r1soft.com/display/ServerBackup/Launch+a+bare-metal+restore" class="urlextern" title="http://wiki.r1soft.com/display/ServerBackup/Launch+a+bare-metal+restore" rel="nofollow">http://wiki.r1soft.com/display/ServerBackup/Launch+a+bare-metal+restore</a>
</p>

<p>
12. Shut Down the BOOT-HVM
</p>

<p>
13. Replace the .cfg file to original<br/>

i.e<br/>

From: vm784_img to vm785_img
</p>

<p>
14. Shutdown the Old Server
</p>

<p>
13. Boot the BRM-PV and replace the IP with old
</p>

</div>
