
<p>
Automatic Installation On CentOS
</p>

<p>
Create a new repo file r1soft.repo.
</p>

<p>
<pre class="code"> vim /etc/yum.repos.d/r1soft.repo </pre>

</p>

<p>
Insert the following text into the file.
</p>

<p>
<pre class="code">
[r1soft]
name=R1Soft Repository Server
baseurl=http://repo.r1soft.com/yum/stable/$basearch/
enabled=1
gpgcheck=0
</pre>

</p>

<p>
<pre class="code"> yum install r1soft-cdp-datacenter-console </pre>

</p>

<p>
<pre class="code"> /etc/init.d/cdp-console restart </pre>

</p>

<p>
<pre class="code"> wget https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-java-5.1.38.zip</pre>

</p>

<p>
<pre class="code"> unzip mysql-connector-java-5.1.38.zip </pre>

</p>

<p>
<pre class="code"> cp mysql-connector-java-5.1.38/mysql-connector-java-5.1.38-bin.jar /usr/sbin/r1soft-datacenter-console/conf/database-drivers </pre>

</p>

<p>
Install MySQL Server.
<pre class="code">yum install mysql-server</pre>

</p>

<p>
Configure MySql Server.
<pre class="code">/usr/bin/mysql_secure_installation</pre>

</p>

<p>
Create Database.
<pre class="code">create database cdp;</pre>

</p>

<p>
Grant Permissions on CDP Database.
<pre class="code">grant all on cdp.* to &#039;cdp&#039;@&#039;localhost&#039; identified by &#039;mohit$123&#039;;</pre>

</p>

<p>
Enter Database Details Here:
<pre class="code">vim /usr/sbin/r1soft-datacenter-console/conf/server.properties</pre>

</p>

<p>
Log File:
tail -f /usr/sbin/r1soft-datacenter-console/log/server.log
</p>

<p>
<pre class="code">2016-04-04 16:31:21,868 INFO   - Starting Data Center Console 5.12.1 build 54
2016-04-04 16:31:22,070 INFO   - Operating System: Linux
2016-04-04 16:31:22,070 INFO   - Architecture: amd64
2016-04-04 16:31:22,070 INFO   - OS Version: 2.6.32-573.el6.x86_64
2016-04-04 16:31:22,070 INFO   - Processors Detected: 1
2016-04-04 16:31:22,081 INFO   - Max Configured Heap Memory: 989.9 MB
2016-04-04 16:31:22,087 INFO   - Total Physical Memory: 3.7 GB
2016-04-04 16:31:22,087 INFO   - Free Physical Memory: 2.5 GB
2016-04-04 16:31:23,936 INFO   - checkpointClose start
2016-04-04 16:31:24,270 INFO   - checkpointClose end
2016-04-04 16:31:24,526 INFO   - Database schema version 25 Last changed by Data Center Console Server version 5.12.1
2016-04-04 16:31:24,596 INFO   - Database Service started
2016-04-04 16:31:27,016 INFO   - Hibernate Service started
2016-04-04 16:31:30,169 INFO   - Message Event Service Wrapper started
2016-04-04 16:31:30,415 INFO   - Event Service Wrapper started
2016-04-04 16:31:30,415 INFO   - General Service started
2016-04-04 16:31:40,186 INFO   - Tomcat Wrapper started
2016-04-04 16:31:40,623 INFO   - Control Cache started
2016-04-04 16:31:40,664 INFO   - Started COM Server Wrapper on Port: 6443
2016-04-04 16:31:40,664 INFO   - Com Service Wrapper started
2016-04-04 16:31:40,795 INFO   - Velocity Service started
2016-04-04 16:31:40,797 INFO   - Task Scheduler Service started
2016-04-04 16:31:40,798 INFO   - DCC Message Publisher Wrapper started
2016-04-04 16:31:40,799 INFO   - Data Center Console 5.12.1 build 54 Started</pre>

</p>

<p>
WEB UI:
<pre class="code">http://localhost/</pre>

</p>
