
<p>
To clear magento cache we have two approaches :
</p>
<ul>
<li class="level1"><div class="li"> CLI.</div>
</li>
<li class="level1"><div class="li"> Admin Backend.</div>
</li>
</ul>

<p>
<strong>From CLI :</strong>
</p>

<p>
Simply move to magento data directory (like /home/???/public_html/) and remove the contents in below directories :
</p>
<ul>
<li class="level1"><div class="li"> var/cache</div>
</li>
<li class="level1"><div class="li"> var/session</div>
</li>
<li class="level1"><div class="li"> var/tmp</div>
</li>
</ul>

<p>
Simply run below Command :
</p>

<p>
<code>rm -rfv var/cache/* var/session/* var/tmp/*</code>
</p>

<p>
<strong>From Magento Admin Backend :</strong>
</p>

<p>
Go to <em>System &gt; Cache Management</em>  and Flush all cache. Refer below screenshot.
</p>

<p>
<img src="/lib/exe/fetch.php?w=800&amp;h=369&amp;tok=fe11e1&amp;media=http%3A%2F%2Fwiki.mantraventures.com%2F_media%2Fmedia%2Fflush-magento-caches.png" class="media" alt="" width="800" height="369" />
</p>
