
<p>
Enter password when prompted after this:
</p>

<p>
<pre class="code">Give root Password for maintenance
(or type Control-D to Continue):</pre>

</p>

<p>
Then type following command to do the magic:
<pre class="code"># mount -o remount, rw /</pre>

</p>
