
<p>
<pre class="code">root@mail:#~ su – zimbra
zimbra@mail:~$ /opt/zimbra/bin/zmmailbox -z -m user_to_be_merged@domain.com getRestURL &quot;//?fmt=tgz&quot; &gt; /tmp/user1.tgz
zimbra@mail:~$ /opt/zimbra/bin/zmmailbox -z -m final_merged_account@domain.com postRestURL &quot;//?fmt=tgz&amp;resolve=modify&quot; /tmp/user1.tgz</pre>

</p>
