
<h1 class="sectionedit1" id="setting_up_disk_quotas">Setting Up Disk Quotas</h1>
<div class="level1">

<p>
Disk quotas let you set the maximum amount of disk space a particular user is allowed to have on your server.  The disk space used by a user is the sum of all the file sizes owned by their user id.
</p>

</div>
<!-- EDIT1 SECTION "Setting Up Disk Quotas" [1-238] -->
<h3 class="sectionedit2" id="enabling_disk_quotas_viaetcfstab">Enabling disk quotas via /etc/fstab</h3>
<div class="level3">

<p>
<pre class="code">Disk quotas will only work if you have set a quota option in your /etc/fstab.

You need to have a usrquota and/or grpquota option on the file system on which you wish to use quotas.  e.g. in /etc/fstab you would have something like:
/dev/xvda1 / ext3 defaults,noatime,usrquota,grpquota 1 0
The xvda1 bit may be something like sda1, hda1 etc.  Leave that part alone in your /etc/fstab.  Just add the usrquota,grpquota part. </pre>

</p>

</div>
<!-- EDIT2 SECTION "Enabling disk quotas via /etc/fstab" [239-723] -->
<h3 class="sectionedit3" id="setting_up_disk_quotas1">Setting Up Disk Quotas</h3>
<div class="level3">

<p>
Then:
<pre class="code">reload the mount points with the quota settings enabled
mount -o remount /
#install quota (if not there alread)
apt-get install quota

will set up the quota files
quotacheck -acguvm
-m is needed, else you may get:
quotacheck: Cannot remount filesystem mounted on / read-only so counted values might not be right.
Please stop all programs writing to filesystem or use -m flag to force checking.
-c is needed, else you may get an error like
quotacheck: Can&#039;t find filesystem to check or filesystem not mounted with quota
edquota: Quota file not found or has wrong format.
quota: Quota file not found or has wrong format.
should happen on reboot (in /etc/rc.d/rc.sysinit)
quotaon -avug </pre>

</p>

</div>
<!-- EDIT3 SECTION "Setting Up Disk Quotas" [724-1461] -->
<h3 class="sectionedit4" id="using_disk_quotas">Using disk quotas</h3>
<div class="level3">

<p>
&lt;code&gt;
Now if you run:
repquota -a
It will show how much disk space each user is using.
</p>

<p>
To assign a quota to a user (per <a href="http://www.tldp.org/HOWTO/Quota-4.html" class="urlextern" title="http://www.tldp.org/HOWTO/Quota-4.html" rel="nofollow">http://www.tldp.org/HOWTO/Quota-4.html</a>):
edquota -u ausername &lt;/code
</p>

</div>
<!-- EDIT4 SECTION "Using disk quotas" [1462-] -->