<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<p>
On PoC setup recommended file system permissions are :
</p>
<ul>
<li class="level1"><div class="li"> files : 660</div>
</li>
<li class="level1"><div class="li"> directories : 770</div>
</li>
</ul>

<p>
Run below commands to accomplish above permissions :
</p>

<p>
1. <code>cd /home/???/ </code>  <em>  [<strong>Note</strong>  : replace ??? with user name. ]</em>
</p>

<p>
2. <code>find public_html/ -type d -exec chmod 770 {} \;</code>
</p>

<p>
3. <code>find public_html/ -type f -exec chmod 660 {} \;</code>
</p>
