
<p>
1. Comment each access_log line in nginx.conf
</p>

<p>
2. If virtualmin installed go to Webmin→Servers→Nginx Webserver→Logging Settings and disable log from there.
</p>

<p>
3. Restart nginx
</p>
