
<p>
Open Policyd Web ui by going to link <a href="http://ip:7780/webui/index.php" class="urlextern" title="http://ip:7780/webui/index.php" rel="nofollow">http://ip:7780/webui/index.php</a>
</p>

<p>
Make sure all policies and Quotas aer disabled.
</p>

<p>
Click on Policies → Groups<br/>

Select Action → Add<br/>

Name: all_users<br/>

Submit<br/>

Back to Groups<br/>

Select the created group all_users and Click on Select Action → Change<br/>

Set Disabled: no<br/>

Submit and Back to groups<br/>

Select group “all_users” and click on Select Action → Members<br/>

Select Action → Add<br/>

Member: @domain (Add all domains one by one with @)<br/>

Example -<br/>

@ globalinfonet.in<br/>

@zetabytecomp.in<br/>

@zimbra.globalinfonet.in<br/>

Make Sure Disabled is No.
</p>

<p>
Click on Policies → Main<br/>

Select Action → Add<br/>

Name: All user Policy<br/>

Priority: 6<br/>

Description: Policy for all users<br/>

Submit and make sure Disabled is set as No<br/>

Back to Policies<br/>

Select the newly created Policy “All user Policy”<br/>

Select Action → Members<br/>

Select Action → Add<br/>

Source: %all_users<br/>

Destination: any<br/>

Submit and make sure Disabled is set as No
</p>

<p>
Click on Quotas → Configure<br/>

Select Action → Add<br/>

Name: All users policy quota<br/>

Track: Sender:user@domain<br/>

Period: 3600<br/>

Link to Policy: All user Policy<br/>

Verdict: Reject<br/>

Data: Sorry, your quota to sending mail in this hour has been exceeded<br/>

Stop Processing here: yes<br/>

Comment: Sorry, your quota to sending mail in this hour has been exceeded<br/>

Submit and make sure Disabled as No<br/>

Select the created Quota “All users policy quota”<br/>

Select Action → Limits<br/>

Select Action → Add<br/>

Type: MessageCount<br/>

Counter Limit: 200<br/>

Submit and make sure Disabled is set as No
</p>

<p>
<br/>

Click on Policies → Groups<br/>

Select Action → Add<br/>

Name: special_users<br/>

Submit<br/>

Back to Groups<br/>

Select the created group special_users and Click on Select Action → Change<br/>

Set Disabled: no<br/>

Submit and Back to groups<br/>

Select group “special_users” and click on Select Action → Members<br/>

Select Action → Add<br/>

Member: email@example.com (Add all emails one by one which need to be given more quota)<br/>

Make Sure Disabled is No.
</p>

<p>
Click on Policies → Main<br/>

Select Action → Add<br/>

Name: Special user Policy<br/>

Priority: 5<br/>

Description: Special user Policy<br/>

Submit and make sure Disabled is set as No<br/>

Back to Policies<br/>

Select the newly created Policy “Special user Policy”<br/>

Select Action → Members<br/>

Select Action → Add<br/>

Source: %special_users<br/>

Destination: any<br/>

Submit and make sure Disabled is set as No
</p>

<p>
Click on Quotas → Configure<br/>

Select Action → Add<br/>

Name: Special users policy quota<br/>

Track: Sender:user@domain<br/>

Period: 3600<br/>

Link to Policy: Special user Policy<br/>

Verdict: Reject<br/>

Data: Sorry, your quota for sending mail in this hour has been exceeded<br/>

Stop Processing here: yes<br/>

Comment: Sorry, your quota for sending mail in this hour has been exceeded<br/>

Submit and make sure Disabled as No<br/>

Select the created Quota “Special users policy quota”<br/>

Select Action → Limits<br/>

Select Action → Add<br/>

Type: MessageCount<br/>

Counter Limit: 500<br/>

Submit and make sure Disabled is set as No
</p>

<p>
Note: Make sure all other policies and Disabled and only these 2 policies are enabled.
</p>
