
<h1 class="sectionedit1" id="directadmin_licence_update">DirectAdmin Licence Update</h1>
<div class="level1">

<p>
The following commands to be used after logging as root in the server:
</p>

<p>
1 cd /usr/local/directadmin/scripts
</p>

<p>
2 ./getLicense.sh &lt;user ID&gt; &lt;License ID&gt; &lt;IP Address&gt;
</p>

<p>
3 service directadmin restart
</p>

</div>
