<div class="tags"><span>
	<a href="/tag/magento" class="wikilink1" title="tag:magento" rel="tag">magento</a>
</span></div>

<h2 class="sectionedit1" id="setting_sendgrid_for_transactional_mailing">Setting Sendgrid for Transactional mailing</h2>
<div class="level2">
<hr />

<p>
Sendgrid is an external SMTP service which can be used to send transactional mails (like placing order, order confirmation, abandoned cart mails etc..). Main benefit of using these services are, they ensure reliable inbox delivery to customer &amp; avoid mails from landing into spam box. For more keep <a href="https://www.google.com" class="urlextern" title="https://www.google.com"  rel="nofollow">Googling</a>.
</p>

<p>
To integrate sendgrid follow below steps:
</p>

<p>
1. You need sendgrid account <em>user login</em> &amp; <em>password</em>. (Ask client to provided them after <a href="https://sendgrid.com/free/" class="urlextern" title="https://sendgrid.com/free/"  rel="nofollow">signup</a>.)
</p>

<p>
2. Install <a href="https://www.magentocommerce.com/magento-connect/smtp-pro-email-free-custom-smtp-email.html" class="urlextern" title="https://www.magentocommerce.com/magento-connect/smtp-pro-email-free-custom-smtp-email.html"  rel="nofollow">SMTP pro</a> using magento downloader (i.e. magento connect manager).
</p>

<p>
3. After installing SMTP pro, login to magento admin backend and follow below instructions :
</p>
<ul>
<li class="level1"><div class="li"> Go to <em>System </em>  »<em> Configuration </em>  »<em> SMTP pro. </em>  (Search in left side pane)</div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "Setting Sendgrid for Transactional mailing" [18-] -->