
<p>
# cd
</p>

<p>
# yum install perl wget screen -y
</p>

<p>
# screen
</p>

<p>
# wget <a href="http://software.virtualmin.com/gpl/scripts/install.sh" class="urlextern" title="http://software.virtualmin.com/gpl/scripts/install.sh" rel="nofollow">http://software.virtualmin.com/gpl/scripts/install.sh</a> -O /root/virtualmin-install.sh
</p>

<p>
# sh /root/virtualmin-install.sh
</p>

<p>
Reference Link: <a href="https://www.digitalocean.com/community/tutorials/how-to-install-and-utilize-virtualmin-on-a-vps" class="urlextern" title="https://www.digitalocean.com/community/tutorials/how-to-install-and-utilize-virtualmin-on-a-vps" rel="nofollow">https://www.digitalocean.com/community/tutorials/how-to-install-and-utilize-virtualmin-on-a-vps</a>
</p>
