
<p>
<strong>Steps to install zextras </strong>
</p>

<p>
1. simply use wget directly from your Zimbra server:
»wget <a href="http://www.zextras.com/download/zextras_suite-latest.tgz" class="urlextern" title="http://www.zextras.com/download/zextras_suite-latest.tgz" rel="nofollow">http://www.zextras.com/download/zextras_suite-latest.tgz</a>
</p>

<p>
After Downloading follow these steps:
</p>

<p>
STEP 1: As ROOT, unpack the file you just downloaded inside a directory (we suggest in /root/) in your Zimbra server.
</p>

<p>
STEP 2: Enter the directory created by the unpacking of the file.
</p>

<p>
STEP 3: Run the install.sh script with the “all” option (so ./install.sh all).
</p>

<p>
STEP 4: Once ZeXtras Suite is installed, you need to Initialize ZxBackup.
</p>

<p>
<strong>For Chat</strong>
</p>

<p>
Login as admin in Zimbra and GOTO ZeXtra Suite and Deploy 
</p>
