<div class="tags"><span>
	<a href="/tag/magento-tickets?do=showtag&amp;tag=magento-tickets" class="wikilink1" title="tag:magento-tickets" rel="tag">magento-tickets</a>
</span></div>

<h2 class="sectionedit1" id="website_customer_is_not_able_to_signup_signin">Website Customer is not able to SignUp &amp; SignIn</h2>
<div class="level2">
<hr />

<p>
This issue is probably due to fromkey validation setting introduced in SUPEE-7405 due to SUPEE-6788. To solve this issue follow below steps:
</p>

<p>
1. Move into <strong><em>app/design/frontend</em></strong> directory.
</p>

<p>
2. Then Run command <code>find . -name register.phtml</code>
</p>

<p>
3. In the files you get in result from above command :
</p>
<ul>
<li class="level1"><div class="li"> search for pattern <em><strong>getPostActionUrl</strong></em> in file.</div>
</li>
<li class="level1"><div class="li"> Just below line matching above pattern, Insert <code>&lt;?php echo $this→getBlockHtml(&#039;formkey&#039;); ?&gt;</code></div>
</li>
</ul>

<p>
4. Clear compiler &amp; Recompile ( only if compiler used ).
</p>

<p>
5. Clear cache.
</p>

<p>
Done
</p>

</div>
<!-- EDIT1 SECTION "Website Customer is not able to SignUp & SignIn" [26-] -->