
<h1 class="sectionedit1" id="migrate_google_apps_mail_from_one_domain_to_other">Migrate Google apps mail from one domain to other</h1>
<div class="level1">

<p>
Login to admin account in new Google Apps setup.
</p>

<p>
Goto advanced tools.
</p>

<p>
Then goto email migration.
</p>

<p>
set server connection.
</p>

<p>
Name this server connection local.mydomain.com
</p>

<p>
Type IMAP
</p>

<p>
Server software: other
</p>

<p>
Host imap.gmail.com
</p>

<p>
Security SSL
</p>

<p>
Port 993
</p>

<p>
IMAP Path Prefix /
</p>

<p>
Allow up to 3 connection(s) to this server at any given time
</p>

<p>
Then enter the following details:
</p>

<p>
admin@local.mydomain.com(destination) admin@remote.mydomain.com (source)
</p>

<p>
source passwd password
</p>

<p>
source passwd password
</p>

</div>
