
<h1 class="sectionedit1" id="mysql_mastermaster_replication_file_sync_for_quick_easy_scaling_or_load_balance">Mysql Master/Master Replication &amp; File sync for quick easy scaling or load balance</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Mysql Master/Master Replication & File sync for quick easy scaling or load balance" [1-99] -->
<h3 class="sectionedit2" id="mysql_replication">MySQL Replication</h3>
<div class="level3">

<p>
First you need to edit your my.cnf , this will be located in /etc/ or /etc/mysql/ . Add in the following items onto both servers
master-host = 192.168.16.4
master-user = replication
master-password = slave321
master-port = 3306
master-connect-retry = 60
</p>

<p>
Make sure you change the IP to the IP of the OTHER server, so server 1 has server 2 IP and vice versa, it just needs to know what to connect too and how. Check that you replace the &#039;replication&#039; with user of choice, and passwords of choice
</p>

<p>
Next you need to put the following into one server to give it an id
server-id = 1
replicate-same-server-id = 0
auto-increment-increment = 2
auto-increment-offset = 1
</p>

<p>
And this into the other
server-id = 2
replicate-same-server-id = 0
auto-increment-increment = 2
auto-increment-offset = 2
</p>

<p>
This identifies the servers with an id, and also sets auto_increment to be offset so you do not get clashes with trying to overwrite any data.
If you only want to replicate the one database you can add a line like this on both
replicate-do-db = databasename
</p>

<p>
If you want to sync the entire database then you leave that out. If you want to ignore syncing for just one database then do something like this
binlog-ignore-db=mysql # input the database that should be ignored for replication
</p>

<p>
Okay, next you need to check the binlog line is uncommented if it is commented out, or add one
log_bin = /var/log/mysql/mysql-bin.log
</p>

<p>
Remove any instances of skip-networking and if you have bind-address make sure it looks like
bind-address = 0.0.0.0
</p>

<p>
Save and exit the mysql config now, and login to mysql on the command line. You will need to add the user you just setup on those configs that will be used for replication. Run this on both mysql servers, changing the IP/user/pass for the ones in your configs.
grant replication slave on *.* to &#039;replication&#039;@192.168.16.5 identified by &#039;slave&#039;;
Make sure the user for each server has the hostname of the other server they are getting connections from on both of those.
Now the hard work is done, restart mysql on both servers. Now all you need to do is login via command line and start each as a slave
</p>

<p>
mysql&gt; start slave;
mysql&gt; show slave status\G;
</p>

<p>
<strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong>* 1. row </strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong><strong></strong>*
</p>

<p>
Slave_IO_State: Waiting for master to send event
Master_Host: 192.168.16.4
Master_User: replica
Master_Port: 3306
Connect_Retry: 60
Master_Log_File: MASTERMYSQL01-bin.000009
Read_Master_Log_Pos: 4
Relay_Log_File: MASTERMYSQL02-relay-bin.000015
Relay_Log_Pos: 3630
Relay_Master_Log_File: MASTERMYSQL01-bin.000009
Slave_IO_Running: Yes
Slave_SQL_Running: Yes
Replicate_Do_DB:
Replicate_Ignore_DB:
Replicate_Do_Table:
Replicate_Ignore_Table:
Replicate_Wild_Do_Table:
Replicate_Wild_Ignore_Table:
Last_Errno: 0
Last_Error:
Skip_Counter: 0
Exec_Master_Log_Pos: 4
Relay_Log_Space: 3630
Until_Condition: None
Until_Log_File:
Until_Log_Pos: 0
Master_SSL_Allowed: No
Master_SSL_CA_File:
Master_SSL_CA_Path:
Master_SSL_Cert:
Master_SSL_Cipher:
Master_SSL_Key:
Seconds_Behind_Master: 1519187
1 row in set (0.00 sec)
</p>

<p>
If there are any errors they should show up here, and if you get stuck at all let us know, we are happy to help out!
</p>

</div>
<!-- EDIT2 SECTION "MySQL Replication" [100-3295] -->
<h3 class="sectionedit3" id="file_replication">File Replication</h3>
<div class="level3">

<p>
For file replication we are going to use Unison, its easy to install and use . Make sure you have passwordless ssh setup on both servers so they can connect to each other without passwords or prompts (preferably as root).
</p>

<p>
Now create a directory in /root/.unison/
This is where you will store your configs. You can have multiple configs and include them from each other if needed, but in this tutorial we will be only using the one for now called default.prf
Create a file called /root/.unison/default.prf and insert something similar to the following
</p>

<p>
log = true
logfile = /var/log/unison.log
</p>

<p>
# Roots of the synchronization
root = /var/www
root = ssh:<em>192.168.1.5:1022</em>var/www # this is the IP of the remote server, SSH is on port 1022 as an example
</p>

<p>
# things you want to ignore - check manual if you want to do this
ignore = Name *.tmp ## ignores all files with the extension .tmp
#ignore = Name *cache*
ignore = Path .unison
</p>

<p>
auto=true
batch=true
confirmbigdel=true
fastcheck=true
group=true
owner=true
prefer=newer
silent=true
</p>

<p>
Now you should be able to run &#039;unison&#039; from the command line and see any output, make sure things are ok. Pays to test a few times, I had errors regarding tmp files which was why i ignored those. No need to sync a cache for a website either if that is what you are syncing.
Despite this running on one server, it will sync both ways, so this only needs to be run on the one server not both (unless you have multiple servers).
When you have the unison as you want it to run, add that into a crontab and have it run every minute or two.
I have mine run only every 10 minutes or so, but you can have it running every minute if you need, or even have it triggered by another method if needed.
Here is my crontab entry
</p>

<p>
*/10 * * * * /usr/bin/unison &gt; /dev/null 2&gt;&amp;1
</p>

<p>
Pays to create and delete files to test this on both sides to make sure it is working also.
</p>

<p>
Now you have 2 servers replicating each other. This means you can now add <abbr title="Domain Name System">DNS</abbr> so that doing a <abbr title="Domain Name System">DNS</abbr> lookup on a website shows 2 IPs, this means people will be spread over the 2 servers instead of the one, lowering the load on a single server. You can scale this up to multiple servers if required, and then take servers out of the array if they need work, without having downtime.
</p>

<p>
Things to note:
You may also want to sync configs (eg apache configs, websites, passwd files for users, etc).
Master/Master replication can be buggy - especially if you have very busy servers. There may be clashes on updates on both servers at the same time or things getting out of sync. This is why monitoring is critical to make sure it is going ok. For some sites it may be more suitable to have a single mysql on its own for some sites, and give it huge memory and CPU instead.
Other alternative ways for replication are described here <a href="http://dev.mysql.com/doc/refman/5.1/en/mysql-cluster-replication-multi-master.html" class="urlextern" title="http://dev.mysql.com/doc/refman/5.1/en/mysql-cluster-replication-multi-master.html" rel="nofollow">http://dev.mysql.com/doc/refman/5.1/en/mysql-cluster-replication-multi-master.html</a>
As a general rule, there is no one fix or solution for scaling upwards, this post was just to get you started on some of the basics.
</p>

</div>
<!-- EDIT3 SECTION "File Replication" [3296-] -->