
<h3 class="sectionedit1" id="catalog_pricing_rules_containing_multiple_attribute_select_in_condition_or_one_of_pricing_rule_condition_with_comma_separated_values_are_not_working_on_website">Catalog Pricing Rules containing multiple attribute select in condition or &quot;ONE of&quot; pricing rule condition with comma separated values are not working on website.</h3>
<div class="level3">
<hr />

<p>
1. Clone this git repository : <a href="https://github.com/biotech/Magento1.9-CatalogPriceRulesFix" class="urlextern" title="https://github.com/biotech/Magento1.9-CatalogPriceRulesFix" rel="nofollow">https://github.com/biotech/Magento1.9-CatalogPriceRulesFix</a>
</p>

<p>
2. Move “Rule” &amp; “CatalogRule” directories in app/code/local/Mage.
</p>

<p>
3. Remove “app/code/core/Mage/CatalogRule/Model/Action/Index/Refresh.php” and “app/code/core/Mage/Rule/Model/Resource/Rule/Condition/SqlBuilder.php” files.
</p>

<p>
4. Remove cache and compiled data. Done.
</p>

<p>
Ref link : <a href="https://firebearstudio.com/blog/catalog-price-rules-core-bug-in-magento-ce-1-9-1-and-ee-1-14-1-0-array-to-string-conversion-error-and-incorrect-price-rules-behavior.html" class="urlextern" title="https://firebearstudio.com/blog/catalog-price-rules-core-bug-in-magento-ce-1-9-1-and-ee-1-14-1-0-array-to-string-conversion-error-and-incorrect-price-rules-behavior.html" rel="nofollow">https://firebearstudio.com/blog/catalog-price-rules-core-bug-in-magento-ce-1-9-1-and-ee-1-14-1-0-array-to-string-conversion-error-and-incorrect-price-rules-behavior.html</a>
</p>

</div>
