<ul>
<li class="level1"><div class="li"> Login to your VPS via RDP.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> Click on Start → Administrative Tools → IIS.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> Click on website name and open ASP feature from IIS group.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <img src="/_media/windows/iis1.png?w=829&amp;h=563&amp;tok=b57ce9" class="media" alt="" width="829" height="563" /></div>
</li>
<li class="level1"><div class="li"></div>
</li>
<li class="level1"><div class="li"> Expand Session Properties under Services and as per requirement modify Time-Out value [Default Value is 00:20:00 (HH:MM:SS)].</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <img src="/_media/windows/iis2.png?w=834&amp;h=559&amp;tok=02b780" class="media" alt="" width="834" height="559" /></div>
</li>
<li class="level1"><div class="li"></div>
</li>
<li class="level1"><div class="li"> From the Actions Pane, click on Apply link to save the changes.</div>
</li>
</ul>

<p>
OR
</p>

<p>
<img src="/_media/windows/iis3.png?w=676&amp;h=421&amp;tok=11f0da" class="media" alt="" width="676" height="421" />
</p>

<p>
<img src="/_media/windows/iis4.png?w=701&amp;h=410&amp;tok=c47f58" class="media" alt="" width="701" height="410" /><img src="/_media/windows/iis5.png?w=687&amp;h=427&amp;tok=2f0f03" class="media" alt="" width="687" height="427" />
</p>
