
<h1 class="sectionedit1" id="delete_attachments_of_mailman_and_free_disk_usage">Delete attachments of mailman and free disk usage</h1>
<div class="level1">

<p>
1) Login to shell of the server.
</p>

<p>
2) Change directory:
</p>

<p>
cd /usr/local/cpanel/3rdparty/mailman/archives/private/
</p>

<p>
3) Then goto the directory of the mailman list of which you want to delete the attachments.
</p>

<p>
4) Delete the contents of the folder attachments which is inside the mailman list directory
</p>

<p>
rm -rf attachments/*
</p>

</div>
