
<h1 class="sectionedit1" id="increasetmp_partition_cpanel_server">Increase /tmp partition cPanel server</h1>
<div class="level1">

<p>
Stop MySQL, Apache, and cPanel to prevent writing to the /tmp partition
Copy the contents of /tmp to another location, such as /home (cp -rfp /tmp /home)
Unmount /tmp. If you’re unable to, you can do an lsof (lsof |grep /tmp) to see what processes are still writing to it, and kill them off. Or do a lazy unmount (umount -l /tmp)
Delete /usr/tmpDSK (rm -rf /usr/tmpDSK)
Now open /scripts/securetmp and look for the line:
my $tmpdsksize     = 512000;    # Must be larger than 250000
</p>
<pre class="code">   And change the “512000″ value to your desired size in MB, and save the file. Now run the following script to recreate /tmp:</pre>
<pre class="code">   /scripts/securetmp</pre>

</div>
