
<h1 class="sectionedit1" id="r1soft_recover_database_using_files_fromvarlibmysql">R1Soft recover database using files from /var/lib/mysql</h1>
<div class="level1">

<p>
<strong>STEP 1 :-</strong>
</p>

<p>
1. Login to the R1Soft backup server graphically.
</p>

<p>
2. On the left hand side click on &#039;Recovery Points&#039;.
</p>

<p>
3. On the top of the screen, select the &#039;Server&#039; and &#039;Disk Safe&#039; for which you want to recover the database.
</p>

<p>
4. Select the recovery point for the particular date you want to restore.
</p>

<p>
5. On the right hand side of the selected recovery point, click on the &#039;Browse Databases&#039; button.
</p>

<p>
6. Then, finally select the database name you want to recover and in the header, click on &#039;Restore Selected&#039;.
</p>

<p>
7. It is a very time consuming process, so we suggest to follow “STEP 2”.
</p>

<p>
<strong>STEP 2 :-</strong>
</p>

<p>
1. Login to the R1Soft backup server graphically.
</p>

<p>
2. On the left hand side click on &#039;Recovery Points&#039;.
</p>

<p>
3. On the top of the screen, select the &#039;Server&#039; and &#039;Disk Safe&#039; for which you want to recover the database.
</p>

<p>
4. Select the recovery point for the particular date you want to restore.
</p>

<p>
5. On the right hand side of the selected recovery point, click on the &#039;Browse&#039; button.
</p>

<p>
6. In the header section you will find the &#039;Location&#039;, enter this location “/var/lib” in the text box and then press enter.
</p>

<p>
7. Select the mysql folder from the list below and then click on the &#039;Restore Selected&#039;.
</p>

<p>
8. Select Alternate location and enter some folder path in which you want to restore the complete mysql folder ( Note: First create a folder inside the server for which you want to recover the database. For ex. /root/test ).
</p>

<p>
9. Select &#039;Restore&#039; and kindly wait for some time as it will take some time to restore the complete mysql folder depending upon the size.
</p>

<p>
10. After the restore is completed, then login to the server in which we want to recover the database and then move to the above folder which we have created in Step 8, ex. /root/test.
</p>

<p>
11. You will find a mysql folder which we have restored in Step 9.
</p>

<p>
12. Make a tar or zip file of the mysql folder and then copy this tar to one of our testing server for Database backup “43.252.88.166” on IN30.
</p>

<p>
13. Now, login to the “43.252.88.166” this server and rename /var/lib/mysql folder for the backup purpose.
</p>

<p>
14. Unzip the tar or zip file which we have moved from the server in Step 12.
</p>

<p>
15. Move this mysql folder in /var/lib/.
</p>

<p>
16. Change the ownership and permissions of the new /var/lib/mysql folder according to the old one.
</p>

<p>
17. Now, all the passwords of the database users are same as on the server in which we want to recover the database.
</p>

<p>
18. Now simply run the mysqldump command:
</p>

<p>
<code>mysqldump -u root -p &#039;db name&#039; &gt; filename.sql</code>
</p>

<p>
19. Move this sql file to the server in which we want to recover the database.
</p>

<p>
20. Create a new database in the server and change the config file accordingly.
</p>

<p>
21. Restore the database inside the new db which you have created in above step.
</p>

<p>
<code>mysql -u &#039;db_username&#039; -p &#039;db_name&#039; &lt; filename.sql</code>
</p>

<p>
22. Now, finally your database is recovered for the paticular recovery point.
</p>
<hr />

<p>
Note: Now configure/Edit in configuration file for “Database String” i.e… DB-Name, DB-user Name, DB-Password.
</p>

<p>
Make sure that “.htaccess” file is properly copied to its correct location with its owner:group permission 
</p>
<hr />

</div>
