
<p>
<strong>SmarterMail installs a basic Web server that allows administrators to start using the application immediately after installation. However, SmarterTools recommends moving to a more robust and secure Web server, such as Microsoft IIS.</strong>
</p>

<p>
<strong>
Disabling the SmarterMail Web Server</strong>
</p>

<p>
1. Click on Start → Programs → SmarterTools → SmarterMail → Configure SmarterMail Web Server  
</p>

<p>
2. Click on the Stop button  
</p>

<p>
3. Change the Startup Mode to Disabled 
</p>

<p>
4. Click on the Apply button
</p>

<p>
5. Click the Close button
</p>

<p>
<em>NOTE: You can also stop and disable the SmarterMail Web server from within the Services administrative tool if you are more comfortable using the Windows Server admin tool set. </em>
</p>

<p>
<strong>Add an Application Pool</strong>
</p>

<p>
1. Open Internet Information Services (IIS) Manager
</p>

<p>
2. Right click on Application Pools from the tree view and choose Add Application Pool
</p>

<p>
3. Name the new application pool SmarterMail, or something similarly easy to identify
</p>

<p>
4. Set the .Net Framework Version to v4.0.x
</p>

<p>
5. Set the Application Pools Managed Pipeline to &#039;Integrated&#039;
</p>

<p>
6. Make sure “Start application pool immediately” is checked
</p>

<p>
7. Click OK
</p>

<p>
<strong>Add SmarterMail to IIS</strong>
</p>

<p>
1. Open Internet Information Services (IIS) Manager
</p>

<p>
2. Click on your ServerName, and on the right side, under IIS, double-click ISAPI and CGI Restrictions
</p>

<p>
3. Verify that ASP.NET v4.0 is allowed (If not, right click on ASP.NET v4.0.x and select Allowed)
</p>

<p>
4. On the left side of the page, right click on Sites in the tree view and choose Add Website
</p>

<p>
5. Name the site SmarterMail
</p>

<p>
6. If you created an Application Pool name other than SmarterMail, click Select and choose the correct Application Pool
</p>

<p>
7. For the physical path, browse to the SmarterMail → MRS folder. The default location is C:\Program Files (x86)\SmarterTools\SmarterMail\MRS
</p>

<p>
8. For Binding, choose an IP address to use for Webmail. If this IP address is shared with another Web site, you will need to use a different port or Host Headers. For more information about using Host headers, refer to the IIS documentation
</p>

<p>
9. Make sure “Start Web site immediately” is checked
</p>

<p>
10. Click OK
</p>

<p>
<strong>Verify IIS Settings</strong>
</p>

<p>
1. In IIS Manager, click on your ServerName
</p>

<p>
2. Under IIS, double click ISAPI and CGI Restrictions
</p>

<p>
3. Verify that ASP .NET v4.0 is allowed. If it is not, right-click on ASP .NET v4.0 and select Allowed
</p>

<p>
4. In the tree view, click Sites
</p>

<p>
5. Expand (or double click) the SmarterMail site
</p>

<p>
6. Click on the App_Themes folder
</p>

<p>
7. Under IIS, double click HTTP Response Headers
</p>

<p>
8. Under the Action menus, click Set Common Headers
</p>

<p>
9. Enable the Expire Web content setting
</p>
<pre class="code"> » Click After
 » Add 7 for the number of days</pre>

<p>
10. Click OK
</p>

<p>
11. Click on Application Pools in the tree view
</p>

<p>
12. Right click on the SmarterMail application pool and select Advanced Settings
</p>

<p>
13. Under the Process Model heading, ensure the the Identity is set to the NetworkService account
</p>

<p>
14. From the Start menu, open Administrative Tools and select Services, then verify that the World Wide Publishing Service is running
</p>
