<ul>
<li class="level1"><div class="li"> <a href="/iis/recycle_application_pool" class="wikilink1" title="iis:recycle_application_pool">Configure an application pool to recycle at a scheduled time</a></div>
</li>
</ul>
