
<h1 class="sectionedit1" id="regenerating_ssl_certificate_zimbra">Regenerating SSL certificate (Zimbra)</h1>
<div class="level1">

<p>
<a href="http://www.zimbra.com/forums/administrators/45833-solved-zimbra-certificates-have-expired-im-having-difficulty-regenerating-them.html#post204759" class="urlextern" title="http://www.zimbra.com/forums/administrators/45833-solved-zimbra-certificates-have-expired-im-having-difficulty-regenerating-them.html#post204759"  rel="nofollow">http://www.zimbra.com/forums/administrators/45833-solved-zimbra-certificates-have-expired-im-having-difficulty-regenerating-them.html#post204759</a>
</p>

</div>
