
<h1 class="sectionedit1" id="check_raid_controller_status">Check RAID Controller Status</h1>
<div class="level1">

<p>
Login as root into the node and type:
</p>

<p>
# tw_cli
</p>

<p>
$hostname&gt; info
</p>

<p>
$hostname&gt; /c0 show
</p>

</div>
