
<p>
<strong>Problem</strong><br/>

A table in MySQL has a limitation of 65535 bytes of overall row length. It may severely limit the number of columns in a table when it has
varchar/char columns.
</p>

<p>
In Magento starting from 1.3 the products catalog in the “flat” mode suffers from this limitation depending on the number and combination of the
product attributes that participate in the flat product index.
</p>

<p>
<strong>Background</strong><br/>

A product attribute gets into the flat tables and gets affected by the issue in the following conditions:
</p>
<ol>
<li class="level1"><div class="li"> The flat product catalog is enabled in “Sys Config → Catalog → Frontend → Use Flat Catalog Product”</div>
</li>
<li class="level1"><div class="li"> When a product attribute is added with the following parameters:</div>
</li>
</ol>
<pre class="code">  1) Frontend Properties – &quot;Yes&quot; one of: &quot;Used in Product Listing&quot;, &quot;Use in Layered Navigation&quot;, &quot;Used for Sorting in Product Listing&quot;
  2) Input Type – one of:
   a. Unordered List ItemUnordered List ItemDate
   b. Yes/No (boolean)
   c.  Multiple Select
   d. Dropdown
   e.  Price
   f. Media Image
   g. Fixed Product Tax
 
 </pre>

<p>
Result:
<pre class="code">&quot;SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row
size for the used table type, not counting BLOBs, is 65535. You have to change some columns to
TEXT or BLOBs&quot;.</pre>

</p>

<p>
<strong>Workarounds</strong><br/>

</p>
<ul>
<li class="level1"><div class="li"> Minimize usage of the varchar (Text Field, Multiple Select) product attributes on the frontend by avoiding to put them into flat index: “Used in Product Listing” = No, “Use in Layered Navigation” = No, “Used for Sorting in Product Listing” = No</div>
</li>
<li class="level1"><div class="li"> Use “Dropdown” input type instead of “Multiple Select” (int instead of varchar)</div>
</li>
</ul>

<p>
<strong>Note</strong>: <em>It is suggested to NOT use product_flat_data when the row size is nearing its limit, as its performance benefits are negated anyway.</em>
</p>
