
<p>
Disable firewall of server
</p>
<ol>
<li class="level1"><div class="li"> Go to Server Manager</div>
</li>
<li class="level1"><div class="li"> Click on Add roles, Next</div>
</li>
<li class="level1"><div class="li"> Select remote Desktop Service, Next</div>
</li>
<li class="level1"><div class="li"> Select Remote Desktop Licensing and Remote Desktop Session Host, Next</div>
</li>
<li class="level1"><div class="li"> Do not require Auth, Next</div>
</li>
<li class="level1"><div class="li"> Per user, Next</div>
</li>
<li class="level1"><div class="li"> Next</div>
</li>
<li class="level1"><div class="li"> Next</div>
</li>
<li class="level1"><div class="li"> Next</div>
</li>
<li class="level1"><div class="li"> Next</div>
</li>
<li class="level1"><div class="li"> Install</div>
</li>
<li class="level1"><div class="li"> Restart Server</div>
</li>
<li class="level1"><div class="li"> Start → Admin Tools → RDS → Remote Desktop Licensing Manager → right click on server → Activate Server → Next → Enter SPLA Number → Product Version (Win 2008 R2) → RDS per user cal → Quantity (5) → Next . close window.</div>
</li>
<li class="level1"><div class="li"> Admin Tools → RDS → RD Session host Config →Remote Desktop Licensing server → Per user → Add → Select key in left and Add → Ok</div>
</li>
<li class="level1"><div class="li"> To check,go to  Licensing Diagnosis in left (it will show the number of licenses available for clients).</div>
</li>
</ol>

<p>
Enable firewall of server if it was enabled before the activity.
</p>
