
<h1 class="sectionedit1" id="solusvm_system_backup_restoremigration">SolusVM System Backup Restore/Migration</h1>
<div class="level1">

<p>
- Install the solusVM master with same configuration on the server. Here is the <a href="/solusvm/link" class="wikilink2" title="solusvm:link" rel="nofollow">link</a><a href="https://documentation.solusvm.com/display/DOCS/Moving+the+SolusVM+Master" class="urlextern" title="https://documentation.solusvm.com/display/DOCS/Moving+the+SolusVM+Master" rel="nofollow">https://documentation.solusvm.com/display/DOCS/Moving+the+SolusVM+Master</a>
</p>

<p>
- Transfer the system backup on newly installed system and extract it.
</p>
<pre class="code">   tar -zxvf &lt;file name of solusVM backup&gt;</pre>

<p>
- There will be a file with name “database.gz”, extract it using following command.
</p>
<pre class="code">   gunzip database.gz
   </pre>

<p>
- After extracting you will get a file with name “database”, rename it as “database.sql”
</p>
<pre class="code">   mv database database.sql</pre>

<p>
- Copy the database.sql to /var/lib/mysql/ .
</p>
<pre class="code">   cp database.sql /var/lib/mysql/</pre>

<p>
- Restore the database.sql to the freshly installed solusvm&#039;s database ( solusvm database name would be like “ufg6u5u9jhruvd”)using following command.
</p>
<pre class="code">   mysql -u root -p &lt;solusvm database name&gt; &lt; database.sql
    
    </pre>

<p>
Note: If mysql root password is set, you can reset it from here <a href="/mysql/reset_root_password" class="wikilink1" title="mysql:reset_root_password">Reset Mysql Root Password</a>
</p>

<p>
After restoring database all settings will be back.
</p>

<p>
-  Now update the licence of solusVM master.
</p>

</div>
