
<p>
Take backup and then comment out the following lines from the file /owncloud_install_folder/apps/files/js/files.js:
</p>

<p>
<pre class="code">OC.Notification.show(t(&#039;files&#039;, &#039;Your storage is full, files can not be updated or synced anymore!&#039;)); 

OC.Notification.show(t(&#039;files&#039;, &#039;Your storage is almost full ({usedSpacePercent}%)&#039;, {usedSpacePercent: usedSpacePercent}));</pre>

</p>
