
<h1 class="sectionedit1" id="restrict_other_users_from_accessing_drives_using_rdp">Restrict other users from accessing drives using RDP</h1>
<div class="level1">

<p>
<a href="http://blogs.msdn.com/b/rds/archive/2011/05/26/how-to-restrict-users-from-accessing-local-drives-of-an-rd-session-host-server-while-using-remoteapp-programs.aspx" class="urlextern" title="http://blogs.msdn.com/b/rds/archive/2011/05/26/how-to-restrict-users-from-accessing-local-drives-of-an-rd-session-host-server-while-using-remoteapp-programs.aspx" rel="nofollow">http://blogs.msdn.com/b/rds/archive/2011/05/26/how-to-restrict-users-from-accessing-local-drives-of-an-rd-session-host-server-while-using-remoteapp-programs.aspx</a>
</p>

</div>
