
<p>
Open PolicyD Web <abbr title="Graphical User Interface">GUI</abbr>.
<abbr title="Uniform Resource Locator">URL</abbr>: <a href="http://43.252.89.206:7780/webui/index.php" class="urlextern" title="http://43.252.89.206:7780/webui/index.php" rel="nofollow">http://43.252.89.206:7780/webui/index.php</a>
Navigate to Policies –&gt; group –&gt; select action –&gt; add
<pre class="code">Name:        Disabled:
domainwise	no</pre>

#Name can be anything.<br/>

#Disabled should be no.<br/>

</p>

<p>
Back to policies group.<br/>

Select policy group you have created by using above members –&gt; select action –&gt; members –&gt; add<br/>

<pre class="code">Member	                 Disabled
@mohit1.mantravault.com	   no</pre>

#Member name should be @domainname.<br/>

#Disabled should be no.<br/>

</p>

<p>
Navigate to policies –&gt; Main<br/>

<pre class="code">Name	Priority	Description	Disabled
domainwise	0	domainwiselimit	no</pre>

#Name can be anything.<br/>

#Priority: 0 is highest and 100 is lowest.<br/>

#Description should not be blanked.<br/>

#Disabled should be no.<br/>

</p>

<p>
Back to policies –&gt; main.<br/>

select your policy you have created in above step. –&gt; select action –&gt; Members<br/>

<pre class="code">Source	     Destination	Disabled
%domainwise	any	           no</pre>

</p>

<p>
Navigate to Quotas –&gt; Configure –&gt; Select action –&gt; Add<br/>

<pre class="code">Policy	            Name	    Track	Period	Verdict	Data	Disabled	
domainwise	domainwise	Sender:@domain	3600	REJECT	0	no</pre>

</p>

<p>
Select quota you have added using above step –&gt; select action –&gt; limits<br/>

<pre class="code">Type	Counter Limit	Disabled
MessageCount	5	no</pre>

</p>

<p>
<pre class="code">su zimbra
zmcbpolicydctl restart</pre>

</p>
