
<h1 class="sectionedit1" id="email_archiving_for_zimbra_open_source_edition">Email archiving for Zimbra Open source edition</h1>
<div class="level1">

<p>
Login as Zimbra user
</p>

<p>
<pre class="code">su - zimbra</pre>

</p>

<p>
1. Edit Postfix conf file
</p>

<p>
<pre class="code">  vi /opt/zimbra/postfix/conf/main.cf</pre>

</p>

<p>
2. Add following line to get a bcc copy to your email id when some one send a mail :-
</p>

<p>
<pre class="code">sender_bcc_maps = hash:/opt/zimbra/postfix/conf/sender_bcc</pre>

</p>

<p>
<strong>NOTE: For Zimbra 8.5 and above add below line.</strong>
<pre class="code">sender_bcc_maps = lmdb:/opt/zimbra/postfix/conf/sender_bcc</pre>

</p>

<p>
3. Add following line to get a bcc copy to your email id when some one receive a mail :-
</p>

<p>
<pre class="code">  recipient_bcc_maps = hash:/opt/zimbra/postfix/conf/recipient_bcc</pre>

</p>

<p>
<strong>NOTE: For Zimbra 8.5 and above add below line.</strong>
<pre class="code"> recipient_bcc_maps = lmdb:/opt/zimbra/postfix/conf/recipient_bcc</pre>

</p>

<p>
4. Now create these two files under etc/ directory.
</p>

<p>
<pre class="code">  touch /opt/zimbra/postfix/conf/sender_bcc</pre>

</p>

<p>
<pre class="code">  touch /opt/zimbra/postfix/conf/recipient_bcc</pre>

</p>

<p>
5. Edit these files and add entry like this :-
</p>

<p>
<pre class="code">  support@linuxsurgeon.org admin@linuxsurgeon.org</pre>

</p>

<p>
After this you will get in/out mail’s copy of support email account to admin email id.
</p>

<p>
6. Now run following commands :-
</p>

<p>
<pre class="code">   postmap /opt/zimbra/postfix/conf/sender_bcc</pre>

</p>

<p>
<pre class="code">   postmap /opt/zimbra/postfix/conf/recipient_bcc</pre>

</p>

<p>
<pre class="code">   postfix reload</pre>

</p>

<p>
Reference:- <a href="http://www.zimbra.com/forums/administrators/52985-monitor-incoming-outgoing-emails.html" class="urlextern" title="http://www.zimbra.com/forums/administrators/52985-monitor-incoming-outgoing-emails.html" rel="nofollow">http://www.zimbra.com/forums/administrators/52985-monitor-incoming-outgoing-emails.html</a>
</p>

</div>
